@import "../../definitions";

.accent-item {
  list-style-type: none;
  color: $color-text;
  @include margin($content-header-padding, "bottom");
  @include constrain-width($max-site-width, "max");
  position: relative;
}

.accent-item__picture {
  display: none;
}

.js {

  .accent-item {
    overflow: hidden;
    @include margin(24, "bottom");

    @media only screen and (min-width: #{get-rem-from-px($bkpt-site--small)}em) {
      @include margin(36, "bottom");
    }

    @media only screen and (min-width: #{get-rem-from-px($bkpt-site--x-wide)}em) {
      @include margin(0, "bottom");
    }
  }

  .accent-item:last-child {
    @include margin(0, "bottom");
  }

  .accent-item__picture {
    display: inline-block;
    float: right;
    width: auto;
    height: 56px;
    @include margin(24, "left");

    @media only screen and (min-width: #{get-rem-from-px($bkpt-site--small)}em) {
      height: 101px;
    }

    @media only screen and (min-width: #{get-rem-from-px($bkpt-site--medium)}em) {
      height: 110px;
      @include set-column-width(4);
    }

    @media only screen and (min-width: #{get-rem-from-px($bkpt-site--wide)}em) {
      height: 141px;
    }

    @media only screen and (min-width: #{get-rem-from-px($bkpt-site--x-wide)}em) {
      float: none;
      width: 100%;
      height: 191px;
      @include set-column-width(12);
      @include margin(0, "left");
    }
  }

  .accent-item__image {
    width: 100%;
  }

  .accent-item__subject_list {
    color: inherit;
    line-height: 1;
    @include padding(18, "top");
    @include padding(2, "bottom");
  }

  .accent-item__subject_list_item {
    color: inherit;
    line-height: 1;
    @include font-size(12);
  }

  .accent-item__subject_link {
    color: inherit;
    line-height: 1;
    &:hover {
      color: inherit;
    }
  }

  .accent-item__body {
    width: calc(50% + 12px);

    @media only screen and (min-width: #{get-rem-from-px($bkpt-site--small)}em) {
      width: calc(50% - 12px);
    }

    @media only screen and (min-width: #{get-rem-from-px($bkpt-site--medium)}em) {
      @include set-column-width(8);
      width: 100%;
    }

    @media only screen and (min-width: #{get-rem-from-px($bkpt-site--x-wide)}em) {
      @include set-column-width(12);

    }
  }

  .accent-item__title {
    @include font-size-and-vertical-height(16, 20);
    @include padding(0);

    @media only screen and (min-width: #{get-rem-from-px($bkpt-site--small)}em) {
      @include font-size-and-vertical-height(18, 24);
    }

    @media only screen and (min-width: #{get-rem-from-px($bkpt-site--medium)}em) {
      @include font-size-and-vertical-height(22, 32);
      @include padding(12, "bottom");
    }

    @media only screen and (min-width: #{get-rem-from-px($bkpt-site--x-wide)}em) {
      @include padding(24, "bottom");
    }

    @media only screen and (min-width: #{get-rem-from-px($bkpt-site--x-wide)}em) {
      @include padding(22, "top");
    }
  }

  .accent-item__title_link {
    color: inherit;
    text-decoration: inherit;
  }

  .accent-item__authors {
    display: none;

    @media only screen and (min-width: #{get-rem-from-px($bkpt-site--medium)}em) {
      display: block;
      @include padding(12, "bottom");
    }
  }

  .accent-item__summary {
    font-family: $font-primary;
    display: none;

    @media only screen and (min-width: #{get-rem-from-px($bkpt-site--medium)}em) {
      display: block;
    }
  }

  .accent-item__meta {
    @include padding(12, "top");
    color: $color-text-secondary;

    .meta {
      color: inherit;
      @include font-size-and-vertical-height(14, 24);
    }

    .meta__type {
      &:hover {
        color: inherit;
      }
    }

    .date {
      @include font-size-and-vertical-height(14, 24);
    }
  }
}
