@import "../../definitions";

.additional-assets__text {
  font-weight: normal;
  @include margin(12, "bottom")
}

.additional-assets__heading_text {
  display: block;
  @include fig-caption-heading-typeg();
}

.additional-assets__main_text {
  display: block;
  @include fig-caption-text-typeg(0);
}

a.additional-assets__link {
  color: $color-text;
  display: block;
  @include fig-caption-text-typeg(0);
  text-decoration: none;
  text-transform: none;

  &:hover {
    color: $color-primary;
  }

}

.additional-assets__link--download {
  color: $color-text;
  padding-left: 30px;
  background: transparent url("../../assets/img/icons/download-2x.png") 0 50% no-repeat;
  background-size: 20px;

  &:hover {
    background-image: url("../../assets/img/icons/download-hover.png");
  }

}

