@import "../../definitions";

.archive-nav-link {
  @include widths-for-generic-grid-listing-items();
}

.archive-nav-link .block-link {
  margin-bottom: 0;
}

.archive-nav-link__list {
  max-width: #{$max-width-block-link}px;
  max-width: #{$max-width-block-link-in-rem}rem;
  min-width: #{$min-width-block-link}px;
  min-width: #{$min-width-block-link-in-rem}rem;
  @include width($min-width-block-link);

  //@supports (display: flex) {
  //  width: auto;
  //}

}

.archive-nav-link__link {
  text-decoration: none;
  color: $color-text;
}

.archive-nav-link__sub_links_list_heading {
  @include label-content-typeg();
  @include padding(8 0);
}

.archive-nav-link__sub_links_list_item {
  list-style-type: disc;
  display: list-item;
  @include margin(16, "left");
  @include margin(0, "bottom");
}

.archive-nav-link__sub_link {
  color: $color-text;
  @include body-typeg;
  padding-bottom: 0;
  text-decoration: none;

  &:hover {
    color: $color-primary;
  }
}
