@import "../../definitions";

.article-download-links-list--js {
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: #{$border-radius}px;
  @include box-shadow();
  font-family: $font-secondary;
  @include padding(12, "bottom");
  @include width(217);
  position: absolute;
  right: 16px;
  text-align: left;
  top: 60px;
  z-index: 20;

  .article-download-list {
    padding-left: 0;
    list-style: none;
    margin-bottom: 0;

    &:last-child {
      margin-bottom: 0;
    }

    & li:first-child {
      border-top-style: none;
    }
  }

  .article-download-links-list__link {
    display: block;
    @include padding(12 24);
    @include menu-typeg();
    text-decoration: none;

    &:hover {
      color: $color-primary;
    }

  }

  .article-download-links-list__heading {
    @include label-content-typeg();
    margin: 0;
    @include padding(24 24 0);
    text-transform: uppercase;

    &:first-of-type {
      border-top-style: none;
    }

  }

  @media only all and (min-width: #{get-rem-from-px($bkpt-content-header--medium-width)}em) {
    right: 16px;
  }

  @media only all and (min-width: #{get-rem-from-px($bkpt-content-header--extra-wide)}em) {
    right: 0;
  }
}
