
.article-meta {
  font-family: $font-secondary;
  text-align: center;
}

.article-meta__container {
  @include padding(15, "top");
}

.article-meta__group {
  @include padding(0 0 15 0);
}

.article-meta__group_title {
  @include label-content-typeg($color-text-secondary);
  //font-weight: 600;
  @include margin(0 0 2 0);
}

.article-meta__link_list {
  list-style: none;
  @include margin(0 0 12 0);
  padding: 0;
}

.article-meta__link_list_item {
  display: inline;
  @include label-subject-typeg();
  margin: 0;
  padding: 0;
}

.article-meta__link {
  color: $color-primary;
  text-decoration: none;

  &:hover {
    color: $color-primary-dark;
  }
}

@media only screen and (min-width: #{get-rem-from-px(640)}rem) {
  .article-meta {
    text-align: left;
  }
}
