@import "../../definitions";

.article-meta {
  border-top: 1px solid $color-text-dividers;
  @include blg-spacing("top", "medium", "padding");
  font-family: $font-secondary;
  text-align: center;
}

.article-meta__group_title {
  @include label-content-typeg($color-text-secondary);
  padding-bottom: 0;
  padding-top: 0;
}

.article-meta__link_list {
  list-style: none;
  @include margin(0 0 24 0);
  padding: 0;
}

.article-meta__link_list_item {
  display: inline;
  @include label-subject-typeg();
  margin: 0;
  padding: 0;
  &:after {
    content: ", ";
  }
}

.article-meta__link_list_item:last-child {
  &:after {
    content: "";
  }
}

.article-meta__link {
  color: $color-primary;
  text-decoration: none;

  &:hover {
    color: $color-primary-dark;
  }
}

@media only screen and (min-width: #{get-rem-from-px(640)}rem) {
  .article-meta {
    text-align: left;
  }
}
