@import "../../definitions";

.article-download-links-list--js {
  background-color: #fff;
  border-radius: #{$border-radius}px;
  @include box-shadow();
  font-family: $font-secondary;
  @include padding(12, "bottom");
  @include width(217);
  overflow: scroll;
  position: absolute;
  right: 24px;
  text-align: left;
  top: 80px;
  z-index: 20;

  .article-download-list {
    padding-left: 0;
    list-style: none;
    margin-bottom: 0;

    &:last-child {
      margin-bottom: 0;
    }

    & li:first-child {
      border-top-style: none;
    }
  }

  .article-download-links-list__link {
    display: block;
    @include padding(12 24);
    @include menu-typeg();
    text-decoration: none;

    &:hover {
      color: $color-primary;
    }

  }

  .article-download-links-list__heading {
    @include label-content-typeg();
    margin: 0;
    @include padding(24 24 0);
    text-transform: uppercase;

    &:first-of-type {
      border-top-style: none;
    }

  }

}
