@import "../../definitions";
@import "../../variables";

.assessment {
  font-family: $font-secondary;

  p {
    font-family: $font-secondary;
  }
}

.assessment__container {
  display: none;
}

.assessment-expanded {
  display: block;
}

.assessment__toggle-btn {
  border: none;
  color: #0769b0;
  background: #fff url(../img/icons/down-arrow-blue.svg) no-repeat;
  background-position: top -2px right;
  font-weight: 600;
  line-height: 24px;
  padding: 0 26px 0 0;
  text-align: left;
}

.assessment__toggle-btn-reverse {
  background: #fff url(../img/icons/up-arrow-blue.svg) no-repeat;
  background-position: top -2px right;
}

.assessment__description {
  font-size: 14px;
  line-height: 20px;
}
