@import "../../definitions";
@import "../../variables";

.assessment {
  font-family: $font-secondary;

  .doi {
    @include margin(24, "bottom");
    display: block;
  }

  p {
    font-family: $font-secondary;
  }
}

.assessment__container {
  display: none;
}

.assessment-expanded {
  display: block;
}

.assessment__toggle-btn {
  @include padding(0 26 0 0);

  border: none;
  background: url(../img/icons/down-arrow-blue.svg) no-repeat;
  background-position: top -2px right;
  color: $color-primary-dark;
  display: block;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
}

.assessment__toggle-btn-reverse {
  background: url(../img/icons/up-arrow-blue.svg) no-repeat;
  background-position: top -2px right;
}

.assessment__summary {
  font-size: 14px;
  line-height: 20px;
}
