.audio-player {
  background-color: $color-text;
  position: relative;
}

.audio-player__toggle_play {
  background: #222;
  border: none;
  border-right: 1px solid #444;
  color: $color-text--reverse;
  height: 100%;
  left: 0;
  padding: 0;
  position: absolute;
  top: 0;
  @include width(90);
}

.audio-player__container {
  @include padding(15);
}

.audio-player__header {
  color: $color-text--reverse;
  font-family: $font-primary;
  @include margin(5, "bottom");
}

.audio-player__player {
  display: block;
  width: 100%;
}

.audio-player__link {
  color: $color-text--reverse;
  font-family: $font-secondary;
  @include font-size(14);
}

.audio-player__progress {
  background-color: #444;
  height: 10px;
  position: relative;
  width: 100%;
}

.audio-player__progress_bar {
  background-color: #666;
  height: 10px;
  left: 0;
  position: absolute;
  top: 0;
  width: 0;
}

.audio-player__times {
  color: #666;
  float: right;
  font-family: $font-secondary;
  @include font-size(12);
}

.audio-player__current_time:after {
  content: '\00a0/\00a0';
}

.audio-player--js {
  .audio-player__toggle_play {
    display: block;
  }

  .audio-player__container {
    @include padding(105, "left");
  }

  .audio-player__player {
    display: none;
  }

}
