@import "../../definitions";

.audio-player {
  background-color: $color-text;
  position: relative;
}

.audio-player__toggle_play {
  background: #222;
  border: none;
  border-right: 1px solid #444;
  color: $color-text--reverse;
  height: 100%;
  left: 0;
  padding: 0;
  position: absolute;
  top: 0;
  @include width(90);

  // Quick & dirty loading spinner, happy to swap this out for something better.
  &.loading {
    top: 25px;
    left: 30px;
    text-indent: -9999em;
    border-top: 5px solid rgba(255, 255, 255, 0.2);
    border-right: 5px solid rgba(255, 255, 255, 0.2);
    border-bottom: 5px solid rgba(255, 255, 255, 0.2);
    border-left: 5px solid #ffffff;
    transform: translateZ(0);
    animation: load8 1.1s infinite linear;
  }

  &.loading,
  &.loading:after {
    border-radius: 50%;
    width: 22px;
    height: 22px;
  }

  @keyframes load8 {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

}

.audio-player__toggle_play_icon {
  padding-top: 4px;
}

.audio-player__container {
  @include padding(15);
}

.audio-player__header {
  color: $color-text--reverse;
  @include listing-side-art-title-typeg();
  @include margin(5, "bottom");
}

.audio-player__player {
  display: block;
  width: 100%;
}

.audio-player__link {
  color: $color-text--reverse;
  font-family: $font-secondary;
  @include font-size(14);
}

.audio-player__progress {
  background-color: #444;
  cursor: pointer;
  height: 6px;
  position: relative;
  top: 3px;
  width: 100%;
}

.audio-player__progress_bar {
  background-color: $color-text-secondary;
  height: 6px;
  left: 0;
  position: absolute;
  top: 0;
  width: 0;
}

.audio-player__times {
  float: right;
  @include label-content-typeg($color-text-secondary);
}

.audio-player__current_time:after {
  content: "\00a0/\00a0";
}

.audio-player--js {
  .audio-player__toggle_play {
    display: block;
    transform: rotate(0);
  }

  .audio-player__container {
    @include padding(105, "left");
  }

  .audio-player__player {
    // Testing shows iOS7 doesn't honour display: none on audio elements
    // so using visuallyhidden too. (We want display: none so controls aren't
    // duplicated.)
    @include visuallyhidden();
    display: none;
  }

}
