@import "../../definitions";

.call-to-action-wrapper {
  border-bottom: 1px solid $color-text-dividers;
  width: 100%;

  @supports (display: flex) {
    display: flex;
  }

  justify-content: center;
  align-items: center;
}

.call-to-action {
  @include padding(24, "top");
  @include padding(24, "bottom");
  margin: 0 auto;

  @supports (display: grid) {
    display: grid;
  }

  grid-template-columns: 80px 1fr 12px auto;
  grid-template-rows: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: #{get-rem-from-px(24)}rem;
}

.call-to-action__image {
  box-sizing: content-box;
  float: left;
  height: 80px;
  min-height: 80px;
  width: 80px;
  min-width: 80px;
  margin-right: 16px;
  @include blg-spacing("bottom", "small");
  @supports (display: grid) {
    padding-bottom: 0;
  }
}

.call-to-action__text {
  grid-column: 2;
  grid-row: 1;
  align-self: center;
  @include blg-spacing("bottom", "small");
  @supports (display: grid) {
    padding-bottom: 0;
  }
}

.call-to-action__button_wrapper {
  //clear: left;
  grid-column: 1 / -1;
  justify-self: center;
  align-self: center;
}

.call-to-action__close {
  grid-column: 3 / -1;
  grid-row: 1;
  justify-self: end;
  width: 12px;
}

@media screen and (min-width: 480px) {
  .call-to-action__image {
    margin-right: 1.5rem;
  }
  .call-to-action__button {
    align-self: end;
  }
}

@media screen and (min-width: 730px) {

  .call-to-action {
    display: table;
    @supports (display: grid) {
      display: grid;
    }
    grid-template-columns: 80px 1fr auto 28px;
  }

  .call-to-action__image {
    display: table-cell;
  }

  .call-to-action__text {
    grid-column: 2;
    display: table-cell;
    vertical-align: middle;
  }

  .call-to-action__button_wrapper {
    @include blg-spacing("bottom", "small");
    @include padding(16, "left");
    @supports (display: grid) {
      padding-bottom: 0;
      padding-left: 0;
    }
    grid-column: 3;
    grid-row: 1;
    display: table-cell;
    vertical-align: middle;
    padding-top: 0;
  }

  .call-to-action__close {
    grid-column: 4;
    justify-self: unset;
    padding-left: 16px;
  }

}
