
.captioned-image {
  margin: 0;
}

.captioned-image__picture {
  display: block;
  @include margin(12, "bottom");
}

.captioned-image__image {
  display: block;
  width: 100%;
}

.captioned-image__caption {
  padding: 0 6%;
}

.captioned-image__caption_heading {
  font-family: $font-secondary;
  @include font-size(13);
  font-weight: 700;
  margin: 0;
  padding-bottom: 0;
}

.captioned-image__caption_text {
  font-family: $font-secondary;
  @include font-size(13);
  margin: 0;
  @include padding(0 0 5 0);
}

@media only screen and (min-width: #{get-rem-from-px(430)}em) {
  .captioned-image__caption {
    padding: 0;
  }
}
