@import "../../definitions";

.captioned-asset {
  margin: 0;
  @include margin($blg-space-medium-in-px, "top");
  @include margin($blg-space-medium-in-px, "bottom");

  .asset-viewer-inline & {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.captioned-asset--inline {
  @media only all and (min-width: #{get-rem-from-px($bkpt-site--medium)}em) {
    float: left;
    @include margin($blg-space-small-in-px, "top");
    @include margin($blg-space-small-in-px, "right");
    max-width: 50%;
  }
}

.captioned-asset__picture {
  display: block;
  @include margin(12, "bottom");
}

.captioned-asset__image {
  display: block;
  @include margin($blg-space-extra-small-in-px, "bottom");
  outline: 1px solid $color-text-dividers;
  @include padding($blg-space-extra-small-in-px);
  width: 100%;
}

.captioned-asset__caption {
  padding: 0 6%;
}

@media only screen and (min-width: #{get-rem-from-px($bkpt-captioned-asset-caption)}em) {

  .captioned-asset__caption {
    padding-left: 0;
    padding-right: 0;
  }

}
