@import "../../definitions";

.captioned-asset {
  margin: 0;
}

.captioned-asset__picture {
  display: block;
  @include margin(12, "bottom");
}

.captioned-asset__image {
  display: block;
  width: 100%;
}

.captioned-asset__caption {
  padding: 0 6%;
}

.captioned-asset__caption_heading {
  @include fig-caption-heading-typeg();
  @include nospace();
}

/* Wildcard descendant selector because may contain unknown blob of html */
.captioned-asset__caption_text,
.captioned-asset__caption_text * {
  @include fig-caption-text-typeg();
}

.captioned-asset__caption_text * {
  @include nospace("bottom");
}

// Adds required whitespace when there's no optional intervening .captioned-asset__caption_text to supply it
.captioned-asset__caption_heading + .doi {
  @include padding(19 0);
}

.captioned-asset__caption___footer {
  @include padding(12, "top");
}

.captioned-asset__caption___footer_link {
  color: $color-text;
  display: inline-block;
  @include fig-caption-text-typeg(0);

  &:hover {
    color: $color-primary;
  }
}

@media only screen and (min-width: #{get-rem-from-px($bkpt-captioned-asset-caption)}em) {

  .captioned-asset__caption {
    padding: 0;
  }

  .captioned-asset__caption___footer {
    padding: 0;
    @include padding(12, "top");
  }

}
