@import "../../definitions";

.captioned-asset {
  margin: 0;
}

.captioned-asset__picture {
  display: block;
  @include margin(12, "bottom");
}

.captioned-asset__image {
  display: block;
  width: 100%;
  //@include padding($blg-space-extra-small-in-px 0);

  // DEBUG:
  @include margin($blg-space-extra-small-in-px 0);
  outline: 1px solid green;
  height: 684px !important;

}

.captioned-asset__caption {
  padding: 0 6%;
}

.captioned-asset__caption___footer_link {
  color: $color-text;
  display: inline-block;
  @include fig-caption-text-typeg(0);

  &:hover {
    color: $color-primary;
  }
}

@media only screen and (min-width: #{get-rem-from-px($bkpt-captioned-asset-caption)}em) {

  .captioned-asset__caption {
    padding-left: 0;
    padding-right: 0;
  }

}
