@import "../../definitions";

// TODO: fine tune height
$item-height: 400;

.carousel {
  @include height($item-height);
  border: 1px solid darkgreen;
}

.carousel__items {
  list-style: none;
  @include nospace();
}

.carousel__item {

  border: 1px solid red;

  text-align: center;
  @include padding(0 50);
  @include height($item-height);
  width: 100vw;

  display: flex;
  flex-direction: column;

}

.carousel__item:nth-child(n+2) {
  @include visuallyhidden();
}

.js .carousel__item {
  @include unhidden();
  @include height($item-height);
  width: 100vw;
}

.carousel__subject_list {
  @include label-subject-typeg();
  margin: 0;
  @include padding(24 0);
}

.carousel__subject_list_item {
  @include label-subject-typeg();
  display: inline;
  line-height: 2.18181818181818;
  list-style-type: none;
  padding: 0;

  & .carousel__subject:after {
    content: ", ";
  }
}

.carousel__subject_list_item:last-child {

  & .carousel__subject:after {
    content: "";
  }

}

.carousel__subject_link {
  @include label-subject-typeg();
  text-decoration: none;

  &:hover {
    color: $color-primary-dark;
  }

}

.carousel__title {
  @include h1-typeg();
  @include padding(24 0);
  margin-top: 0;
}

.carousel__title_link {
  color: $color-text;
  text-decoration: none;
}

.carousel__title_link:hover {
  color: $color-primary;
}

.carousel .meta {
  margin-top: auto;
}

.js {

  .carousel {
    overflow: hidden;
    position: relative;
    width: 100vw;

  }

  .carousel__items {
    position: relative;
    transition: all 0.5s 50ms ease-in-out;
  }

  .carousel__item {
    float: left;
  }

}

.carousel__control_panel {
  bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  position: absolute;
  width: 100vw;
}

.carousel__control_switches {
  list-style: none;
  @include nospace();
  display: flex;
  justify-content: space-between;
  width: 80px;
}

.carousel__control {

  &--traverse {

    background-color: rgba(0, 0, 0, 0.5);
    border-width: 0;
    border-radius: 50%;
    height: 50px;
    width: 50px;

    &:hover {
      background-color: rgba(0, 0, 0, 1);
    }

  }

  &--previous:before {
    @include chevron("left");
  }

  &--next:before {
    @include chevron("right");
  }

  &--switch {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 50%;
    height: 20px;
    width: 20px;

    &.active {
      background-color: rgba(0, 0, 0, 1);
    }

  }

}
