@import "../../definitions";

.carousel__items {
  list-style: none;
  @include nospace();
}

.carousel__item {
  text-align: center;
  @include padding(0 50);
  width: 100vw;
}

.carousel__item:nth-child(n+2) {
  @include visuallyhidden();
}

.js .carousel__item {
  @include unhidden();
  width: 100vw;
}

.carousel__subject_list {
  @include label-subject-typeg();
  margin: 0;
  @include padding(24 0);
}

.carousel__subject_list_item {
  @include label-subject-typeg();
  display: inline;
  line-height: 2.18181818181818;
  list-style-type: none;
  padding: 0;

  & .carousel__subject:after {
    content: ", ";
  }
}

.carousel__subject_list_item:last-child {

  & .carousel__subject:after {
    content: "";
  }

}

.carousel__subject_link {
  @include label-subject-typeg();
  text-decoration: none;

  &:hover {
    color: $color-primary-dark;
  }

}

.carousel__title {
  @include h1-typeg();
  @include padding(24 0);
  margin-top: 0;
}

.carousel__title_link {
  color: $color-text;
  text-decoration: none;
}

.carousel__title_link:hover {
  color: $color-primary;
}

.carousel .meta {
  @include blg-spacing("top", "small");
}

.js {

  .carousel {
    overflow: hidden;
    position: relative;
    width: 100vw;

    .meta {
      @include blg-spacing("top", "large");
    }

  }

  .carousel__items {
    position: relative;
    transition: all 0.5s 50ms ease-in-out;
  }

  .carousel__item {
    float: left;
  }
}

.carousel__control_panel {
  bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  position: absolute;
  width: 100vw;
}

.carousel__control_indicators {
  list-style: none;
  @include nospace();
}

.carousel__control {

  background-color: rgba(0, 0, 0, 0.5);
  border-width: 0;
  border-radius: 50%;
  height: 50px;
  width: 50px;

  &--previous:before {
    @include chevron("left");
  }

  &--next:before {
    @include chevron("right");
  }

  &:hover {
    background-color: rgba(0, 0, 0, 1);
  }

}
