@import "../../definitions";

.carousel-item {
  list-style-type: none;
  color: $color-text;
  @include margin($content-header-padding, "bottom");
  @include constrain-width($max-site-width, "max");
  @include padding(0 $content-header-padding);
  position: relative;
  text-align: center;
  border: 1px solid $color-text-dividers;

  @supports (display: flex) {
    @media only all and (min-width: #{get-rem-from-px($bkpt-content-header--medium-width)}em) {
      width: calc(1 / 2 * 100% - (1 - 1 / 2) * #{$content-header-padding}px);
    }
    @media only all and (min-width: #{get-rem-from-px($bkpt-content-header--wide)}em) {
      width: calc(1 / 3 * 100% - (1 - 1 / 3) * #{$content-header-padding}px);
    }
  }
}

.carousel-item__picture {
  display: none;
}

.carousel-item__subject_list {
  @include label-subject-typeg();
  margin: 0;
  .carousel-item__meta {
    .carousel-item--image & {
      position: absolute;
      bottom: #{$content-header-padding / 2}px;
      left: 0;
      right: 0;
    }
  }

  @include padding($content-header-padding/2 0);
  @include truncate-with-ellipsis();

  &:before {
    color: $color-text-secondary;
  }
}

.carousel-item__subject_list_item {
  @include label-subject-typeg();
  display: inline;
  @include font-size-and-vertical-height(11);
  list-style-type: none;
  padding: 0;

  & .carousel-item__subject:after {
    content: ", ";
  }
}

.carousel-item__subject_list_item:last-child {

  & .carousel-item__subject:after {
    content: "";
  }

}

.carousel-item__subject_link {
  @include label-subject-typeg();
  text-decoration: none;

  &:hover {
    color: $color-primary-dark;
  }
}

.carousel-item__title {
  @include font-size-and-vertical-height(24, 30);
  @include padding(0);
  @include blg-spacing("bottom", "extra-small");
}

.carousel-item__title_link {
  color: inherit;
  text-decoration: inherit;
}

.carousel-item__cta {
  display: none;
}

.carousel-item__meta {
  @include padding($content-header-padding/2, "bottom");
}

.js {

  .carousel-item {
    border: 0;
    color: $color-text--reverse;
    overflow: hidden;
    @include margin(0, "bottom");
    height: #{$content-header-image-height--narrow-screen}px;

    @media only all and (min-width: #{get-rem-from-px($bkpt-content-header--medium-width)}em) {
      height: #{$content-header-image-height--medium-width-screen}px;
    }

    @media only all and (min-width: #{get-rem-from-px($bkpt-content-header--wide)}em) {
      height: #{$content-header-image-height--wide-screen}px;
    }
  }

  .carousel-item__picture {
    display: inline-block;
    @include picture-with-overlay;
  }

  .carousel-item__image {
    @include img-with-overlay;
  }

  .carousel-item__subject_list {
    color: inherit;
    line-height: 1;
    @include padding(18, "top");
    @include padding(2, "bottom");
  }

  .carousel-item__subject_list_item {
    color: inherit;
    line-height: 1;
    @include font-size(12);
  }

  .carousel-item__subject_link {
    color: inherit;
    line-height: 1;
    &:hover {
      color: inherit;
    }
  }

  .carousel-item__body {
    height: 132px;
    display: flex;
    align-items: center;
    justify-content: center;

    @media only all and (min-width: #{get-rem-from-px($bkpt-content-header--medium-width)}em) {
      height: 156px;
    }

    @media only all and (min-width: #{get-rem-from-px($bkpt-content-header--wide)}em) {
      height: 205px;
    }
  }

  .carousel-item__title {
    @include margin(0, "top");
    @include nospace("bottom");
    line-height: 1;

    &.carousel-item__title--xx-short {
      @include header-title-size("xx-short");
    }

    &.carousel-item__title--x-short {
      @include header-title-size("x-short");
    }

    &.carousel-item__title--short {
      @include header-title-size("short");
    }

    &.carousel-item__title--medium {
      @include header-title-size("medium");
    }

    &.carousel-item__title--long {
      @include header-title-size("long");
    }

    &.carousel-item__title--x-long {
      @include header-title-size("x-long");
    }

    &.carousel-item__title--xx-long {
      @include header-title-size("xx-long");
    }

  }

  .carousel-item__title_link {
    color: inherit;
    text-decoration: inherit;
  }

  .carousel-item__cta {
    display: block;
    @include margin(0, "bottom");
    letter-spacing: 0.5px;
    position: absolute;
    bottom: 64px;
    left: 0;
    right: 0;
    .button {
      margin-bottom: 0;
    }
  }

  .carousel-item__meta {
    position: absolute;
    bottom: 18px;
    left: 0;
    right: 0;
    padding-bottom: 0;
    line-height: 1;
    @include font-size(12);

    .meta {
      color: inherit;
      line-height: 1;
      @include font-size(12);
    }

    .meta__type {
      &:hover {
        color: inherit;
      }
    }

    .date {
      line-height: 1;
      @include font-size(12);
    }
  }

}
