@import "../../definitions";

.carousel-item {

  @include constrain-width($max-site-width, "max");

  @supports (display: flex) {
    display: flex;
  }

  background-color: transparent;
  color: $color-text;
  flex-direction: column;
  padding: 0;
  text-align: center;
  width: 100vw;

}

.js .carousel-item {
  @include height($carousel-height);
  background-color: rgba(0, 0, 0, 0.5);
  background-size: cover;
  color: $color-text--reverse;
  width: 100vw;
}

.carousel-item__subject_list_item {
  @include label-subject-typeg();
  display: inline;
  line-height: 2.18181818181818;
  list-style-type: none;
  padding: 0;

  & .carousel-item__subject:after {
    content: ", ";
  }
}

.carousel-item__subject_list_item:last-child {

  & .carousel-item__subject:after {
    content: "";
  }

}

.carousel-item__subject_link {
  @include label-subject-typeg();
  text-decoration: none;
}

.carousel-item__title {
  @include h1-typeg();
  @include padding(24 0);
  margin-top: 0;
}

.carousel-item__title_link {
  text-decoration: none;
}

.carousel-item .meta {
  margin-top: auto;
}

:not(.js) {
  .carousel-item__subject_list {
    @include teaser-context-label-list-style();
  }
}

.js {

  .carousel-item__subject_list {
    @include label-subject-typeg();
    margin: 0;
    @include padding(24 0);
  }

  .carousel-item__subject_link {
    color: $color-text--reverse;
  }

  .carousel-item__title_link {
    color: $color-text--reverse;
  }

  .carousel-item .meta {

    *,
    *:hover {
      color: $color-text--reverse;
    }

  }

}
