@import "../../definitions";

.compact-form__container {
  border: none;
  margin: 0 auto;
  @include constrain-width(440, "max");
  padding: 0;
  position: relative;

  .search-box__inner & {
    max-width: none;
  }
}

.compact-form__input {
  background-color: #fff;
  border: #{$border-width}px solid $color-text-dividers;
  border-right: none;
  border-radius: #{$border-radius}px;
  display: block;
  font-family: $font-secondary;
  font-size: 1rem;
  line-height: 1.5; /* 24px with font size of 16px */
  @include padding(11 55 11 12);
  width: 100%;

  &:focus {
    border: #{$border-width}px solid $color-text-placeholder;
    outline: 0;
  }
}

.compact-form__submit {
  background: url("../img/icons/arrow-forward.png");
  background: url("../img/icons/arrow-forward.svg"), linear-gradient(transparent, transparent);
  background-color: $color-information;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  border: none;
  border-radius: 0 #{$border-radius}px #{$border-radius}px 0;
  color: $color-text-ui-background;
  @include height($button-height-regular);
  position: absolute;
  right: 0;
  top: 0;
  @include width(47);
}

.compact-form__reset {
  @include visuallyhidden();
}
