
.compact-form__container {
  border: none;
  margin: 0 auto;
  max-width: 440px;
  max-width: #{get-rem-from-px(440)}rem;
  padding: 0;
  position: relative;
}

.compact-form__input {
  background-color: $color-text-ui-background-hue;
  border-bottom: 2px solid $color-text-ui-background-hue;
  border-left: 2px solid $color-text-ui-background-hue;
  border-radius: 5px;
  border-right: none;
  border-top: 2px solid $color-text-ui-background-hue;
  display: block;
  font-family: $font-secondary;
  @include padding(12 55 12 12);
  width: 100%;

  &:focus {
    border: 2px solid $color-information;
    outline: 0;
  }
}

.compact-form__submit {
  background: url("../img/icons/arrow-forward.png");
  background: url("../img/icons/arrow-forward.svg"), linear-gradient(transparent, transparent);
  background-color: $color-information;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  border: none;
  border-radius: 0 5px 5px 0;
  color: $color-text-ui-background;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  @include width(47);
}
