@import "../../definitions";

$border-width: 1;
$blg-measure-reduced-by-border: get-blg-measure-minus-offset($blg-measure-extra-small-in-px, $border-width * 1);

.contextual-data {
  border-bottom: #{$border-width}px solid $color-text-dividers;
  @include label-content-typeg($color-text-secondary, false);
}

.contextual-data__list {
  border-bottom: #{$border-width}px solid $color-text-dividers;
  margin: 0;
  @include padding($blg-measure-reduced-by-border 0);
  text-align: center;
}

.contextual-data__list_title {
  display: inline-block;
  @include label-content-typeg($color-text-secondary);
  margin: 0;
  padding: 0;
}

.contextual-data__list_desc {
  display: inline-block;
  @include label-content-typeg($color-text-secondary, false);
  margin: 0;
  @include padding(0 5 0 0);
}

.contextual-data__cite_wrapper {
  @include blg-spacing("top", "extra-small");
  @include padding($blg-measure-extra-small-in-px - 1, "bottom");
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}

.contextual-data__cite {
  display: none;
}

@media only screen and (min-width: #{get-rem-from-px($bkpt-site--wide)}rem) {
  .contextual-data {
    display: flex;
  }

  .contextual-data__list {
    align-self: center;
    border-bottom: none;
    display: inline-block;
    padding: 0;
    text-align: left;
  }

  .contextual-data__list_desc {
    @include padding(0 10 0 0);
  }

  .contextual-data__cite_wrapper {
    float: right;
    margin-left: auto;
    @include padding($blg-measure-reduced-by-border 0);
    text-align: start;
  }

  .contextual-data__cite {
    align-self: center;
    display: inline-block;
    flex: 1;
    text-align: right;
    @include padding(0 5 0 0);
  }

  .contextual-data__cite_label {
    text-transform: uppercase;
  }

}
