@import "../../definitions";

.contextual-data {
  @include label-content-typeg($color-text-secondary, false);
}

.contextual-data__list {
  border-bottom: 1px solid $color-text-dividers;
  margin: 0;
  @include padding(11 0);
  text-align: center;
}

.contextual-data__item {
  display: inline-block;
  @include label-content-typeg($color-text-secondary);
  margin: 0;
  @include padding(0 5 0 0);

  &[data-hypothesis-trigger] {
    cursor: pointer;
  }

  a {
    color: inherit;
    &:hover {
      color: $color-primary;
    }
  }

}

.contextual-data__item__hypothesis_opener {
  display: none;

  .js & {
    color: $color-primary;
    display: inline-block;
    cursor: pointer;
  }

}

.contextual-data__cite_wrapper {
  border-bottom: 1px solid $color-text-dividers;
  @include blg-spacing("top", "extra-small");
  @include padding($blg-space-extra-small-in-px - 1, "bottom");
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}

.contextual-data__cite {
  display: none;
}

@media only screen and (min-width: #{get-rem-from-px($bkpt-site--wide)}rem) {
  .contextual-data {
    border-bottom: 1px solid $color-text-dividers;
    display: flex;
  }

  .contextual-data__list {
    align-self: center;
    border-bottom: none;
    display: inline-block;
    text-align: left;
  }

  .contextual-data__cite_wrapper {
    border-bottom: none;
    float: right;
    margin-left: auto;
    @include padding(11 0);
    text-align: start;
  }

  .contextual-data__cite {
    align-self: center;
    display: inline-block;
    flex: 1;
    text-align: right;
    @include padding(0 5 0 0);
  }

  .contextual-data__cite_label {
    text-transform: uppercase;
  }

}
