
.filter-group__title {
  @include listing-main-subtitle-typeg();
  @include margin(0 0 8 0);
}

.filter-group__filters {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}

.filter-group__filter_item {
  line-height: 1.7;
}

.filter-group__item_label {
  @include typeg-checkboxes();
}

.filter-group__results {
  color: $color-text-secondary;
  display: inline-block;
  font-family: $font-secondary;
  @include font-size(14);
}
