@import "../../definitions";

.hero-banner__picture {
  display: none;
}

.js {
  .hero-banner-item {
    background-color: $color-text--reverse;
    @include margin(24 0);
    color: $color-text;
    width: 100%;
    height: 100%;

    @media only screen and (min-width: #{get-rem-from-px($bkpt-site--x-wide)}em) {
      @include margin(48 0);
    }
  }

  .hero-banner__subject_list {
    display: block;
    color: $color-primary;
    width: 100%;

    @media only screen and (min-width: #{get-rem-from-px($bkpt-site--medium)}em) {
      float: left;
      @include padding(24, "right");
      @include set-column-width(7);
    }

    .hero-banner__subject_link {
      @include label-subject-typeg();
      text-decoration: none;

      &:hover {
        color: $color-primary-dark;
      }
    }
  }

  .hero-banner__subject_list {
    @include label-subject-typeg();
    margin: 0;
    @include padding(0 0 12 0);
    @include truncate-with-ellipsis();

    &:before {
      color: $color-text-secondary;
    }
  }

  .hero-banner__subject_list_item {
    @include label-subject-typeg();
    display: inline;
    list-style-type: none;
    padding: 0;

    .hero-banner__subject:after {
      content: ", ";
    }
  }

  .hero-banner__subject_list_item:last-child {
    .hero-banner__subject:after {
      content: "";
    }
  }

  .hero-banner__subject_link {
    @include label-subject-typeg();
    text-decoration: none;

    &:hover {
      color: $color-primary-dark;
    }
  }

  .hero-banner__details {
    background: $color-text-ui-background;
    height: 100%;
    font-family: $font-secondary;

    @media only screen and (min-width: #{get-rem-from-px($bkpt-site--medium)}em) {
      @include padding(24, "right");
      @include set-column-width(7);
    }

    .hero-banner__title {
      color: #252525;
      @include font-size-and-vertical-height(22, 30);
      @include padding(24, "top");

      @media only screen and (min-width: #{get-rem-from-px($bkpt-site--medium)}em) {
        @include font-size-and-vertical-height(28, 36);
        @include padding(0);
      }

      @media only screen and (min-width: #{get-rem-from-px($bkpt-site--x-wide)}em) {
        @include font-size-and-vertical-height(40, 48);
      }
    }

    .hero-banner__summary {
      font-family: $font-primary;
      @include font-size-and-vertical-height(16, 24);
      @include padding(12 0);
    }

    .hero-banner__authors {
      .authors {
        @include margin(0);

        .author_list_item {
          font-weight: bold;
          @include font-size-and-vertical-height(14, 24);
        }
      }
    }

    .hero-banner__meta {
      @include font-size-and-vertical-height(14, 24);
      color: $color-text-secondary;

      .meta {
        @include font-size(14);
        color: inherit;
        line-height: 1;
      }

      .meta__type {
        &:hover {
          color: inherit;
        }
      }

      .date {
        @include font-size(14);
      }
    }
  }

  .hero-banner__picture {
    display: inline-block;
    height: 100%;
    width: 100%;

    @media only screen and (min-width: #{get-rem-from-px($bkpt-site--medium)}em) {
      float: right;
      @include set-column-width(5);
    }

    .hero-banner__image {
      height: 172px;
      width: 100%;
      border: 1px solid #{$color-text-dividers};

      @media only screen and (min-width: #{get-rem-from-px($bkpt-site--small)}em) {
        height: 216px;
      }

      @media only screen and (min-width: #{get-rem-from-px($bkpt-site--medium)}em) {
        height: 142px;
      }

      @media only screen and (min-width: #{get-rem-from-px($bkpt-site--wide)}em) {
        height: 181px;
      }

      @media only screen and (min-width: #{get-rem-from-px($bkpt-site--x-wide)}em) {
        height: 307px;
      }
    }
  }
}
