@import "../../definitions";

.highlight-item {
  @include constrain-width($max-site-width, "max");
  @include margin($content-header-padding, "bottom");
  color: $color-text;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 6fr 6fr;
  list-style-type: none;
  overflow: hidden;
  position: relative;

  @media only screen and (min-width: #{get-rem-from-px($bkpt-site--small)}em) {
    @include margin(36, "bottom");
  }

  @media only screen and (min-width: #{get-rem-from-px($bkpt-site--medium)}em) {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 8fr 4fr;
  }

  @media only screen and (min-width: #{get-rem-from-px($bkpt-site--x-wide)}em) {
    @include margin(0, "bottom");
    grid-auto-flow: row;
    grid-template-columns: auto;
  }
}

.highlight-item:last-child {
  @include margin(0, "bottom");
}

.highlight-item__body {
  .author-line {
    display: none;

    @media only screen and (min-width: #{get-rem-from-px($bkpt-site--medium)}em) {
      @include padding(12, "bottom");
      display: block;
    }
  }

  .paragraph {
    display: none;
    font-family: $font-primary;
    margin-bottom: 0;

    @media only screen and (min-width: #{get-rem-from-px($bkpt-site--medium)}em) {
      @include padding(12, "bottom");
      display: block;
    }
  }
}

.highlight-item__image {
  width: 100%;
}

.highlight-item__meta {
  color: $color-text-secondary;

  .meta {
    @include font-size-and-vertical-height(14, 24);
    color: inherit;
  }

  .meta__type {
    &:hover {
      color: inherit;
    }
  }

  .date {
    @include font-size-and-vertical-height(14, 24);
  }
}

.highlight-item__picture {
  @include margin(24, "left");
  display: inline-block;
  grid-column: 2;
  height: 56px;
  width: auto;

  @media only screen and (min-width: #{get-rem-from-px($bkpt-site--small)}em) {
    height: 101px;
  }

  @media only screen and (min-width: #{get-rem-from-px($bkpt-site--medium)}em) {
    height: 110px;
  }

  @media only screen and (min-width: #{get-rem-from-px($bkpt-site--wide)}em) {
    height: 141px;
  }

  @media only screen and (min-width: #{get-rem-from-px($bkpt-site--x-wide)}em) {
    @include margin(0, "left");
    @include padding(24, "bottom");
    grid-column: auto;
    height: 191px;
    width: 100%;
  }
}

.highlight-item__title {
  @include font-size-and-vertical-height(16, 22);
  @include padding(0);

  @media only screen and (min-width: #{get-rem-from-px($bkpt-site--small)}em) {
    @include font-size-and-vertical-height(18, 26);
  }

  @media only screen and (min-width: #{get-rem-from-px($bkpt-site--medium)}em) {
    @include font-size-and-vertical-height(22, 30);
    @include padding(12, "bottom");
  }

  @media only screen and (min-width: #{get-rem-from-px($bkpt-site--x-wide)}em) {
    @include padding(24, "bottom");
  }
}

.highlight-item__title_link {
  color: inherit;
  text-decoration: inherit;
}
