@import "../../mixins";
@import "../../variables";

:root {
  --home-banner-background-color: rgba(237, 245, 250, 1);
  --banner-content-default-min-height: 300px;
  --subjects-height-collapsed: 76px;
  --site-header-height: 95px;
  --max-height-of-banner-and-subjects: calc(600px - var(--site-header-height));
}

.banner-and-subjects-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  max-height: var(--max-height-of-banner-and-subjects);
  //min-height: calc(var(--banner-content-default-min-height) + var(--subjects-height-collapsed));
}

.home-banner {
  background-color: var(--home-banner-background-color);
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: var(--banner-content-default-min-height);
  display: flex;
}

.home-banner_content {
  @include wrapper($isHomePage: true);
  @include padding(24, "top");
  @include padding(36, "bottom");
}

.home-banner__title {
  @include font-size-and-vertical-height($font-size-in-px: 28, $vertical-height-in-px: 38);
  @include margin(36, "bottom");
}

.home-banner__title_line {
  display: block;
  text-align: center;
  color: $color-primary-dark--home-page;
}

.home-banner__title_line--alternative {
  color: $color-elife-blue;
}

.home-banner__links {
  width: 100%;
}

.home-banner__button {
  @include margin(18, "bottom");
  display: block;
  text-transform: unset;
  font-weight: 600;

  &.button--default {
    border-color: $color-primary-dark--home-page;
    background-color: $color-primary-dark--home-page;
    color: $color-text--reverse;
  }

  &.button--secondary {
    border-color: $color-text-ui-background-secondary-grey-homepage;
    background-color: $color-text-ui-background-secondary-grey-homepage;
    color: $color-primary-dark--home-page;
  }
}
