@import "../../mixins";
@import "../../variables";

:root {
  --site-header-height: #{get-rem-from-px(95)}rem;

  --subjects-height--narrow: #{get-rem-from-px(76)}rem;
  --subjects-height--medium: #{get-rem-from-px(102)}rem;
  --subjects-height--x-wide: #{get-rem-from-px(364)}rem;
  --subjects-height: var(--subjects-height--narrow);
  --subjects-height-js: var(--subjects-height);

  --banner-min-height--narrow: #{get-rem-from-px(276)}rem; // Defined by the banner contents
  --banner-min-height--medium: #{get-rem-from-px(338)}rem;
  --banner-min-height--wide: #{get-rem-from-px(347)}rem;
  --banner-min-height--wider: #{get-rem-from-px(470)}rem;
  --banner-min-height: var(--banner-min-height--narrow);

  --max-height-of-banner-and-subjects-and-site-header--narrow: #{get-rem-from-px(540)}rem;  // Designer intent
  --max-height-of-banner-and-subjects-and-site-header: var(--max-height-of-banner-and-subjects-and-site-header--narrow);
  --max-height-of-banner-and-subjects-and-site-header-js: var(--max-height-of-banner-and-subjects-and-site-header);

  --min-height-of-banner-and-subjects-and-site-header: calc(var(--banner-min-height) + var(--subjects-height) + var(--site-header-height));
  --min-height-of-banner-and-subjects-and-site-header-js: calc(var(--banner-min-height) + var(--subjects-height-js) + var(--site-header-height));

  --max-height-of-banner-and-subjects: calc(var(--max-height-of-banner-and-subjects-and-site-header) - var(--site-header-height));
  --max-height-of-banner-and-subjects-js: calc(var(--max-height-of-banner-and-subjects-and-site-header-js) - var(--site-header-height));

  --min-height-of-banner-and-subjects: calc(var(--min-height-of-banner-and-subjects-and-site-header) - var(--site-header-height));
  --min-height-of-banner-and-subjects-js: calc(var(--min-height-of-banner-and-subjects-and-site-header-js) - var(--site-header-height));

  @media only screen and (min-width: #{get-rem-from-px($bkpt-site--medium)}em) {
    --subjects-height: var(--subjects-height--medium);
    --banner-min-height: var(--banner-min-height--medium);
  }

  @media only screen and (min-width: #{get-rem-from-px($bkpt-site--wide)}em) {
    --banner-min-height: var(--banner-min-height--wide);
  }

  @media only screen and (min-width: #{get-rem-from-px($bkpt-site--home-hero-banner-additional-wider)}em) {
    --banner-min-height: var(--banner-min-height--wider);
  }

  @media only screen and (min-width: #{get-rem-from-px($bkpt-site--x-wide)}em) {
    --subjects-height-js: var(--subjects-height--x-wide);
    --max-height-of-banner-and-subjects-js: #{get-rem-from-px(1000)}rem; // TODO: Consider deriving this value?
  }

  @media only screen and (min-width: #{get-rem-from-px($bkpt-site--wide)}em) {
    --site-header-height: #{get-rem-from-px(119)}rem;
  }
}

.banner-and-subjects-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - var(--site-header-height));
  max-height: var(--max-height-of-banner-and-subjects);
  min-height: var(--min-height-of-banner-and-subjects);

  .js & {
    max-height: var(--max-height-of-banner-and-subjects-js);
    min-height: var(--min-height-of-banner-and-subjects-js);
  }
}

.home-banner {
  --home-banner-image-offset: #{$site-spacing-large}px;

  background-color: $color-homepage-tinted-background;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: var(--banner-min-height);
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media only screen and (min-width: #{get-rem-from-px($bkpt-site--medium)}em) {
    --image-min-width: 354px;
    --image-preferred-width: 40%;
    --image-max-width: 500px;
    background-image: url("../img/patterns/molecules/home-banner-dots-dashes.svg");
    background-repeat: no-repeat;
    background-position: bottom right var(--home-banner-image-offset);
    background-size: clamp( var(--image-min-width), var(--image-preferred-width), var(--image-max-width));
    align-items: start;
  }

  @media only screen and (min-width: #{get-rem-from-px($bkpt-site--wide)}em) {
    --image-min-width: 354px;
    --image-preferred-width: 40%;
    --image-max-width: 369px;
    background-size: clamp( var(--image-min-width), var(--image-preferred-width), var(--image-max-width));
  }

  @media only screen and (min-width: #{get-rem-from-px($bkpt-site--home-hero-banner-additional-wider)}em) {
    --image-min-width: 450px;
    --image-preferred-width: 40%;
    --image-max-width: 500px;
    background-size: clamp( var(--image-min-width), var(--image-preferred-width), var(--image-max-width));
  }

  @media only screen and (min-width: #{get-rem-from-px($bkpt-site--x-wide)}em) {
    .js & {
      --image-min-width: 480px;
      --image-preferred-width: 50vh;
      --image-max-width: 600px;
    }
  }

  @media only screen and (min-width: #{get-rem-from-px($bkpt-site--home-additional-widest)}em) {
    --home-banner-max-width: #{get-rem-from-px($bkpt-site--home-additional-widest)}rem;
    --home-banner-gutter: calc((100vw - var(--home-banner-max-width)) / 2);

    padding-inline: var(--home-banner-gutter);
    background-position: bottom right calc(var(--home-banner-gutter) + var(--home-banner-image-offset));
  }
}

.home-banner__content {
  @include wrapper($isHomePage: true);
  margin: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  @media only screen and (min-width: #{get-rem-from-px($bkpt-site--small)}em) {
    @include padding($site-spacing, "inline");
  }

  @media only screen and (min-width: #{get-rem-from-px($bkpt-site--medium)}em) {
    @include padding($site-spacing-large, "inline");
  }
}

.home-banner__title {
  @include margin(36, "bottom");

  font-size: clamp(#{get-rem-from-px(26)}rem, 8vw, #{get-rem-from-px(36)}rem);
  line-height: 1.3;
  text-align: center;

  @media only screen and (min-width: #{get-rem-from-px($bkpt-site--small)}em) {
    font-size: clamp(#{get-rem-from-px(40)}rem, 7vw, #{get-rem-from-px(50)}rem);
    line-height: 1.25;
  }

  @media only screen and (min-width: #{get-rem-from-px($bkpt-site--medium)}em) {
    font-size: clamp(#{get-rem-from-px(36)}rem, 4.9vw, #{get-rem-from-px(60)}rem);
    line-height: 1.2;
    text-align: left;
  }
}

.home-banner__title_line {
  display: block;
  color: $color-primary-dark--home-page;
}

.home-banner__title_line--alternative {
  color: $color-elife-blue;
}

.home-banner__buttons {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media only screen and (min-width: #{get-rem-from-px($bkpt-site--small)}em) {
    flex-direction: row;
    justify-content: center;
  }

  @media only screen and (min-width: #{get-rem-from-px($bkpt-site--medium)}em) {
    flex-direction: column;
    align-items: unset;
  }

  @media only screen and (min-width: #{get-rem-from-px($bkpt-site--home-hero-banner-inline-buttons)}em) {
    display: block;
  }
}

.home-banner__button {
  @include margin(18, "bottom");
  padding-inline: #{get-rem-from-px(10)}rem;
  width: #{get-rem-from-px(225)}rem;
  display: block;
  text-transform: unset;
  font-weight: 600;

  @media only screen and (min-width: #{get-rem-from-px($bkpt-site--small)}em) {
    width: #{get-rem-from-px(204)}rem;
  }

  @media only screen and (min-width: #{get-rem-from-px($bkpt-site--medium)}em) {
    @include margin(12, "bottom");
  }

  @media only screen and (min-width: #{get-rem-from-px($bkpt-site--home-hero-banner-inline-buttons)}em) {
    display: inline-block;
  }

  &.button--default {
    border-color: $color-primary-dark--home-page;
    background-color: $color-primary-dark--home-page;
    color: $color-text--reverse;

    @media only screen and (min-width: #{get-rem-from-px($bkpt-site--small)}em) {
      @include margin(12, "right");
    }
  }

  &.button--secondary {
    border-color: $color-text-ui-background-secondary-grey-homepage;
    background-color: $color-text-ui-background-secondary-grey-homepage;
    color: $color-primary-dark--home-page;
  }
}
