@import "../../definitions";

.hypothesis-opener {
  display: none;

  .js & {
    display: inline-block;
  }

}

.hypothesis-opener--article-body {
  display: block;
  float: right;
  @include blg-spacing("bottom", "small", "margin");
}

[data-hypothesis-trigger] {
  cursor: pointer;
}
