
.image-grid {
  overflow-x: hidden;
}

.image-grid__cell {
  float: left;
  @include margin(15, "bottom");
  @include padding(0 7.5);
  width: 33.33%;
}

.image-grid__image {
  display: block;
  width: 100%;
}

@media only screen {
  .image-grid__container {
    display: flex;
    flex-wrap: wrap;
    @include margin(0 -7.5);
  }

  .image-grid__cell {
    width: 50%;
  }
}

@media only screen and (min-width: #{get-rem-from-px(520)}rem) {
  .image-grid__cell {
    width: 33.33%;
  }
}

@media only screen and (min-width: #{get-rem-from-px(720)}rem) {
  .image-grid__cell {
    // safari fix. It has problems just at this width when combining flexbox and clearfixes. NO IDEA.
    width: 24.98%;
  }
}
