@import "../../definitions";

.institution_separator {
  .institution--last-non-excess & {
    display: none;

    .institution_list--expanded & {
      display: inline;
    }
  }
  li.institution_list_item:last-child &,
  li.institution_list_item--last & {
    display: none;
  }
}

.institution_list {
  margin: 0;
  padding: 0;
}

.institution_list_item {
  display: inline;
  @include institute-typeg();
  list-style-type: none;
  padding: 0;
}
