
$max-width: 1114;

.investor-logos__img-container {
  flex: 1 33.33%;
  border-bottom: 2px solid $color-text-dividers;
}

.investor-logos__img {
  display: block;
  max-width: 100%;
  margin: auto;
}

@media only screen and (min-width: #{(540/16)}em) {
  .investor-logos {
    display: flex;
  }
  .investor-logos__img-container {
    border-left: 2px solid $color-text-dividers;

    &:first-child {
      border-left: none;
    }
  }
}
