
.investor-logos__img_container {
  border-top: 1px solid $color-text-dividers;
}

.investor-logos__picture {
  display: block;
}

.investor-logos__img {
  display: block;
  max-width: 100%;
  margin: auto;
}

@media only screen and (min-width: #{get-rem-from-px(520)}em) {

  .invester-logos__container {
    display: table;
    display: flex;
  }

  .investor-logos__img_container {
    display: table-cell;
    text-align: center;
    flex: 1 33.33%;
  }

  .investor-logos__img_container {
    border-left: 1px solid $color-text-dividers;

    &:first-child {
      border-left: none;
    }
  }
}
