@import "../../definitions";

.investor-logos {
  width: 100%;
}

.investor-logos__img_container {
  border-top: 1px solid $color-text-dividers;
  @include height(120);
}

.investor-logos__picture {
  display: block;
}

.investor-logos__img {
  display: block;
  max-width: 100%;
  max-height: 120px;
  margin: auto;
}

.investor-logos__img_container--wellcome {
  @include padding($blg-space-small-in-px - 1, "top");
  @include padding(24, "right");
  @include blg-spacing("bottom", "small");
  @include padding(24, "left");

  .investor-logos__img {
    height: 72px;
    width: auto;
  }

}

@media only screen and (min-width: #{get-rem-from-px(520)}em) {

  .invester-logos__container {

    display: table;
    width: 100%;

    @supports(display: flex) {
      display: flex;
    }

  }

  .investor-logos__img_container {
    display: table-cell;
    height: 120px;
    text-align: center;
    flex: 1 33.33%;
  }

  .investor-logos__img_container {
    border-left: 1px solid $color-text-dividers;

    &:first-child {
      border-left: none;
    }
  }
}
