
$max-width: 1114;

.investor-logos__img_container {
  border-bottom: 1px solid $color-text-dividers;
}

.investor-logos__img {
  display: block;
  max-width: 100%;
  margin: auto;
}

@media only screen and (min-width: #{get-rem-from-px(520)}em) {
  .investor-logos {
    border-bottom: 1px solid $color-text-dividers;
  }

  .invester-logos__container {
    display: table;
    display: flex;
    margin: auto;
    max-width: #{($max-width/16)}rem;
  }

  .investor-logos__img_container {
    border: none;
    display: table-cell;
    flex: 1 33.33%;
  }

  .investor-logos__img_container {
    border-left: 1px solid $color-text-dividers;

    &:first-child {
      border-left: none;
    }
  }
}
