@import "../../definitions";

.main-menu {
  background-color: $color-text-ui-background--reverse;
  color: $color-text-ui-background;
}

.main-menu__container {
  @include padding(28 24 0);
}

.main-menu__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-menu__list_item {
  @include nav-page-typeg();
  margin: 0;
  @include padding(5 0);
}

.main-menu__list_link {
  color: $color-text-ui-background;
  text-decoration: none;
}

.main_menu__quit {
  background-color: $color-text-ui-background--reverse;
  color: $color-text-ui-background;
  @include nav-page-typeg();
  display: block;
  @include padding(15, "bottom");
  @include padding(24, "right");
  text-align: right;
  text-decoration: none;
  width: 100%;
}

.main-menu--js {
  display: none;

  .main-menu__container {
    display: block;
  }

  &.main-menu--shown {
    display: block;
    float: left;
    left: -330px;
    height: 100vh;
    width: #{get-rem-from-px(300)}rem;
    max-width: 90vw;
    overflow: auto;
    position: fixed;
    transform: translate3d(330px, 0, 0);

    & + .global-inner {
      float: left;
      transform: translate3d(300px, 0, 0);
      width: calc(100% - 330px);
    }
  }

  .main_menu__quit {
    display: none;
  }
}

@media only screen and (min-width: #{get-rem-from-px(680)}rem) {

  .main-menu__container {
    display: table;
    display: flex;
    margin: auto;
    max-width: #{get-rem-from-px($max-site-width)}rem;
    width: 100%;
  }

}
