@import "../../definitions";

.main-menu__section {
  @include padding(15, "bottom");
}

.main-menu__title {
  @include section-title-typeg();
  @include nospace();
  @include padding(5, "bottom");
  text-transform: uppercase;
}

.main-menu__list {
  @include padding(24, "left");
}

.main-menu__list_item {
  @include dismissible_navigation();
  @include padding(12 0);
  display: block;
  line-height: 0;
  text-align: left;

  @media only screen and (min-width: #{get-rem-from-px($bkpt-site--wide)}em) {
    &.main-menu__list_change {
      display: none;
    }
  }

  &.lineSeparator {
    border-bottom: 1px solid $color-text-dividers;
  }
}

.main-menu__list_link {
  @include font-size-and-vertical-height(14, 24);
  color: $color-text;
  font-weight: bold;
  text-decoration: none;

  &:hover {
    color: $color-primary;
  }
}

.main-menu__close_control {
  @include font-size-and-vertical-height(14, 24);
  @include margin(35, "top");
  @include margin(28, "bottom");
  @include padding(8 24 8 0);
  background: $color-text--reverse url("../img/icons/close-1x.png") no-repeat;
  background: url("../img/icons/close.svg") center right / 14px 14px no-repeat, linear-gradient(transparent, transparent);
  border: none;
  color: $color-text;
  display: flex;
  float: right;
  font-family: $font-secondary;
  font-weight: bold;
  justify-content: flex-end;
  left: -35px;
  position: relative;
  width: auto;
  z-index: 22;

  &:hover {
    background: url("../img/icons/close-blue.svg") center right / 14px 14px no-repeat, linear-gradient(transparent, transparent);
    color: $color-primary;
  }
}

.main-menu--js {
  display: none;

  .main-menu__container {
    display: block;

    &:hover {
      color: $color-primary;
    }

    .site-header__title {
      float: none;
    }

    .site-header__logo_link {
      @include margin(37 0 0 15);
      display: block;
      float: none;
      height: 35px;
      width: 88px;
    }

    @media only screen and (min-width: #{get-rem-from-px($bkpt-site--small)}em) {
      .site-header__logo_link {
        @include margin(37 0 0 24);
      }
    }

    @media only screen and (min-width: #{get-rem-from-px($bkpt-site--medium)}em) {
      .site-header__logo_link {
        @include margin(33 0 0 20.5);
      }
    }
  }

  &.main-menu--shown {
    background-color: $color-text--reverse;
    color: $color-text;
    display: block;
    float: left;
    height: 100vh;
    left: -3000px;
    max-width: 100vw;
    overflow: auto;
    position: fixed;
    top: 0;
    transform: translate3d(3000px, 0, 0);
    width: 100vw;
    z-index: 40;
  }

  .main_menu__quit {
    display: none;
  }
}

@media only screen and (min-width: #{get-rem-from-px($bkpt-site--small)}em) {
  .main-menu__list {
    @include padding(48, "left");
  }
}

@media only screen and (min-width: #{get-rem-from-px($bkpt-site--wide)}em) {
  .main-menu--js.main-menu--shown {
    width: 320px;
  }
}
