@import "../../definitions";

.main-menu__container {
  @include padding($blg-space-small-in-px);
}

.main-menu__section {
  @include padding(15, "bottom");
}

.main-menu__title {
  @include section-title-typeg();
  margin: 0;
  @include padding(0 0 5 0);
  text-transform: uppercase;
}

.main-menu__list {
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

.main-menu__list_item {
  @include dismissible_navigation();
  display: block;
}

.main-menu__list_link {
  color: $color-text;
  text-decoration: none;
}

.main_menu__quit {
  border-radius: 0;
}

.main-menu--js {
  display: none;

  .main-menu__container {
    display: block;
  }

  .main-menu__list_item {
    text-align: left;
  }

  &.main-menu--shown {
    display: block;
    float: left;
    left: -3000px;
    height: 100vh;
    width: #{get-rem-from-px(200)}rem;
    max-width: 90vw;
    overflow: auto;
    position: fixed;
    transform: translate3d(3000px, 0, 0);
    z-index: 10;

    & + .global-inner {
      float: left;
      transform: translate3d(200px, 0, 0);
      width: calc(100% - 200px);
    }
  }

  .main_menu__quit {
    display: none;
  }
}
