@import "../../definitions";

.media-chapter-listing-item {

  &.current-chapter {

    .teaser__context_label,
    .teaser__header_text_link {
      color: $color-primary;
    }

  }

  .teaser__header {
    margin: 0;
  }

  .meta__type {
    color: $color-text;
    text-transform: none;
    font-family: $font-primary;
    @include font-size(12);
    font-weight: normal;

  }

  a.meta__type:hover {
    color: $color-text;
  }

}

