@import "../../definitions";

.media-chapter-listing-item {

  &.current-chapter {

    .teaser__context_label,
    .teaser__header_text_link {
      color: $color-primary;
    }

  }

  .teaser__header {
    margin: 0;
  }

  a.meta__type {
    @include discreet-link();
    text-transform: none;
    font-family: $font-primary;
    @include font-size(16);
    line-height: 1.5;
    font-weight: normal;
  }

}

