@import "../../definitions";

// Also modified within @mixin article-with-background and the content header scss files.
// Consider introducing .meta--variants and so moving content-header .meta rules to here.
// (Would require a view model change though, so non-trivial).

.meta {
  @include label-content-typeg($uppercase: false);
  @include font-size-and-vertical-height(12);
  display: flex;
  justify-content: space-between;
  width: 100%;

  .content-header-journal & {
    @include font-size-and-vertical-height(14, 24);
  }

  .highlights & {
    @include truncate-with-ellipsis();
  }

  .teaser--secondary & {
    display: block;
  }

  .teaser--grid-style & {
    display: block;
  }

  .hero-banner & {
    display: block;
  }

  .highlight & {
    display: block;
  }
}

.meta__type {
  @include font-size(14);
  color: inherit;
  font-weight: bold;
  text-decoration: none;

  .teaser--secondary & {
    @include font-size(12);
    font-weight: normal;
  }

  .teaser--grid-style & {
    @include font-size(12);
    font-weight: normal;
  }

  .hero-banner & {
    font-weight: normal;
  }

  .highlight & {
    font-weight: normal;
  }

  .teaser--secondary & + .date::before {
    content: "\00a0\2219\00a0";
    font-weight: bold;
  }

  .hero-banner & + .date::before {
    content: "\00a0\2219\00a0";
    font-weight: bold;
  }

  .highlight & + .date::before {
    content: "\00a0\2219\00a0";
    font-weight: bold;
  }

  .teaser--grid-style & + .date::before {
    content: "\00a0\2219\00a0";
    font-weight: bold;
  }
}

a.meta__type:hover {
  color: $color-primary-dark;
}
