@import "../../definitions";

// Also modified within @mixin article-with-background and the content header scss files.
// Consider introducing .meta--variants and so moving content-header .meta rules to here.
// (Would require a view model change though, so non-trivial).

.meta {
  @include label-content-typeg($uppercase: false);
  @include font-size-and-vertical-height(12);

  .content-header-journal & {
    @include font-size-and-vertical-height(14, 24);
  }

  .highlights & {
    @include truncate-with-ellipsis();
  }
}

.meta__type {
  @include font-size-and-vertical-height(14, 24);
  color: $color-text-secondary;

  & + .date:not(:last-child)::after {
    content: "\00a0\2219\00a0";
    font-weight: bold;
  }
}

a.meta__type:hover {
  color: $color-primary-dark;
}
