.nav-primary {
  border-top: 1px solid $color-text-dividers;
  clear: right;
  @include padding(0 5);
}

.nav-primary__list {
  align-items: center;
  display: table-cell;
  display: flex;
  @include height(58);
  margin: 0;
  padding: 0;
  vertical-align: middle;
}

.nav-primary__item {
  float: left;
  font-family: $font-secondary;
  @include font-size(14);
  font-weight: bold;
  @include height(24);
  list-style-type: none;
  @include padding(0 16 0 0);
  text-transform: uppercase;
}

.nav-primary__item--first {
  @include padding(0 16 0 1);
  @include padding(3, "top");
}

@media only all {
  .nav-primary__item--first {
    padding-top: 0;
  }
}

.nav-primary a:link,
.nav-primary a:hover,
.nav-primary a:active,
.nav-primary a:visited {
  color: #212121;
  text-decoration: none;
}

.nav-primary a:hover,
.nav-primary a:active {
  color: $color-primary;
}

.nav-primary__item--last {
  float: right;
  margin-left: auto;
}

.nav-primary__menu_icon {
  border: none;
  height: 24px;
  margin-top: -2px;
  width: 24px;
}

.nav-primary__search_icon {
  height: 24px;
  width: 24px;
}

.nav-primary__menu_text {
  @include padding(10, "bottom");
  vertical-align: top;
}

@media only all and (max-width: 21.25rem) {
  .nav-primary__menu_text {
    padding-bottom: 0;
    @include visuallyhidden();
  }

  .nav-primary__item--first {
    padding: 0;
  }

  .nav-primary__menu_icon {
    border: 1px solid $color-text-dividers;
    border-radius: 5px;
    @include margin(0 8 0 0);
    margin-top: -3px;
  }
}
