.nav-secondary {
  float: right;
}

.nav-secondary__list {
  align-items: center;
  display: table-cell;
  display: flex;
  @include height(40);
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  vertical-align: middle;
}

.nav-secondary__item {
  float: left;
  @include nav-small-typeg();
  @include height(24);
  list-style-type: none;
  @include padding(8 16 6 0);
  text-transform: uppercase;
}

.nav-secondary__item--notification,
.nav-secondary__item--profile {
  @include padding(5, "top");
}

.nav-secondary__item a {

  text-decoration: none;

  &:link,
  &:visited {
    color: #212121;
  }

  &:hover,
  &:active {
    color: $color-primary;
  }

  &.button:link,
  &.button:hover,
  &.button:active,
  &.button:visited {
    color: #fff;
  }

}

.nav-secondary__item--button {
  display: none;
  @include padding(3 10 2 0);
}

.nav-secondary__notification-icon {
  height: 17px;
  width: 14px;
}

.nav-secondary__profile-icon {
  height: 14px;
  width: 21px;
}

@media only all and (min-width: #{get-rem-from-px(425)}em) {
  .nav-secondary__item--button {
    display: list-item;
  }
}
