@import "../../definitions";

.pager {
  @include margin(12, "bottom");

  .button:nth-child(2) {
    float: right;
  }
}

.js .pager__text_wrapper.loading {

  position: relative;

  &:after {
    @include loading-spinner($highlight-color: $color-text--reverse, $base-color: #81c4e8);
    content: "";
    display: inline-block;
    position: absolute;
    left: 110%;
    top: -3px;
  }

}
