@import "../../definitions";

.wrapper-alternative {
  @include wrapper-alternative  ();
}

.site-header__title-border {
  @include margin(48, "top");
  float: left;
  position: relative;
  z-index: 21;
}

.personalised-cover-download {
  @include blg-pad-vertical-large-to-extra-large();
  max-width: 735px;

  > :last-child {
    margin-bottom: 0;
  }
}

.personalised-cover-download__icon {
  max-width: 100%;
  @include blg-spacing("bottom", "small");
}

.personalised-cover__header-text {
  @include margin(94 0 72 0);
  text-align: center;
}

.personalised-cover-text {
  @include padding(48, "bottom");
}

@media only screen and (min-width: #{get-rem-from-px($bkpt-site--medium)}em) {

  .personalised-cover-outer {
    display: grid;
    grid-template-columns: 425px 355px;
    margin: 0 auto;
    max-width: 780px;
  }

  .personalised-cover-text {
    grid-column: 1;
    grid-row: 1;
  }

  .personalised-cover-thumbnail {
    grid-column: 2;
    grid-row: 1/3;
  }

}

.personalised-cover-download__icon {
  filter: drop-shadow(0 0 0.75rem rgba(0,0,0,0.2));
}

.personalised-cover-buttons {
  grid-column: 1;
  grid-row: 2;
}
