@import "../../definitions";
@import "../../layout/grid";

.personalised-cover-download-wrapper {
  @include flexbox-centre-x-and-y();
}

.personalised-cover-download {
  @include wrapper();
  text-align: center;
  @include blg-pad-vertical-large-to-extra-large();

  > :last-child {
    margin-bottom: 0;
  }
}

.personalised-cover-download__icon {
  max-width: 100%;
  @include blg-spacing("bottom", "small");
}
