@import "../../definitions";

.popup {
  position: relative;
}

.popup {
  position: absolute;
  width: 470px;
  z-index: 100;

}

a.popup__wrapper {
  color: inherit;
}

a.popup__button {
  color: #fff;
  font-family: $font-secondary;
  @include font-size(11);
  @include padding(12);
  &:hover {
    color: #fff;
    text-decoration: none;
  }

  &:after {
    content: "\00a\00bb";
  }

}

.popup__button--right {
  float: right;
}

.popup__content {
  @include margin(0, "bottom");
  @include padding(12);
}

.popup__window {
  @include box-shadow();
  background: #181818;
  border-radius: #{$border-radius}px;
  color: #fff;

  a {
    color: inherit;

    &:hover {
      color: inherit;
    }

  }

}

.popup__content__ancillary {
  @include popup-ancillary-text();
  @include padding($blg-space-extra-small-in-px, "top");
  @include padding($blg-space-extra-small-in-px / 2, "bottom");
}
