@import "../../definitions";

.profile-snippet {
  border-top: 1px solid $color-text-dividers;
  @include padding(12, "bottom");
  @include padding(12, "top");
}

.profile-snippet:after {
  content: "";
  clear: both;
  display: block;
  float: none;
}

.profile-snippet__picture {
  display: block;
  float: right;
  width: 75px;
}

.profile-snippet__image {
  display: block;
}

.profile-snippet__name {
  font-family: $font-secondary;
  @include font-size(16);
  font-weight: bold;
  line-height: $line-height-primary;
  @include margin(0 0 2 0);
}

.profile-snippet__title {
  font-family: $font-primary;
  @include font-size(14);
  font-style: italic;
  font-weight: 400;
  line-height: $line-height-primary;
  margin: 0;
}

.profile-snippet__contact_details {
  font-family: $font-primary;
  @include font-size(14);
  font-style: italic;
  font-weight: 400;
  line-height: $line-height-primary;
  @include padding(40, "bottom");
}

@media only screen {
  .profile-snippet__picture {
    width: auto;
    @include margin($teaser-spacing-left, "left");
    @include margin($teaser-spacing-bottom, "bottom");
    max-width: #{get_rem_from_px(75)}rem;
  }

  .profile-snippet__image {
    width: 100%;
  }
}
