@import "../../definitions";

.profile-snippet {
  border-top: 1px solid $color-text-dividers;
  @include padding(24, "bottom");
  @include padding(24, "top");

  .listing-list__item:first-child & {
    border-top-style: none;
  }

}

.profile-snippet:after {
  content: "";
  clear: both;
  display: block;
  float: none;
}

.profile-snippet__image {
  display: block;
  float: right;
  width: 72px;
}

.profile-snippet__name {
  font-family: $font-secondary;
  @include font-size(18);
  font-weight: bold;
  line-height: 1.3333333333;  // 24px at 18px font size
}

.profile-snippet__title {
  font-family: $font-primary;
  @include font-size(16);
  font-weight: 400;
  line-height: 1.5; // 24px at 16px font size
  margin: 0;
}

.profile-snippet__contact_details {
  font-family: $font-primary;
  @include font-size(14);
  font-style: italic;
  font-weight: 400;
  line-height: $line-height-primary;
  @include padding(40, "bottom");
}

@media only screen {
  .profile-snippet__image {
    width: auto;
    @include margin(24, "left");
    max-width: #{get_rem_from_px(72)}rem;
  }
}
