@import "../../definitions";

.pull-quote {
  background: url("../img/icons/quote-start.png") 0 0 no-repeat;
  background: url("../img/icons/quote-start.svg") 0 0 no-repeat, linear-gradient(transparent, transparent);
  @include margin(0 48 0 0);
  @include padding(43 5 0 5);

  p {
    @include pullquote-typeg();
    margin: 0;
    padding: 0;

    // TODO: Review this break point
    @media only all and (min-width: #{$bkpt-content-header}px) {
      @include pullquote-typeg(true);
    }

  }

  p + p {
    @include padding(15, "top");
  }

  p:last-of-type {
    display: inline;
    position: relative;

    &:after {
      background: url("../img/icons/quote-end.png") 0 0 no-repeat;
      background: url("../img/icons/quote-end.svg") 0 0 no-repeat, linear-gradient(transparent, transparent);
      content: "";
      display: block;
      height: #{get-rem-from-px(33)}rem;
      @include margin(-19, "top");
      position: absolute;
      right: -#{get-rem-from-px(55)}rem;
      width: #{get-rem-from-px(44)}rem;
    }
  }

  cite {
    color: $color-text-placeholder;
    display: block;
    @include pullquote-attrib-typeg();
    @include padding(18, "top");

    a {
      color: $color-text-secondary;
      font-weight: 400;
      text-decoration: none;
    }
  }
}
