@import "../../definitions";

.quote {
  clear: both;
  font-style: italic;
  margin: 0;

  i {
    font-style: normal;
  }
}

.quote__cite {
  color: $color-text-secondary;
  display: block;
  @include quote-attrib-typeg();
}
