@import "../../definitions";

.reference-list {
  list-style: none;
  @include nospace();
  @include blg-spacing("bottom", "extra-small");
}

.reference-list__item {
  @include blg-spacing("bottom", "extra-small", "margin");
  @include padding(0 0 0 48);
  @include font-size-and-vertical-height($font-size-base-in-px, $font-size-base-in-px);
  position: relative;
}

.reference-list__ordinal_number {
  @include listing-side-art-title-typeg();
  @include font-size-and-vertical-height($font-size-base-in-px);
  @include padding(0);
  left: 0;
  position: absolute;
  text-align: center;
  top: 0;
  @include width(42);
}
