@import "../../definitions";

.reference-list {
  list-style: none;
  @include margin(0 0 15 0);
  @include padding(0 0 0 10);
}

.reference-list__item {
  @include margin(10, "bottom");
  @include padding(0 0 0 44);
  line-height: 1;
  position: relative;
}

.reference-list__ordinal_number {
  @include listing-side-art-title-typeg();
  left: 0;
  position: absolute;
  text-align: center;
  top: 0;
  @include width(40);
}
