@import "../../definitions";

.search-box {
  position: relative;

  .compact-form__container {
    @include margin(10, "bottom");
    @include margin(20, "top");
    max-width: inherit;
  }
}

.search-box__inner {
  max-width: #{$max-site-width}px;
  padding: 0 6%;
  position: relative;

  .wrapper & {
    padding-left: 0;
    padding-right: 0;
  }

}

.search-box__output {
  position: relative;
  width: 100%;
  z-index: 7;

  ul {
    border-left: 1px solid $color-text-dividers;
    border-right: 1px solid $color-text-dividers;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    border-bottom: 1px solid $color-text-dividers;
    font-family: $font-secondary;
    margin: 0;
    @include padding(12);

    &:first-child {
      border-top: 1px solid $color-text-dividers;
    }

    &:focus {
      background-color: $color-primary;
      color: $color-text-ui-background;

    }
  }
}

.search-box__suggestion {
  background-color: $color-text-ui-background;
  color: $color-text;
}

.search-box--js {

  @include border-radius-simple(0, 0, $border-radius, $border-radius);

  .search-box--populated {

    .compact-form__input {
      @include padding(90, right);
    }

    .compact-form__reset {
      @include visuallyunhidden();
      background: url("../img/icons/search-clear.png");
      background: url("../img/icons/search-clear.svg"), linear-gradient(transparent, transparent);
      background-position: -1px -1px;
      background-repeat: no-repeat;
      border-radius: 10px;
      height: 20px;
      position: absolute;
      right: 63px;
      right: #{get-rem-from-px(63)}rem;
      top: 12px;
      top: #{get-rem-from-px(12)}rem;
      width: 20px;
    }

  }

}

.search-box__search_option {
  font-family: $font-secondary;
  @include font-size(14);
  @include padding(20, "bottom");
}

@media only all and (min-width: #{$max-site-width}px) {

  .search-box__inner {
    margin: 0 auto;
    @include padding(0 66);
  }

  .search-box__inner {
    margin: 0 auto;
    @include padding(0 66);
  }

}
