@import "../../definitions";

.section-listing {
  @include nospace();
  list-style: none;
}

.section-listing__list_item {
  @include typeg-portal-quick-nav();
  @include nospace();
}

.section-listing__list_link {
  color: $color-text;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    color: $color-primary;
  }
}

.section-listing--single-line {
  padding: 10px;

  .section-listing__list_item {
    margin: 0 20px;
    text-align: center;
    line-height: 1.25;
    @include font-size(16);
  }

  .section-listing__list_item--current {
    .section-listing__list_link {
      color: $color-primary;
    }

  }

  .section-listing__list_link {
    text-transform: none;
  }

}

@media only screen and (min-width: #{get-rem-from-px($bkpt-section-listing)}rem) {

  .section-listing {
    column-count: 3;
  }

  .section-listing--single-line {
    border-bottom: 1px solid $color-text-dividers;
    column-count: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

}
