@import "../../definitions";

.section-listing {
  border-top: 1px solid $color-text-dividers;
  @include nospace();
  @include padding($blg-space-small-in-px, "top");
  list-style: none;
}

.section-listing__list_item {
  @include dismissible_navigation();
}

.section-listing__list_link {
  color: $color-text;
  text-decoration: none;

  &:hover {
    color: $color-primary;
  }
}

.section-listing--single-line {

  .section-listing__list_item--current {
    .section-listing__list_link {
      color: $color-primary;
    }

  }

}

@media only screen and (min-width: #{get-rem-from-px($bkpt-section-listing)}rem) {

  .section-listing--single-line {
    column-count: 1;
  }

  .js .section-listing--single-line {
    border-bottom: 1px solid $color-text-dividers;
    column-count: auto;
    display: flex;
    align-items: center;
    justify-content: center;

    .section-listing__list_item {
      @include margin(0 12);
    }

  }

}
