@import "../../definitions";

.section-listing {
  @include nospace();
  @include padding($blg-space-small-in-px, "top");
  list-style: none;
}

.section-listing__list_item {
  @include dismissible_navigation();
}

.section-listing__list_link {
  color: $color-text;
  text-decoration: none;

  &:hover {
    color: $color-primary;
  }
}

.section-listing--single-line {

  .section-listing__list_item {
    @include margin(0 12);
    @include font-size(16);
  }

  .section-listing__list_item--current {
    .section-listing__list_link {
      color: $color-primary;
    }

  }

  .section-listing__list_link {
    text-transform: none;
  }

}

@media only screen and (min-width: #{get-rem-from-px($bkpt-section-listing)}rem) {

  .section-listing {
    border-bottom: 1px solid $color-text-dividers;
    column-count: 3;
    @include nospace();
    @include padding($blg-space-extra-small-in-px - 1 0 $blg-space-extra-small-in-px);
  }

  .section-listing__list_item {
    line-height: 1.5;
  }

  .section-listing--single-line {
    border-bottom: 1px solid $color-text-dividers;
    column-count: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

}
