@import "../../definitions";

.nav-secondary {
  background-color: #fff;
  float: right;
  position: relative;
  z-index: 10;
}

.nav-secondary__list {
  align-items: center;
  display: table-cell;
  @supports (display: flex) {
    display: flex;
  }
  @include height(40);
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  vertical-align: middle;
}

.nav-secondary__item {
  float: left;
  @include nav-small-typeg();
  @include height(24);
  list-style-type: none;
  @include padding(0 12 0 0);
  text-transform: uppercase;
}

.nav-secondary__item:nth-last-child(2) {
  @include visuallyhidden();

  @media only all and (min-width: #{get-rem-from-px($bkpt-site--medium)}em) {
    @include visuallyunhidden();
    @include margin(12, "right");
  }
}

// Temporary hack until login button launches to keep 3rd item from disappearing due to
// above .nav-secondary__item:nth-last-child(2) selector when < 5 items
.nav-secondary__item:nth-child(3) {
  @include visuallyunhidden();
  @include height(24);
  overflow: visible;
  @include margin(12, "right");
}

.nav-secondary__item a:not(.profile-login-control__non_js_control_link) {

  text-decoration: none;

  &:link,
  &:visited {
    color: #212121;
  }

  &.button:link,
  &.button:hover,
  &.button:active,
  &.button:visited {
    color: #fff;
  }

}
