@import "../../definitions";

.nav-secondary {
  background-color: #fff;
  float: right;
  height: 40px;
  position: relative;
  z-index: 15;
}

.nav-secondary__list {
  @include height(40);
  @include margin(0);
  @include padding(0);
  align-items: baseline;
  justify-content: flex-end;
  vertical-align: middle;
  @supports (display: flex) {
    align-items: center;
    display: flex;
  }
}

.nav-secondary__item {
  @include height(24);
  @include nav-small-typeg();
  @include padding(0 12 0 0);
  float: left;
  list-style-type: none;
  text-transform: uppercase;

  .js &.nav-secondary__item--logged-in {
    align-self: stretch;
  }
}

@media only all and (max-width: 730px) {
  .nav-secondary__item--hide-narrow {
    display: none;
  }
}

.nav-secondary__item a:not(.login-control__non_js_control_link) {

  text-decoration: none;

  &:link,
  &:visited {
    color: #212121;
  }

  &.button:link,
  &.button:hover,
  &.button:active,
  &.button:visited {
    color: #fff;
  }

}
