@import "../../definitions";

.nav-secondary {
  background-color: #fff;
  float: right;
  height: 40px;
  padding-top: 8px;
  position: relative;
  z-index: 15;
}

.nav-secondary__list {
  align-items: baseline;
  @supports (display: flex) {
    display: flex;
  }
  @include height(40);
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  vertical-align: middle;
}

.nav-secondary__item {
  float: left;
  @include nav-small-typeg();
  @include height(24);
  list-style-type: none;
  @include padding(0 12 0 0);
  text-transform: uppercase;

  &.nav-secondary__item-logged-in {
    align-self: stretch;
  }
}

.nav-secondary__item--hide-narrow {
  @include visually-hide-below-breakpoint("medium", 24, 0 12 0 0);
}

.nav-secondary__item a:not(.login-control__non_js_control_link) {

  text-decoration: none;

  &:link,
  &:visited {
    color: #212121;
  }

  &.button:link,
  &.button:hover,
  &.button:active,
  &.button:visited {
    color: #fff;
  }

}
