@import "../../definitions";

.nav-primary {
  background-color: $color-text-ui-background;
  clear: right;
  position: relative;
  z-index: 10;
}

.nav-primary__list {
  @include height(54);
  margin: 0;
  padding: 7px 0 0;
  vertical-align: middle;

  @supports (display: flex) {
    align-items: center;
    display: flex;
    padding-top: 0;
  }

}

.nav-primary__item {
  @include nav-typeg();
  color: $color-text-ui-background--reverse;
  float: left;
  list-style-type: none;

  @supports (display: flex) {
    padding-top: 0;
  }

  &.nav-primary__item--inactive {
    color: $color-text-dividers;

    a {
      pointer-events: none;
    }
  }
}

.nav-primary a:link,
.nav-primary a:hover,
.nav-primary a:active,
.nav-primary a:visited {
  color: #212121;
  text-decoration: none;
}

.nav-primary__item--list {
  @include margin(-35, "left");
}

.nav-primary__item--search {
  float: right;
  margin-left: auto;
  a {
    background-image: url("../../assets/img/patterns/molecules/nav-primary-search-ic_1x.png");
    background-size: 21px;
    background-repeat: no-repeat;
    background-position-x: 50px;
    width: 70px;
  }
}

.nav-primary__item--alert {
  float: right;
  margin-left: auto;
  @include padding(15, "right");
  a {
    background-image: url("../../assets/img/patterns/molecules/nav-secondary-notifications-ic_1x.png");
    background-size: 15px;
    background-repeat: no-repeat;
    background-position-x: 50px;
    background-position-y: 1px;
    width: 70px;
  }
}

.nav-primary__menu_icon {
  border: none;
  box-sizing: content-box;
  display: block;
  float: left;
  height: 24px;
  padding: 0 3px;
  width: 24px;

  @supports (display: flex) {
    margin-top: -2px;
  }
}

.nav-primary__search_icon {
  display: flex;
  height: 24px;
  width: 24px;
}

.nav-primary__alert_icon {
  display: flex;
  height: 20px;
  width: 17px;
}

.nav-primary__item {
  @include margin(24, "left");
  display: flex;
  a {
    @include margin(5, "right");
    color: $color-text;
  }
  a:hover {
    color: $color-primary;
  }
}
.nav-primary__item--first {
  @include margin(20, "right");
  display: none;
  a {
    display: inline-block;
    margin-bottom: -6px;
    background-image: url("../../assets/img/patterns/molecules/nav-primary-menu-ic_2x.png");
    background-size: 22px;
    background-repeat: no-repeat;
    background-position-x: 50px;
    background-position-y: -1px;
    width: 70px;
  }
}

@media only all and (max-width: 21.25rem) {
  .nav-primary__menu_text {
    @include visuallyhidden();
    padding-bottom: 0;
  }

  .nav-primary__item--first {
    padding: 0;

  }

  .nav-primary__menu_icon {
    @include margin(0 8 0 0);
    margin-top: -3px;
  }
}

@media only all and (max-width: 730px) {
  .nav-primary__item--first {
    display: flex !important;
    padding-top: 2px;
  }
  .nav-primary__item {
    display: none;
  }

}
@media only all and (max-width: 30rem) {

  .nav-primary__list {
    .nav-primary__item {
      &:nth-child(5) {
        display: none;
      }
    }
  }
}
