@import "../../definitions";

.social-links {
  @include padding(0 0 42 0);
  text-align: center;
}

.social-links__list {
  margin: 0;
  // px not rem as adjustment for images, not text.
  padding: 1px 0 0;
}

.social-links__list_item {
  display: inline-block;
  margin: 0;
  @include padding(0 5);
}

.social-links__list_link {
  display: block;
  @include width(20);
  @include height(20);
}

// Inline, base64-encoded strings defining the hover state SVG icons.
/* stylelint-disable value-list-comma-space-after, comment-empty-line-before */
$sitelist: (
    facebook:
      "PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj48dGl0bGU+RmFjZWJvb2sgaWNvbiAtIGJsdWU8L3RpdGxlPjxwYXRoIGZpbGw9IiMwMjg4RDEiIGZpbGwtcnVsZT0iZXZlbm9kZCIgZD0iTTE4IDBIMkMuOSAwIDAgLjkgMCAydjE2YzAgMS4xLjkgMiAyIDJoMTZjMS4xIDAgMi0uOSAyLTJWMmMwLTEuMS0uOS0yLTItMnptLTEgMnYzaC0yYy0uNiAwLTEgLjQtMSAxdjJoM3YzaC0zdjdoLTN2LTdIOVY4aDJWNS41QzExIDMuNiAxMi42IDIgMTQuNSAySDE3eiIvPjwvc3ZnPgo=",
    linkedin:
      "PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj48dGl0bGU+TGlua2VkSW4gaWNvbiAtIGJsdWU8L3RpdGxlPjxwYXRoIGZpbGw9IiMwMjg4RDEiIGZpbGwtcnVsZT0iZXZlbm9kZCIgZD0iTTE4IDBIMkMuOSAwIDAgLjkgMCAydjE2YzAgMS4xLjkgMiAyIDJoMTZjMS4xIDAgMi0uOSAyLTJWMmMwLTEuMS0uOS0yLTItMnpNNiAxN0gzVjhoM3Y5ek00LjUgNi4zYy0xIDAtMS44LS44LTEuOC0xLjhzLjgtMS44IDEuOC0xLjggMS44LjggMS44IDEuOC0uOCAxLjgtMS44IDEuOHpNMTcgMTdoLTN2LTUuM2MwLS44LS43LTEuNS0xLjUtMS41cy0xLjUuNy0xLjUgMS41VjE3SDhWOGgzdjEuMmMuNS0uOCAxLjYtMS40IDIuNS0xLjQgMS45IDAgMy41IDEuNiAzLjUgMy41VjE3eiIvPjwvc3ZnPgo=",
    twitter:
      "PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj48dGl0bGU+CiAgICBUd2l0dGVyIGljb24gLSBibHVlPC90aXRsZT48cGF0aCBmaWxsPSIjMDI4OEQxIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xOCAwSDJDLjkgMCAwIC45IDAgMnYxNmMwIDEuMS45IDIgMiAyaDE2YzEuMSAwIDItLjkgMi0yVjJjMC0xLjEtLjktMi0yLTJ6bS0yLjMgNy4zYy0uMSA0LjYtMyA3LjgtNy40IDgtMS44LjEtMy4xLS41LTQuMy0xLjIgMS4zLjIgMy0uMyAzLjktMS4xLTEuMy0uMS0yLjEtLjgtMi41LTEuOS40LjEuOCAwIDEuMSAwLTEuMi0uNC0yLTEuMS0yLjEtMi43LjMuMi43LjMgMS4xLjMtLjktLjUtMS41LTIuNC0uOC0zLjZDNiA2LjUgNy42IDcuNyAxMC4yIDcuOWMtLjctMi44IDMuMS00LjMgNC42LTIuNC43LS4xIDEuMi0uNCAxLjctLjYtLjIuNy0uNiAxLjEtMS4xIDEuNS41LS4xIDEtLjIgMS40LS40LS4xLjUtLjYuOS0xLjEgMS4zeiIvPjwvc3ZnPgo=",
    medium:
      "PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj48dGl0bGU+TWVkaXVtIGljb24gLSBibHVlPC90aXRsZT48cGF0aCBmaWxsPSIjMDI4OEQxIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xOCAwSDJDLjkgMCAwIC45IDAgMnYxNmMwIDEuMS45IDIgMiAyaDE2YzEuMSAwIDItLjkgMi0yVjJjMC0xLjEtLjktMi0yLTJ6bS0xLjM5IDYuNWgtLjQ5OGMtLjE4NiAwLS40LjI0My0uNC40MTR2Ni4yMTRjMCAuMTcyLjIxNC40My40LjQzaC41VjE1aC00LjQ3NnYtMS40NDNoLjg5OFY3LjAzaC0uMDQzTDEwLjc4NCAxNWgtMS43MWwtMi4xOC03Ljk3SDYuODV2Ni41MjdoLjk0VjE1SDR2LTEuNDQzaC40ODRjLjIgMCAuNDE0LS4yNTcuNDE0LS40M1Y2LjkxNWMwLS4xNy0uMjE0LS40MTQtLjQxNC0uNDE0SDRWNWg0LjczbDEuNTU0IDUuOGguMDQzTDExLjg5NCA1aDQuNzE3djEuNXoiLz48L3N2Zz4K",
    flickr:
      "PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj48dGl0bGU+RmxpY2tyIGljb24gLSBibHVlPC90aXRsZT48cGF0aCBmaWxsPSIjMDI4OEQxIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xOCAwSDJDLjkgMCAwIC45IDAgMnYxNmMwIDEuMS45IDIgMiAyaDE2YzEuMSAwIDItLjkgMi0yVjJjMC0xLjEtLjktMi0yLTJ6TTYgMTNjMS42NTcgMCAzLTEuMzQzIDMtM1M3LjY1NyA3IDYgN3MtMyAxLjM0My0zIDMgMS4zNDMgMyAzIDN6bTggMGMxLjY1NyAwIDMtMS4zNDMgMy0zcy0xLjM0My0zLTMtMy0zIDEuMzQzLTMgMyAxLjM0MyAzIDMgM3oiLz48L3N2Zz4K"
);
/* stylelint-enable */

@each $site, $encodedImage in $sitelist {
  .social-links__list_link--#{$site} {
    background-image: url("../img/icons/post-#{$site}.png");
    background-image: url("../img/icons/post-#{$site}.svg"), linear-gradient(transparent, transparent);
    background-repeat: no-repeat;

    &:hover {
      background-image: url("../img/icons/post-#{$site}-hover.png");
      background-image: url("data:image/svg+xml;base64,#{$encodedImage}"), linear-gradient(transparent, transparent);
    }
  }
}

@media only screen and (min-width: #{get-rem-from-px(540)}rem) {
  .social-links {
    text-align: left;
  }

  .social-links__list_item {
    padding: 0;
    @include blg-spacing("right", "small", "padding");

  }
}
