@import "../../definitions";

.source-data__text {
  @include fig-caption-heading-typeg();
  @include margin(12, "bottom")
}

  a.source-data__link {
  display: block;
  @include label-content-typeg($color-text-secondary);
  text-decoration: none;
  text-transform: none;

  &:hover {
    color: $color-primary;
  }
}
