@import "../../definitions";

.teaser {
  @include teaser-root-style();

  .article-secondary-column & {
    padding-top: 0;
  }

}

.teaser--related {
  border-top-width: 0;
}

.teaser__context_label_list {
  @include teaser-context-label-list-style();
}

.teaser__context_label_list_item {

  @include teaser-context-label-list-item-style();
  @include font-size(11);
  line-height: 2.1818181818;
  & .teaser__context_label:after {
    content: ", ";
  }
}

.teaser__context_label_list_item:last-child {

  & .teaser__context_label:after {
    content: "";
  }

}

.teaser__context_label {
  @include teaser-context-label-style();
}

// Extra specificity to override normalised style
.teaser .teaser__context_label_link {
  @include font-size(11);
  line-height: 2.1818181818;  // 24px at 11px font size
  text-decoration: none;

  .teaser__context_label {
    color: $color-primary;
  }

}

.article-secondary-column .teaser .teaser__context_label {
  color: $color-text-secondary;
}

.teaser__context_label_link:after {
  content: ", ";
}

.teaser__context_label_link:last-child:after {
  content: "";
}

.teaser__context_label_link:hover {
  color: $color-primary-dark;
}

.teaser__link {
  color: $color-text;
  display: block;
  text-decoration: none;
}

.teaser__header_text {
  @include teaser-header-text-style();
}

.teaser--no-secondary-info .teaser__header_text {
  @include padding($blg-space-extra-small-in-px, "bottom");
}

.teaser__header_text_link {
  @include teaser-header-text-link-style();
}

.teaser__secondary_info {
  @include listing-main-author-typeg();
  @include margin(12, "bottom");
}

.teaser__body {
  @include teaser-body-style();
}

.teaser__footer {
  @include teaser-footer-style();
}

.teaser__formats {
  color: $color-text-placeholder;
  text-transform: uppercase;
}

.teaser__formats-list {
  @include nospace();
  & > li {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    display: inline;
    list-style-type: none;
    &:not(:last-of-type):after {
      content: " + ";
    }
  }
}

.teaser__category_link {
  color: $color-text-secondary;
  text-decoration: none;
  text-transform: uppercase;
}

.teaser__category_link:hover {
  color: $color-primary-dark;
}

.teaser--secondary {

  .teaser__header_text {
    @include listing-side-art-title-typeg();
  }

}

.teaser__picture {
  display: block;
  height: auto;
  @include nospace();
  @include margin(12, "top");
  max-width: 100%;
  width: 100%;
}

.teaser__picture--small {
  @include margin(24, "left");
  float: right;
  height: 72px;
  width: 72px;
}

@media only all and (min-width: 700px) {

  .teaser__picture--big {
    float: right;
    height: 144px;
    @include margin(12, "bottom");
    width: auto;
    @include margin(24, "left");
  }

  .teaser--secondary {

    .teaser__picture--big {
      height: auto;
      float: none;
      margin-left: 0;
      max-width: 100%;
      margin-bottom: 0;
      width: 100%;
    }

  }

}

.teaser--grid-style {

  border-top: none;
  @include margin($blg-space-small-in-px, "bottom");
  @include height(450);

  @supports (display: flex) {
    height: auto;
  }

  padding-top: 0;

  .teaser__picture--prominent {
    @include nospace();
  }

  .teaser__header_text {
    @include padding($blg-space-extra-small-in-px, "bottom");
  }

  .teaser__footer {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  .teaser__download {
    background: url("../img/icons/download.png") 50% 50% no-repeat;
    background: url("../img/icons/download.svg") 50% 50% no-repeat, linear-gradient(transparent, transparent);
    display: inline-block;
    float: right;
    @include height(20);
    @include width(20);

    &:hover {
      background: url("../img/icons/download-hover.png") 50% 50% no-repeat;
      background: url("../img/icons/download-hover.svg") 50% 50% no-repeat, linear-gradient(transparent, transparent);
    }
  }
}

