@import "../../definitions";

.teaser {
  border-top: 1px solid $color-text-dividers;
  @include padding($teaser-spacing-top 0 $teaser-spacing-bottom);
}

.teaser:after {
  content: "";
  clear: both;
  display: block;
  float: none;
}

.teaser__subject_link {
  @include label-subject-typeg();
  color: $color-primary;
  text-decoration: none;
}

.teaser__subject_link:after {
  content: ", ";
}

.teaser__subject_link:last-child:after {
  content: "";
}

.teaser__subject_link:hover {
  color: $color-primary-dark;
}

.teaser__link {
  color: $color-text;
  display: block;
  text-decoration: none;
}

.teaser__meta {
  @include label-content-typeg();
  @include margin(5, "bottom");
  overflow: hidden;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.teaser__header {
  @include margin(5, "bottom");
}

.teaser__header_img {
  display: block;
  @include margin(10, "bottom");
  width: 100%;
}

.teaser__header_text {
  @include listing-main-art-title-typeg();
  margin: 0;
  @include padding(0 0 5 0);
}

.teaser__header_text_link {
  color: $color-text;
  text-decoration: none;
}

.teaser__header_text_link:hover {
  color: $color-primary-dark;
}

.teaser__subheading {
  @include listing-main-author-typeg();
  @include padding(5, "bottom");
}

.teaser__img {
  display: block;
  float: right;
  @include margin(5 0 $teaser-spacing-bottom $teaser-spacing-left);
}

.teaser__img:after {
  clear: both;
  content: "";
  float: none;
}

.teaser__body {
  @include listing-impact-statement-typeg();
  @include margin(16, "bottom");
  padding-bottom: 0;
}

.teaser__footer {
  color: $color-text-secondary;
  display: flex;
  @include label-content-typeg();
  justify-content: space-between;
  text-transform: none;
}

.teaser__footer_text {
  display: inline-block;
}

.teaser__category_link {
  color: $color-text-secondary;
  text-decoration: none;
  text-transform: uppercase;
}

.teaser__category_link:hover {
  color: $color-primary-dark;
}

.teaser--big-image {

  .teaser__img {
    max-width: 100%;
    height: auto;
  }

  @media only all and (min-width: 428px) {

    .teaser__img {
      max-width: 250px;
      float: right;
    }

  }

}

.teaser--secondary {

  &.teaser--big-image {

    .teaser__img {
      max-width: 100%;
      width: 100%;
    }

  }

  .teaser__header_text {
    @include listing-side-art-title-typeg();
    @include padding(0 0 3 0);
  }

  .teaser__subheading {
    @include listing-side-author-typeg();
    @include margin(10, "bottom");
  }

  .teaser__img {
    margin-top: 0;
  }

}

.teaser--small-image {

  .teaser__img {
    max-width: 70px;
    height: 70px;
  }

}

.teaser--medium {

  .teaser__img {
    max-width: 70px;
    height: 70px;
  }

}

.teaser--article {

  .teaser__header_text {
    @include listing-side-art-title-typeg();
  }

  .teaser__subheading {
    @include listing-side-author-typeg();
    @include margin(10, "bottom");
  }

}
