@import "../../definitions";

.testimonial-with-link {
  @include padding($site-spacing-medium, "inline");
  @include padding($default-vertical-height-in-px, "block");
  background-color: $color-homepage-tinted-background;

  @media only screen and (min-width: #{get-rem-from-px($bkpt-site--small)}em) {
    @include padding(60, "inline");
    @include padding(36, "block");
  }
}

.testimonial-with-link__quotation {
  @include margin(0, "inline");
  @include margin(0, "top");
  @include margin(13, "bottom");
  color: $color-primary-dark--home-page;
  font-family: $font-secondary;
  font-size: #{get-rem-from-px(16)}rem;
  line-height: 1.5;
  font-weight: 600;

  @media only screen and (min-width: #{get-rem-from-px($bkpt-site--small)}em) {
    @include margin(10, "top");

    &::before {
      color: #2994d2;
      content: open-quote;
      display: inline-block;
      vertical-align: bottom;
      font-size: #{get-rem-from-px(52)}rem;
      line-height: calc(34 / 52);
      text-indent: -26px;
    }
  }
}

.testimonial-with-link__attribution {
  @include margin(19, "bottom");
  font-family: $font-secondary;
  font-size: #{get-rem-from-px(14)}rem;
  line-height: calc(20 / 14);
}

.testimonial-with-link__link {
  color: $color-primary-dark--home-page;
  font-family: $font-secondary;
  font-size: #{get-rem-from-px(14)}rem;
  line-height: calc(24 / 14);
  font-weight: 700;

  @media only screen and (min-width: #{get-rem-from-px($bkpt-site--small)}em) {
    @include margin(5, "bottom");
  }

  &::after {
    content: "\00a0\279C";
  }
}
