@import "../../definitions";

.testimonial-with-link {
  @include padding($site-spacing-medium, "inline");
  background-color: $color-homepage-tinted-background;
}

.testimonial-with-link__quotation {
  @include margin(0, "inline");
  color: $color-primary-dark--home-page;
  font-family: $font-secondary;
  font-size: #{get-rem-from-px(16)}rem;
  line-height: 1.5;
  font-weight: 600;
}

.testimonial-with-link__attribution {
  font-family: $font-secondary;
  font-size: #{get-rem-from-px(14)}rem;
  line-height: calc(20 / 14);
}

.testimonial-with-link__link {
  color: $color-primary-dark--home-page;
  font-family: $font-secondary;
  font-size: #{get-rem-from-px(14)}rem;
  line-height: calc(24 / 14);
  font-weight: 700;

  &::after {
    content: "\00a\279C";
  }
}
