.js {
  .trigger {
    display: inline-block;
    height: 24px;
    line-height: 24px;
    position: absolute;
    text-align: center;
    top: calc(50% - 13px); // height of .list-heading divided by 2
    width: 24px;
  }

  .trigger--prev {
    left: -24px;
  }

  .trigger--next {
    right: -24px;
  }
}
