
.view-selector__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.view-selector__list-item {
  font-family: $font-secondary;
  line-height: 1.1;
  margin: 0;
  @include margin(0 0 13 0);
}

.view-selector__link {
  color: $color-text;
  display: block;
  @include font-size(14);
  font-weight: 700;
  text-decoration: none;

  .icon {
    display: inline-block;
    @include height(14);
    @include margin(5, "right");
    @include width(15);
    vertical-align: middle;
  }

  span {
    display: inline-block;
    vertical-align: middle;
    @include padding(1, "top");
  }

  &:hover {
    color: $color-primary;
  }
}

.view-selector__link--article {
  .icon {
    background: url("../img/icons/article.png") 1px 50% no-repeat;
    background: url("../img/icons/article.svg") 1px 50% no-repeat, linear-gradient(transparent, transparent);
  }

  &:hover .icon {
    background: url("../img/icons/article-hover.png") 1px 50% no-repeat;
    background: url("../img/icons/article-hover.svg") 1px 50% no-repeat, linear-gradient(transparent, transparent);
  }
}

.view-selector__link--figures {
  .icon {
    background: url("../img/icons/figures.png") 1px 50% no-repeat;
    background: url("../img/icons/figures.svg") 1px 50% no-repeat, linear-gradient(transparent, transparent);
  }

  &:hover .icon {
    background: url("../img/icons/figures-hover.png") 1px 50% no-repeat;
    background: url("../img/icons/figures-hover.svg") 1px 50% no-repeat, linear-gradient(transparent, transparent);
  }
}

.view-selector__link--sidebyside {
  .icon {
    background: url("../img/icons/sidebyside.png") 0 50% no-repeat;
    background: url("../img/icons/sidebyside.svg") 0 50% no-repeat, linear-gradient(transparent, transparent);
  }

  &:hover .icon {
    background: url("../img/icons/sidebyside-hover.png") 0 50% no-repeat;
    background: url("../img/icons/sidebyside-hover.svg") 0 50% no-repeat, linear-gradient(transparent, transparent);
  }
}

.view-selector__jump_links_header {
  /* Making a comeback when JS is implemented */
  // background: url("../img/icons/arrow-down.png") 2px 50% no-repeat;
  // background: url("../img/icons/arrow-down.svg") 2px 50% no-repeat, linear-gradient(transparent, transparent);
  display: block;
  @include font-size(14);
  font-weight: 700;
  @include margin(13, "bottom");
  @include padding(20, "left");
}

.view-selector__jump_links {
  list-style: none;
  margin: 0;
  @include padding(34, "left");
}

.view-selector__jump_link_item {
  font-family: $font-secondary;
  line-height: 1.1;
  margin: 0;
  @include padding(0 0 13 0);
}

.view-selector__jump_link {
  color: $color-text;
  @include font-size(14);
  font-weight: 500;
  text-decoration: none;

  &:hover {
    color: $color-primary;
  }
}

@media only screen and (max-width: #{get-rem-from-px(719)}rem) {
  .view-selector__list {
    display: flex;
    margin: auto;
    max-width: #{get-rem-from-px(250)}rem;
  }

  .view-selector__list-item {
    margin: 0;
  }

  /** Selector nesting here because otherwise this all gets horrible quickly **/
  .view-selector__list-item--article {
    border-bottom: 1px solid $color-text-dividers;
    border-left: 1px solid $color-text-dividers;
    border-top: 1px solid $color-text-dividers;
    border-radius: 4px 0 0 4px;
    flex: 1 50%;
    text-align: center;

    &.view-selector__list-item--active {
      .view-selector__link .icon {
        background: url("../img/icons/article-reverse.png") 0 50% no-repeat;
        background: url("../img/icons/article-reverse.svg") 0 50% no-repeat, linear-gradient(transparent, transparent);
      }
    }
  }

  .view-selector__list-item--figures {
    border-bottom: 1px solid $color-text-dividers;
    border-right: 1px solid $color-text-dividers;
    border-top: 1px solid $color-text-dividers;
    border-radius: 0 4px 4px 0;
    flex: 1 50%;
    text-align: center;

    &.view-selector__list-item--active {
      .view-selector__link .icon {
        background: url("../img/icons/figures-reverse.png") 0 50% no-repeat;
        background: url("../img/icons/figures-reverse.svg") 0 50% no-repeat, linear-gradient(transparent, transparent);
      }
    }
  }

  .view-selector__list-item--active {
    background-color: $color-primary;
    border: 1px solid $color-primary;

    .view-selector__link {
      color: $color-text--reverse;
    }
  }

  .view-selector__list-item--sidebyside {
    display: none;
  }

  .view-selector__list-item--jump {
    display: none;
  }

  .view-selector__link {
    @include font-size(11);
    @include padding(8 4);
    text-align: center;
    text-transform: uppercase;

    span {
      padding: 0;
    }
  }
}
