@import "../../definitions";

@mixin local-item-style {
  font-family: $font-secondary;
  @include font-size(14);
  line-height: 1.7142857143; /* 24px with font size of 14px */
  @include margin(0 0 12 0);
}

.view-selector__list {
  background-color: #fff;
  list-style: none;
  margin: 0;
  padding: 0;
}

.view-selector__list-item {
  @include local-item-style();
}

.view-selector__link {
  display: block;
  text-decoration: none;

  span {
    display: inline-block;
  }

  &:hover {
    color: $color-text;
  }
}

.view-selector__list-item--active {
  color: $color-text;

  .view-selector__link {
    color: $color-text;
  }

}

.view-selector__link {
  color: $color-text-secondary;
  font-weight: 700;
}

.view-selector__jump_link {
  color: $color-text-secondary;
}

.view-selector__jump_links_header {
  color: $color-text-secondary;
  display: block;
  @include font-size(14);
  font-weight: 700;
  @include margin(12, "bottom");
}

.js .view-selector__jump_links_header {

  $arrow-size: 5;

  &:before {
    @include arrow("down", $arrow-size);
    @include margin($arrow-size, "right");
    @include margin($arrow-size * -4, "left");
    @include margin($arrow-size * 1.5, "top");
    display: block;
    float: left;
  }

  &--closed:before {
    @include arrow("right", $arrow-size);
    @include margin($arrow-size, "top");
    @include margin($arrow-size * -3, "left");
    @include margin($arrow-size, "top");
  }

}

.view-selector__jump_links {
  list-style: none;
  margin: 0;
  @include padding(0);
}

.view-selector__jump_link_item {
  @include local-item-style();
}

.view-selector__jump_link {
  font-weight: 700;
  text-decoration: none;

  &:hover {
    color: $color-text;
  }
}

@media only screen and (max-width: #{get-rem-from-px($bkpt-view-selector - 1)}em) {

  .view-selector {
    display: flex;
  }

  .view-selector__list {
    margin: auto;
  }

  .view-selector__list-item {
    border: 1px solid $color-text;
    float: left;
    margin: 0;
    @include padding(0 18);
    text-align: center;
  }

  /** Selector nesting here because otherwise this all gets horrible quickly **/
  .view-selector__list-item--article {
    border-right: none;
    @include border-radius-simple(4, 0, 0, 4);
  }

  .view-selector__list-item--figures {
    border-left: none;
    @include border-radius-simple(0, 4, 4, 0);
  }

  .view-selector__list-item--active {
    background-color: $color-text;
    font-weight: 700;

    .view-selector__link {
      color: $color-text-ui-background;
      font-weight: 700;

      &:hover {
        cursor: default;
      }

    }
  }

  .view-selector__list-item--sidebyside {
    display: none;
  }

  .view-selector__list-item--jump {
    display: none;
  }

  .view-selector__link {
    line-height: 2.5714285714; /* 36px at 14px font size */
    @include height(34);
    @include nospace();
    text-align: center;
    text-transform: uppercase;

    span {
      padding: 0;
    }
  }
}

@media only screen and (min-width: #{get-rem-from-px($bkpt-view-selector)}em) {

  // Applied with js to stop the selector scrolling off the top of the screen.
  .view-selector {
    // Supply what was being provided by the grid now this element has been taken out the flow.
    margin-left: -1.6vw;
    @include constrain-width(210, "max");
    padding-left: 1.6vw;
    width: 16.666vw;
  }

  .view-selector--fixed {
    max-height: 100vh;
    overflow: scroll;
    @include padding(30, "top");
    position: fixed;
    top: 0;
  }

  .js .view-selector__jump_links_header:hover {
    cursor: pointer;
  }

}
