<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Pattern sample</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <style>
      ._elife-pl-highlight {
        background-color: #eeeeee;
        border:1px solid #999;
        padding: 1rem;
      }
    </style>
    <link rel="stylesheet" href="../../assets/css/all.css?{{ cacheBuster }}" media="all" />

    <!-- Uncomment line below to display the baseline grid. -->
    <!--<link rel="stylesheet" href="https://basehold.it/24">-->

    <!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
    {% pattern-lab-head %}
    <!-- End Pattern Lab -->

    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" integrity="sha256-3Jy/GbSLrg0o9y5Z5n1uw0qxZECH7C6OQpVBgNFYa0g=" crossorigin="anonymous"></script>
    <script>
      // the long-lost picture shim
      document.createElement('picture');
    </script>
    <![endif]-->

    <!-- webfonts -->
    <script>
      WebFontConfig = {
        custom: {
          families: ['Avenir Next Webfont'],
          urls: ['../../assets/fonts/fonts.css']
        }
      };

      (function(d) {
        var wf = d.createElement('script'), s = d.scripts[0];
        wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js';
        s.parentNode.insertBefore(wf, s);
      })(document);
    </script>

  </head>
  <body class="{{ bodyClass }}">

  <div data-behaviour="FragmentHandler Math{{#loadHypothesis}} HypothesisLoader{{/loadHypothesis}}">
