<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />

    <link rel="stylesheet" href="../../assets/css/all.css?{{ cacheBuster }}" media="all" />

    <!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
    {% pattern-lab-head %}
    <!-- End Pattern Lab -->

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <script>
      // the long-lost picture shim
      document.createElement('picture');
    </script>
    <![endif]-->

    <!-- webfonts -->
    <script>
      WebFontConfig = {
        custom: {
          families: ['Avenir Next Webfont', 'PT Serif Webfont'],
          urls: ['../../assets/fonts/fonts.css']
        }
      };

      (function(d) {
        var wf = d.createElement('script'), s = d.scripts[0];
        wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js';
        s.parentNode.insertBefore(wf, s);
      })(document);
    </script>

  </head>
  <body class="{{ bodyClass }}">
