<div class="global-wrapper">

  <div class="global-inner">

    <div class="wrapper wrapper--site-header">
      {{#siteHeader}}
        {{> organisms-site-header }}
      {{/siteHeader}}
    </div>

    <main role="main" class="main" id="maincontent">

      {{#contentHeader}}
        {{> organisms-content-header}}
      {{/contentHeader}}

      <div class="wrapper">

        <div class="grid">

          <div class="listing-column-container">

            <div class="grid__item large--one-whole listing-column-main">

              {{#archiveNavListing}}
                {{> organisms-grid-listing}}
              {{/archiveNavListing}}

            </div>

          </div>

        </div>

      </div>

    </main>

    {{#emailCta}}
    {{> organisms-email-cta }}
    {{/emailCta}}

    {{> organisms-footer }}

  </div>

</div>
