
  {{> organisms-header }}

  <main role="main">

    <article class="article">

      {{> organisms-content-header-article-research }}

      <div class="gs-wrapper">
      {{> molecules-contextual-data }}
      </div>

      <div class="gs-wrapper">

        <div class="gs-container">

          <div class="gs-col">
            {{> molecules-view-selector }}
          </div>

          <div class="gs-col">
            <div>[abstract here]</div>

            {{#articlesections}}
              {{> molecules-article-section }}
            {{/articlesections}}

            <!-- May need to make the article section pattern more content flexible (include other patterns/not have header). New variants? -->
            <section class="article-section">

              <div class="article-section__body">
                {{> molecules-article-meta }}
              </div>

            </section>
          </div>

        </div>  <!-- /.gs-container -->

      </div>  <!-- /.gs-wrapper -->
    </article>

  </main>

  {{> organisms-email-cta }}

  {{> organisms-footer }}
