
  {{> organisms-header }}

  <main role="main">

    <article class="article">

      <!-- replace with pattern -->
      <div style="text-align: center; height: 220px; position: relative">
        <span style="position: absolute; top: 50%; width: 100%; left: 0;">[article header here]</span>
      </div>
      <!-- /replace -->

      <div class="gs-wrapper">

        <div class="gs-container">

          <div class="gs-col">
            {{> molecules-view-selector }}
          </div>

          <div class="gs-col">
            <div>[abstract here]</div>

            {{#articlesections}}
              {{> molecules-article-section }}
            {{/articlesections}}

            <!-- May need to make the article section pattern more content flexible (include other patterns/not have header). New variants? -->
            <section class="article-section">

              <div class="article-section__body">
                {{> molecules-article-meta }}
              </div>

            </section>
          </div>

        </div>  <!-- /.gs-container -->

      </div>  <!-- /.gs-wrapper -->
    </article>

  </main>

  {{> organisms-footer }}
