<div class="global-wrapper"  data-item-type="default">
  <div class="global-inner">
    <div class="wrapper wrapper--site-header">
      {{#siteHeader}}
        {{> organisms-site-header }}
      {{/siteHeader}}
    </div>
    <main role="main" class="main blg-margin-bottom-large" id="maincontent">

      {{#contentHeader}}
        {{> organisms-content-header}}
      {{/contentHeader}}

      {{#contextualData}}
        <div class="wrapper">
        {{> molecules-contextual-data }}
        </div>
      {{/contextualData}}

      <div class="wrapper wrapper--content">

        <div class="grid">

          {{#viewSelector}}
            <div class="content-container
                        grid__item
                        one-whole
                        x-large--two-twelfths">

                {{> molecules-view-selector }}
            </div>
          {{/viewSelector}}


          <div class="{{>pages-pl-only-grid-content-page-main-col-css-classes}}">

            <div data-behaviour="DelegateBehaviour" data-delegate-behaviour="Popup" data-selector="a">
              {{#articleSections}}
                {{> molecules-article-section }}
              {{/articleSections}}
            </div>
            {{# annotationCount}}
              {{> atoms-speech-bubble}}
            {{/annotationCount}}

            {{#iframe}}
              {{!> atoms-iframe }}
            {{/iframe}}

            {{! Decided this will be content, serverside }}
            {{#pl-only-article-section-for-download-links}}
              {{> molecules-pl-only-article-section}}
            {{/pl-only-article-section-for-download-links}}

            <section class="article-section" data-behaviour="ArticleSection" id="references">
              <header class="article-section__header">
                <h2 class="article-section__header_text">References</h2>
              </header>
              <div class="article-section__body">
                {{> molecules-reference-list }}
              </div>
            </section>

            {{! May need to make the article section pattern more content flexible (include other patterns/not have header). New variants? }}
            {{#articleMeta}}
              <section class="article-section">

                <div class="article-section__body">
                  {{> molecules-article-meta }}
                </div>

              </section>
            {{/articleMeta}}

          </div>

          <div class="{{> pages-pl-only-grid-content-page-secondary-col-css-classes}}">

            {{#related}}

              <div class="grid-secondary-column__item grid-secondary-column__item--wide-only">
                <div>
                  <ol class="listing-list">
                    <li class="listing-list__item">
                      {{> molecules-teaser }}
                    </li>
                  </ol>
                </div>
              </div>

            {{/related}}

          </div>

        </div>

      </div>

    </main>

    {{#furtherReading}}
      {{> organisms-listing-read-more }}
    {{/furtherReading}}

    {{#emailCta}}
    {{> organisms-email-cta }}
    {{/emailCta}}

    {{> organisms-footer }}
  </div> {{! /.global-inner }}
</div> {{! /.global-wrapper }}
