<div class="global-wrapper">
  <div class="global-inner">
    <div class="wrapper wrapper--site-header">
      {{#siteHeader}}
        {{> organisms-site-header }}
      {{/siteHeader}}
    </div>

    <main role="main" class="main show-grid">

      <article class="article">

        {{#contentHeader}}
          {{> organisms-content-header}}
        {{/contentHeader}}

        {{#hasJumpLinks}}
          <div style="color: blue;">Has jump links</div>
        {{/hasJumpLinks}}
        {{^hasJumpLinks}}
          <div style="color: red;">No jump links</div>
        {{/hasJumpLinks}}

        {{#hasRelated}}
          <div style="color: blue;">Has related content</div>
        {{/hasRelated}}
        {{^hasRelated}}
          <div style="color: red;">No related content</div>
        {{/hasRelated}}

        <!--

        Principles:
          - When large:
              - jumplinks are 12/12 if present, so on their own row & therefore can be ignored for this calculation
              - if related item: main 8/12; related 4/12
              - if no related item: main 10/12, push 1/12;
          - When x-large:
              - if related item:
                - main 7/12
                - related 3/12
                - if jumplinks:
                  - jumplinks 2/12
                - if no jumplinks:
                  - main push 2/12
              - if no related item:
                - main 8/12
                - if jumplinks:
                  - jumplinks 2/12
                  - main push 0
                - if no jumplinks:
                  - main push 2/12

        -->

        <div class="wrapper u-pad-top-lg clearfix">

          <div class="grid">

            {{#hasJumpLinks}}
              <div class="grid__item
                        one-whole
                        x-large--two-twelfths">
                [jump menu]
              </div>
            {{/hasJumpLinks}}

            <div class="grid__item

                        one-whole

                      {{! $bkpt-site-wide }}
                      {{#hasRelated}}
                        large--eight-twelfths
                      {{/hasRelated}}
                      {{^hasRelated}}
                        large--ten-twelfths
                        push--large--one-twelfth
                      {{/hasRelated}}


                      {{! $bkpt-site-x-wide }}

                      {{#hasRelated}}
                        x-large--seven-twelfths
                        {{^hasJumpLinks}}
                          push--x-large--two-twelfths
                        {{/hasJumpLinks}}
                      {{/hasRelated}}

                      {{^hasRelated}}
                        x-large--eight-twelfths
                        {{#hasJumpLinks}}
                          push--x-large--zero
                        {{/hasJumpLinks}}
                        {{^hasJumpLinks}}
                          push--x-large--two-twelfths
                        {{/hasJumpLinks}}

                      {{/hasRelated}}
">
              <p>By Elizabeth Robinson</p>

              <p>After a decade of growth, the open-access movement in scientific publishing still hasn’t overthrown the traditional model of paid content and subscription-based access, but new initiatives continue to try.</p>

              <p>The latest entrant, which launched December 13, 2012, is a collaboration of the Howard Hughes Medical Institute (HHMI), Wellcome Trust, and the Max Planck Society called <a href="http://elifesciences.org/">eLife</a>. On Thursday, <i>U.S. News and World Report</i> managing editor Simon Owens <a href="http://www.usnews.com/news/articles/2013/02/21/can-some-of-the-largest-backers-of-scientific-research-alter-the-peer-review-process">looked into</a> the prospects of the fledgling open-access journal, whose founders “collectively contribute more than $4.2 billion a year to scientific research.” Unsurprisingly, they’re aiming high, Owens reported:</p>

              <p>To date, eLife has already published more than 60 articles in the short time since its launch, and it still remains to be seen whether it can achieve the quick ascendancy to become one of the most-sought after publications for high impact research. Its founders believe that the prestige of its backers, along with the leading scientists who run it, will catapult it to the status of the <i>Cells</i> and<i>Natures</i> of the world, but the question remains as to whether scientists will abandon these closed-access stalwarts.</p>

              <p><a href="http://www.cjr.org/the_observatory/elife_open_access_scientific_p.php">Read more</a></p>


            </div>

            {{#hasRelated}}
              <aside class="grid__item
                            one-whole
                            large--four-twelfths
                            x-large--three-twelfths
                          {{^hasJumpLinks}}
                            push--x-large--two-twelfths
                          {{/hasJumpLinks}}
">

                [related content]

              </aside>
            {{/hasRelated}}

          </div>

        </div>

      </article>

    </main>

    {{#emailCta}}
    {{> organisms-email-cta }}
    {{/emailCta}}

    {{> organisms-footer }}
  </div> {{! /.global-inner }}
</div> {{! /.global-wrapper }}
