<div class="global-wrapper">
  <div class="global-inner">
    <div class="wrapper wrapper--site-header">
      {{#siteHeader}}
        {{> organisms-site-header }}
      {{/siteHeader}}
    </div>
    <main role="main" class="main blg-margin-bottom-large">

      <article class="article">

        {{#contentHeader}}
          {{> organisms-content-header}}
        {{/contentHeader}}

        {{#contextualData}}
          <div class="wrapper">
          {{> molecules-contextual-data }}
          </div>
        {{/contextualData}}

        <div class="wrapper">

          <div class="grid">

            {{#viewSelector}}
              <div class="grid__item
                          one-whole
                          x-large--two-twelfths
                          blg-pad-top-medium">
                  {{> molecules-view-selector }}
              </div>
            {{/viewSelector}}


            <div class="{{>pages-pl-only-grid-content-page-main-col-css-classes}} blg-pad-top-medium">

              {{#articleSections}}
                {{> molecules-article-section }}
              {{/articleSections}}

              {{#iframe}}
                {{!> atoms-iframe }}
              {{/iframe}}

              {{! Decided this will be content, serverside }}
              {{#pl-only-article-section-for-download-links}}
                {{> molecules-pl-only-article-section-for-download-links}}
              {{/pl-only-article-section-for-download-links}}

              {{! May need to make the article section pattern more content flexible (include other patterns/not have header). New variants? }}
              {{#articleMeta}}
                <section class="article-section">

                  <div class="article-section__body">
                    {{> molecules-article-meta }}
                  </div>

                </section>
              {{/articleMeta}}
            </div>

            {{#hasRelated}}
              <div class="{{> pages-pl-only-grid-content-page-secondary-col-css-classes}}
                  blg-pad-top-medium
              ">
                [Related]
              </div>

            {{/hasRelated}}

          </div>

        </div>

      </article>

    </main>

    <div class="wrapper">

      <div class="grid">

        <div class="grid__item large--eight-twelfths push--large--two-twelfths blg-pad-bottom-large blg-pad-top-medium">
          {{#furtherReading}}
            {{> organisms-listing-read-more }}
          {{/furtherReading}}
        </div>
      </div>
    </div>

    {{#emailCta}}
    {{> organisms-email-cta }}
    {{/emailCta}}

    {{> organisms-footer }}
  </div> {{! /.global-inner }}
</div> {{! /.global-wrapper }}
