<div class="global-wrapper" data-item-type="research-article">
  <div class="global-inner">
    <div class="wrapper wrapper--site-header">
      {{#siteHeader}}
        {{> organisms-site-header }}
      {{/siteHeader}}
    </div>
    <main role="main" class="main blg-margin-bottom-large" id="maincontent">

        {{#dismissibleExtendedInfo}}
          <div class="wrapper">
            <div class="content-container-grid reset-grid-column">
                {{> atoms-info-bar }}
            </div>
          </div>
        {{/dismissibleExtendedInfo}}

        {{#contentHeader}}
        {{> organisms-content-header-journal }}
        {{/contentHeader}}

        {{#modalWindowCitation}}
        {{> atoms-modal-window}}
        {{/modalWindowCitation}}

        {{#modalWindowShare}}
        {{> atoms-modal-window}}
        {{/modalWindowShare}}

        <div class="wrapper wrapper--content">

            <div class="content-container-grid">

                {{#viewSelector}}
                {{> molecules-view-selector }}
                {{/viewSelector}}


                <div class="main-content-grid">

                    {{#figures}}
                    {{>molecules-pl-only-article-section}}
                    {{/figures}}

                    {{#additional-files}}
                    {{>molecules-pl-only-article-section}}
                    {{/additional-files}}

                </div>

            </div>

        </div>

    </main>

    {{#emailCta}}
    {{> organisms-email-cta }}
    {{/emailCta}}

    {{> organisms-footer }}
  </div> {{! /.global-inner }}
</div> {{! /.global-wrapper }}
