<div class="global-wrapper page--magazine" data-item-type="research-article">
  <div class="global-inner">
    {{#siteHeader}}
      {{> organisms-site-header }}
    {{/siteHeader}}
    <main role="main" class="main blg-margin-bottom-large" id="maincontent">

      {{#contentHeader}}
        {{> organisms-content-header-journal }}
      {{/contentHeader}}

      {{#modalWindowCitation}}
        {{> atoms-modal-window}}
      {{/modalWindowCitation}}

      {{#modalWindowShare}}
        {{> atoms-modal-window}}
      {{/modalWindowShare}}

      <div class="wrapper wrapper--content">

        <div class="content-container-grid">

          <div class="main-content-grid">

            {{#authors}}
              {{> molecules-authors}}
            {{/authors}}

            <div data-behaviour="DelegateBehaviour" data-delegate-behaviour="Popup" data-selector="a">
            {{#articleSections}}
              {{> molecules-article-section }}
            {{/articleSections}}
            </div>

            {{#iframe}}
              {{!> atoms-iframe }}
            {{/iframe}}

            {{! Decided this will be content, serverside }}
            {{#pl-only-article-section-for-download-links}}
              {{> molecules-pl-only-article-section}}
            {{/pl-only-article-section-for-download-links}}

            {{! May need to make the article section pattern more content flexible (include other patterns/not have header). New variants? }}
            {{#articleMeta}}
              <section class="article-section">
                  {{> molecules-article-meta }}
              </section>
            {{/articleMeta}}

          </div>

          <div class="secondary-column-grid">

            {{#related}}

              <div class="grid-secondary-column__item grid-secondary-column__item--wide-only">
                {{> organisms-listing-teasers }}
              </div>

            {{/related}}

          </div>
        </div>

      </div>

    </main>

    {{#furtherReading}}
      {{> organisms-listing-read-more }}
    {{/furtherReading}}

    {{#emailCta}}
    {{> organisms-email-cta }}
    {{/emailCta}}

    {{> organisms-footer }}
  </div> {{! /.global-inner }}
</div> {{! /.global-wrapper }}
