<div class="global-wrapper" data-item-type="research-article">
  <div class="global-inner">
    {{#siteHeader}}
      {{> organisms-site-header }}
    {{/siteHeader}}
    <main role="main" class="main blg-margin-bottom-large" id="maincontent">

      {{#infoBars}}
        {{> atoms-info-bar }}
      {{/infoBars}}

      {{#contentAside}}
        <div class="wrapper wrapper--content-with-header-and-aside">
      {{/contentAside}}
        {{#contentHeader}}
          {{> organisms-content-header-journal }}
        {{/contentHeader}}

        {{#contentAside}}
          {{> organisms-content-aside }}
        {{/contentAside}}

         <div class="wrapper wrapper--content">

           <div class="content-container-grid">

            {{#tabbedNavigation}}
              {{> molecules-tabbed-navigation }}
            {{/tabbedNavigation}}

            {{#viewSelector}}
              {{> molecules-view-selector }}
            {{/viewSelector}}

            {{#elifeAssessment}}
              <div class="content-container-block">
               {{> molecules-article-section }}
              </div>
            {{/elifeAssessment}}

            {{#jumpMenu}}
              {{> molecules-jump-menu }}
            {{/jumpMenu}}

            <div class="main-content-grid">

              <div data-behaviour="DelegateBehaviour" data-delegate-behaviour="Popup" data-selector="a">
              {{#articleSections}}
                {{> molecules-article-section }}
              {{/articleSections}}
              </div>

              {{#iframe}}
                {{!> atoms-iframe }}
              {{/iframe}}

              {{! Decided this will be content, serverside }}
              {{#pl-only-article-section-for-download-links}}
                {{> molecules-pl-only-article-section}}
              {{/pl-only-article-section-for-download-links}}

              {{#articleSectionSocialMediaSharers}}
                {{> molecules-article-section }}
              {{/articleSectionSocialMediaSharers}}

              {{! May need to make the article section pattern more content flexible (include other patterns/not have header). New variants? }}
              {{#articleMeta}}
                <section class="article-section">
                  {{> molecules-article-meta }}
                </section>
              {{/articleMeta}}

            </div>

            <div class="secondary-column-grid">

              {{#related}}
                <div class="grid-secondary-column__item grid-secondary-column__item--wide-only article__related-item">
                  {{> organisms-listing-teasers }}
                </div>
              {{/related}}

            </div>

           </div>

         </div>
      {{#contentAside}}
        </div>
      {{/contentAside}}

      {{#modalWindowCitation}}
        {{> atoms-modal-window}}
      {{/modalWindowCitation}}

      {{#modalWindowShare}}
        {{> atoms-modal-window}}
      {{/modalWindowShare}}

    </main>

    {{#furtherReading}}
      {{> organisms-listing-read-more }}
    {{/furtherReading}}

    {{#emailCta}}
    {{> organisms-email-cta }}
    {{/emailCta}}

    {{> organisms-footer }}
  </div> {{! /.global-inner }}
</div> {{! /.global-wrapper }}
