
<div class="_elife-pl-highlight">
<h1>content-header patterns</h1>
<p>This page shows an example of each content header. It's needed in order to display all the content headers, because there is not a 1:1 relationship between content header types and mustache template files. There are fewer templates than content headers: multiple, different content header patterns may be generated using the same mustache file, depending on what parameters are passed to the respective templates. This has been implemented to reduce redundancy and increase maintainability.</p>
  <p>The names below are placeholders. Final names TBC.</p>
</div>

<br><br>
<h2 class="_elife-pl-highlight">content-header research article</h2>
{{#researchArticle}}
  {{> organisms-content-header-article-research("hasInstitutions": "true")}}
{{/researchArticle}}

<br><br>
<h2 class="_elife-pl-highlight">content-header research article read more</h2>
{{#researchArticle}}
  {{> organisms-content-header-article-research("isReadMore": "true")}}
{{/researchArticle}}

<br><br>
<h2 class="_elife-pl-highlight">content-header magazine article</h2>
{{#magazineArticle}}
  {{> organisms-content-header-article-magazine}}
{{/magazineArticle}}

<br><br>
<h2 class="_elife-pl-highlight">content-header magazine article with flat background</h2>
{{#magazineArticleWithBackground}}
  {{> organisms-content-header-article-magazine("background": "true")}}
{{/magazineArticleWithBackground}}

<br><br>
<h2 class="_elife-pl-highlight">content-header magazine article with image background</h2>
{{#magazineArticleWithBackground}}
  {{> organisms-content-header-article-magazine(
    "background": "true", "backgroundImage": "true")}}
{{/magazineArticleWithBackground}}

<br><br>
<h2 class="_elife-pl-highlight">content-header non-article</h2>
{{#nonArticle}}
  {{> organisms-content-header-non-article}}
{{/nonArticle}}

<br><br>
<h2 class="_elife-pl-highlight">content-header non-article flat background</h2>
{{#nonArticle}}
  {{> organisms-content-header-non-article("background": "true")}}
{{/nonArticle}}

<br><br>
<h2 class="_elife-pl-highlight">content-header non-article image background</h2>
{{#nonArticle}}
  {{> organisms-content-header-non-article(
    "background": "true",
    "backgroundImage": "true")}}
{{/nonArticle}}

<br><br>
<h2 class="_elife-pl-highlight">content-header non-article image background with cta</h2>
{{#nonArticleNoMeta}}
  {{> organisms-content-header-non-article(
  "background": "true",
  "backgroundImage": "true",
  "hasCtaOrMeta": "true")}}
{{/nonArticleNoMeta}}

<br><br>
<h2 class="_elife-pl-highlight">content-header subject</h2>
{{#nonArticleTitleCtaOnly}}
  {{> organisms-content-header-non-article(
  "background": "true",
  "hasCtaOrMeta": "true")}}
{{/nonArticleTitleCtaOnly}}

<br><br>
<h2 class="_elife-pl-highlight">content-header archive</h2>
{{#archive}}
  {{> organisms-content-header-non-article(
  "background": "true",
  "backgroundImage": "true",
  "hasCtaOrMeta": "true")}}
{{/archive}}

<br><br>
<h2 class="_elife-pl-highlight">content-header basic</h2>
{{#basic}}
  {{> organisms-content-header-non-article(
  "background": "true",
  )}}
{{/basic}}

<br><br>
<h2 class="_elife-pl-highlight">content-header non-article image background with cta and meta info</h2>
{{#nonArticle}}
  {{> organisms-content-header-non-article(
    "background": "true",
    "backgroundImage": "true",
    "hasCtaOrMeta": "true")}}
{{/nonArticle}}

<br><br>
<h2 class="_elife-pl-highlight">content-header non-article curated content listing</h2>
{{#nonArticle}}
  {{> organisms-content-header-non-article(
  "background": "true",
  "backgroundImage": "true",
  "hasCtaOrMeta": "true",
  "hasCurator": "true")}}
{{/nonArticle}}

<br><br>
<h2 class="_elife-pl-highlight">content-header podcast</h2>
{{#podcast}}
  {{> organisms-content-header-podcast(
  "background": "true",
  "backgroundImage": "true",
  "hasCtaOrMeta": "true",
  "hasCurator": "true")}}
{{/podcast}}

