<div class="global-wrapper page--magazine" data-item-type="digest">
  <div class="global-inner">
    <div class="wrapper wrapper--site-header">
      {{#siteHeader}}
        {{> organisms-site-header }}
      {{/siteHeader}}
    </div>
    <main role="main" class="main" id="maincontent">

      {{#contentHeader}}
        {{> organisms-content-header-journal }}
      {{/contentHeader}}

      <div class="wrapper wrapper--content content--narrow-column{{#captionedAssetx}} content--has-captioned-asset{{/captionedAssetx}}{{#relatedx}} content--has-related{{/relatedx}}">

        <div class="content-container-grid">

          <div class="main-content-grid">

            {{#captionedAssetx}}
              {{> molecules-captioned-asset}}
            {{/captionedAssetx}}

            {{#mainContent}}
              {{{ mainContent }}}
            {{/mainContent}}

          </div>

          {{#relatedx}}
            <div class="secondary-column-grid">
                <div class="grid-secondary-column__item">
                  <div>
                    <ol class="listing-list">
                      <li class="listing-list__item">
                        {{> molecules-teaser }}
                      </li>
                    </ol>
                  </div>
                </div>
            </div>
          {{/relatedx}}

        </div>

      </div>

    </main>

    {{#emailCta}}
    {{> organisms-email-cta }}
    {{/emailCta}}

    {{> organisms-footer }}
  </div> {{! /.global-inner }}
</div> {{! /.global-wrapper }}
