<div class="global-wrapper global-wrapper--home-page">
  <div class="global-inner">

    <div class="wrapper wrapper--site-header">
      {{#siteHeader}}
        {{> organisms-site-header }}
      {{/siteHeader}}
    </div>

    <main role="main" class="main" id="maincontent">
      <div{{#newHomePage}} class="banner-and-subjects-wrapper"{{/newHomePage}}>

          {{#newHomePage}}
              <div class="wrapper">
                  {{> molecules-home-banner}}
              </div>
          {{/newHomePage}}

        {{^newHomePage}}
          {{#hero-banner}}
            <div class="wrapper">
                {{> organisms-hero-banner}}
            </div>
          {{/hero-banner}}
        {{/newHomePage}}
  
        {{#sectionsListingLink}}
        <div class="wrapper">
          {{> atoms-section-listing-link}}
        </div>
        {{/sectionsListingLink}}
        
      </div>

       {{#highlight}}
       <div class="wrapper">
           {{> organisms-highlight}}
       </div>
       {{/highlight}}

      <div class="wrapper wrapper--listing">
        <div class="grid">

          {{#viewSelector}}
            {{> molecules-view-selector }}
          {{/viewSelector}}

          <div class="grid__item one-whole x-large--eight-twelfths listing-column-main" id="primaryListing">

            {{#mainTeasers}}
              {{> organisms-listing-teasers}}
            {{/mainTeasers}}

          </div>

          <div class="grid__item one-whole x-large--four-twelfths listing-column-secondary" id="secondaryListing">

              {{#secondaryTeasers}}
                {{> organisms-listing-teasers}}
              {{/secondaryTeasers}}

          </div>

          <div>
      </div>


      {{#sectionsListing}}
        <div class="wrapper u-pad-top-lg">
          {{> molecules-section-listing}}
        </div>
      {{/sectionsListing}}
    </main>

    {{#emailCta}}
    {{> organisms-email-cta }}
    {{/emailCta}}

    {{> organisms-footer }}
  </div> {{! /.global-inner }}
</div> {{! /.global-wrapper }}
