<div class="global-wrapper page--magazine" data-item-type="blog-article">
  <div class="global-inner">
    <div class="wrapper wrapper--site-header">
      {{#siteHeader}}
        {{> organisms-site-header }}
      {{/siteHeader}}
    </div>
    <main role="main" class="main" id="maincontent">

      {{#contentHeader}}
        {{> organisms-content-header-journal }}
      {{/contentHeader}}

      <div class="wrapper wrapper--content content--narrow-column">

        <div class="content-container-grid">

          <div class="main-content-grid">

            {{#mainContent}}
              {{{ mainContent }}}
            {{/mainContent}}

          </div>

        </div>

      </div>

    </main>

    {{#emailCta}}
    {{> organisms-email-cta }}
    {{/emailCta}}

    {{> organisms-footer }}
  </div> {{! /.global-inner }}
</div> {{! /.global-wrapper }}
