<div class="global-wrapper{{#hasTwoColumns}} social-media-page--wrapper{{/hasTwoColumns}}" data-item-type="blog-article">
  <div class="global-inner">
    <div class="wrapper wrapper--site-header">
      {{#siteHeader}}
        {{> organisms-site-header }}
      {{/siteHeader}}
    </div>

    <main role="main" class="main" id="maincontent">

      {{#contentHeader}}
        {{> organisms-content-header-journal }}
      {{/contentHeader}}

      {{#contextualData}}
        <div class="wrapper">
        {{> molecules-contextual-data }}
        </div>
      {{/contextualData}}

      <div class="wrapper wrapper--content content--one-column">

        <div class="content-container-grid">
        
          {{#hasTwoColumns}}
            {{#socialMediaSharersLinks}}
              <div class="social-media-sharers--wrapper">
                <div data-hypothesis-trigger>
                  <span class="side-section-wrapper__link"   data-behaviour="HypothesisTrigger"><span   class="svg-background-image     comment"></  span><span class="visuallyhidden">Open   annotations (there are currently <span       data-hypothesis-annotation-count>0</span>   annotations on this page). </span></span>
                </div>
                {{> atoms-social-media-sharers-journal}}
              </div>
            {{/socialMediaSharersLinks}}
          {{/hasTwoColumns}}

          <div class="main-content-grid">

            {{#mainContent}}
              {{{mainContent}}}
            {{/mainContent}}

          </div>

        </div>

      </div>

    </main>

    {{#emailCta}}
      {{> organisms-email-cta }}
    {{/emailCta}}

    {{> organisms-footer }}
  </div> {{! /.global-inner }}
</div> {{! /.global-wrapper }}
