<div class="global-wrapper">

  <div class="global-inner">

    {{#siteHeader}}
      {{> organisms-site-header }}
    {{/siteHeader}}

    <main role="main">

    {{#contentHeader}}
      {{> organisms-pl-only-content-header-msa}}
    {{/contentHeader}}

      <div class="wrapper">
        <div class="listing-column-container listing-column-main">

          {{#highlightedTeasers}}
              {{> organisms-listing-teasers}}
            {{/highlightedTeasers}}



        </div>
      </div>


    <div class="wrapper">

      {{#leadParas}}
        {{> molecules-lead-paras}}
      {{/leadParas}}

      <div class="grid">

        <div class="listing-column-container">

          <div class="grid__item large--eight-twelfths listing-column-main">

            {{#mainTeasers}}
              {{> organisms-listing-teasers}}
            {{/mainTeasers}}

          </div>

          <div class="grid__item large--four-twelfths listing-column-secondary">

            {{#secondaryTeasers}}
              {{> organisms-listing-teasers}}
            {{/secondaryTeasers}}

            {{#profileLinks}}
              {{> organisms-listing-profile-snippets}}
            {{/profileLinks}}

          </div>

        </div>

      </div>

    </div>

  </main>

    {{#emailCta}}
      {{> organisms-email-cta }}
    {{/emailCta}}

    {{> organisms-footer }}

  </div>

</div>
