<div class="global-wrapper">

  <div class="global-inner">

    {{#siteHeader}}
      {{> organisms-site-header }}
    {{/siteHeader}}

    <main role="main">

    {{#contentHeader}}
      {{> organisms-pl-only-content-header-msa}}
    {{/contentHeader}}


    <div class="wrapper">

      {{#leadParas}}
        {{> molecules-lead-paras}}
      {{/leadParas}}

      <div class="grid">

        <div class="listing-column-container">

          <div class="grid__item large--eight-twelfths listing-column-main">

            {{#mainTeasers}}
              {{> organisms-listing}}
            {{/mainTeasers}}

          </div>

          <div class="grid__item large--four-twelfths listing-column-secondary">

            {{#secondaryTeasers}}
              {{> organisms-listing}}
            {{/secondaryTeasers}}

            {{#profileLinks}}
              {{> organisms-listing}}
            {{/profileLinks}}

          </div>

        </div>

      </div>

    </div>

  </main>

  {{> organisms-email-cta }}

  {{> organisms-footer }}

  </div>

</div>
