<div class="global-wrapper">

    <div class="global-inner">

      <div class="wrapper wrapper--site-header">
        {{#siteHeader}}
          {{> organisms-site-header }}
        {{/siteHeader}}
      </div>

        <main role="main" class="main">

          {{#error}}
              {{> atoms-not-found }}
          {{/error}}

        </main>

        {{> organisms-email-cta }}

        {{> organisms-footer }}

    </div>

</div>
