<div class="global-wrapper">

  <div class="global-inner">

    {{#siteHeader}}
      {{> organisms-header }}
    {{/siteHeader}}

    <main role="main">

    {{#contentHeader}}
      {{> organisms-content-header-podcast}}
    {{/contentHeader}}

    {{#audioPlayer}}
      {{> molecules-audio-player}}
    {{/audioPlayer}}


    <div class="wrapper">

      {{#leadParas}}
        {{> molecules-lead-paras}}
      {{/leadParas}}

      <div class="grid">

        <div class="listing-column-container">

          <div class="grid__item large--eight-twelfths listing-column-main">

            {{#mainTeasers}}

              {{> atoms-list-heading}}
              <ol class="listing-list">
                {{#items}}
                  <li class="listing-list__item">
                    {{> molecules-teaser--podcast-item}}
                  </li>
                {{/items}}
              </ol>

            {{/mainTeasers}}

          </div>

          <div class="grid__item large--four-twelfths listing-column-secondary">

            {{#multimediaTeasers}}

              {{> atoms-list-heading}}
              <ol class="listing-list">
                {{#items}}
                  <li class="listing-list__item">
                    {{> molecules-teaser--secondary }}
                  </li>
                {{/items}}
              </ol>

            {{/multimediaTeasers}}

            {{#relatedTeasers}}

              {{> atoms-list-heading}}
              <ol class="listing-list">
                {{#items}}
                  <li class="listing-list__item">
                    {{> molecules-teaser--secondary }}
                  </li>
                {{/items}}
              </ol>

            {{/relatedTeasers}}

            {{#boilerplate}}
              {{> molecules-mini-section}}
            {{/boilerplate}}

          </div>

        </div>

      </div>

    </div>

  </main>

  {{> organisms-email-cta }}

  {{> organisms-footer }}

  </div>

</div>
