<div class="global-wrapper">

  <div class="global-inner">

    {{#siteHeader}}
      {{> organisms-site-header }}
    {{/siteHeader}}

    <main role="main">

    {{#contentHeader}}
      {{> organisms-content-header-non-article("rootClasses": "content-header-nonarticle content-header-nonarticle--background content-header--background-image","title": "Multicellular life, potato blight and Hepatitis B",
      "strapline": "Episode 21",
      "titleClass": "content-header__title--small",
      "images": {
      "lores": "http://unsplash.it/950/400/",
      "hires": "http://unsplash.it/1800/900/",
      "download": {
      "svg": "../../assets/img/icons/download-reverse.svg",
      "svgFull": "../../assets/img/icons/download-full-reverse.svg",
      "bitmap": "../../assets/img/icons/download-reverse-1x.png",
      "bitmapFull": "../../assets/img/icons/download-full-reverse-1x.png"
      }
      },
      "hasCtaOrMeta": "true",
      "meta": {
      "type": "Podcast",
      "date": {
      "forHuman": "Feb 29, 2016",
      "forMachine": "2016-02-29"
      }
      },

      "download": {
      "sources": [
      {
        "srcset": "../../assets/img/icons/download-full-reverse.svg",
        "media": "(min-width: 35em)",
        "type": "image/svg+xml"
      },
      {
        "srcset": "../../assets/img/icons/download-full-reverse-1x.png",
        "media": "(min-width: 35em)"
      },
      {
        "srcset": "../../assets/img/icons/download-reverse.svg",
        "type": "image/svg+xml"
      }
    ],
      "fallback": {
      "defaultPath": "../../assets/img/icons/download-full-reverse-1x.png",
      "classes": "content-header__download_icon",
      "altText": "Download icon"
      }
      }

      )}}
    {{/contentHeader}}

    {{#audioPlayer}}
      {{> molecules-audio-player}}
    {{/audioPlayer}}


    <div class="wrapper">

      {{#leadParas}}
        {{> molecules-lead-paras}}
      {{/leadParas}}

      <div class="grid">

        <div class="listing-column-container">

          <div class="grid__item large--eight-twelfths listing-column-main">

            {{#mainTeasers}}

              {{> atoms-list-heading}}
              <ol class="listing-list">
                {{#items}}
                  <li class="listing-list__item">
                    {{> molecules-teaser--podcast-item}}
                  </li>
                {{/items}}
              </ol>

            {{/mainTeasers}}

          </div>

          <div class="grid__item large--four-twelfths listing-column-secondary">

            {{#multimediaTeasers}}

              {{> atoms-list-heading}}
              <ol class="listing-list">
                {{#items}}
                  <li class="listing-list__item">
                    {{> molecules-teaser--secondary }}
                  </li>
                {{/items}}
              </ol>

            {{/multimediaTeasers}}

            {{#relatedTeasers}}

              {{> atoms-list-heading}}
              <ol class="listing-list">
                {{#items}}
                  <li class="listing-list__item">
                    {{> molecules-teaser--secondary }}
                  </li>
                {{/items}}
              </ol>

            {{/relatedTeasers}}

            {{#boilerplate}}
              {{> molecules-mini-section}}
            {{/boilerplate}}

          </div>

        </div>

      </div>

    </div>

  </main>

  {{> organisms-email-cta }}

  {{> organisms-footer }}

  </div>

</div>
