{
  "extends": ["stylelint-config-standard-scss"],
  "plugins": [
    "stylelint-selector-bem-pattern"
  ],
  "rules": {
    "block-closing-brace-newline-after": ["always", {"ignoreAtRules": ["if", "else"]}],
    "block-no-empty": true,
    "block-opening-brace-newline-after": "always",
    "block-opening-brace-space-before": "always",
    "color-hex-case": "lower",
    "color-hex-length": "short",
    "color-no-invalid-hex": true,
    "comment-empty-line-before": "always",
    "declaration-block-semicolon-newline-after": "always",
    "declaration-block-semicolon-space-before": "never",
    "declaration-block-trailing-semicolon": "always",
    "declaration-colon-space-after": "always",
    "declaration-colon-space-before": "never",
    "function-calc-no-unspaced-operator": true,
    "indentation": 2,
    "max-empty-lines": 1,
    "no-eol-whitespace": true,
    "no-missing-end-of-source-newline": true,
    "number-leading-zero": "always",
    "number-no-trailing-zeros": true,
    "selector-combinator-space-after": "always",
    "selector-combinator-space-before": "always",
    "selector-list-comma-newline-after": "always",
    "selector-list-comma-space-before": "never",
    "string-quotes": "double",
    "value-list-comma-space-after": "always-single-line",
    "value-list-comma-space-before": "never",
    "declaration-block-no-duplicate-properties": null,
    "declaration-block-no-redundant-longhand-properties": null,
    "no-descending-specificity": null,
    "no-duplicate-selectors": null,
    "number-max-precision": null,
    "selector-class-pattern": null,
    "scss/dollar-variable-pattern": null,
    "at-rule-empty-line-before": null,
    "rule-empty-line-before": null,
    "declaration-empty-line-before": null,
    "selector-pseudo-element-colon-notation": null,
    "block-closing-brace-empty-line-before": null,
    "scss/at-mixin-argumentless-call-parentheses": null,
    "scss/double-slash-comment-empty-line-before": null,
    "scss/at-import-no-partial-leading-underscore": null,
    "property-no-vendor-prefix": null,
    "selector-no-vendor-prefix": null,
    "shorthand-property-no-redundant-values": null,
    "alpha-value-notation": null,
    "function-url-quotes": null,
    "function-comma-space-after": null,
    "scss/at-rule-conditional-no-parentheses": null,
    "max-line-length": null,
    "color-function-notation": null,
    "scss/at-mixin-pattern": null,
    "block-closing-brace-newline-before": null,
    "scss/operator-no-unspaced": null,
    "scss/no-global-function-names": null,
    "selector-max-empty-lines": null,
    "selector-descendant-combinator-no-non-space": null,
    "comment-whitespace-inside": null,
    "scss/double-slash-comment-whitespace-inside": null,
    "selector-id-pattern": null,
    "scss/at-import-partial-extension": null,
    "scss/dollar-variable-empty-line-before": null,
    "value-keyword-case": null,
    "scss/comment-no-empty": null,
    "scss/at-mixin-parentheses-space-before": null,
    "scss/at-else-closing-brace-newline-after": null,
    "scss/at-else-closing-brace-space-after": null,
    "scss/at-if-closing-brace-space-after": null,
    "scss/at-if-closing-brace-newline-after": null,
    "plugin/selector-bem-pattern": {
      "preset": "bem"
    }
  }
}
