version: '3'

services:
    assets:
        build:
            context: .
            dockerfile: Dockerfile.assets
            args:
                environment: ${ENVIRONMENT}
                node_version: ${NODE_VERSION}
        volumes:
            - shared_volume:/srv/pattern-library/
    pattern-library:
        build:
            context: .
            dockerfile: Dockerfile.pattern-library
        ports:
            - "8889:80"
        volumes:
            - shared_volume:/srv/pattern-library/
            - ./public/:/usr/share/nginx/html/
        depends_on:
            - assets
    test:
        build:
            context: .
            dockerfile: Dockerfile.test
            args:
                selenium_image_suffix: ${SELENIUM_IMAGE_SUFFIX}
        ports:
            - "4444:4444" # WebDriver protocol
            - "5900:5900" # VNC
        volumes:
            - shared_volume:/srv/pattern-library/
            - /dev/shm:/dev/shm
        depends_on:
            - assets
            - pattern-library
volumes:
  shared_volume: