version: '3'

services:
    assets-builder:
        build:
            context: .
            dockerfile: Dockerfile.assets-builder
        image: elifesciences/pattern-library_assets-builder:${IMAGE_TAG}
        command: /bin/bash
        user: "1001"
        volumes:
            - ./:/srv/pattern-library
            - /srv/pattern-library/node_modules
            - source_assets:/srv/pattern-library/source/assets
    assets:
        build:
            context: .
            dockerfile: Dockerfile.assets
            args:
                environment: ${ENVIRONMENT}
                image_tag: ${IMAGE_TAG}
        image: elifesciences/pattern-library_assets:${IMAGE_TAG}
        command: /bin/sh
        depends_on:
            - assets-builder
    ui:
        build:
            context: .
            dockerfile: Dockerfile
            args:
                image_tag: ${IMAGE_TAG}
        image: elifesciences/pattern-library:${IMAGE_TAG}
        ports:
            - "8889:80"
        depends_on:
            - assets
    ci:
        build:
            context: .
            dockerfile: Dockerfile.ci
            args:
                image_tag: ${IMAGE_TAG}
        image: elifesciences/pattern-library_ci:${IMAGE_TAG}
        command: /bin/bash
        depends_on:
            - assets-builder
            - ui
            - selenium
    selenium:
        build:
            context: .
            dockerfile: Dockerfile.selenium
        image: elifescience/pattern-library_selenium:${IMAGE_TAG}
        ports:
            - "4444:4444" # WebDriver protocol
            - "5900:5900" # VNC
        volumes:
            # https://github.com/SeleniumHQ/docker-selenium#running-the-images
            - /dev/shm:/dev/shm

volumes:
    source_assets:
