version: '3'

services:
    assets-builder:
        build:
            context: .
            dockerfile: Dockerfile.assets-builder
            args:
                environment: ${ENVIRONMENT}
        image: elifesciences/pattern-library_assets-builder:${IMAGE_TAG}
        command: /bin/bash
    assets:
        build:
            context: .
            dockerfile: Dockerfile.assets
            args:
                image_tag: ${IMAGE_TAG}
                description: ${DESCRIPTION}
        image: elifesciences/pattern-library_assets:${IMAGE_TAG}
        depends_on:
            - assets-builder
    composer:
        build:
            context: .
            dockerfile: Dockerfile.composer
        image: elifesciences/pattern-library_composer:${IMAGE_TAG}
        command: /bin/bash
    ui-builder:
        build:
            context: .
            dockerfile: Dockerfile.ui-builder
            args:
                image_tag: ${IMAGE_TAG}
        image: elifesciences/pattern-library_ui-builder:${IMAGE_TAG}
        depends_on:
            - assets
            - composer
    ui:
        build:
            context: .
            dockerfile: Dockerfile
            args:
                image_tag: ${IMAGE_TAG}
        image: elifesciences/pattern-library:${IMAGE_TAG}
        ports:
            - "8889:80"
        depends_on:
            - ui-builder
    # TODO move to docker-compose.ci.yml
    ci:
        build:
            context: .
            dockerfile: Dockerfile.ci
            args:
                image_tag: ${IMAGE_TAG}
        image: elifesciences/pattern-library_ci:${IMAGE_TAG}
        command: /bin/bash
        depends_on:
            - assets-builder
            - ui
            - selenium
    selenium:
        build:
            context: .
            dockerfile: Dockerfile.selenium
            args:
                selenium_image_suffix: ${SELENIUM_IMAGE_SUFFIX}
        image: elifescience/pattern-library_selenium:${IMAGE_TAG}
        ports:
            - "4444:4444" # WebDriver protocol
            - "5900:5900" # VNC
        volumes:
            # https://github.com/SeleniumHQ/docker-selenium#running-the-images
            - /dev/shm:/dev/shm
