version: '3'

services:
    assets:
        volumes:
            - ./npm-shrinkwrap.json:/npm-shrinkwrap.json
            - ./package.json:/package.json
            - node_modules:/node_modules
            - node_modules:/srv/pattern-library/node_modules
            - source_assets:/srv/pattern-library/source/assets
            - ./.container_source_assets:/srv/pattern-library/.container_source_assets
            - test_build:/srv/pattern-library/test/build
    pattern-library:
        volumes:
            - ./source:/source
            - source_assets:/source/assets
            - public:/public
    test:
        command: node_modules/.bin/gulp --test-html=${TEST_HTML} tests:watch
        ports:
            - "3000:3000"
            - "3001:3001"
            - "8090:8090"
        volumes:
            - /srv/pattern-library/node_modules
            - source_assets:/srv/pattern-library/source/assets
            - test_build:/srv/pattern-library/test/build
        depends_on:
            - assets

volumes:
    node_modules:
    source_assets:
    test_build:
    public: