
  {{> organisms-header }}

  <main role="main">

    <!-- content header -->
    <div class="wrapper">
      <div style="background-color: #efefef; height: 400px">content header</div>
    </div>
    <!-- /content header -->

    <div class="wrapper">
      <!-- intro block -->
      <div style="background-color: #efefef; height: 240px; border: 2px solid #ddd">intro block</div>
      <!-- /intro block -->
    </div>

    <div class="wrapper">

      <div class="grid">

        <div class="grid__item medium--six-twelfths push--large--three-twelfths  u-pad-top">

          <!-- content block -->
          <div style="background-color: #efefef; height: 400px; margin-bottom: 15px; border: 2px solid #ddd">content block</div>
          <!-- /content block -->

          <!-- pull quote -->
          <div style="background-color: #efefef; height: 240px; margin-bottom: 15px; border: 2px solid #ddd">pull quote</div>
          <!-- /pull quote -->

          <!-- content block -->
          <div style="background-color: #efefef; height: 400px; margin-bottom: 15px; border: 2px solid #ddd">content block</div>
          <!-- /content block -->

        </div>

      </div>

    </div>



  </main>

  {{> organisms-email-cta }}

  {{> organisms-footer }}
