
  {{> organisms-site-header }}

  <main role="main">

    <!-- content header -->
    <div class="wrapper">
      <div style="background-color: #efefef; height: 400px">content header</div>
    </div>
    <!-- /content header -->

    <!-- teaser pattern here -->
    <div class="wrapper">
      <div class="teaser">
        small teaser pattern here
      </div>
    </div>
    <!-- teaser pattern here -->

    <div class="wrapper">

      <h2>Latest Collections</h2>

      <div class="grid">

        <div class="grid__item large--eight-twelfths push--large--two-twelfths">

          <div style="height: 245px; background-color: #ccc; margin-bottom: 15px"></div>
          <div style="height: 245px; background-color: #ccc; margin-bottom: 15px"></div>
          <div style="height: 245px; background-color: #ccc; margin-bottom: 15px"></div>
          <div style="height: 245px; background-color: #ccc; margin-bottom: 15px"></div>
          <div style="height: 245px; background-color: #ccc; margin-bottom: 15px"></div>
          <div style="height: 245px; background-color: #ccc; margin-bottom: 15px"></div>
          <div style="height: 245px; background-color: #ccc; margin-bottom: 15px"></div>

        </div>
      </div>

    </div>

  </main>

  {{> organisms-email-cta }}

  {{> organisms-footer }}
