
  {{> organisms-header }}

  <main role="main">

    <!-- content header -->
    <div style="background-color: #efefef; height: 400px">content header</div>
    <!-- /content header -->

    <!-- teaser pattern here -->
    <div class="teaser">
      small teaser pattern here
    </div>
    <!-- teaser pattern here -->

    <h2>Latest Collections</h2>

    <div class="wrapper" style="padding: 0 6%">

      <div class="grid grid--center">
        <div class="grid__item desk--eight-twelfths push--desk--two-twelfths">

          <div style="height: 245px; background-color: #ccc; margin-bottom: 15px"></div>
          <div style="height: 245px; background-color: #ccc; margin-bottom: 15px"></div>
          <div style="height: 245px; background-color: #ccc; margin-bottom: 15px"></div>
          <div style="height: 245px; background-color: #ccc; margin-bottom: 15px"></div>
          <div style="height: 245px; background-color: #ccc; margin-bottom: 15px"></div>
          <div style="height: 245px; background-color: #ccc; margin-bottom: 15px"></div>
          <div style="height: 245px; background-color: #ccc; margin-bottom: 15px"></div>

        </div>
      </div>

    </div>

  </main>

  {{> organisms-email-cta }}

  {{> organisms-footer }}
