<div class="article">
  {{> organisms-header}}
  <main role="main">
    <article class="article">
      <header class="article-header"></header>
      {{!  gs-wrapper adds page gutter    }}
      <div class="gs-wrapper">
      {{!  gs-container contrains max-width    }}
        <div class="gs-container">
          <div class="view-selector gs-col">view-selector</div>
          <div class="main-content gs-col">
            <div class="article-section article-section--abstract">abstract</div>
            <div class="article-section article-section--digest">digest</div>
            <div class="related-content">related</div>               
          </div> {{! main-content }}
        </div>  {{! /.gs-container }}
      </div>  {{! /.gs-wrapper }}

            <div class="gs-wrapper">
      {{!  gs-container contrains max-width    }}
        <div class="gs-container">
          <div class="main-content gs-col">
            <div class="article-section article-section--introduction">introduction</div>
            <div class="article-section article-section--and-the-rest">the rest...</div>
          </div> {{! main-content }}
        </div>  {{! /.gs-container }}
      </div>  {{! /.gs-wrapper }}
    </article>
  </main>
  {{> organisms-footer}}
</div>