
  {{> organisms-header }}

  <!-- content header -->
  <div style="background-color: #efefef; height: 400px">content header</div>
  <!-- /content header -->

  <main role="main">

    <div class="wrapper" style="padding: 0 6%">

      <div class="grid">

        <div class="grid__item desk--nine-twelfths">

          <h3>Latest</h3>

          <!-- teaser block -->
          <div style="background-color: #efefef; height: 400px; margin-bottom: 15px; border: 2px solid #ddd">teaser block</div>
          <!-- /teaser block -->

          <!-- teaser block -->
          <div style="background-color: #efefef; height: 400px; margin-bottom: 15px; border: 2px solid #ddd">teaser block</div>
          <!-- /teaser block -->

          <!-- teaser block -->
          <div style="background-color: #efefef; height: 400px; margin-bottom: 15px; border: 2px solid #ddd">teaser block</div>
          <!-- /teaser block -->

          {{> atoms-button-full }}

        </div>

        <div class="grid__item desk--three-twelfths">

          <h3>Events</h3>

          <!-- teaser block -->
          <div style="background-color: #efefef; height: 150px; margin-bottom: 15px; border: 2px solid #ddd">teaser block</div>
          <!-- /teaser block -->

          <!-- teaser block -->
          <div style="background-color: #efefef; height: 150px; margin-bottom: 15px; border: 2px solid #ddd">teaser block</div>
          <!-- /teaser block -->

          <!-- teaser block -->
          <div style="background-color: #efefef; height: 150px; margin-bottom: 15px; border: 2px solid #ddd">teaser block</div>
          <!-- /teaser block -->

        </div>

      </div>

    </div>

  </main>

  {{> organisms-email-cta }}

  {{> organisms-footer }}
