
  {{> organisms-site-header }}

  <!-- content header -->
  <div class="wrapper">
    <div style="background-color: #efefef; height: 400px">content header</div>
  </div>
  <!-- /content header -->

  <main role="main">

    <div class="wrapper">

      <div class="grid">

        <div class="grid__item large--nine-twelfths u-pad-bottom-lg">

          <h3>Latest</h3>

          <!-- teaser block -->
          <div style="background-color: #efefef; height: 400px; margin-bottom: 15px; border: 2px solid #ddd">teaser block</div>
          <!-- /teaser block -->

          <!-- teaser block -->
          <div style="background-color: #efefef; height: 400px; margin-bottom: 15px; border: 2px solid #ddd">teaser block</div>
          <!-- /teaser block -->

          <!-- teaser block -->
          <div style="background-color: #efefef; height: 400px; margin-bottom: 15px; border: 2px solid #ddd">teaser block</div>
          <!-- /teaser block -->

          {{> atoms-button }}

        </div>

        <div class="grid__item large--three-twelfths">

          <h3>Events</h3>

          <!-- teaser block -->
          <div style="background-color: #efefef; height: 150px; margin-bottom: 15px; border: 2px solid #ddd">teaser block</div>
          <!-- /teaser block -->

          <!-- teaser block -->
          <div style="background-color: #efefef; height: 150px; margin-bottom: 15px; border: 2px solid #ddd">teaser block</div>
          <!-- /teaser block -->

          <!-- teaser block -->
          <div style="background-color: #efefef; height: 150px; margin-bottom: 15px; border: 2px solid #ddd">teaser block</div>
          <!-- /teaser block -->

        </div>

      </div>

    </div>

  </main>

  {{> organisms-email-cta }}

  {{> organisms-footer }}
