<div class="global-wrapper">

  <div class="global-inner">

    {{#siteHeader}}
      {{> organisms-site-header }}
    {{/siteHeader}}

    <main role="main">

      {{#contentHeader}}
        {{> organisms-content-header-non-article}}
      {{/contentHeader}}


      <div class="wrapper">

        {{#leadParas}}
          {{> molecules-lead-paras}}
        {{/leadParas}}

        <div class="grid">

          <div class="listing-column-container">

            <div class="grid__item large--eight-twelfths listing-column-main">

              {{#mainTeasers}}

                {{> atoms-list-heading}}
                <ol class="listing-list">
                  {{#items}}
                    <li class="listing-list__item">
                      {{> molecules-teaser-main}}
                    </li>
                  {{/items}}
                </ol>

              {{/mainTeasers}}

              {{#loadMore}}
                {{> molecules-load-more}}
              {{/loadMore}}
            </div>

            <div class="grid__item large--four-twelfths listing-column-secondary">

              {{#secondaryTeasers}}

                {{> atoms-list-heading}}
                <ol class="listing-list">
                  {{#items}}
                    <li class="listing-list__item">
                      {{> molecules-teaser--secondary }}
                    </li>
                  {{/items}}
                </ol>

              {{/secondaryTeasers}}

              {{#profileLinks}}

                {{> atoms-list-heading}}
                <ol class="listing-list">
                  {{#items}}
                    <li class="listing-list__item">
                      {{> molecules-profile-snippet }}
                    </li>
                  {{/items}}
                  {{#editorsMoreLink}}
                    <li class="listing-list__item">
                      {{> atoms-see-more-link}}
                    </li>
                  {{/editorsMoreLink}}
                </ol>

              {{/profileLinks}}


            </div>

          </div>

        </div>

      </div>

    </main>

    {{#emailCta}}
      {{> organisms-email-cta }}
    {{/emailCta}}

    {{> organisms-footer }}

  </div>

</div>
