
  {{> organisms-site-header }}

  {{! content header }}
  <div class="wrapper">
    <div style="background-color: #efefef; height: 400px">content header</div>
  </div>
  {{! /content header }}

  <main role="main">

    <div class="wrapper">

      <div class="grid">

        <div class="grid__item u-pad-bottom">

          <h3>Latest</h3>

          <div class="grid">

            <div class="grid__item medium--four-twelfths">
              {{! teaser block }}
              <div style="background-color: #efefef; height: 400px; margin-bottom: 15px; border: 2px solid #ddd">teaser block</div>
              {{! /teaser block }}
            </div>

            <div class="grid__item medium--four-twelfths">
              {{! teaser block }}
              <div style="background-color: #efefef; height: 400px; margin-bottom: 15px; border: 2px solid #ddd">teaser block</div>
              {{! /teaser block }}
            </div>

            <div class="grid__item medium--four-twelfths">
              {{! teaser block }}
              <div style="background-color: #efefef; height: 400px; margin-bottom: 15px; border: 2px solid #ddd">teaser block</div>
              {{! /teaser block }}
            </div>

            <div class="grid__item medium--four-twelfths">
              {{! teaser block }}
              <div style="background-color: #efefef; height: 400px; margin-bottom: 15px; border: 2px solid #ddd">teaser block</div>
              {{! /teaser block }}
            </div>

            <div class="grid__item medium--four-twelfths">
              {{! teaser block }}
              <div style="background-color: #efefef; height: 400px; margin-bottom: 15px; border: 2px solid #ddd">teaser block</div>
              {{! /teaser block }}
            </div>

            <div class="grid__item medium--four-twelfths">
              {{! teaser block }}
              <div style="background-color: #efefef; height: 400px; margin-bottom: 15px; border: 2px solid #ddd">teaser block</div>
              {{! /teaser block }}
            </div>

          </div>

          {{> atoms-button }}

        </div>

      </div>

    </div>

  </main>

  {{#emailCta}}
    {{> organisms-email-cta }}
  {{/emailCta}}

  {{> organisms-footer }}
