*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  text-rendering: optimizeLegibility;
}

h1 {
  font-family: $font-secondary;
  @include font-size(24);
  font-weight: bold;
  line-height: $line-height-primary;
}

h2 {
  font-family: $font-secondary;
  @include font-size(21);
  font-weight: bold;
  line-height: $line-height-primary;
  padding-bottom: 5px;
}

h3 {
  font-family: $font-secondary;
  @include font-size(19);
  font-weight: bold;
  line-height: $line-height-primary;
  padding-bottom: 3px;
}

h4 {
  font-family: $font-secondary;
  @include font-size(17);
  font-weight: bold;
  line-height: $line-height-primary;
}

h5 {
  font-family: $font-primary;
  @include font-size(16);
  font-weight: bold;
  line-height: $line-height-primary;
}

h6 {
  font-family: $font-primary;
  @include font-size(13);
  font-weight: bold;
  line-height: $line-height-primary;
  text-transform: uppercase;
}

p,
div {
  font-family: $font-primary;
  @include font-size(16);
  line-height: 1.5;
  @include padding-dimension(24, "bottom");
}

li,
dt,
dd {
  font-family: $font-primary;
  @include font-size(16);
  line-height: 1.5;
  @include padding-dimension(24, "bottom");
  @include padding-dimension(20, "left");
}

small {
  font-family: $font-primary;
  @include font-size(12);
  line-height: 1.35;
  @include padding-dimension(15, "bottom");
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
