
@function get-px-from-rem($size_in_rem) {
  @return $size_in_rem * $font-size-base-in-px;
}

@mixin font-size($size_in_rem) {
  font-size: get-px-from-rem($size_in_rem)px;
  font-size: #{$size_in_rem}rem;
}

@mixin padding-dimension($size_in_rem, $dimension) {
  @if $dimension {
    padding-#{$dimension}: get-px-from-rem($size_in_rem)px;
    padding-#{$dimension}: #{$size_in_rem}rem;
  }
}
