*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  color: $color-text;
  text-rendering: optimizeLegibility;
}

h1 {
  font-family: $font-secondary;
  @include font-size(24);
  font-weight: bold;
  line-height: $line-height-primary;
}

h2 {
  font-family: $font-secondary;
  @include font-size(21);
  font-weight: bold;
  line-height: $line-height-primary;
  @include padding(7, "bottom");
}

h3 {
  font-family: $font-secondary;
  @include font-size(19);
  font-weight: bold;
  line-height: $line-height-primary;
  @include padding(3, "bottom");
}

h4 {
  font-family: $font-secondary;
  @include font-size(17);
  font-weight: bold;
  line-height: $line-height-primary;
}

h5 {
  font-family: $font-primary;
  @include font-size(16);
  font-weight: bold;
  line-height: $line-height-primary;
}

h6 {
  font-family: $font-primary;
  @include font-size(13);
  font-weight: bold;
  line-height: $line-height-primary;
  text-transform: uppercase;
}

p {
  font-family: $font-primary;
  @include font-size(16);
  line-height: 1.5;
  margin: 0;
  @include padding(24, "bottom");
}

ul,
ol {
  @include margin(24, "bottom");
  margin-top: 0;
  @include padding(20, "left");
}

dl {
  @include margin(24, "bottom");
  margin-top: 0;
}

li,
dt,
dd {
  font-family: $font-primary;
  @include font-size(16);
  line-height: 1.5;
}

dt {
  font-weight: 700;
}

dd {
  @include margin(24, "bottom");
  margin-left: 0;
}

small {
  font-family: $font-primary;
  @include font-size(12);
  line-height: 1.35;
  @include padding(15, "bottom");
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
.visuallyhidden {
  @include visuallyhidden();
}

/*
 * Backwards compatible clearfix.
 * See http://nicolasgallagher.com/micro-clearfix-hack/
 */
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1; /* ie 6/7 */
}

.global-wrapper.pull-offscreen-right {
  width: calc(100% + 330px);
}

.global-inner:after {
  content: "";
  display: block;
  clear: both;
}
