@import "definitions";

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  color: $color-text;
  text-rendering: optimizeLegibility;
}

h1 {
  @include h1-typeg();
}

h2 {
  @include h2-typeg();
  @include h2-spacing();
}

h3 {
  @include h3-typeg();
  @include h3-spacing();
}

h4 {
  @include h4-typeg();
}

h5 {
  @include h5-typeg();
}

h6 {
  @include h6-typeg();
}

p {
  @include body-para();
}

ul,
ol {
  @include margin(24, "bottom");
  margin-top: 0;
  @include padding(48, "left");
}

dl {
  @include margin(24, "bottom");
  margin-top: 0;
}

li,
dt,
dd {
  @include body-typeg();
}

dt {
  font-weight: 700;
}

dd {
  @include margin(24, "bottom");
  margin-left: 0;
}

small {
  @include small-typeg();
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
.visuallyhidden {
  @include visuallyhidden();
}

/*
 * Backwards compatible clearfix.
 * See http://nicolasgallagher.com/micro-clearfix-hack/
 */
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1; /* ie 6/7 */
}

.global-wrapper.pull-offscreen-right {
  width: calc(100% + 330px);
}

.global-inner:after {
  content: "";
  display: block;
  clear: both;
}

img {
  max-width: 100%;
}
