// HELPERS

@function get-title-font-size($title-size, $screen-width, $is-article:false) {
  // TODO: large, medium, small and x-small
  $title-sizes-article--narrow-screen: ("large": 37, "medium": 29, "small": 30, "x-small":24);
  $title-sizes-article--medium-width-screen: ("large": 37, "medium": 37, "small": 30, "x-small":24);
  $title-sizes-article--wide-screen: ("large": 37, "medium": 29, "small": 30, "x-small":24);
  $title-sizes-article--extra-wide-screen: ("large": 37, "medium": 29, "small": 30, "x-small":24);

  // TODO: small and x-small
  $title-sizes-non-article--narrow-screen: ("large": 37, "medium": 29, "small": 30, "x-small":24);
  $title-sizes-non-article--medium-width-screen: ("large": 37, "medium": 37, "small": 30, "x-small":24);
  $title-sizes-non-article--wide-screen: ("large": 41, "medium": 41, "small": 30, "x-small":24);
  $title-sizes-non-article--extra-wide-screen: ("large": 52, "medium": 52, "small": 30, "x-small":24);

  @if $is-article != false {
    @if $screen-width == "narrow" {
      @return map-get($title-sizes-article--narrow-screen, $title-size);
    }
    @if $screen-width == "medium-width" {
      @return map-get($title-sizes-article--medium-width-screen, $title-size);
    }
    @if $screen-width == "wide" {
      @return map-get($title-sizes-article--wide-screen, $title-size);
    }
    @if $screen-width == "extra-wide" {
      @return map-get($title-sizes-article--extra-wide-screen, $title-size);
    }
    @return 16;

  } @else {
    @if $screen-width == "narrow" {
      @return map-get($title-sizes-non-article--narrow-screen, $title-size);
    }
    @if $screen-width == "medium-width" {
      @return map-get($title-sizes-non-article--medium-width-screen, $title-size);
    }
    @if $screen-width == "wide" {
      @return map-get($title-sizes-non-article--wide-screen, $title-size);
    }
    @if $screen-width == "extra-wide" {
      @return map-get($title-sizes-non-article--extra-wide-screen, $title-size);
    }
    @return 16;
  }
}

@mixin _set-typeg-width-variant($smallerSize, $largerSize, $is-wide: false) {
  $typeg-size: if($is-wide, $largerSize, $smallerSize);
  @include font-size($typeg-size);
}

@mixin _heading-base-typeg() {
  font-family: $font-secondary;
  font-weight: 700;
}

@mixin _label-typeg($uppercase: true) {
  font-family: $font-secondary;
  @include font-size(11);
  letter-spacing: 0.5px;
  line-height: 2.1818181818; /* 24px with a font size of 11px */
  @if $uppercase {
    text-transform: uppercase;
  }
}

// HEADINGS

@mixin h1-typeg($is-wide:false) {
  @include _heading-base-typeg();
  @include font-size($font-size-h1-in-px);
  line-height: 1.333333333; /* 48px when font size is 36px */
  // Arbitrary values for now:
  @include _set-typeg-width-variant(36, 36, $is-wide);
}

@mixin h1-spacing() {
  margin: 0;
}

@mixin h2-typeg() {
  @include _heading-base-typeg();
  @include font-size($font-size-h2-in-px);
  line-height: 1.1538461538; /* 30px line height with font size of 26px */
}

@mixin h2-spacing() {
  margin: 0;
  @include padding(18, "top");
  @include padding(24, "bottom");
}

@mixin h3-typeg() {
  @include _heading-base-typeg();
  @include font-size($font-size-h3-in-px); /* 24px when font size is 22px */
  line-height: 1.09090909090909;
}

@mixin h3-spacing() {
  margin: 0;
  @include padding(12, "top");
  @include padding(12, "bottom");
}

@mixin h4-typeg() {
  @include _heading-base-typeg();
  @include font-size($font-size-h4-in-px);
  line-height: 1.2; /* 24px when font size is 20px */
}

@mixin h4-spacing() {
  margin: 0;
  @include padding(12, "top");
  @include padding(12, "bottom");
}

@mixin h5-typeg() {
  @include _heading-base-typeg();
  @include font-size($font-size-h5-in-px);
  line-height: 1.33333333333333; /* 24px when font size is 18px */
}

@mixin h5-spacing() {
  margin: 0;
  @include padding(12, "top");
  @include padding(12, "bottom");
}

@mixin h6-typeg() {
  @include _heading-base-typeg();
  @include font-size($font-size-h6-in-px);
  line-height: 1.5; /* 24px when font size is 16px */
}

@mixin h6-spacing() {
  margin: 0;
  @include padding(10, "top");
  @include padding(14, "bottom");
}

// Call this directly from sass with appropriate args.
@mixin title-size($title-size, $width, $is-article:false) {
  $title-font-size: get-title-font-size($title-size, $width, $is-article);
  @include font-size($title-font-size);
}

// CONTENT

@mixin body-typeg() {
  font-family: $font-primary;
  @include font-size($font-size-base-in-px);
  font-weight: normal;
  line-height: 1.5;
}

// TODO: consider where this should sit, and should other spacing be refactored out from typeg defs?
@mixin body-spacing() {
  margin: 0;
  @include margin(24, "bottom");
}

@mixin small-typeg() {
  font-family: $font-primary;
  font-style: normal;
  @include font-size(11);
  line-height: 2.18181818181818; /* 24px when font size is 11px  */
  @include padding(24, "bottom");
}

// TODO: incorporate list base style, sensitively.

@mixin author-typeg() {
  font-family: $font-secondary;
  @include font-size(16);
  line-height: 1.5;
}

@mixin subtitle-typeg() {
  font-family: $font-secondary;
  @include font-size(16);
  font-weight: 700;
  line-height: 1.5;
}

@mixin institute-typeg() {
  font-family: $font-secondary;
  @include font-size(14);
  font-weight: 500;
  line-height: 1.71428571428571;
}

@mixin pullquote-typeg($is-wide:false) {
  font-family: $font-secondary;
  //@include _set-typeg-width-variant(20, 28, $is-wide);
  @include font-size(20);
  font-weight: 700;
  line-height: 1.1;
}

@mixin pullquote-attrib-typeg() {
  font-family: $font-primary;
  @include font-size(16);
  font-style: italic;
  font-weight: 400;
  line-height: 1.5;
}

@mixin fig-viewer-heading-typeg($is-wide: false) {
  font-family: $font-secondary;
  @include _set-typeg-width-variant(16, 20, $is-wide);
  line-height: 1;
}

@mixin fig-heading-typeg() {
  // bold, not demibold
  font-family: $font-secondary;
  @include font-size(14);
  font-weight: bold;
  line-height: 1.7142857143; /* 24px with 14px font size */
}

@mixin fig-caption-heading-typeg() {
  font-family: $font-secondary;
  @include font-size($font-size-caption-in-px);
  font-weight: 700;
  line-height: 1.8461538462; /* 24px when font size is 13px  */
}

@mixin fig-caption-text-typeg($space-underneath: 19) {
  font-family: $font-secondary;
  @include font-size($font-size-caption-in-px);
  line-height: 1.8461538462; /* 24px when font size is 13px  */
  @include padding($space-underneath, "bottom");
  text-decoration: none;
}

@mixin table-head-typeg() {
  font-family: $font-secondary;
  @include font-size(13);
  font-weight: 700;
  line-height: 1.3;
  @include padding(3, "bottom");
}

@mixin table-cell-typeg() {
  font-family: $font-secondary;
  @include font-size(13);
  line-height: 1.3;
  @include padding(19, "bottom");
}

@mixin lead-para-typeg($is-wide: false) {
  font-family: $font-primary;
  @include _set-typeg-width-variant(16, 17, $is-wide);
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
}

// NAVIGATION AND LABELS

@mixin nav-typeg() {
  font-family: $font-secondary;
  @include font-size(14);
  font-weight: 700;
  line-height: 1.7142857143; /* 24px with 14px font size */
}

@mixin nav-small-typeg() {
  @include nav-typeg();
  @include font-size(11);
  line-height: 2.1818181818;
}

@mixin nav-page-typeg() {
  @include nav-typeg();
  font-weight: normal;
  line-height: 1.3;
}

@mixin menu-typeg() {
  background-color: #fff;
  color: $color-text;
  font-family: $font-secondary;
  @include font-size(16);
  font-weight: 600;
  line-height: 1.5;
}

@mixin section-title-typeg() {
  font-family: $font-secondary;
  @include font-size(14);
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
}

@mixin footer-links-typeg($is-wide: false) {
  font-family: $font-secondary;
  @include font-size(14);
  font-weight: 700;
  @if $is-wide == false {
    line-height: 1.85;
  } @else {
    line-height: 2.35;
  }
}

@mixin typeg-portal-quick-nav() {
  font-family: $font-secondary;
  @include font-size(16);
  line-height: 1.5;
}

@mixin msa-link($is-wide: false) {
  font-family: $font-secondary;
  @include font-size(12);
  font-weight: 700;
  @if $is-wide == false {
    line-height: 1.85;
  } @else {
    line-height: 2.35;
  }
}

@mixin see-more-link-typeg() {
  font-family: $font-secondary;
  @include font-size(16);
  line-height: 1.5;  // 24px at 16px font size
}

@mixin label-content-typeg($color:$color-text-secondary, $uppercase: true) {
  @include _label-typeg($uppercase);
  color: $color;
}

@mixin label-subject-typeg() {
  @include _label-typeg();
  color: $color-primary;
}

// FORMS

@mixin typeg-form-label() {
  color: $color-text;
  font-family: $font-secondary;
  @include font-size(14);
  font-weight: 700;
  line-height: 1.3;
}

// No definition in developer docs, this is inferred from styles already applied to filter-group.
//Update as necessary.
@mixin typeg-checkboxes() {
  color: $color-text;
  font-family: $font-secondary;
  @include font-size(14);
  font-weight: 700;
  line-height: 1.3;
  @include padding(1, "bottom");
}

// FOR ITEMS IN LISTS

@mixin listing-main-art-title-typeg() {
  @include font-size(20);
  line-height: 1.2;  // 24px with 20px text size
  @include padding(12, "top");
  @include nospace("bottom");
}

@mixin listing-side-art-title-typeg() {
  font-family: $font-secondary;
  @include font-size(18);
  font-weight: 700;
  line-height: 1.33333333333;
  @include padding(12, "top");
}

@mixin listing-main-author-typeg() {
  font-family: $font-secondary;
  @include font-size(16);
  line-height: 1.5;
}

@mixin listing-main-subtitle-typeg() {
  font-family: $font-secondary;
  @include font-size(16);
  font-weight: 700;
  line-height: 1.3;
}

@mixin listing-side-author-typeg() {
  @include listing-main-author-typeg();
  @include font-size(14);
}

@mixin listing-side-subtitle-typeg() {
  @include listing-main-author-typeg();
  @include font-size(14);
}

@mixin listing-institute-typeg() {
  font-family: $font-primary;
  @include font-size(14);
  font-style: italic;
  line-height: 1.3;
}

@mixin listing-impact-statement-typeg() {
  @include body-typeg();
  @include body-spacing();
}

@mixin mono-typeg() {
  font-family: $font-monospace;
  @include font-size(14);
  line-height: 1.5;
}
