// HELPERS

@function get-title-font-size($title-size, $screen-width, $is-article:false) {
  // TODO: large, medium, small and x-small
  $title-sizes-article--narrow-screen: ("large": 37, "medium": 29, "small": 30, "x-small":24);
  $title-sizes-article--medium-width-screen: ("large": 37, "medium": 37, "small": 30, "x-small":24);
  $title-sizes-article--wide-screen: ("large": 37, "medium": 29, "small": 30, "x-small":24);
  $title-sizes-article--extra-wide-screen: ("large": 37, "medium": 29, "small": 30, "x-small":24);

  // TODO: small and x-small
  $title-sizes-non-article--narrow-screen: ("large": 37, "medium": 29, "small": 30, "x-small":24);
  $title-sizes-non-article--medium-width-screen: ("large": 37, "medium": 37, "small": 30, "x-small":24);
  $title-sizes-non-article--wide-screen: ("large": 41, "medium": 41, "small": 30, "x-small":24);
  $title-sizes-non-article--extra-wide-screen: ("large": 52, "medium": 52, "small": 30, "x-small":24);

  @if $is-article != false {
    @if $screen-width == "narrow" {
      @return map-get($title-sizes-article--narrow-screen, $title-size);
    }
    @if $screen-width == "medium-width" {
      @return map-get($title-sizes-article--medium-width-screen, $title-size);
    }
    @if $screen-width == "wide" {
      @return map-get($title-sizes-article--wide-screen, $title-size);
    }
    @if $screen-width == "extra-wide" {
      @return map-get($title-sizes-article--extra-wide-screen, $title-size);
    }
    @return 16;

  } @else {
    @if $screen-width == "narrow" {
      @return map-get($title-sizes-non-article--narrow-screen, $title-size);
    }
    @if $screen-width == "medium-width" {
      @return map-get($title-sizes-non-article--medium-width-screen, $title-size);
    }
    @if $screen-width == "wide" {
      @return map-get($title-sizes-non-article--wide-screen, $title-size);
    }
    @if $screen-width == "extra-wide" {
      @return map-get($title-sizes-non-article--extra-wide-screen, $title-size);
    }
    @return 16;
  }
}

@mixin _set-typeg-width-variant($smallerSize, $largerSize, $is-wide: false) {
  $typeg-size: if($is-wide, $largerSize, $smallerSize);
  @include font-size($typeg-size);
}

@mixin _heading-base-typeg() {
  font-family: $font-secondary;
  font-weight: 700;
}

@mixin _label-typeg() {
  font-family: $font-secondary;
  @include font-size(11);
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
}

// HEADINGS

@mixin h1-typeg($is-wide:false) {
  @include _heading-base-typeg();
  @include font-size(36);
  line-height: 1.333333333; /* 48px when font size is 36px */
  // Arbitrary values for now:
  @include _set-typeg-width-variant(36, 36, $is-wide);
}

@mixin h2-typeg() {
  @include _heading-base-typeg();
  @include font-size(26);
  line-height: 0.92307692307692; /* (TODO: get actual value) 24px when font size is 26px */
  @include padding(30, "bottom");
}

@mixin h3-typeg() {
  @include _heading-base-typeg();
  @include font-size(22); /* 24px when font size is 22px */
  line-height: 1.09090909090909;
  @include padding(3, "bottom");
}

@mixin h4-typeg() {
  @include _heading-base-typeg();
  @include font-size(20);
  line-height: 1.2; /* 24px when font size is 20px */
}

@mixin h5-typeg() {
  @include _heading-base-typeg();
  @include font-size(18);
  line-height: 1.33333333333333; /* 24px when font size is 18px */
}

@mixin h6-typeg() {
  @include _heading-base-typeg();
  @include font-size(16);
  line-height: 1.5; /* 24px when font size is 16px */
}

// Call this directly from sass with appropriate args.
@mixin title-size($title-size, $width, $is-article:false) {
  $title-font-size: get-title-font-size($title-size, $width, $is-article);
  @include font-size($title-font-size);
}

// CONTENT

@mixin body-typeg() {
  font-family: $font-primary;
  @include font-size(16);
  font-weight: normal;
  line-height: 1.5;
  margin: 0;
  @include padding(24, "bottom");
}

@mixin small-typeg() {
  font-family: $font-primary;
  @include font-size(12);
  line-height: 1.35;
  @include padding(15, "bottom");
}

// TODO: incorporate list base style, sensitively.

@mixin author-typeg() {
  font-family: $font-secondary;
  @include font-size(16);
  font-weight: 700;
  line-height: 1.4;
}

@mixin subtitle-typeg() {
  font-family: $font-secondary;
  @include font-size(16);
  font-weight: 700;
  line-height: 1.4;
}

@mixin impact-statement-typeg($is-wide:false) {
  font-family: $font-primary;
  @include _set-typeg-width-variant(14, 16, $is-wide);
  line-height: 1.43;
}

@mixin institute-typeg() {
  font-family: $font-secondary;
  @include font-size(12);
  font-weight: 700;
  line-height: 1.3;
}

@mixin pullquote-typeg($is-wide:false) {
  font-family: $font-secondary;
  @include _set-typeg-width-variant(24, 28, $is-wide);
  font-weight: 700;
  line-height: 1.3;
}

@mixin pullquote-attrib-typeg() {
  font-family: $font-primary;
  @include font-size(14);
  font-style: italic;
  font-weight: 400;
  line-height: 1.3;
}

@mixin fig-viewer-heading-typeg($is-wide: false) {
  font-family: $font-secondary;
  @include _set-typeg-width-variant(16, 20, $is-wide);
  line-height: 1;
}

@mixin fig-heading-typeg() {
  // bold, not demibold
  font-family: $font-secondary;
  @include font-size(13);
  font-weight: bold;
  line-height: 1.3;
}

@mixin fig-caption-heading-typeg() {
  font-family: $font-secondary;
  @include font-size(13);
  font-weight: 700;
  line-height: 1.3;
  @include padding(3, "bottom");
}

@mixin fig-caption-text-typeg($space-underneath: 19) {
  font-family: $font-secondary;
  @include font-size(13);
  line-height: 1.3;
  @include padding($space-underneath, "bottom");
  text-decoration: none;
}

@mixin table-head-typeg() {
  font-family: $font-secondary;
  @include font-size(13);
  font-weight: 700;
  line-height: 1.3;
  @include padding(3, "bottom");
}

@mixin table-cell-typeg() {
  font-family: $font-secondary;
  @include font-size(13);
  line-height: 1.3;
  @include padding(19, "bottom");
}

@mixin lead-para-typeg($is-wide: false) {
  font-family: $font-primary;
  @include _set-typeg-width-variant(16, 17, $is-wide);
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
}

@mixin contact-typeg() {
  @include body-typeg();
  line-height: 1.3;
}

// NAVIGATION AND LABELS

@mixin nav-typeg() {
  font-family: $font-secondary;
  @include font-size(14);
  font-weight: 700;
  line-height: 1;
}

@mixin nav-small-typeg() {
  @include nav-typeg();
  @include font-size(11);
}

@mixin nav-page-typeg() {
  @include nav-typeg();
  font-weight: normal;
  line-height: 1.3;
}

@mixin section-title-typeg() {
  font-family: $font-secondary;
  @include font-size(14);
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
}

@mixin footer-links-typeg($is-wide: false) {
  font-family: $font-secondary;
  @include font-size(14);
  font-weight: 700;
  @if $is-wide == false {
    line-height: 1.85;
  } @else {
    line-height: 2.35;
  }
}

@mixin typeg-portal-quick-nav() {
  font-family: $font-secondary;
  @include font-size(12);
  font-weight: 700;
  line-height: 1.85;
}

@mixin msa-link($is-wide: false) {
  font-family: $font-secondary;
  @include font-size(12);
  font-weight: 700;
  @if $is-wide == false {
    line-height: 1.85;
  } @else {
    line-height: 2.35;
  }
}

@mixin see-more-link-typeg() {
  font-family: $font-secondary;
  @include font-size(14);
  line-height: 1.3;
}

@mixin label-content-typeg($color:$color-text-secondary) {
  @include _label-typeg();
  color: $color;
}

@mixin label-subject-typeg() {
  @include _label-typeg();
  color: $color-primary;
}

// FORMS

@mixin typeg-form-label() {
  color: $color-text;
  font-family: $font-secondary;
  @include font-size(14);
  font-weight: 700;
  line-height: 1.3;
}

// No definition in developer docs, this is inferred from styles already applied to filter-group.
//Update as necessary.
@mixin typeg-checkboxes() {
  color: $color-text;
  font-family: $font-secondary;
  @include font-size(14);
  font-weight: 700;
  line-height: 1.3;
  @include padding(1, "bottom");
}

// FOR ITEMS IN LISTS

@mixin listing-main-art-title-typeg() {
  @include h2-typeg();
}

@mixin listing-side-art-title-typeg() {
  font-family: $font-primary;
  @include font-size(16);
  font-weight: 700;
  line-height: 1.3;
}

@mixin listing-main-author-typeg() {
  font-family: $font-secondary;
  @include font-size(16);
  font-weight: 700;
  line-height: 1.3;
}

@mixin listing-main-subtitle-typeg() {
  font-family: $font-secondary;
  @include font-size(16);
  font-weight: 700;
  line-height: 1.3;
}

@mixin listing-side-author-typeg() {
  @include listing-main-author-typeg();
  @include font-size(14);
}

@mixin listing-side-subtitle-typeg() {
  @include listing-main-author-typeg();
  @include font-size(14);
}

@mixin listing-institute-typeg() {
  font-family: $font-primary;
  @include font-size(14);
  font-style: italic;
  line-height: 1.3;
}

@mixin listing-impact-statement-typeg() {
  @include body-typeg();
}

@mixin listing-detail() {
  @include small-typeg();
  line-height: 1.5;
}
