//------------------------------------
//    $VARIABLES
//------------------------------------

// Colors
$color-primary: #0288d1;
$color-primary-dark: #0277bd;
$color-primary-light: #b3e5fc;

$color-text: #212121;
$color-text-secondary: #888;
$color-text-placeholder: #bdbdbd;
$color-text-dividers: #e0e0e0;
$color-text-ui-background: #fff;
$color-text-ui-background-hue: #f5f5f5;

$color-text--reverse: #fff;
$color-text-secondary--reverse: #9e9e9e;
// there is no $color-text-placeholder--reverse
$color-text-dividers--reverse: #616161;
$color-text-ui-background--reverse: #424242;
$color-text-ui-background-hue--reverse: #333;

$color-information: #0288d1;
$color-success: #629f43;
$color-attention: #cf0c4e;

// Typography
$font-primary: "PT Serif Webfont", Georgia, serif;
$font-secondary: "Avenir Next Webfont", Arial, Helvetica, sans-serif;

$font-size-base-in-px: 16;
$line-height-primary: 1.3;

// Widths
$max-width-block-link: 350;
$max-width-block-link-in-rem: get-rem-from-px($max-width-block-link);
$min-width-block-link: 300;
$min-width-block-link-in-rem: get-rem-from-px($min-width-block-link);

$max-site-width: 1114;
$max-site-width-in-rem: get-rem-from-px($max-site-width);
$viewport-width-when-site-hits-max-width-in-px: 1245;
$viewport-width-when-site-hits-max-width-in-rem: get-rem-from-px(1245);

// Heights
$content-header-height--narrow-screen: 210;
$content-header-height--medium-width-screen: 270;
$content-header-height--wide-screen: 270;
$content-header-height--extra-wide-screen: 325;

// Spacing
$teaser-spacing-top: 12;
$teaser-spacing-bottom: 12;
$teaser-spacing-left: 16;
$listing-list-spacing: 32;

$content-header-side-padding: 6; //vw
$content-header-side-padding--extra-wide: 30; //px

// Breakpoints
$bkpt-content-header--medium-width: 768;
$bkpt-content-header--wide: 1024;
$bkpt-content-header--extra-wide: 1440;

$bkpt-block-link: 870;

// TODO: review these breakpoints:
$bkpt-article-download-links-list: 560;
$bkpt-pull-quote: 560;
