@import "variables-baseline-grid";

// Colors
$color-primary: #0288d1;
$color-primary-dark: #0277bd;
$color-primary-light: #b3e5fc;

$color-text: #212121;
$color-text-secondary: #888;
$color-text-placeholder: #bdbdbd;
$color-text-dividers: #e0e0e0;
$color-text-ui-background: #fff;
$color-text-ui-background-hue: #f5f5f5;
$color-text-ui-code: #f7f7f7;

$color-text--reverse: #fff;
$color-text-secondary--reverse: #9e9e9e;
// there is no $color-text-placeholder--reverse
$color-text-dividers--reverse: #616161;
$color-text-ui-background--reverse: #212121;
$color-text-ui-background-hue--reverse: #333;

$color-information: #0288d1;
$color-success: #629f43;
$color-success-dark: #569037;
$color-attention: #cf0c4e;

$color-overlay: rgba(0, 0, 0, 0.8);

$color-arbitrary-a1: rgb(54, 107, 251); // Blue
$color-arbitrary-a2: rgb(156, 39, 176); // Purple
$color-arbitrary-a3: rgb(213, 0, 0);    // Red

$color-arbitrary-background-b1: rgb(144, 202, 249); // Blue
$color-arbitrary-background-b2: rgb(197, 225, 165); // Green
$color-arbitrary-background-b3: rgb(255, 183, 77);  // Orange
$color-arbitrary-background-b4: rgb(255, 241, 118); // Yellow
$color-arbitrary-background-b5: rgb(158, 134, 201); // Purple
$color-arbitrary-background-b6: rgb(229, 115, 115); // Red
$color-arbitrary-background-b7: rgb(244, 143, 177); // Pink
$color-arbitrary-background-b8: rgb(230, 230, 230); // Grey

// Typography
$font-primary: Georgia, serif;
$font-secondary: "Avenir Next Webfont", Arial, Helvetica, sans-serif;
$font-monospace: "Courier 10 Pitch", Courier, monospace;

// TODO: Review with design whether explicitly tying together the baseline grid and the base font size is desireable.
// It is a design requirement that most element heights are set using baseline grid variables. This requires the baseline
// grid measure to scale when the base font size changes to avoid vertically overlapping lines of text.
// The line below explicitly derives the base font size from the smallest baseline grid measure. This may be
// too explicit, it may be enough to set them manually, keeping in mind their relationship.
$font-size-base-in-px: $blg-measure-extra-small-in-px * 4 / 3;

$font-size-small-in-px: $font-size-base-in-px * (14 / 16);
$font-size-extra-small-in-px: $font-size-base-in-px * (11 / 16);

$font-size-h1-in-px: $font-size-base-in-px * 36 / 16;
$font-size-h2-in-px: $font-size-base-in-px * 26 / 16;
$font-size-h3-in-px: $font-size-base-in-px * 22 / 16;
$font-size-h4-in-px: $font-size-base-in-px * 20 / 16;
$font-size-h5-in-px: $font-size-base-in-px * 18 / 16;
$font-size-h6-in-px: $font-size-base-in-px;

$font-size-caption-in-px: $font-size-base-in-px * 13 / 16;
$font-size-table-text-in-px: $font-size-base-in-px * 13 / 16;

// TODO: Create typographical style mixins from these? Can they be consolidated?
$font-size-pullquote-in-px: $font-size-base-in-px * 24 / 16;
$font-size-msa-link: $font-size-base-in-px * 12 / 16;
$font-size-profile-name: $font-size-base-in-px * 18 / 16;
$font-size-main-listing-article-title: $font-size-base-in-px * 20 / 16;
$font-size-side-listing-article-title: $font-size-base-in-px * 18 / 16;
$font-size-carousel-item-title: $font-size-base-in-px * 24 / 16;
$font-size-content-header-simple-title-in-px: 20;

$box-font-scaling-factor: 0.85;

// Widths
$max-width-grid-listing-item: 400;
$max-width-block-link: 600;
$max-width-image-link: $max-width-block-link;
$med-width-grid-listing-item: 263;
$min-width-grid-listing-item: 245;
$grid-listing-spacing-measure: 36;

$max-site-width: 1114;
$max-site-width-in-rem: get-rem-from-px($max-site-width);
$viewport-width-when-site-hits-max-width-in-px: 1245;
$viewport-width-when-site-hits-max-width-in-rem: get-rem-from-px($viewport-width-when-site-hits-max-width-in-px);

// Heights
$audio-player-height: 90;
$audio-player-height--js: $blg-measure-large-in-px;
$content-header-image-height--narrow-screen: $blg-measure-small-in-px * 11;
$content-header-image-height--medium-width-screen: $blg-measure-small-in-px * 12;
$content-header-image-height--wide-screen: $blg-measure-small-in-px * 14;
$content-header-image-credit-height: $blg-measure-medium-in-px;
$carousel-height: 400;

$highlightHeightWithJs: ($blg-measure-extra-small-in-px / 12) * 106;

$button-height-extra-small: 24;
$button-height-small: 36;
$button-height-regular: $blg-measure-medium-in-px;

$site-header-max-height: $blg-measure-count-4-in-px;
$site-header-title-height-in-px: $site-header-max-height - 1;
$site-header-logo-height-in-px: 70;
// 40px when medium measure is 48px, scale proportionally to that when different
$secondary-nav-height: $blg-measure-medium-in-px * 40 / 48;
// 54px when medium measure is 48px, scale proportionally to that when different
$nav-primary-height: $blg-measure-medium-in-px * 54 / 48;

// Widths
$content-header-download-width: 20;
$content-header-download-width-medium: 44;
$content-header-profile-width: 48;

$button-speech-bubble-width-in-px: 42;

// Spacing
$teaser-spacing-left: 16;

$content-header-padding-horizontal: 24;

// TODO: rename these
$content-header-side-padding: 6; //vw
$content-header-side-padding--extra-wide: 30; //px

// Breakpoints

$bkpt-site--x-small: 320;
$bkpt-site--small: 480;
$bkpt-site--medium: 730;
$bkpt-site--wide: 900;
$bkpt-site--x-wide: 1200;

// TODO: Replace the use of these with site breakpoints above
$bkpt-content-header--medium-width: $bkpt-site--medium;
$bkpt-content-header--wide: $bkpt-site--wide;
$bkpt-content-header--extra-wide: $bkpt-site--x-wide;

//$bkpt-block-link: 600;
$bkpt-block-link: $bkpt-site--medium;
$bkpt-image-link: $bkpt-block-link;
$bkpt-grid-listing--narrow-screen: $bkpt-block-link;
$bkpt-grid-listing--medium-width: 882;
$bkpt-grid-link-listing--wide-screen: 1174;

$bkpt-captioned-asset-caption: 430;
$bkpt-view-selector: $bkpt-site--x-wide;

// TODO: review these breakpoints:
$bkpt-article-download-links-list: 560;
$bkpt-pull-quote: 560;
$bkpt-section-listing: $bkpt-site--x-wide;

// Borders
$border-radius: 3;
$border-width: 1;

// Animations
$transition-duration: 0.5s;
$transition-delay: 50ms;
$transition-timing-function: ease-in-out;
