/* SANS */

/* Regular */
@font-face {
  font-display: fallback;
  font-family: "Noto Sans";
  src: url("NotoSans-Regular-webfont-western-latin.woff2") format("woff2");
}

/* Bold */
@font-face {
  font-display: fallback;
  font-family: "Noto Sans";
  src: url("NotoSans-SemiBold-webfont-western-latin.woff2") format("woff2");
  font-weight: bold;
}

/* SERIF */

/* Regular */
@font-face {
  font-display: fallback;
  font-family: "Noto Serif";
  src: url("NotoSerif-Regular-webfont-western-latin.woff2") format("woff2");
}
