<!-- Use most appropriate element here: <a> or <button> -->
<button class="button button--outline button--extra-small"
        {{#buttonType}}type="{{buttonType}}"{{/buttonType}}>
  {{buttonText}}
</button>
