{{! To be valid HTML, this pattern must be included as a partial within a <dl> }}
<dt class="additional-asset__text" id="{{assetId}}">
  <span class="additional-asset__heading_text">{{{headingPart1}}} </span>
  {{#headingPart2}}<span class="additional-asset__heading_text">{{{headingPart2}}} </span>{{/headingPart2}}
  {{#textPart}}<span class="additional-asset__main_text">{{{textPart}}}</span>{{/textPart}}
</dt>

<dd class="additional-asset__access">

  {{#doi}}
    {{> atoms-doi}}
  {{/doi}}

  {{^doi}}
    <a class="additional-asset__link" href="{{nonDoiLink}}">{{{nonDoiLink}}}</a>
  {{/doi}}

    <div>
      <a class="additional-asset__link additional-asset__link--download" href="{{downloadLink.url}}"{{#downloadLink.fileName}} download="{{downloadLink.fileName}}"{{/downloadLink.fileName}}>{{{downloadLink.name}}}</a>
    </div>

</dd>
