{{! NOTE: This is the link to the all subjects list, not a link within the all subjects list.}}
<a href="#{{targetFragmentId}}" class="all-subjects-list-link" data-behaviour="AllSubjectsListLink">All subjects</a>

