<div class='altmetric-container'>
    <script src='https://d1bxh8uas1mnw7.cloudfront.net/assets/embed.js'></script>
    <div class='altmetric-embed' 
    data-badge-type='{{donutSize}}' 
    {{#showBadgeDetails}} data-badge-details='right' {{/showBadgeDetails}}
    data-doi={{doi}}>
    </div>
    {{^showBadgeDetails}}
    <p>Altmetric provides a collated score for online attention across various platforms and media.<br/>
    <a href="#metrics">See more details</a>
    </p>
    {{/showBadgeDetails}}
</div>