<section class="term_wrapper">
  <div class="term-title">{{title}}</div>
  <div class="term-description" aria-label="{{termDescriptionAriaLabel}}">{{{termDescription}}}</div>
  <ul class="terms" aria-label="The following is a list terms editors can choose from">
    {{#terms}}
      <li class="term{{#isHighlighted}} term-highlighted{{/isHighlighted}}">{{term}}</li>
    {{/terms}}
  </ul>
</section>
