{{! Added author-details__section-- BEM variants for use with js behaviour, will delete if too fine-grained. }}
<div class="author-details" id="{{authorId}}">

  <h4 class="author-details__name">{{{name}}}</h4>

  {{#hasAffiliations}}
  <ol class="author-details__affiliations author-details__section author-details__section--affiliations">
    {{#affiliations}}
      <li class="author-details__affiliation">{{.}}</li>
    {{/affiliations}}
  </ol>
  {{/hasAffiliations}}

  {{#presentAddress}}
    <section class="author-details__section author-details__section--present-address">
    <h5 class="author-details__heading">Present address: </h5>
    <span class="author-details__text">{{presentAddress}}</span>
    </section>
  {{/presentAddress}}

  {{#contributionStatement}}
    <section class="author-details__section author-details__section--contribution-statement">
    <h5 class="author-details__heading">Contribution: </h5>
    <span class="author-details__text">{{{contributionStatement}}}</span>
    </section>
  {{/contributionStatement}}

  {{#equalContributionStatement}}
    <section class="author-details__section author-details__section--equal-contribution-statement">
      <h5 class="author-details__heading">Contributed equally with: </h5>
      <span class="author-details__text">{{{equalContributionStatement}}}</span>
    </section>

  {{/equalContributionStatement}}

  {{#hasMeansOfCorrespondence}}
  <section class="author-details__section author-details__section--means-of-correspondence">
    <h5 class="author-details__heading">For correspondence: </h5>

    {{#meansOfCorrespondence}}
      {{#isEmail}}
        <a href="mailto:{{value}}" class="author-details__text author-details__link">{{value}}</a>
      {{/isEmail}}
      {{^isEmail}}
        <span class="author-details__text">{{value}}</span>
      {{/isEmail}}
    {{/meansOfCorrespondence}}
  </section>
  {{/hasMeansOfCorrespondence}}

  <section class="author-details__section author-details__section--competing-interest">
    <h5 class="author-details__heading">Competing interests: </h5>
    <span class="author-details__text">{{{competingInterest}}}</span>
  </section>

  {{#orcid}}
  <section class="author-details__section author-details__section--orcid">
    <a href="https://orcid.org/" target="_blank" class="author-details__link author-details__link--orcid">
      <img src="{{icon.src}}" srcset="{{icon.srcset}}" alt="ORCID icon" /></a> <a href="https://orcid.org/{{id}}" target="_blank" class="author-details__text author-details__link author-details__link--orcid">{{id}}</a>
  </section>
  {{/orcid}}
</div>

