<a href="{{url}}"
   class="block-link"
  {{#behaviour}} data-behaviour="{{behaviour}}"{{/behaviour}}
{{#backgroundImage}}
   data-low-res-image-source="{{lowResImageSource}}"
   data-high-res-image-source="{{highResImageSource}}"
{{/backgroundImage}}>

  <div class="block-link__inner">
    {{{text}}}
  </div>


</a>
