{{#type}}
  <button class="button {{classes}}" type="{{type}}"{{#id}} id="{{id}}"{{/id}}{{#name}} name="{{name}}"{{/name}}>{{{text}}}</button>
{{/type}}
{{^type}}
  <a href="{{path}}" class="button {{classes}}" {{#id}} id="{{id}}"{{/id}}>{{{text}}}</a>
{{/type}}
