{{#type}}
  <button class="button {{classes}}" type="{{type}}"{{#id}} id="{{id}}"{{/id}} name="{{name}}">{{text}}</button>
{{/type}}
{{^type}}
  <a href="{{path}}" class="button {{classes}}">{{{text}}}</a>
{{/type}}
