{{#type}}
  <button class="button {{classes}}" type="{{type}}"{{#id}} id="{{id}}"{{/id}}{{#name}} name="{{name}}"{{/name}}{{#clipboard}} data-behaviour="ButtonClipboard" data-clipboard="{{{clipboard}}}"{{/clipboard}}>{{{text}}}</button>
{{/type}}
{{^type}}
  <a href="{{path}}" class="button {{classes}}" {{#id}} id="{{id}}"{{/id}}{{#clipboard}} data-behaviour="ButtonClipboard" data-clipboard="{{{clipboard}}}"{{/clipboard}}>{{{text}}}</a>
{{/type}}
