
<figure class="captioned-image">
  {{> atom-picture }}

  <figcaption class="captioned-image__caption">
    <p class="captioned-image__caption_heading">{{{ heading }}}</p>
    <p class="captioned-image__caption_text">{{{ caption }}}</p>
  </figcaption>
</figure>
