{{#isInline}}
  <span class="code">{{#tag}}<{{tag}}>{{/tag}}{{{code}}}{{#tag}}</{{tag}}>{{/tag}}</span>
{{/isInline}}

{{^isInline}}
  <div class="code code--block">
    {{#tag}}<{{tag}}>{{/tag}}{{{code}}}{{#tag}}</{{tag}}>{{/tag}}
  </div>
{{/isInline}}
