{{#isCollapsible}}
  <div class="definition-list__wrapper">
{{/isCollapsible}}
    <dl class="definition-list{{#variant}} definition-list--{{variant}}{{/variant}}"{{#isCollapsible}} data-behaviour="Collapsible"{{/isCollapsible}}>
      {{#items}}
        <dt>{{{term}}}</dt>{{!
        }}{{#descriptors}}{{!
          }}<dd>{{{.}}}</dd>{{!
        }}{{/descriptors}}
      {{/items}}
    </dl>
{{#isCollapsible}}
  </div>
{{/isCollapsible}}
