<dl class="definition-list{{#variant}} definition-list--{{variant}}{{/variant}}"{{#label}} aria-label="{{label}}"{{/label}}>
  {{#items}}
    <dt{{#color}} class="definition-list--{{color}}"{{/color}}>{{{term}}}</dt>{{!
    }}{{#descriptors}}{{!
      }}<dd>{{{.}}}</dd>{{!
    }}{{/descriptors}}
  {{/items}}
</dl>
