<dl class="definition-list{{#variant}} definition-list--{{variant}}{{/variant}}">
  {{#items}}
    <dt{{#color}} class="definition-list--{{color}}"{{/color}}>{{{term}}}</dt>{{!
    }}{{#descriptors}}{{!
      }}<dd>{{{.}}}</dd>{{!
    }}{{/descriptors}}
  {{/items}}
</dl>
