<script data-behaviour="HypothesisLoader">

  window.hypothesisConfig = function () {
    return {
      branding: {
        accentColor: '#0288D1',
        appBackgroundColor: 'white',
        ctaBackgroundColor: '#0288D1',
        ctaTextColor: 'white',
        selectionFontFamily: 'Georgia, Times, serif',
        annotationFontFamily: 'Georgia, Times, serif'
      },
      openSidebar: '#annotations' === window.location.hash,
      disableToolbarCloseBtn: false,
      disableToolbarMinimizeBtn: true,
      disableToolbarHighlightsBtn: true,
      disableToolbarNewNoteBtn: true,
      disableBucketBar: true,
      enableSidebarDropShadow: true,
      enableExperimentalNewNoteButton: true,
      enableCleanOnboardingTheme: true,
      theme: 'clean',
      usernameUrl: {{usernameUrl}},
      services: [{
        apiUrl: {{hypothesisApiUrl}},
        authority: {{hypothesisAuthority}},
        icon: {{iconPath}},
        grantToken: {{#loginPath}}{{grantToken}}{{/loginPath}}{{^loginPath}}null{{/loginPath}}
        {{#loginPath}},
          onLoginRequest: function () {
            window.location.assign({{ loginPath }});
          },
          onSignupRequest: function () {
            window.location.assign({{ loginPath }});
          }
        {{/loginPath}}
        {{^loginPath}},
          onLogoutRequest: function () {
            window.location.assign({{ logoutPath }});
          },
          onProfileRequest: function () {
            window.location.assign({{ profilePath }});
          }
        {{/loginPath}}
      }],
      showHighlights: 'whenSidebarOpen'
    };
  }

</script>
