<div class="info-bar info-bar--{{type}}">

  {{#isClear}}
    <div class="info-bar__container">
  {{/isClear}}
      <span class="info-bar__text">{{{text}}}</span>

  {{#isClear}}
      <a href="" class="info-bar__clear__btn">Close</a>
    </div>
  {{/isClear}}

</div>
