<div class="info-bar info-bar--{{type}}" id="{{id}}" data-behaviour="DismissButton" data-cookie-name-root="infoBar_">

  <div class="info-bar__container">
    <div class="info-bar_text">{{{text}}}</div>
  </div>
</div>
