
<div class="info-bar info-bar--info">
  <span>You may want to consider this</span>
</div>

<br>

<div class="info-bar info-bar--success">
  <span>Operation completed successfully</span>
</div>

<br>

<div class="info-bar info-bar--attention">
  <span>Please complete the following tasks</span>
</div>
