{{#isOrdered}}

    <ol class="list{{#prefix}} list--{{prefix}}{{/prefix}}">
        {{#items}}
            <li>{{{.}}}</li>
        {{/items}}
    </ol>

{{/isOrdered}}

{{^isOrdered}}

    <ul class="list{{#prefix}}  list--{{prefix}}{{/prefix}}">
        {{#items}}
            <li>{{{.}}}</li>
        {{/items}}
    </ul>

{{/isOrdered}}
