{{#isOrdered}}

    <ol class="list{{#prefix}} list--{{prefix}}{{/prefix}}{{#classes}} {{classes}}{{/classes}}">
        {{#items}}
            <li>{{{.}}}</li>
        {{/items}}
    </ol>

{{/isOrdered}}

{{^isOrdered}}

    <ul class="list{{#prefix}} list--{{prefix}}{{/prefix}}{{#classes}} {{classes}}{{/classes}}">
        {{#items}}
            <li>{{{.}}}</li>
        {{/items}}
    </ul>

{{/isOrdered}}


 <ul class="list">
            <li><p class="paragraph">Six2:</p>


    <ul class="list">
            <li><p class="paragraph">F: <span class="sequence">CACCTCCACAAGAATGAAAGCG</span></p>
</li>
            <li><p class="paragraph">R: <span class="sequence">CTCCGCCTCGATGTAGTGC</span></p>
</li>
    </ul>

</li>
            <li><p class="paragraph">Cited1:</p>


    <ul class="list">
            <li><p class="paragraph">F: <span class="sequence">AACCTTGGAGTGAAGGATCGC</span></p>
</li>
            <li><p class="paragraph">R: <span class="sequence">GTAGGAGAGCCTATTGGAGATGT</span></p>
</li>
    </ul>

</li>
            <li><p class="paragraph">Wnt4:</p>


    <ul class="list">
            <li><p class="paragraph">F: <span class="sequence">AGACGTGCGAGAAACTCAAAG</span></p>
</li>
            <li><p class="paragraph">R: <span class="sequence">GGAACTGGTATTGGCACTCCT</span></p>
</li>
    </ul>

</li>
            <li><p class="paragraph">Jag1:</p>


    <ul class="list">
            <li><p class="paragraph">F: <span class="sequence">CCTCGGGTCAGTTTGAGCTG</span></p>
</li>
            <li><p class="paragraph">R: <span class="sequence">CCTTGAGGCACACTTTGAAGTA</span></p>
</li>
    </ul>

</li>
            <li><p class="paragraph">Fgf8:</p>


    <ul class="list">
            <li><p class="paragraph">F: <span class="sequence">CCGAGGAGGGATCTAAGGAAC</span></p>
</li>
            <li><p class="paragraph">R: <span class="sequence">CTTCCAAAAGTATCGGTCTCCAC</span></p>
</li>
    </ul>

</li>
            <li><p class="paragraph">Lhx1:</p>


    <ul class="list">
            <li><p class="paragraph">F: <span class="sequence">CCCATCCTGGACCGTTTCC</span></p>
</li>
            <li><p class="paragraph">R: <span class="sequence">CGCTTGGAGAGATGCCCTG</span></p>
</li>
    </ul>

</li>
            <li><p class="paragraph">Pax8:</p>


    <ul class="list">
            <li><p class="paragraph">F: <span class="sequence">ATGCCTCACAACTCGATCAGA</span></p>
</li>
            <li><p class="paragraph">R: <span class="sequence">ATGCGTTGACGTACAACTTCT</span></p>
</li>
    </ul>

</li>
            <li><p class="paragraph">Tcf7l1:</p>


    <ul class="list">
            <li><p class="paragraph">F: <span class="sequence">CCCGCTGACACCTCTCATC</span></p>
</li>
            <li><p class="paragraph">R: <span class="sequence">ACAGTGGGTAATACGGTGACAG</span></p>
</li>
    </ul>

</li>
            <li><p class="paragraph">Tcf7l2:</p>


    <ul class="list">
            <li><p class="paragraph">F: <span class="sequence">AACGAACACAGCGAATGTTTCC</span></p>
</li>
            <li><p class="paragraph">R: <span class="sequence">CACCTTGTATGTAGCGAACGC</span></p>
</li>
    </ul>

</li>
            <li><p class="paragraph">Tcf7:</p>


    <ul class="list">
            <li><p class="paragraph">F: <span class="sequence">AACTGGCCCGCAAGGAAAG</span></p>
</li>
            <li><p class="paragraph">R: <span class="sequence">CTCCGGGTAAGTACCGAATGC</span></p>
</li>
    </ul>

</li>
            <li><p class="paragraph">Lef1:</p>


    <ul class="list">
            <li><p class="paragraph">F: <span class="sequence">TGTTTATCCCATCACGGGTGG</span></p>
</li>
            <li><p class="paragraph">R: <span class="sequence">CATGGAAGTGTCGCCTGACAG</span></p>
</li>
    </ul>

</li>
    </ul>
