<div class="meta">

  {{#typeLink}}
    <a class="meta__type" href="{{meta.typeLink}}">{{meta.type}}</a>
  {{/typeLink}}

  {{^typeLink}}
    <span class="meta__type" href="{{meta.typeLink}}">{{meta.type}}</span>
  {{/typeLink}}

  <time class="meta__date" datetime="{{meta.dateTime}}">{{meta.dateString}}</time>
</div>
