<li class="{{classes}}">

{{#button.classes}}
  {{#button}}
    {{> atoms-button }}
  {{/button}}
{{/button.classes}}

{{^button.classes}}
  <a href="{{path}}"{{#rel}} rel="{{rel}}"{{/rel}} {{#inactive}}disabled tabindex="-1"{{/inactive}}>
    {{#picture}}
      {{> atoms-picture}}
    {{/picture}}
    {{#textClasses}}<span class="{{textClasses}}"> {{{text}}} </span>{{/textClasses}}
    {{^textClasses}} {{{text}}} {{/textClasses}}
  </a>
{{/button.classes}}
</li>
