<div class="opt-in-message-bar">

  <div class="opt-in-message-bar__message">{{{message}}}</div>

  <div class="opt-in-message-bar__button_wrapper">

    {{#button}}
      {{> atoms-button}}
    {{/button}}

  </div>

</div>

