<span class="orcid" aria-label="An ORCID iD is a persistent digital identifier for researchers">
  <a href="https://orcid.org/">
    <picture>
      <source srcset="{{#assetRewrite}}{{assetsPath}}/img/icons/orcid.svg{{/assetRewrite}}" type="image/svg+xml">
      <img src="{{#assetRewrite}}{{assetsPath}}/img/icons/orcid.png{{/assetRewrite}}" class="orcid__icon"
           alt="ORCID icon">
    </picture>
  </a>
  <a href="https://orcid.org/{{id}}" class="orcid__id">{{id}}</a>
</span>
