<picture>
  <source srcset="{{svg}}" type="image/svg+xml" />
  <img srcset="{{hires.path}} {{hires.width}},
               {{lores.path}} {{lores.width}}"
       src="{{lores.path}}"
       {{#classes}}class="{{classes}}"{{/classes}}
       alt="{{alt}}"/>
</picture>
