<picture>

  {{#variants}}

    <source srcset="{{svg}}"
            type="image/svg+xml"
            {{#media}}media="{{media}}"{{/media}} />

    <img srcset="{{srcset}}"
       src="{{defaultImage}}"
       {{#classes}}class="{{classes}}"{{/classes}}
       alt="{{alt}}" />

  {{/variants}}

</picture>
