
<div class="reference">
  {{#titleLink}}
    <a href="{{titleLink}}" class="reference__title">{{{title}}}</a>
  {{/titleLink}}
  {{^titleLink}}
    <div class="reference__title">{{{title}}}</div>
  {{/titleLink}}

  {{#hasAuthors}}
    <ul class="reference__authors_list">
  {{/hasAuthors}}
    {{#authors}}
      <li class="reference__author">
        {{#authorLink}}
          <a href="{{authorLink}}" class="reference__authors_link">{{{authorName}}}</a>
        {{/authorLink}}
        {{^authorLink}}
          <span class="reference__authors_link">{{{authorName}}}</span>
        {{/authorLink}}
      </li>
    {{/authors}}

  {{#hasAuthors}}
    </ul>
  {{/hasAuthors}}

  {{#origin}}
    <div class="reference__origin">{{{origin}}}</div>
  {{/origin}}

  {{#secondaryLinkText}}
    <a href="{{titleLink}}" class="reference__secondaryLink">{{{secondaryLinkText}}}</a>
  {{/secondaryLinkText}}

  {{#hasAbstracts}}
    <ul class="reference__abstracts">
  {{/hasAbstracts}}
  {{#abstracts}}
    <li class="reference__abstract"><a href="{{link}}" class="reference__abstract_link">{{name}}</a></li>
  {{/abstracts}}

  {{#hasAbstracts}}
    </ul>
  {{/hasAbstracts}}
</div>
