
<div class="reference">
  <a href="#" class="reference__title">Is male song quality important in maintaining pair bonds?</a>
  <div class="reference__authors">
    <a href="#" class="reference__authors_link">V Andreasen J Lin</a>, <a href="#" class="reference__authors_link">SA Levin</a>
  </div>
  <div class="reference__origin">Journal of Mathematical Biology, 35, 825-842, 1997</div>
  <div class="reference__abstracts">
    <a href="#" class="reference__abstracts_link">CrossRef</a>, <a href="#" class="reference__abstracts_link">PubMed</a>
  </div>
</div>
