
<div class="reference">
  <a href="#" class="reference__title">Is male song quality important in maintaining pair bonds?</a>
  <ul class="reference__authors_list">
    <li class="reference__authors_list_item"><a href="#" class="reference__authors_link">V Andreasen J Lin</a>,</li>
    <li class="reference__authors_list_item"><a href="#" class="reference__authors_link">SA Levin</a></li>
  </ul>
  <div class="reference__origin">Journal of Mathematical Biology, 35, 825-842, 1997</div>
  <div class="reference__abstracts">
    <a href="#" class="reference__abstracts_link">CrossRef</a>, <a href="#" class="reference__abstracts_link">PubMed</a>
  </div>
</div>
