<ul class="social-media-sharers">
  <li><a class="social-media-sharer facebook" href="{{facebookUrl}}" target="_blank" rel="noopener noreferrer" aria-label="Share on Facebook"><span class="visuallyhidden">Facebook</span></a></li>
  <li><a class="social-media-sharer twitter" href="{{twitterUrl}}" target="_blank" rel="noopener noreferrer" aria-label="Tweet a link to this page"><span class="visuallyhidden">Twitter</span></a></li>
  <li><a class="social-media-sharer linkedin" href="{{linkedInUrl}}" target="_self" aria-label="Share this page to LinkedIn (opens up email program, if configured on this system)"><span class="visuallyhidden">LinkedIn</span></a></li>
  <li><a class="social-media-sharer reddit" href="{{redditUrl}}" target="_blank" rel="noopener noreferrer" aria-label="Share this page on Reddit"><span class="visuallyhidden">Reddit</span></a></li>
</ul>
