<button class="speech-bubble{{#hasPlaceholder}} speech-bubble--has-placeholder{{/hasPlaceholder}}{{#isSmall}} speech-bubble--small {{/isSmall}}{{#shareFeedback}} speech-bubble--share-your-feedback {{/shareFeedback}}{{#_pl_only_isLoading}} speech-bubble--loading{{/_pl_only_isLoading}}"
        data-behaviour="SpeechBubble{{#behaviour}} {{behaviour}}{{/behaviour}}"
  {{#_pl_only_isDisabled}} disabled{{/_pl_only_isDisabled}}
aria-live="polite">
  {{#shareFeedback}}<span class="speech-bubble__text">Share your feedback</span>{{/shareFeedback}}
  <span class="speech-bubble__inner {{#shareFeedback}}speech-bubble__inner-placeholder{{/shareFeedback}}">{{{text}}}</span>
</button>
