<button class="speech-bubble{{#hasPlaceholder}} speech-bubble--has-placeholder{{/hasPlaceholder}}{{#isSmall}} speech-bubble--small {{/isSmall}}{{#isLoading}} speech-bubble--loading{{/isLoading}}"
        data-behaviour="SpeechBubble{{#behaviour}} {{behaviour}}{{/behaviour}}"{{#isDisabled}} disabled{{/isDisabled}}>
  {{{text}}}
</button>
