<button class="speech-bubble{{#hasPlaceholder}} speech-bubble--has-placeholder{{/hasPlaceholder}}{{#isSmall}} speech-bubble--small {{/isSmall}}{{#shareFeedback}} speech-bubble--share-your-feedback {{/shareFeedback}}{{#_pl_only_isLoading}} speech-bubble--loading{{/_pl_only_isLoading}}"
        data-behaviour="SpeechBubble{{#behaviour}} {{behaviour}}{{/behaviour}}"
aria-live="polite">
  {{#shareFeedback}}<span class="speech-bubble__text">Share your feedback</span>{{/shareFeedback}}
  <span class="speech-bubble__inner {{#shareFeedback}}speech-bubble__inner-placeholder{{/shareFeedback}}">{{{text}}}{{#shareFeedbackPlaceholder}}<img src="../../assets/img/icons/annotation-plus.svg" alt="placeholder" />{{/shareFeedbackPlaceholder}}</span>
</button>
