{{#tables}}

  <div class="table-wrap">

    {{{.}}}

  </div>

{{/tables}}

{{#hasFootnotes}}

  <ol class="list">
    {{#footnotes}}
      <li class="table-footnote" {{#id}} id="{{id}}"{{/id}}>
        {{#label}}<div class="table-footnote__label">{{label}}</div>{{/label}}
        <div class="table-footnote__text">{{{text}}}</div>
      </li>
    {{/footnotes}}
  </ol>

{{/hasFootnotes}}
