<section class="term_wrapper">
  <div class="term-title">{{title}}</div>
  <div class="term-description">{{{termDescription}}}</div>
  <ul class="terms">
    {{#terms}}
      <li class="term{{#isHighlighted}} term-highlighted{{/isHighlighted}}">{{term}}</li>
    {{/terms}}
  </ul>
</section>
