<section class="terms_wrapper">
  <div class="terms-title">{{title}}</div>
  <div class="terms-summary">{{{summary}}}</div>
  <ul class="terms">
    {{#terms}}
      <li class="term{{#isHighlighted}} term-highlighted{{/isHighlighted}}">{{term}}</li>
    {{/terms}}
  </ul>
</section>
