<section class="terms_wrapper">
  <div class="terms-title">Significance of the findings:</div>
  <div class="terms-summary"><strong>Valuable</strong>: Contains findings that have theoretical or practical implications for a subfield.</div>
  <ul class="terms">
    <li class="term">Landmark</li>
    <li class="term">Fundamental</li>
    <li class="term">Important</li>
    <li class="term term-highlighted">Valuable</li>
    <li class="term">Useful</li>
  </ul>
</section>
