<div class="tweet">
  <blockquote class="twitter-tweet"{{#hideConversation}} data-conversation="none"{{/hideConversation}}{{#hideCards}} data-cards="hidden"{{/hideCards}}>
    {{#text}}
      {{> atoms-paragraph }}
    {{/text}}
    &mdash; {{accountLabel}} (@{{accountId}}) <a href="{{url}}">
    {{#date}}
      {{>atoms-date}}
    {{/date}}
    </a>
  </blockquote>
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
