<div class="tweet">
  <blockquote class="twitter-tweet">
    {{#text}}
      {{> atoms-paragraph }}
    {{/text}}
    &mdash; eLife - the journal (@eLife) <a href="https://twitter.com/eLife/status/{{id}}">
    {{#date}}
      {{>atoms-date}}
    {{/date}}
    </a>
  </blockquote>
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
