<section class="sitefooter">

  <div class="mainmenu">
    {{#mainmenulinks}}
    <h3>{{title}}</h3>
    <ul>
      {{#items}}
      <li>
        <a href="{{url}}">{{name}}</a>
      </li>
      {{/items}}
    </ul>
    {{/mainmenulinks}}
  </div>

  <div class="investorlogos">
    <img src="http://www.fillmurray.com/300/200" alt="" />
    <img src="http://www.fillmurray.com/300/200" alt="" />
    <img src="http://www.fillmurray.com/300/200" alt="" />
  </div>

  <footer class="">

    <ul>
      <li>
        <a href="#">About</a>
      </li>
    </ul>

    <div class="">
      <ul>
        <li>
          <a href="#">Facebook</a>
        </li>
        <li>
          <a href="#">Google+</a>
        </li>
        <li>
          <a href="#">Instagram</a>
        </li>
        <li>
          <a href="#">LinkedIn</a>
        </li>
        <li>
          <a href="#">Twitter</a>
        </li>
      </ul>
    </div>

    <div class="">
      <p>eLife Sciences is a unique, non-profit collaboration between the funders and practitioners of research to improve the way important results are presented and shared. The open-access eLife journal is the first step in this initiative to make science publishing more effectively benefit science and scientists.</p>
      <p>eLife Sciences Publications, Ltd is a limited liability non-profit non-stock corporation incorporated in the State of Delaware, USA, with company number 5030732, and is registered in the UK with company number FC030576 and branch number BR015634 at the address:</p>

      <p>
        eLife Sciences Publications, Ltd<br>
        1st Floor, 24 Hills Road<br>
        Cambridge CB2 1JP<br>
        UK
      </p>

      <p>© 2015 eLife Sciences Publications Ltd. Subject to a Creative Commons Attribution license, except where otherwise noted. ISSN: 2050-084X</p>
    </div>

  </footer>

</section>
