<div class="box">

  {{#label}}
    {{{label}}}
  {{/label}}

  <h{{headingLevel}}>{{title}}</h{{headingLevel}}>

  {{#content}}
    {{{content}}}
  {{/content}}

  {{#doi}}
    {{> atoms-doi}}
  {{/doi}}

</div>
