<div class="carousel" data-behaviour="Carousel">

  <ol class="carousel__items">

    {{#items}}

      <li class="carousel__item_wrapper">
        {{> molecules-carousel-item}}
      </li>

    {{/items}}

  </ol>

</div>
