<div class="carousel" role="region" data-behaviour="Carousel"{{#headingId}} aria-labelledby="{{headingId}}"{{/headingId}}>
  {{#heading}}
    {{>atoms-list-heading}}
  {{/heading}}

  <ul class="carousel__items">

    {{#items}}
      {{> molecules-carousel-item}}
    {{/items}}
    <div class="carousel__image-credit carousel__image-credit--overlay">
      {{{ attributionText }}}
    </div>

  </ul>

</div>
