{{! TODO: improve html semantics }}
<form class="contact-form">

  <div class="contact-form__container">

    <h2 class="contact-form__header">{{heading}}</h2>

    {{{introduction}}}

    <div class="contact-form__body">

      <fieldset class="contact-form__fields">

        <label for="name" class="form-label">Name</label>
        <input type="text" id="name" name="name" value="" class="text-field text-field--text" required>

        <label for="email" class="form-label">Email</label>
        <input type="email" id="email" name="email" value="" class="text-field text-field--email" required>

        <label for="question" class="form-label">Question</label>
        <textarea id="question" name="question" rows="8" cols="40" class="text-field text-field--textarea"></textarea>

        <input type="submit" class="button button--default" name="submit" value="Submit">

      </fieldset>

      <div class="contact-form__meta">

        <div class="contact-form__meta_title">Email</div>
        <p>
          {{#email.link}}
          <a href="{{email.link}}" class="contact-form__meta_link">{{email.displayText}}</a>
          {{/email.link}}

          {{^email.link}}
            {{email.displayText}}
          {{/email.link}}

        </p>

        <div class="contact-form__meta_title">Telephone</div>
        <p>
          <a href="tel:+441223855340" class="contact-form__meta_link">+44 1223 855340</a>
        </p>

        <div class="contact-form__meta_title">Address</div>
        <address class="contact-form__meta_address">
          eLife<br>
          1st Floor<br>
          24 Hills Road<br>
          Cambridge<br>
          CB2 1JP<br>
          UK
        </address>

      </div>

    </div>

  </div>

</form>
