<aside class="content-aside" data-behaviour="ContentAside">
  <div class="content-aside__column-wrapper">
    <div class="content-aside__first-column">
      {{#status}}
        <div class="status-wrapper">
          <h5 class="status-title{{#titleLength}} status-title__{{titleLength}}{{/titleLength}}">{{status.title}}</h5>
        
          {{#status.description}}
            <div class="status-description">{{status.description}}</div>
          {{/status.description}}
        
          {{#status.link}}
            <a href="{{status.link.url}}" class="status-link">{{status.link.name}}</a>
          {{/status.link}}
        </div>
      {{/status}}
    
      {{#actionButtons}}
        {{>molecules-button-collection}}
      {{/actionButtons}}
      
      {{#metrics}}
        {{>molecules-contextual-data}}
      {{/metrics}}
    
    </div>   
    
    <div class="content-aside__second-column">
    
      {{#timeline}}
        <div class="divider"></div>
    
        <div class="content-aside__definition-list">
          {{>atoms-definition-list}}
        </div>
      {{/timeline}}
      
      {{#related}}
        <div class="divider"></div>
    
        <div class="content-aside__related-item grid-secondary-column__item--extended-wide-only">
          {{> organisms-listing-teasers }}
        </div>
      {{/related}}
    
    </div>
  </div>

  <div class="divider"></div>

</aside>
