<aside class="content-aside">
  <div class="content-aside__first-column">
    {{#status}}
      <div class="status-wrapper">
        <h5 class="status-title">{{status.title}}</h5>
      
        {{#status.description}}
          <div class="status-description">{{status.description}}</div>
        {{/status.description}}
      
        {{#status.link}}
          <a href="{{status.url}}" class="status-link">{{status.link}}</a>
        {{/status.link}}
      </div>
    {{/status}}
  
    {{#actionButtons}}
      {{>molecules-button-collection}}
    {{/actionButtons}}
    
    {{#metrics}}
      {{>molecules-contextual-data}}
    {{/metrics}}
  </div>   
  
  <div class="content-aside__second-column">
    {{#timeline}}
      {{>atoms-definition-list}}
    {{/timeline}}
  </div>   

</aside>
