
<form class="contact-form">

  <div class="contact-form__container">

    <h3 class="contact-form__header">Contact Us</h3>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
    <p>ncididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, velit esse cillum dolore eu fugiat nulla pariatur.</p>

    <fieldset>

      <label for="name">Name</label>
      <input type="text" id="name" name="name" value="">

      <label for="name">Email</label>
      <input type="text" id="email" name="email" value="">

      <label for="question">Question</label>
      <textarea id="question" name="question" rows="8" cols="40"></textarea>

      <input type="submit" class="button button--default" name="submit" value="Submit">

    </fieldset>

    <div class="contact-form__meta">

      <div class="contact-form__meta_title">Email</div>
      <p>
        <a href="mailto:staff@elifesciences.org">staff@elifesciences.org</a>
      </p>

      <div class="contact-form__meta_title">Telephone</div>
      <p>+44 1223 855340</p>

      <div class="contact-form__meta_title">Address</div>
      <address>
        eLife<br>
        1st Floor<br>
        24 Hills Road Cambridge CB2 1JP<br>
        UK
      </address>

    </div>

  </div>

</form>
