<ol class="grid-listing">
  {{#blockLinks}}
    <li class="grid-listing-item">
      {{> atoms-block-link}}
    </li>
  {{/blockLinks}}

  {{#archiveNavLinks}}
    <li class="grid-listing-item">
      {{> molecules-archive-nav-link}}
    </li>
  {{/archiveNavLinks}}
</ol>
