<div class="hero-banner" role="region" data-behaviour="Hero-banner" {{#headingId}} aria-labelledby="{{headingId}}" {{/headingId}}>
    {{#item}}
        {{> molecules-hero-banner-item}}
    {{/item}}
</div>
