<div class="wrapper">
    <div class="hero-banner" role="region" data-behaviour="Hero-banner" {{#headingId}} aria-labelledby="{{headingId}}" {{/headingId}}>
        {{#item}}
        <div class="hero-banner-item" data-behaviour="HeroBannerItem">
            {{#image}}
            <picture class='hero-banner-item__picture'>
                {{#sources}}
                <source srcset='{{srcset}}'
                        {{#type}} type='{{type}}' {{/type}}
                        {{#media}} media='{{media}}' {{/media}}>
                {{/sources}}
                {{#fallback}}
                <img src='{{defaultPath}}'
                     {{#srcset}} srcset='{{srcset}}' {{/srcset}}
                     alt='{{altText}}'
                     class='hero-banner-item__image' />
                {{/fallback}}
            </picture>
            {{/image}}
            {{#details}}
            <section class="hero-banner__details">
                <label class="hero-banner__label">{{{label}}}</label>
                <h1 class="hero-banner__title">{{{heading}}}</h1>
                <details>
                    <summary class="hero-banner__summary">{{{summary}}}</summary>
                </details>

                {{#meta}}
                <div class="hero-banner-item__meta">
                    {{> molecules-meta}}
                </div>
                {{/meta}}

            </section>
            {{/details}}
        </div>
        {{/item}}
    </div>
</div>
