<div class="hero-banner" role="region" data-behaviour="Hero-banner" {{#headingId}} aria-labelledby="{{headingId}}" {{/headingId}}>
    <div class="hero-banner-item" data-behaviour="HeroBannerItem">
        {{#subjects}}<ol class="hero-banner__subject_list">
            {{#subjects.list}}
            <li class="hero-banner__subject_list_item">
                <a href="{{url}}" class="hero-banner__subject_link">
                    <span class="hero-banner__subject">{{{name}}}</span>
                </a>
            </li>
            {{/subjects.list}}
        </ol>
        {{/subjects}}
        {{#image}}
        <picture class='hero-banner__picture'>
            {{#sources}}
            <source srcset='{{srcset}}'
                    {{#type}} type='{{type}}' {{/type}}
                    {{#media}} media='{{media}}' {{/media}}>
            {{/sources}}
            {{#fallback}}
            <img src='{{defaultPath}}'
                 {{#srcset}} srcset='{{srcset}}' {{/srcset}}
                 alt='{{altText}}'
                 class='hero-banner__image' />
            {{/fallback}}
        </picture>
        {{/image}}
        <section class="hero-banner__details">
            {{#title}}
            <h1 class="hero-banner__title {{#titleLength}}hero-banner__title--{{titleLength}}{{/titleLength}}{{^titleLength}}hero-banner__title--medium{{/titleLength}}">
                <a href="{{url}}" class="hero-banner__title_link">{{{title}}}</a>
            </h1>
            {{/title}}

            {{#summary}}
            <details>
                <summary class="hero-banner__summary">{{{summary}}}</summary>
            </details>
            {{/summary}}

            {{#authors}}
            <div class="hero-banner__authors">
                {{{authors}}}
            </div>
            {{/authors}}

            {{#meta}}
            <div class="hero-banner__meta">
                {{> molecules-meta}}
            </div>
            {{/meta}}
        </section>
    </div>
</div>
