<div class="highlight" role="region">
  {{#heading}}
    {{>atoms-list-heading}}
  {{/heading}}

  <ul class="highlight__items {{#itemsCount}}highlight__items__count--{{itemsCount}}{{/itemsCount}}{{^itemsCount}}highlight__items__count--three{{/itemsCount}}">

    {{#items}}
      {{> molecules-highlight-item}}
    {{/items}}

  </ul>

</div>
