<div class="highlights" role="region" data-behaviour="Highlights" aria-labelledby="highlightheading">

  <h3 id="highlightheading" class="highlight__heading">
    Highlights
  </h3>

  <ul class="highlights__items">
    {{#items}}
      {{> molecules-highlight}}
    {{/items}}
  </ul>

</div>
