<div class="highlight" role="region" data-behaviour="Highlight"{{#headingId}} aria-labelledby="{{headingId}}"{{/headingId}}>
  {{#heading}}
    {{>atoms-list-heading}}
  {{/heading}}

  <ul class="highlight__items">

    {{#items}}
      {{> molecules-highlight-item}}
    {{/items}}

  </ul>

</div>
