<div class="highlight" role="region">
  {{#heading}}
    {{>atoms-list-heading}}
  {{/heading}}

  <ul class="highlight__items">

    {{#items}}
      {{> molecules-highlight-item}}
    {{/items}}

  </ul>

</div>
