{{>atoms-list-heading}}

{{#highlighted}}
  <div class="listing-list-container--highlighted" data-behaviour="Highlighted" role="region" aria-labelledby="{{id}}">
{{/highlighted}}

  <ol class="listing-list {{#highlighted}}listing-list--highlighted{{/highlighted}}"{{#id}} id="{{id}}"{{/id}}>
    {{#items}}<li class="listing-list__item">{{> molecules-teaser }}</li>{{/items}}{{#seeMoreLink}}<li class="listing-list__item">{{> atoms-see-more-link}}</li>{{/seeMoreLink}}
  </ol>

{{#highlighted}}
  </div>
{{/highlighted}}

{{#highlighted}}
  <p class="trigger-collection">
    <span class="visuallyhidden">Highlights controls:</span> <a id="trigger-prev" class="trigger trigger--prev" href="#">{{#prev}}{{>atoms-picture}}{{/prev}}</a> <a id="trigger-next" class="trigger trigger--next" href="#">{{#next}}{{>atoms-picture}}{{/next}}</a>
  </p>
{{/highlighted}}

{{#pagination}}
  {{> molecules-pager}}
{{/pagination}}
