{{> atoms-list-heading}}
<ol class="listing-list">
{{! isTeaserType and isProfileSnippetType are mutually exclusive. }}
{{#isTeaserType}}
  {{#items}}
      <li class="listing-list__item">
        {{> molecules-teaser }}
    </li>
  {{/items}}
{{/isTeaserType}}

{{#isProfileSnippetType}}
  {{#items}}
      <li class="listing-list__item">
        {{> molecules-profile-snippet }}
      </li>
  {{/items}}
{{/isProfileSnippetType}}

{{#seeMoreLink}}
  <li class="listing-list__item">
    {{> atoms-see-more-link}}
  </li>
{{/seeMoreLink}}

</ol>

{{#loadMore}}
  {{> molecules-load-more}}
{{/loadMore}}
