{{> atoms-list-heading}}
<ol class="listing-list {{#modifiers}}{{modifiers}}{{/modifiers}}"{{#id}} id="{{id}}"{{/id}}>
  {{#items}}
      <li class="listing-list__item">
        {{> molecules-teaser }}
    </li>
  {{/items}}

  {{#seeMoreLink}}
    <li class="listing-list__item">
      {{> atoms-see-more-link}}
    </li>
  {{/seeMoreLink}}

</ol>

<p>
  <span class="visuallyhidden">Toggle highlights</span> <a id="trigger-prev" class="trigger trigger--prev" href="#">{{#prev}}{{>atoms-picture}}{{/prev}}</a> <a id="trigger-next" class="trigger trigger--next" href="#">{{#next}}{{>atoms-picture}}{{/next}}</a>
</p>


{{#pagination}}
    {{> molecules-pager}}
{{/pagination}}
