<li class="listing-list__item">
  <div class="listing-list__divider"></div>
  {{#item}}
    {{> organisms-content-header-read-more }}
  {{/item}}
  {{#content}}
    <div class="listing-list__content">
      {{{ content }}}
    </div>
  {{/content}}
</li>
