<div class="grid-secondary-column__item{{#classes}} {{classes}}{{/classes}}">
  {{#annotationCount}}
    {{> atoms-speech-bubble}}
  {{/annotationCount}}
  {{#teaser}}
    <ol class="listing-list">
      <li class="listing-list__item">
          {{> molecules-teaser }}
      </li>
    </ol>
  {{/teaser}}
</div>
