<div class="grid-secondary-column__item{{#classes}} {{classes}}{{/classes}}">
  {{#annotationCount}}
    {{> atoms-speech-bubble}}
  {{/annotationCount}}
  <div>
    <ol class="listing-list">
      <li class="listing-list__item">
        {{#teaser}}
          {{> molecules-teaser }}
        {{/teaser}}
      </li>
    </ol>
  </div>
</div>
