<li class="accent-item" data-behaviour="AccentItem">
   {{#image}}
   <picture class='accent-item__picture'>
       {{#sources}}
       <source srcset='{{srcset}}'
               {{#type}} type='{{type}}' {{/type}}
               {{#media}} media='{{media}}' {{/media}}>
       {{/sources}}
       {{#fallback}}
       <img src='{{defaultPath}}'
            {{#srcset}} srcset='{{srcset}}' {{/srcset}}
            alt='{{altText}}'
            class='accent-item__image' />
       {{/fallback}}
   </picture>
   {{/image}}

  <div class="accent-item__body">
    <h2 class="accent-item__title">
        <a href="{{url}}" class="accent-item__title_link">{{{title}}}</a>
    </h2>

    {{#authors}}
    <div class="accent-item__authors" id="{{elementId}}">{{{authors}}}</div>
    {{/authors}}

    {{#summary}}
    <details>
        <summary class="accent-item__summary">{{{summary}}}</summary>
    </details>
    {{/summary}}

    {{#meta}}
    <div class="accent-item__meta">
        {{> molecules-meta}}
    </div>
    {{/meta}}
  </div>
  
</li>
