{{! To be valid HTML, this pattern must be included as a partial within a <dl> }}
<dt class="additional-asset__text" id="{{assetId}}">
  {{#captionText}}
    {{> atoms-caption-text}}
  {{/captionText}}
</dt>

<dd class="additional-asset__access">

  {{#doi}}
    {{> atoms-doi}}
  {{/doi}}

  {{^doi}}
    <a class="additional-asset__link" href="{{nonDoiLink}}">{{{nonDoiLink}}}</a>
  {{/doi}}

    <div>
      <a class="additional-asset__link additional-asset__link--download" href="{{downloadLink.url}}"{{#downloadLink.fileName}} download="{{downloadLink.fileName}}"{{/downloadLink.fileName}}>{{{downloadLink.name}}}</a>
    </div>

</dd>
