<ol id="allSubjectsLink" class="all-subjects-list" {{#labelledBy}}aria-labelledby="{{labelledBy}}"{{/labelledBy}}>
  {{#subjects}}
    <li class="all-subjects-list__list_item">
      <a href="{{{url}}}" class="all-subjects-list__list_link">{{{name}}}</a>
    </li>
  {{/subjects}}
</ol>
