<div data-behaviour="ArticleDownloadLinksList" id="{{id}}" aria-labelledby="{{id}}-label">
  <div class="visuallyhidden"><span id="{{id}}-label">{{{description}}}</span>{{! Consider skip link here for AT }}</div>

  {{#groups}}
    <h3 class="article-download-links-list__heading">{{{title}}}</h3>
    <ul class="article-download-list">
      {{#items}}
          <li class="article-download-links-list__item">

            {{#secondary}}
              <dl>
                <dt>
            {{/secondary}}

            {{#primary}}
              <a href="{{url}}"
                       class="article-download-links-list__link"
                       {{#attributes}}data-{{key}}{{#value}}="{{value}}"{{/value}}{{/attributes}}
                    >{{{name}}}</a>
            {{/primary}}

            {{#secondary}}
                </dt>
                <dd><a href="{{url}}" class="article-download-links-list__secondary_link">{{{name}}}</a></dd>
              </dl>
            {{/secondary}}

          </li>
      {{/items}}
    </ul>
  {{/groups}}

</div>
