
{{#articleSection}}
<section class="article-section {{#first}}article-section--first{{/first}}" id="{{id}}">

  <header class="article-section__header">
    <h2 class="article-section__header_text">{{title}}</h2>
  </header>

  <div class="article-section__body">
    {{#body}}
      {{{para}}}
    {{/body}}
    {{#downloadLinks}}
      {{> molecules-article-download-links-list}}
    {{/downloadLinks}}

  </div>

</section>
{{/articleSection}}
