<section
    class="article-section {{#isFirst}}article-section--first{{/isFirst}}"
  {{#id}} id="{{id}}"{{/id}}
  {{#hasBehaviour}}data-behaviour="ArticleSection"{{/hasBehaviour}}
  {{#isInitiallyClosed}}data-initial-state="closed"{{/isInitiallyClosed}}
>

  <header class="article-section__header">
    <h{{headingLevel}} class="article-section__header_text">{{{title}}}</h{{headingLevel}}>
    {{#headerLink}}
      <a href="{{{url}}}" class="article-section__header_link">{{name}}</a>
    {{/headerLink}}
  </header>

  <div class="article-section__body">
    {{^showCharts}}
      {{{body}}}
    {{/showCharts}}

    {{#chart}}
      {{>molecules-bar-chart}}
    {{/chart}}

    {{#showCharts}}
      {{>organisms-statistic-collection}}
    {{/showCharts}}

    {{#doi}}
      {{> atoms-doi}}
    {{/doi}}
  </div>

</section>
