<section
    class="article-section {{#isFirst}}article-section--first{{/isFirst}}"
    {{#id}} id="{{id}}{{/id}}"
    data-behaviour="ArticleSection"
    {{#isInitiallyClosed}}data-initial-state="closed"{{/isInitiallyClosed}}
>

  <header class="article-section__header">
    <h{{headingLevel}} class="article-section__header_text">{{title}}</h{{headingLevel}}>
  </header>

  <div class="article-section__body">
    {{{body}}}
  </div>

</section>
