
<div class="audio-player" data-behaviour="AudioPlayer">
  <div class="audio-player__container">
    <div class="audio-player__header">{{title}}</div>
    <audio class="audio-player__player" controls preload="metadata">
      {{#sources}}
      <source src="{{src}}" type="{{mimeType}}">
      <div><a href="{{src}}" class="audio-player__link" rel="external" target="_blank">Download the podcast ({{type}})</a></div>
      {{/sources}}
    </audio>
  </div>
</div>
