<div class="audio-player">
  {{#audioPlayer}}
  <div class="audio-player__header">
    {{title}}
  </div>
  <audio src="{{audiosrc}}" controls class="audio-player__player">
    <a href="{{audiosrc}}" class="audio-player__link" rel="external" target="_blank">Download the podcast</a>
  </audio>
  {{/audioPlayer}}
</div>
