{{#authors}}
  <div class="content-header__authors">
    <ol class="content-header__author_list" aria-label="Authors of this article">
      {{#authors.list}}
        <li class="content-header__author_list_item">
          <span class="content-header__author">{{#url}}<a href="{{url}}" data-behaviour="Popup" class="content-header__author_link">{{/url}}{{name}}{{#url}}</a>{{/url}}<span class="content-header__author_suffix">{{#isCorresponding}}&nbsp;{{!
          }}<picture>
            <source srcset="{{#assetRewrite}}{{assetsPath}}/img/icons/corresponding-author.svg{{/assetRewrite}}" type="image/svg+xml">
            <img src="{{#assetRewrite}}{{assetsPath}}/img/icons/corresponding-author@1x.png{{/assetRewrite}}"
                  srcset="{{#assetRewrite}}{{assetsPath}}/img/icons/corresponding-author@2x.png{{/assetRewrite}} 2x, {{#assetRewrite}}{{assetsPath}}/img/icons/corresponding-author@1x.png{{/assetRewrite}} 1x"
                  alt="Is a corresponding author" class="content-header__author_icon">
          </picture>{{/isCorresponding}}{{!
          }}<span class="content-header__author_separator" aria-hidden="true">,</span>
          </span></span>
        </li>
      {{/authors.list}}
    </ol>

    {{#institutions}}
      <ol class="content-header__institution_list" aria-label="Author institutions">
        {{#institutions.list}}
          <li class="content-header__institution_list_item">
            <span class="content-header__institution">{{{name}}}{{!
          }}<span class="content-header__institution_separator" aria-hidden="true">;</span>
            </span>
          </li>
        {{/institutions.list}}
      </ol>
    {{/institutions}}
  </div>
{{/authors}}