<div
    data-behaviour="Metrics"
    data-id="{{id}}"
    data-type="{{type}}"
    data-container-id="{{containerId}}"
  {{#metric}}
    data-metric="{{metric}}"
  {{/metric}}
  {{#period}}
    data-period="{{period}}"
  {{/period}}
  {{#daily.id}}
    data-metric="{{daily.id}}"
  {{/daily.id}}
  {{#monthly.id}}
    data-monthly-id="{{monthly.id}}"
  {{/monthly.id}}
    data-api-endpoint="{{apiEndpoint}}"
>
  <div class="charts">
    <div id="{{containerId}}">Loading...</div>
    <p>
      <span class="visuallyhidden">Toggle charts</span>
      <a class="trigger trigger--prev" href="#">
        {{#prev}}{{>atoms-picture}}{{/prev}}
      </a>
      <a class="trigger trigger--next" href="#">
        {{#next}}{{>atoms-picture}}{{/next}}
      </a>
    </p>
  </div>
  <div class="button-collection clearfix">
    {{#daily.id}}
      {{#daily}}{{>atoms-button}}{{/daily}}
    {{/daily.id}}

    {{#monthly.id}}
      {{#monthly}}{{>atoms-button}}{{/monthly}}
    {{/monthly.id}}
  </div>
</div>
