<div
  data-behaviour="Metrics"
  data-id="{{id}}"
  data-type="{{type}}"
  data-container-id="{{containerId}}"
  data-daily-id="{{daily.id}}"
  data-monthly-id="{{monthly.id}}"
  data-api-endpoint="{{endpoint}}"
>
  <div class="charts">
    <div id="{{containerId}}">Loading...</div>
    <p>
      <span class="visuallyhidden">Toggle charts</span>
      <a class="trigger trigger--prev" href="#">
        {{#prev}}{{>atoms-picture}}{{/prev}}
      </a>
      <a class="trigger trigger--next" href="#">
        {{#next}}{{>atoms-picture}}{{/next}}
      </a>
    </p>
  </div>
  <div class="button-collection clearfix">
    {{#daily.text}}
      {{#daily}}{{>atoms-button}}{{/daily}}
    {{/daily.text}}

    {{#monthly.text}}
      {{#monthly}}{{>atoms-button}}{{/monthly}}
    {{/monthly.text}}
  </div>
</div>
