<div
    data-behaviour="Metrics"
    data-id="{{id}}"
    data-type="{{type}}"
    data-container-id="{{containerId}}"
  {{#metric}}
    data-metric="{{metric}}"
  {{/metric}}
  {{#period}}
    data-period="{{period}}"
  {{/period}}
    data-api-endpoint="{{apiEndpoint}}"
>
  <div class="charts">
    <div id="{{containerId}}">Loading...</div>
    <p>
      <span class="visuallyhidden">Toggle charts</span>
      <a class="trigger trigger--prev" href="#">
        <picture>
          <source srcset="{{assetsPath}}/img/patterns/molecules/chevron-left-ic.svg" type="image/svg+xml">
          <img srcset="{{assetsPath}}/img/patterns/molecules/chevron-left-ic_2x.svg 48w, {{assetsPath}}/img/patterns/molecules/chevron-left-ic_1x.svg 24w" src="{{assetsPath}}/img/patterns/molecules/chevron-left-ic_1x.svg" alt="Navigate left icon">
        </picture>
      </a>
      <a class="trigger trigger--next" href="#">
        <picture>
          <source srcset="{{assetsPath}}/img/patterns/molecules/chevron-right-ic.svg" type="image/svg+xml">
          <img srcset="{{assetsPath}}/img/patterns/molecules/chevron-right-ic_2x.svg 48w, {{assetsPath}}/img/patterns/molecules/chevron-right-ic_1x.svg 24w" src="{{assetsPath}}/img/patterns/molecules/chevron-right-ic_1x.svg" alt="Navigate right icon">
        </picture>
      </a>
    </p>
  </div>
  <div class="button-collection clearfix">
    <a href="#" class="button button--outline button--small button-collection__button button-collection__button--active" data-target="daily">
      Daily
    </a>
    <a href="#" class="button button--outline button--small button-collection__button" data-target="monthly">
      Monthly
    </a>
  </div>
</div>
