<ol class="button-collection{{#centered}} button-collection--centered{{/centered}}{{#compact}} button-collection--compact{{/compact}}">
  {{#buttons}}
    <li class="button-collection__item">{{>atoms-button}}</li>
  {{/buttons}}
</ol>
