<ol class="button-collection{{#variant}} button-collection--{{variant}}{{/variant}}{{#classes}} {{classes}}{{/classes}}">
    {{#buttons}}
    <li class="button-collection__item">{{>atoms-button}}</li>
  {{/buttons}}
</ol>
