<ul class="side-section-wrapper__list">
  {{#items}}
    <li {{#dataTrigger}}{{dataTrigger}}{{/dataTrigger}}>
     
      {{#url}}
        <a href="{{url}}"{{#id}} id="{{id}}"{{/id}}class="side-section-wrapper__link{{#linkClasses}} {{linkClasses}}{{/linkClasses}}">
          <span class="svg-background-image{{#iconClasses}} {{iconClasses}}{{/iconClasses}}"></span>{{content}}
        </a>
      {{/url}}

      {{^url}}
        <span class="side-section-wrapper__link"{{#dataBehaviour}} data-behaviour="{{dataBehaviour}}"{{/dataBehaviour}}>
          <span class="svg-background-image{{#iconClasses}} {{iconClasses}}{{/iconClasses}}"></span>
          {{{content}}}
        </span>
      {{/url}}

    </li>
  {{/items}}
</ul>
