<div class="call-to-action-wrapper">

  <div class="call-to-action">

    {{#image}}

      {{#image}}
        <picture class="call-to-action__image">
          {{#sources}}
            <source srcset="{{srcset}}"
                    {{#type}}type="{{type}}"{{/type}}
              {{#media}}media="{{media}}"{{/media}}>
          {{/sources}}
          {{#fallback}}
            <img src="{{defaultPath}}"
                 {{#srcset}}srcset="{{srcset}}"{{/srcset}}
                 alt="{{altText}}"
            >
          {{/fallback}}
        </picture>
      {{/image}}


    {{/image}}

    <div class="call-to-action__text">{{{text}}}</div>

    <!--TODO: Inject this with js-->
    <button class="call-to-action__close"><span class="visuallyhidden">Dismiss this call to action</span></button>

    <div class="call-to-action__button_wrapper">
        {{#button}}
          {{>atoms-button}}
        {{/button}}
    </div>

  </div>

</div>
