<figure class="captioned-asset{{#inline}} captioned-asset--inline{{/inline}}">

  {{#picture}}
    {{#open}}
    <a href="{{uri}}" class="captioned-asset__link" target="_blank" rel="noopener noreferrer">
    {{/open}}
    <picture>
      {{#sources}}
        <source srcset="{{srcset}}"
            {{#type}}type="{{type}}"{{/type}}
            {{#media}}media="{{media}}"{{/media}}>
      {{/sources}}
      {{#fallback}}
        <img src="{{defaultPath}}"
             {{#srcset}}srcset="{{srcset}}"{{/srcset}}
             alt="{{altText}}"
             class="captioned-asset__image"
        >
      {{/fallback}}
    </picture>
    {{#open}}
    </a>
    {{/open}}
  {{/picture}}

  {{#image}}
    {{#open}}
    <a href="{{uri}}" class="captioned-asset__link" target="_blank" rel="noopener noreferrer">
    {{/open}}
    <img src="{{defaultPath}}"
         alt="{{altText}}"{{#srcset}}
         srcset="{{srcset}}"{{/srcset}}
      class="captioned-asset__image{{#classes}} {{classes}}{{/classes}}" />
    {{#open}}
    </a>
    {{/open}}
  {{/image}}

  {{#video}}
    {{> atoms-video}}
  {{/video}}


  {{#captionText}}
    <figcaption class="captioned-asset__caption">

      {{> atoms-caption-text}}

      {{#doi}}
        {{> atoms-doi}}
      {{/doi}}

    </figcaption>

  {{/captionText}}

  {{^captionText}}

    {{#doi}}
      <figcaption class="captioned-asset__caption">
        {{> atoms-doi}}
      </figcaption>
    {{/doi}}

  {{/captionText}}

  {{#table}}
    {{> atoms-table }}
  {{/table}}

</figure>
