<figure class="captioned-figure">

  {{#picture}}
  {{> atoms-picture }}
  {{/picture}}

  {{#image}}
    <img src="{{defaultPath}}"
         alt="{{altText}}"{{#srcset}}
         srcset="{{srcset}}"{{/srcset}}
      {{#classes}} class="{{classes}}"{{/classes}} />
  {{/image}}

  {{#video}}
    {{> atoms-video}}
  {{/video}}

  <figcaption class="captioned-figure__caption">
    {{#customContent}}
        {{{ customContent }}}
    {{/customContent}}
    {{^customContent}}
      {{#heading}}
        <p class="captioned-figure__caption_heading">{{{ heading }}}</p>
      {{/heading}}
      {{#captions}}
        <p class="captioned-figure__caption_text">{{ caption }}</p>
      {{/captions}}
    {{/customContent}}
  </figcaption>

  {{#table}}
    {{{table}}}
  {{/table}}

</figure>
