<figure class="captioned-asset">

  {{#picture}}
  {{> atoms-picture }}
  {{/picture}}

  {{#image}}
    <img src="{{defaultPath}}"
         alt="{{altText}}"{{#srcset}}
         srcset="{{srcset}}"{{/srcset}}
      {{#classes}} class="{{classes}}"{{/classes}} />
  {{/image}}

  {{#video}}
    {{> atoms-video}}
  {{/video}}

  <figcaption class="captioned-asset__caption">

    {{#captionText}}
      {{> atoms-caption-text}}
    {{/captionText}}

    {{#doi}}
      {{> atoms-doi}}
    {{/doi}}

    {{#download}}
      <div class="captioned-asset__caption___footer">
        <a href="{{link}}" class="captioned-asset__caption___footer_link" target="_blank">Open in new tab</a>
      </div>
    {{/download}}

  </figcaption>

  {{#tables}}
    {{{.}}}
  {{/tables}}

</figure>
