<figure class="captioned-asset">

  {{#picture}}
    {{#open}}
    <a href="{{uri}}" class="captioned-asset__link" target="_blank" rel="noopener noreferrer">
    {{/open}}
    {{> atoms-picture }}
    {{#open}}
    </a>
    {{/open}}
  {{/picture}}

  {{#image}}
    {{#open}}
    <a href="{{uri}}" class="captioned-asset__link" target="_blank" rel="noopener noreferrer">
    {{/open}}
    <img src="{{defaultPath}}"
         alt="{{altText}}"{{#srcset}}
         srcset="{{srcset}}"{{/srcset}}
      class="captioned-asset__image{{#classes}} {{classes}}{{/classes}}" />
    {{#open}}
    </a>
    {{/open}}
  {{/image}}

  {{#video}}
    {{> atoms-video}}
  {{/video}}

  <figcaption class="captioned-asset__caption">

    {{#captionText}}
      {{> atoms-caption-text}}
    {{/captionText}}

    {{#doi}}
      {{> atoms-doi}}
    {{/doi}}

  </figcaption>

  {{#table}}
    {{> atoms-table }}
  {{/table}}

</figure>
