<li class="carousel-item">

  {{#image}}
    <picture class="carousel-item__picture">
      {{#sources}}
        <source srcset="{{srcset}}"
                {{#type}}type="{{type}}"{{/type}}
          {{#media}}media="{{media}}"{{/media}}>
      {{/sources}}
      {{#fallback}}
        <img src="{{defaultPath}}"
             {{#srcset}}srcset="{{srcset}}"{{/srcset}}
             alt="{{altText}}"
             class="carousel-item__image"
             sizes="(min-width: 1114px) 1114px, 100vw"
        >
      {{/fallback}}
    </picture>
  {{/image}}

  {{#subjects}}
    <ol class="carousel-item__subject_list">
      {{#subjects.list}}
        <li class="carousel-item__subject_list_item">
          <a href="{{url}}" class="carousel-item__subject_link"><span
              class="carousel-item__subject">{{{name}}}</span></a>
        </li>
      {{/subjects.list}}
    </ol>
  {{/subjects}}

  <div class="carousel-item__body">
    <h4 class="carousel-item__title {{#longTitle}}carousel-item__title--long{{/longTitle}}">
      <a href="{{url}}" class="carousel-item__title_link">{{{title}}}</a>
    </h4>
  </div>

  {{#button}}
    <div class="carousel-item__cta">
      {{>atoms-button}}
    </div>
  {{/button}}

  {{#meta}}
    <div class="carousel-item__meta">
      {{> molecules-meta}}
    </div>
  {{/meta}}

</li>
