
<form class="compact-form" action="#" method="post">
  <fieldset>
    <input type="email" name="email" value="" placeholder="you@email.com" class="compact-form__input">
    <input type="submit" name="submit" value="go" class="compact-form__submit">
  </fieldset>
</form>
