<form class="compact-form" id="{{formId}}" action="{{formAction}}" method="{{formMethod}}">
  <fieldset class="compact-form__container">
    <label>
      <span class="visuallyhidden">{{label}}</span>
      <input type="{{inputType}}" name="{{inputName}}" value="{{inputValue}}" placeholder="{{inputPlaceholder}}" class="compact-form__input">
    </label>
    {{#hiddenFields}}
      {{> atoms-hidden-field }}
    {{/hiddenFields}}
    {{#honeypot}}
      {{> atoms-honeypot }}
    {{/honeypot}}
    <button type="reset" name="reset" class="compact-form__reset">Reset form</button>
    <button type="submit" class="compact-form__submit"><span class="visuallyhidden">{{ctaText}}</span></button>
  </fieldset>
</form>
