<div class="contextual-data">

  {{#metricsData}}
    <ul class="contextual-data__list">

      {{#data}}
        <li class="contextual-data__item">{{{text}}}</li>
      {{/data}}

      {{#hypothesisOpener}}
        <li class="contextual-data__item"><span class="contextual-data__item__hypothesis_opener" data-hypothesis-trigger>Annotations</span> {{> molecules-hypothesis-opener}}</li>
      {{/hypothesisOpener}}

    </ul>
  {{/metricsData}}

  {{#citation}}
  <div class="contextual-data__cite_wrapper">
    <span class="contextual-data__cite"><span class="contextual-data__cite_label">Cite as:</span> {{citeAs}}</span>
    {{#doi}}
      {{> atoms-doi }}
    {{/doi}}
  </div>
  {{/citation}}

</div>
