<div class="contextual-data">
  <dl class="contextual-data__list">
  {{#cited}}
    <dt class="contextual-data__list_title">Cited</dt>
    <dd class="contextual-data__list_desc">{{cited}}</dd>
  {{/cited}}

  {{#views}}
    <dt class="contextual-data__list_title">Views</dt>
    <dd class="contextual-data__list_desc">{{views}}</dd>
  {{/views}}

  {{#comments}}
    <dt class="contextual-data__list_title">Comments</dt>
    <dd class="contextual-data__list_desc">{{comments}}</dd>
  {{/comments}}
  </dl>

  {{#doi}}
  <div class="contextual-data__cite_wrapper">
    <span class="contextual-data__cite">{{citeAs}}</span>
      {{> atoms-doi }}
  </div>
  {{/doi}}
</div>
