<li class="highlight-item">

    <h4 class="highlight-item__title">
      <a href="{{url}}" class="highlight-item__title_link">
        {{{name}}}
      </a>
    </h4>
    <h4>
      {{author}}
    </h4>

    <div class="highlight-item__thumb">
      {{> atoms-picture}}
    </div>


    {{#meta}}
      {{> molecules-meta}}
    {{/meta}}

</li>
