<div class="home-banner" data-home-banner>
    <div class="home-banner_content">
        <h1>Making peer review and publishing better for science</h1>
        <a href="#">Browse the latest research</a>
        <a href="#">Learn more about eLife</a>
    </div>
</div>
