<div class="home-banner">
    <div class="home-banner__content">
        <div>
            <h1 class="home-banner__title" aria-label="Making peer review and publishing better for science"><span class="home-banner__title_line" aria-hidden="true">Making peer review </span><span class="home-banner__title_line" aria-hidden="true">and publishing </span><span class="home-banner__title_line home-banner__title_line--alternative" aria-hidden="true">better for science</span></h1>
            <div class="home-banner__buttons">
                {{#primaryButton}}
                    {{> atoms-button }}
                {{/primaryButton}}
                {{#secondaryButton}}
                    {{> atoms-button }}
                {{/secondaryButton}}
            </div>
        </div>
    </div>
</div>
