<div class="home-banner" data-home-banner>
    <div class="home-banner_content">
        <h1 class="home-banner__title"><span class="home-banner__title_line">Making peer review </span><span class="home-banner__title_line">and publishing </span><span class="home-banner__title_line home-banner__title_line--alternative">better for science</span></h1>
        <a href="#">Browse the latest research</a>
        <a href="#">Learn more about eLife</a>
    </div>
</div>
