
<section class="investor-logos">

  <div class="invester-logos__container">

    <div class="investor-logos__img_container">
      <img src="http://placehold.it/300x175" alt="" class="investor-logos__img" />
    </div>
    <div class="investor-logos__img_container">
      <img src="http://placehold.it/300x175" alt="" class="investor-logos__img" />
    </div>
    <div class="investor-logos__img_container">
      <img src="http://placehold.it/300x175" alt="" class="investor-logos__img" />
    </div>

  </div>
  
</section>
