
<section class="investor-logos">

  <div class="invester-logos__container">

    <div class="investor-logos__img_container">
      <picture class="investor-logos__picture">
        <source srcset="{{assetsPath}}/img/logos/hhmi.svg" type="image/svg+xml">
        <img src="{{assetsPath}}/img/logos/hhmi.png" alt="Howard Hughes Medical Institute" class="investor-logos__img" />
      </picture>
    </div>
    <div class="investor-logos__img_container">
      <picture class="investor-logos__picture">
        <source srcset="{{assetsPath}}/img/logos/max.svg" type="image/svg+xml">
        <img src="{{assetsPath}}/img/logos/max.png" alt="Max-Planck-Gesellschaft" class="investor-logos__img" />
      </picture>
    </div>
    <div class="investor-logos__img_container">
      <picture class="investor-logos__picture">
        <source srcset="{{assetsPath}}/img/logos/wellcome.svg" type="image/svg+xml">
        <img src="{{assetsPath}}/img/logos/wellcome.png" alt="Wellcome Trust" class="investor-logos__img" />
      </picture>
    </div>

  </div>

</section>
