
<section class="investor-logos">

  <div class="invester-logos__container">

    <div class="investor-logos__img_container">
      <picture class="investor-logos__picture">
        <source srcset="{{#asset}}{{assetsPath}}/img/logos/hhmi.svg{{/asset}}" type="image/svg+xml">
        <img src="{{#asset}}{{assetsPath}}/img/logos/hhmi.png{{/asset}}" alt="Howard Hughes Medical Institute" class="investor-logos__img" />
      </picture>
    </div>
    <div class="investor-logos__img_container">
      <picture class="investor-logos__picture">
        <source srcset="{{#asset}}{{assetsPath}}/img/logos/max.svg{{/asset}}" type="image/svg+xml">
        <img src="{{#asset}}{{assetsPath}}/img/logos/max.png{{/asset}}" alt="Max-Planck-Gesellschaft" class="investor-logos__img" />
      </picture>
    </div>
    <div class="investor-logos__img_container">
      <picture class="investor-logos__picture">
        <source srcset="{{#asset}}{{assetsPath}}/img/logos/wellcome.svg{{/asset}}" type="image/svg+xml">
        <img src="{{#asset}}{{assetsPath}}/img/logos/wellcome.png{{/asset}}" alt="Wellcome Trust" class="investor-logos__img" />
      </picture>
    </div>

  </div>

</section>
