<div class="meta">
  {{#articleStatus}}
    <div class="meta__status">
      {{#articleStatusColorClass}}<span class="meta__status-circle meta__status-circle-{{articleStatusColorClass}}"></span>{{/articleStatusColorClass}}{{articleStatus}}
    </div>
  {{/articleStatus}}

  {{#url}}
    <a class="meta__type" href="{{url}}" {{#carouselItem}}tabindex="-1"{{/carouselItem}}>{{{text}}}</a>
  {{/url}}

  {{#versionUrl}}
    <a class="meta__version" href="{{versionUrl}}">{{{versionText}}}</a>
  {{/versionUrl}}

  {{^url}}
    {{#text}}
    <span class="meta__type">{{{text}}}</span>
    {{/text}}
  {{/url}}

  {{#date}}
    {{>atoms-date}}
  {{/date}}
</div>
