Main template

{{> atoms-modal-window }}

  {{#share}}
    <div class="modal-content__copy-to-clipboard">
      https://doi.org/10.7554/eLife.09560
    </div>

    <button class="button button--default modal-content__button">Copy to Clipboard</button>

    {{#socialMediaSharers}}
      {{> atoms-social-media-sharers}}
    {{/socialMediaSharers}}
  {{/share}}

  {{#citations}}
    {{> atoms-journal-article-with-doi}}
    <button class="button button--default modal-content__button">Copy to clipboard</button>
    <button class="button button--default modal-content__button">Download BIBTEX</button>
    <button class="button button--default modal-content__button">Download .RIS</button>
  {{/citations}}