<div class="peer-review-process">
  {{#peerReviewProcessNew}}<div class="peer-review-process__bar acolour"></div>{{/peerReviewProcessNew}}
  <div class="peer-review-process__content">
    {{{body}}}
    <a href="" class="peer-review-process__link">Read more about eLife's peer review process.</a>
  </div>
</div>
