<div class="peer-review-process">
  <div class="peer-review-process__bar acolour"></div>
  <div class="peer-review-process__content">
    <p><strong>Version of Record:</strong> The authors have chosen to have their Reviewed Preprint published as a Version of Record, which declares their journal article complete for indexing and possible funding requirements.</p>
    <p>The Version of Record is identical to the most recent Reviewed Preprint, outside of minor changes that do not affect the scientific content. The peer reviews and eLife assessment also remain unchanged.</p>
    <a href="" class="peer-review-process__link">Read more about some peer review process</a>
  </div>
</div>
