<div class="peer-review-process">
  {{#variant}}<div class="peer-review-process__bar peer-review-process__bar-{{variant}}"></div>{{/variant}}
  <div class="peer-review-process__content">
    {{{body}}}
    {{#link}}<a href="{{url}}" class="peer-review-process__link">{{name}}</a>{{/link}}
  </div>
</div>
