<div class="profile-snippet">
  {{#profilesnippet}}
  <div class="profile-snippet__container clearfix">
    <picture class="profile-snippet__picture">
      <source srcset="{{imghigh}}">
      <img src="{{imglow}}" alt="" class="profile-snippet__image" />
    </picture>

    <div class="profile-snippet__name">{{name}}</div>
    <div class="profile-snippet__title">{{title}}</div>
    <div class="profile-snippet__contact_details">
      {{{contactdetails}}}
    </div>
  </div>
  {{/profilesnippet}}
</div>
