<div class="profile-snippet">
  {{#profileSnippet}}
  <div class="profile-snippet__container clearfix">
    <picture class="profile-snippet__picture">
      <source srcset="{{imgHigh}}">
      <img src="{{imgLow}}" alt="" class="profile-snippet__image" />
    </picture>

    <div class="profile-snippet__name">{{name}}</div>
    <div class="profile-snippet__title">{{title}}</div>
    <div class="profile-snippet__contact_details">
      {{{contactDetails}}}
    </div>
  </div>
  {{/profileSnippet}}
</div>
