<div class="profile-snippet">
  <div class="profile-snippet__container clearfix">
    {{! TODO: Make this is a basic <img> with srcset, shouldn't be <picture> }}
    {{# picture}}
        {{> atoms-picture }}
    {{/picture}}
      
    <div class="profile-snippet__name">{{name}}</div>
    <div class="profile-snippet__title">{{title}}</div>
    {{#contactDetails}}
    <div class="profile-snippet__contact_details">
      {{{contactDetails}}}
    </div>
    {{/contactDetails}}
  </div>
</div>
