<!-- Blockquotes may or may not have <p> tags surround their content. -->
<blockquote class="pull-quote">
  {{#pullQuote}}
  <p>
    {{quote}}
  </p>
  <cite>{{{cite}}}</cite>
  {{/pullQuote}}
</blockquote>
