
<ol class="reference-list">
  <li class="reference-list__item">
    <span class="reference-list__ordinal_number">2.</span>
    {{> atoms-reference }}
  </li>
  <li class="reference-list__item">
    <span class="reference-list__ordinal_number">88.</span>
    {{> atoms-reference }}
  </li>
  <li class="reference-list__item">
    <span class="reference-list__ordinal_number">144.</span>
    {{> atoms-reference }}
  </li>
</ol>
