
<div class="search-box" data-behaviour="SearchBox">

  <form class="compact-form" action="#" method="post">

    <fieldset class="compact-form__container">
      <label for="compact-form__input" class="visuallyhidden">Search by keyword or author</label>

      <input type="search" name="email" value="" id="compact-form__input" class="compact-form__input" placeholder="Search by keyword or author">

      <button type="submit" name="submit" class="compact-form__submit"><span class="visuallyhidden">Go</span></button>

    </fieldset>

    <div class="search-box__search_option">
      <label class="search-box__search_option_label">
        <input type="checkbox" name="limit" value="1"> Limit my search to <strong>Cell Biology</strong>
      </label>
    </div>

  </form>

</div>
