
<!-- This is used without js on the main search page, but js is required for
      its presence on other pages. -->
<div class="search-box" data-behaviour="SearchBox">

  {{#compactForm}}

    {{>molecules-compact-form}}

    <!-- Only applies when on an article belonging to a subject: -->
    <!-- Note that this could be moved to the behaviour layer as it looks like it's only needed when
         JavaScript is available. However, the value for subjectFilter needs to come from the server,
         so keeping it here for now until it's understood how the server -> js communication will
         work. -->
    {{#subjectFilter}}
      <div class="search-box__search_option">
        <label class="search-box__search_option_label" for="limit">
          <input id="limit" type="checkbox" name="limit" value="1" form="{{formId}}"> Limit my search to <strong>{{subjectFilter}}</strong>
        </label>
      </div>
    {{/subjectFilter}}

  {{/compactForm}}

</div>
