<ol id="{{id}}" class="section-listing {{#singleLine}}section-listing--single-line{{/singleLine}}" {{#labelledBy}}aria-labelledby="{{labelledBy}}"{{/labelledBy}}>
  {{#sections}}
    <li class="section-listing__list_item {{#isCurrent}}section-listing__list_item--current{{/isCurrent}}">
      <a href="{{{url}}}" class="section-listing__list_link">{{{name}}}</a>
    </li>
  {{/sections}}
</ol>

