<ol id="{{id}}" class="section-listing" {{#labelledBy}}aria-labelledby="{{labelledBy}}"{{/labelledBy}}>
  {{#subjects}}
    <li class="section-listing__list_item">
      <a href="{{{url}}}" class="section-listing__list_link">{{{name}}}</a>
    </li>
  {{/subjects}}
</ol>
