
<div class="site-links-list clearfix">
    {{#lists}}
        <ol class="site-links-list__list{{#listClasses}} {{listClasses}}{{/listClasses}}">
            {{#listItems}}
                <li class="site-links-list__list_item">
                    <a href="{{{url}}}" class="site-links-list__list_link">{{{name}}}</a>
                </li>
            {{/listItems}}
        </ol>
    {{/lists}}
</div>
