
<div class="site-links-list clearfix">
  <ol class="site-links-list__list">
    <li class="site-links-list__list_item">
      <a href="#" class="site-links-list__list_link">Biochemistry</a>
    </li>
    <li class="site-links-list__list_item">
      <a href="#" class="site-links-list__list_link">Biophysics and structural biology</a>
    </li>
    <li class="site-links-list__list_item">
      <a href="#" class="site-links-list__list_link">Cancer biology</a>
    </li>
    <li class="site-links-list__list_item">
      <a href="#" class="site-links-list__list_link">Cell biology</a>
    </li>
    <li class="site-links-list__list_item">
      <a href="#" class="site-links-list__list_link">Computational and systems biology</a>
    </li>
  </ol>

  <ol class="site-links-list__list">
    <li class="site-links-list__list_item">
      <a href="#" class="site-links-list__list_link">Developmental biology and stem cells</a>
    </li>
    <li class="site-links-list__list_item">
      <a href="#" class="site-links-list__list_link">Ecology</a>
    </li>
    <li class="site-links-list__list_item">
      <a href="#" class="site-links-list__list_link">Epidemiology and global health</a>
    </li>
    <li class="site-links-list__list_item">
      <a href="#" class="site-links-list__list_link">Genes and chromosomes</a>
    </li>
    <li class="site-links-list__list_item">
      <a href="#" class="site-links-list__list_link">Genomics and evolutionary biology</a>
    </li>
  </ol>

  <ol class="site-links-list__list">
    <li class="site-links-list__list_item">
      <a href="#" class="site-links-list__list_link">Human biology and medicine</a>
    </li>
    <li class="site-links-list__list_item">
      <a href="#" class="site-links-list__list_link">Immunology</a>
    </li>
    <li class="site-links-list__list_item">
      <a href="#" class="site-links-list__list_link">Microbiology and infectious disease</a>
    </li>
    <li class="site-links-list__list_item">
      <a href="#" class="site-links-list__list_link">Neuroscience</a>
    </li>
    <li class="site-links-list__list_item">
      <a href="#" class="site-links-list__list_link">Plant biology</a>
    </li>
  </ol>

</div>
