
<div class="social-links">
  <ul class="social-links__list">
    <li class="social-links__list_item">
      <a href="https://www.facebook.com/elifesciences" class="social-links__list_link social-links__list_link--facebook"><span class="visuallyhidden">Facebook</span></a>
    </li>
    <li class="social-links__list_item">
      <a href="https://www.linkedin.com/company/elife-sciences-publications-ltd" class="social-links__list_link social-links__list_link--linkedin"><span class="visuallyhidden">LinkedIn</span></a>
    </li>
    <li class="social-links__list_item">
      <a href="https://twitter.com/elife" class="social-links__list_link social-links__list_link--twitter"><span class="visuallyhidden">Twitter</span></a>
    </li>
    <li class="social-links__list_item">
      <a href="https://medium.com/@eLife" class="social-links__list_link social-links__list_link--medium"><span class="visuallyhidden">Medium</span></a>
    </li>
    <li class="social-links__list_item">
      <a href="https://www.flickr.com/photos/128643624@N07/" class="social-links__list_link social-links__list_link--flickr"><span class="visuallyhidden">Flickr</span></a>
    </li>
  </ul>
</div>
