
<div class="sort-control" role="toolbar" aria-label="sorting options">
    <div class="sort-control__title">Sort by:</div>
    <ul class="sort-control__options">
        <li class="sort-control__option"><a href="#?sortby=date&amp;sort=asc" class="sort-control__link sort-control__link--ascending">Date</a></li>
        <li class="sort-control__option"><a href="#?sortby=date&amp;sort=asc" class="sort-control__link sort-control__link--descending">Relevance</a></li>
        <li class="sort-control__option"><a href="#?sortby=date&amp;sort=asc" class="sort-control__link sort-control__link--ascending">Cite</a></li>
    </ul>
</div>
