
<div class="sort-control" role="toolbar" aria-label="sorting options">
  <div class="sort-control__title">Sort by:</div>
  {{#sortcontrol}}
  <ul class="sort-control__options">
    {{#options}}
    <li class="sort-control__option"><a href="{{url}}" class="sort-control__link sort-control__link--{{sorting}}">{{option}}</a></li>
    {{/options}}
  </ul>
  {{/sortcontrol}}
</div>
