<dl class="source-data">

  {{#data}}
    <dt class="source-data__text">{{{text}}}</dt>
    <dd>

      {{#doi}}
        {{> atoms-doi}}
      {{/doi}}

      {{^doi}}
        <a class="source-data__link" href="{{nonDoiLink}}">{{{nonDoiLink}}}</a>
      {{/doi}}

    </dd>
  {{/data}}

</dl>
