{{! We can't know what heading level this should be at so picking the lowest in the hope that it has fewest side effects. }}
<div class="source-data">

  {{#heading}}<h6 class="source-data__heading">{{{heading}}}</h6>{{/heading}}

  <dl class="source-data__list">

    {{#data}}

      <dt class="source-data__text">
        {{#headingPart}}<span class="source-data__heading_text">{{{headingPart}}} </span>{{/headingPart}}
        {{#textPart}}<span class="source-data__main_text">{{{textPart}}}</span>{{/textPart}}
      </dt>

      <dd class="source-data__asset_access">

        {{#doi}}
          {{> atoms-doi}}
        {{/doi}}

        {{^doi}}
          <a class="source-data__link" href="{{nonDoiLink}}">{{{nonDoiLink}}}</a>
        {{/doi}}

        {{#downloadLink}}
          <div>
            <a class="source-data__link source-data__link--download" href="{{downloadLink.url}}"{{#fileName}} download="{{fileName}}"{{/fileName}}>{{{downloadLink.name}}}</a>
          </div>
        {{/downloadLink}}

      </dd>

    {{/data}}

  </dl>

</div>
