{{!-- This pattern must only be used by the Statistic Collection pattern and must not be used in a stand alone context --}}
<div class="statistic {{modifiers}}">
  <strong class="statistic__value">
    {{value}}
  </strong>
  <span class="statistic__label">
    {{label}}
  </span>
</div>