
<div class="teaser-secondary">

  <a href="#" class="teaser-secondary__link">
    <div class="teaser-secondary__meta">Subject area(s)</div>

    <img src="http://placehold.it/75x75" class="teaser-secondary__img" alt="" />

    <header class="teaser-secondary__header">
      <h4 class="teaser-secondary__header_text">Mapping Ebola in wild animals for better disease control</h4>
      <div class="teaser-secondary__subheading">Author first et al.</div>
    </header>

    <div class="teaser-secondary__body"></div>
  </a>

  <footer class="teaser-secondary__footer">
    <span class="teaser-secondary__category">Insight</span>
    <span>Dec 16, 2015</span>
  </footer>

</div>
