
<div class="teaser teaser--podcast-item">
  {{#teaserPodcastItem}}
  <div class="teaser__meta">{{meta}}</div>
  <header class="teaser__header">
    <h4 class="teaser__header_text">{{{headerText}}}</h4>
  </header>
  <div class="teaser__body">
    {{content}}
  </div>
  <div class="teaser__content_extra">{{contentExtra}}</div>
  {{/teaserPodcastItem}}
</div>
