
<div class="teaser teaser--podcast">
  {{#teaser}}
  <a href="#" class="teaser__link">
    <header class="teaser__header">
      {{#headerImage}}
      <img src="{{srcLow}}" srcset="{{srcHigh}}" class="teaser__header_img" alt="" />
      {{/headerImage}}
      <h4 class="teaser__header_text">{{{headerText}}}</h4>
      <div class="teaser__subheading">{{subHeader}}</div>
    </header>
    <div class="teaser__body">
      {{content}}
    </div>
  </a>
  <footer class="teaser__footer">
    <div class="teaser__footer_text">{{footerText}}</div>
    <a href="{{src}}" class="teaser__download"><span class="visuallyhidden">Download</span></a>
  </footer>
  {{/teaser}}
</div>
