<section data-behaviour="Terms">
  <h2>eLife assessment</h2>
  <p>This <strong>valuable</strong> paper informs on the role of type I PRMTs in programming muscle stem cell identification. The evidence presented is mostly <strong>solid</strong>, with some weaknesses in the evidence regarding the proposed mechanism. The paper will be of particular interest to those who study skeletal muscle satellite cell biology.</p>
  <div id="assessment" class="assessment" aria-expanded="false">
    <section class="terms_wrapper">
      <div class="terms-title">Significance of the findings:</div>
      <div class="terms-summary"><strong>Valuable</strong>: Contains findings that have theoretical or practical implications for a subfield.</div>
      <ul class="terms">
        <li class="term">Landmark</li>
        <li class="term">Fundamental</li>
        <li class="term">Important</li>
        <li class="term term-highlighted">Valuable</li>
        <li class="term">Useful</li>
      </ul>
    </section>

    <section class="terms_wrapper">
      <div class="terms-title">Significance of the findings:</div>
      <div class="terms-summary"><strong>Valuable</strong>: Contains findings that have theoretical or practical implications for a subfield.</div>
      <ul class="terms">
        <li class="term">Landmark</li>
        <li class="term">Fundamental</li>
        <li class="term">Important</li>
        <li class="term term-highlighted">Valuable</li>
        <li class="term">Useful</li>
      </ul>
    </section>
  </div>

  <button class="terms-toggle-button">See more</button>

<section>