<section data-testimonial-with-link class="testimonial-with-link">
    <div class="testimonial-with-link__image">
        <img src="https://iiif.elifesciences.org/journal-cms/person%2F2025-09%2Fpatrick-allard-from-source.jpg/0,0,512,512/320,/0/default.webp" alt="Headshot of Patrick Allard">
    </div>
    <div>
        <blockquote class="testimonial-with-link__quotation">{{quotation}}{{#quotationLastWord}}<span class="last-word">{{quotationLastWord}}</span>{{/quotationLastWord}}</blockquote>
        <p class="testimonial-with-link__attribution">
            {{attribution}}
        </p>
        <a href="{{link.url}}" class="testimonial-with-link__link">{{link.name}}</a>
    </div>
</section>
