<section data-testimonial-with-link class="testimonial-with-link">
    <img src="https://iiif.elifesciences.org/journal-cms/person%2F2025-09%2Fpatrick-allard-from-source.jpg
    /70,30,614,614/320,/0/default.webp" alt="Headshot of Patrick Allard" class="testimonial-with-link__image" />
    <blockquote class="testimonial-with-link__quotation">{{quotation}}</blockquote>
    <p class="testimonial-with-link__attribution">
        {{attribution}}
    </p>
    <a href="{{link.url}}" class="testimonial-with-link__link">{{link.name}}</a>
</section>
