
<div class="viewer-inline">

  <div class="viewer-inline__header_panel">
    <!-- For the JS -->
    <div class="viewer-inline__viewer_controls"></div>

    <div class="viewer-inline__header_text"><strong>Fig 1</strong> with 4 supplements <strong>Fig 1</strong> with 4 supplements <strong>Fig 1</strong> with 4 supplements <strong>Fig 1</strong> with 4 supplements <strong>Fig 1</strong> with 4 supplements <strong>Fig 1</strong> with 4 supplements <strong>Fig 1</strong> with 4 supplements</div>

    <div class="viewer-inline__figure_access">
      <a href="#" class="viewer-inline__figure_access_download"><span class="visuallyhidden">Download</span></a>
      <a href="#" class="viewer-inline__figure_access_open" target="_blank"><span class="visuallyhidden">Open in a new tab</span></a>
    </div>
  </div>

  {{> atoms-captioned-image }}

</div>
