<div class="viewer-inline">

    <div class="viewer-inline__header_panel">
        <!-- For the JS -->
        <div class="viewer-inline__viewer_controls"></div>

        <div class="viewer-inline__header_text">
            <span class="viewer-inline__header_text__prominent">{{prominentText}}</span>{{normalText}}
            <a href="{{seeAllLink}}" class="viewer-inline__header_link">see all</a>
        </div>

        <div class="viewer-inline__figure_access">
            <a href="#{{id}}" class="viewer-inline__figure_access_download">
                <span class="visuallyhidden">Download</span>
            </a>
            <!-- <a href="#viewer-inline__footer" class="viewer-inline__figure_access_open" target="_blank"><span class="visuallyhidden">Open in a new tab</span></a> -->
        </div>
    </div>
    {{#captionedFigure}}
        {{> atoms-captioned-figure }}
    {{/captionedFigure}}

    <div id="{{id}}" class="viewer-inline__footer">
        <a href="{{downloadLink}}" class="viewer-inline__footer_link">Download figure</a>
        <a href="{{newWindowLink}}" class="viewer-inline__footer_link" target="_blank">Open in new tab</a>
    </div>

</div>
