<header class="content-header
    {{#rootClasses}}{{rootClasses}}{{/rootClasses}}"
  {{#behaviour}} data-behaviour="{{behaviour}}"{{/behaviour}}
  {{#backgroundImage}}
        {{#thresholdWidth}}data-threshold-width="{{thresholdWidth}}"{{/thresholdWidth}}
        data-low-res-image-source="{{lowResImageSource}}"
        data-high-res-image-source="{{highResImageSource}}"
  {{/backgroundImage}}>

  {{#hasProfile}}
    <div class="content-header__top">
      <a class="content-header__top_info" href="{{{profile.link}}}">
        <dl>
          <dt class="content-header__top_label">Curated by</dt>
          <dd class="content-header__top_data">{{profile.name}}</dd>
        </dl>
      </a>
    </div>
  {{/hasProfile}}

  {{! Used for the Podcast download link }}
  {{#download}}
    <a href="{{download}}" class="content-header__download_link">
      <picture>
        {{#hasBackground}}
          <source srcset="{{assetsPath}}/img/icons/download-full-reverse.svg" type="image/svg+xml" media="(min-width: 35em)">
          <source srcset="{{assetsPath}}/img/icons/download-full-reverse-2x.png" type="image/png" media="(min-width: 35em)">
          <source srcset="{{assetsPath}}/img/icons/download-reverse.svg" type="image/svg+xml">
          <img src="{{assetsPath}}/img/icons/download-full-reverse-1x.png" class="content-header__download_icon" alt="Download icon">
        {{/hasBackground}}
        {{^hasBackground}}
          <source srcset="{{assetsPath}}/img/icons/download-full.svg" type="image/svg+xml" media="(min-width: 35em)">
          <source srcset="{{assetsPath}}/img/icons/download-full-2x.png" type="image/png" media="(min-width: 35em)">
          <source srcset="{{assetsPath}}/img/icons/download.svg" type="image/svg+xml">
          <img src="{{assetsPath}}/img/icons/download-full-1x.png" class="content-header__download_icon" alt="Download icon">
        {{/hasBackground}}
      </picture>
      <span class="visuallyhidden">Download</span>
    </a>
  {{/download}}

  <div class="content-header__inner">
    <div class="content-header__hgroup">
      <h1 class="content-header__title {{titleClass}}">{{{title}}}</h1>
      {{#strapline}}
        <div class="content-header__strapline">{{{strapline}}}</div>
      {{/strapline}}
    </div>
  </div> <!--  /.content-header__inner -->

  {{#hasCtaOrMeta}}
    <div class="content-header__bottom">
      <div class="content-header__cta">
        {{! Expect atoms-button and the form element to be mutually exclusive. }}
        {{#button.text}}
          {{#button}}
            {{>atoms-button}}
          {{/button}}
        {{/button.text}}
        {{#selectNav}}
          {{> molecules-select-nav}}
        {{/selectNav}}
      </div>
      {{#meta}}
        {{> molecules-meta}}
      {{/meta}}
    </div>
  {{/hasCtaOrMeta}}

</header>

<div class="content-header-divider"></div> <!-- The shame! -->
