<header class="content-header
               content-header-nonarticle
               {{#background}}content-header-nonarticle--background{{/background}}
               {{#backgroundImage}}content-header--background-image{{/backgroundImage}}">

  {{#backgroundImage}}
    {{> atoms-content-header-background-style-markup}}
  {{/backgroundImage}}

  <a href="{{{downloadLink}}}" class="content-header__download_link">
    <picture>
      <source srcset="{{images.download.svgFull}}"
              media="(min-width: 35em)"
              type="image/svg+xml" />

      <source srcset="{{images.download.bitmapFull}}"
              media="(min-width: 35em)" />

      <source srcset="{{images.download.svg}}" type="image/svg+xml" />

      <img src="{{{images.download.bitmapFull}}}" class="content-header__download_icon" alt="Download icon" />
    </picture>
    <span class="visuallyhidden">Download</span>
  </a>

  <div class="content-header__inner">
    <div class="content-header__hgroup">
      <h2 class="content-header__title {{titleClass}}">{{{title}}}</h2>
      <div class="content-header__strapline">{{{strapline}}}</div>
    </div>
  </div> <!--  /.content-header__inner -->

  {{#hasCtaOrMeta}}
    <div class="content-header__bottom">
      {{#buttonText}}
        <div class="content-header__cta">
          {{>atoms-button-outline-small}}
        </div>
      {{/buttonText}}
      {{#meta}}
        {{> molecules-meta}}
      {{/meta}}
    </div>
  {{/hasCtaOrMeta}}

  <div class="content-header__bottom_line"></div>

</header>
