<header class="content-header
               content-header-article content-header-article-research content-header-article-research--readmore"
        {{#behaviour}}data-behaviour="{{behaviour}}"{{/behaviour}}
  {{#backgroundImage}}
    {{#thresholdWidth}}data-threshold-width="{{thresholdWidth}}"{{/thresholdWidth}}
        data-low-res-image-source="{{lowResImageSource}}"
        data-high-res-image-source="{{highResImageSource}}"
  {{/backgroundImage}}>

  <div class="content-header_top">

    {{#subjects}}
      <ol class="content-header__subject_list">
        {{#subjects.list}}
          <li class="content-header__subject_list_item">
            <a href="{{url}}" class="content-header__subject_link"><span class="content-header__subject">{{name}}</span></a>
          </li>
        {{/subjects.list}}
      </ol>
    {{/subjects}}
  </div>
  {{#url}}<a class="content-header__title-link" href="{{url}}">{{/url}}
    <h1 class="content-header__title {{titleClass}}">{{{title}}}</h1>
  {{#url}}</a>{{/url}}

  {{#strapline}}
    <div class="content-header__strapline">{{{strapline}}}</div>
  {{/strapline}}

  {{#author}}
    <ol class="content-header__author_list">
      <li class="content-header__author_list_item">
        <span class="content-header__author">{{author}}</span>
      </li>
    </ol>
  {{/author}}

  {{#meta}}
    {{> molecules-meta}}
  {{/meta}}
</header>
<div class="content-header-divider"></div>
