<header class="content-header content-header-nonarticle">

  {{#contentHeaderBasic}}
  <div class="content-header__inner">
    <div class="content-header__hgroup">
      <h2 class="content-header__title {{titleClass}}">{{{title}}}</h2>
      <div class="content-header__strapline">{{{strapline}}}</div>
    </div>
  </div> <!--  /.content-header__inner -->
    
  {{/contentHeaderBasic}}
  <div class="content-header__bottom_line"></div>
</header>
