  <header class="content-header
               {{#rootClasses}}{{rootClasses}}{{/rootClasses}}"
          {{#behaviour}}data-behaviour="{{behaviour}}"{{/behaviour}}
    {{#backgroundImage}}
          {{#thresholdWidth}}data-threshold-width="{{thresholdWidth}}"{{/thresholdWidth}}
          data-low-res-image-source="{{lowResImageSource}}"
          data-high-res-image-source="{{highResImageSource}}"
    {{/backgroundImage}}>

      <div class="content-header_top">

        {{#subjects}}
          <ol class="content-header__subject_list">
            {{#subjects.list}}
              <li class="content-header__subject_list_item">
                <a href="{{url}}" class="content-header__subject_link"><span class="content-header__subject">{{name}}</span></a>
              </li>
            {{/subjects.list}}
          </ol>
        {{/subjects}}

        {{#download}}
          <a href="{{download}}" class="content-header__download_link">
            <picture>
              {{#hasBackground}}
                <source srcset="{{assetsPath}}/img/icons/download-full-reverse.svg" type="image/svg+xml" media="(min-width: 35em)">
                <source srcset="{{assetsPath}}/img/icons/download-full-reverse-2x.png" type="image/png" media="(min-width: 35em)">
                <source srcset="{{assetsPath}}/img/icons/download-reverse.svg" type="image/svg+xml">
                <img src="{{assetsPath}}/img/icons/download-full-reverse-1x.png" class="content-header__download_icon" alt="Download icon">
              {{/hasBackground}}
              {{^hasBackground}}
                <source srcset="{{assetsPath}}/img/icons/download-full.svg" type="image/svg+xml" media="(min-width: 35em)">
                <source srcset="{{assetsPath}}/img/icons/download-full-2x.png" type="image/png" media="(min-width: 35em)">
                <source srcset="{{assetsPath}}/img/icons/download.svg" type="image/svg+xml">
                <img src="{{assetsPath}}/img/icons/download-full-1x.png" class="content-header__download_icon" alt="Download icon">
              {{/hasBackground}}
            </picture>
          </a>
        {{/download}}
      </div>

      <h1 class="content-header__title {{titleClass}}">{{{title}}}</h1>

      {{#strapline}}
        <div class="content-header__strapline">{{{strapline}}}</div>
      {{/strapline}}

      {{#authors}}
        <ol class="content-header__author_list">
          <!--  All article headers: when js available, max 16 authors visible,
                  excess behind 'see more'. Except: Reasearch article read more header: only first author (firstAuthorOnly), followed by et al if there are more (hasEtAl). -->
          {{#firstAuthorOnly}}
            <li class="content-header__author_list_item">
              <span class="content-header__author">{{firstAuthorOnly}}</span>
            </li>
            {{#hasEtAl}}
              <li class="content-header__author_list_item"><span class="content-header__author--etal">et al.</span></li>
            {{/hasEtAl}}
          {{/firstAuthorOnly}}

          {{^firstAuthorOnly}}
            {{#authors.list}}
              <li class="content-header__author_list_item">
                <span class="content-header__author">{{name}}</span>
              </li>
            {{/authors.list}}
          {{/firstAuthorOnly}}

        </ol>
      {{/authors}}
      <!-- Institution list is not on the designs of the narrow view. This is visually hidden until the first min-width breakpoint. -->

      {{#institutions}}
        <ol class="content-header__institution_list">
          {{#institutions.list}}
            <li class="content-header__institution_list_item">
              <span class="content-header__institution">{{name}}</span>
            </li>
          {{/institutions.list}}
        </ol>
      {{/institutions}}

      {{#meta}}
        {{> molecules-meta}}
      {{/meta}}

  </header>

  <div class="content-header-divider"></div> <!-- The shame! -->
