<header class="content-header-with-subtitle">

    <h1 class="content-header-with-subtitle__title">{{{title}}}</h1>

    {{#subtitle}}
        <div class="content-header-with-subtitle__subtitle">{{{subtitle}}}</div>
    {{/subtitle}}

</header>
