<header class="content-header-profile">

  <h1 class="content-header-profile__display_name">{{{displayName}}}</h1>

  {{#details}}
  <div class="content-header-profile__details">

    <ul class="content-header-profile__affiliations">
      {{#affiliations}}<li class="content-header-profile__affiliation">{{{.}}}</li>{{/affiliations}}
    </ul>

    {{#emailAddress}}
    <div class="content-header-profile__email">{{emailAddress}}</div>
    {{/emailAddress}}

  </div>
  {{/details}}

  <nav class="content-header-profile__nav">
    <ul class="content-header-profile__links">
      {{#secondaryLinks}}
        <li><a href="{{uri}}" class="content-header-profile__link" >{{text}}</a></li>
      {{/secondaryLinks}}
      <li><a href="{{logoutLink.uri}}" class="content-header-profile__link content-header-profile__link--logout" >{{logoutLink.text}}</a></li>
    </ul>
  </nav>

</header>
