<header
    class="content-header {{#image}}content-header--image content-header--header{{/image}} {{^image}}wrapper {{#header.possible}}content-header--header{{/header.possible}}{{/image}} clearfix"
    data-behaviour="ContentHeader">

  {{#image}}
    <picture class="content-header__picture">
      {{#sources}}
        <source srcset="{{srcset}}"
                {{#type}}type="{{type}}"{{/type}}
          {{#media}}media="{{media}}"{{/media}}>
      {{/sources}}
      {{#fallback}}
        <img src="{{defaultPath}}"
             {{#srcset}}srcset="{{srcset}}"{{/srcset}}
             alt="{{altText}}"
             class="content-header__image"
             sizes="(min-width: 1114px) 1114px, 100vw"
        >
      {{/fallback}}
    </picture>
  {{/image}}

  {{#header}}
    {{#hasProfile}}
      <div class="content-header__profile_wrapper">
        {{#profile.url}}
        <a class="content-header__profile{{#profile.image}} content-header__profile--has-image{{/profile.image}}"
           href="{{profile.url}}">
        {{/profile.url}}
        {{^profile.url}}
        <span class="content-header__profile{{#profile.image}} content-header__profile--has-image{{/profile.image}}">
        {{/profile.url}}
        {{#profile.image}}
          <picture>
            {{#sources}}
              <source srcset="{{srcset}}"
                      {{#type}}type="{{type}}"{{/type}}
                {{#media}}media="{{media}}"{{/media}}>
            {{/sources}}
            {{#fallback}}
              <img src="{{defaultPath}}"
                   {{#srcset}}srcset="{{srcset}}"{{/srcset}}
                   alt="{{altText}}"
                   class="content-header__profile_image"
                   sizes="40px">
            {{/fallback}}
          </picture>
        {{/profile.image}}
        <dl>
          <dt class="content-header__profile_label">Curated by</dt>
          <dd class="content-header__profile_data">{{profile.name}}</dd>
        </dl>
        {{^profile.url}}
          </span>
        {{/profile.url}}
        {{#profile.url}}
        </a>
        {{/profile.url}}
      </div>
    {{/hasProfile}}

    {{#hasSubjects}}
      <ol class="content-header__subject_list">
        {{#subjects}}
          <li class="content-header__subject_list_item">
            <a href="{{url}}" class="content-header__subject_link">
              <span class="content-header__subject">{{{name}}}</span>
            </a>
          </li>
        {{/subjects}}
      </ol>
    {{/hasSubjects}}
  {{/header}}

  {{#licence}}
      <ul class="content-header__icons">
        <li><a href="https://en.wikipedia.org/wiki/Open_access"
               class="content-header__icon content-header__icon--oa"><span
            class="visuallyhidden">Open access</span></a></li>
        <li><a href="{{licence}}"
               class="content-header__icon content-header__icon--cc"><span
            class="visuallyhidden">Copyright information</span></a></li>
      </ul>
  {{/licence}}

  {{#download}}
    <a href="{{download}}" class="content-header__download_link">
      <picture>
        {{#image}}
          <source srcset="{{#assetRewrite}}{{assetsPath}}/img/icons/download-full-reverse.svg{{/assetRewrite}} 88w" sizes="88px" type="image/svg+xml" media="(min-width: 45.625em)">
          <source srcset="{{#assetRewrite}}{{assetsPath}}/img/icons/download-full-reverse-2x.png{{/assetRewrite}} 88w" sizes="88px" type="image/png" media="(min-width: 45.625em)">
          <source srcset="{{#assetRewrite}}{{assetsPath}}/img/icons/download-reverse.svg{{/assetRewrite}} 20w" sizes="20px" type="image/svg+xml">
          <img src="{{#assetRewrite}}{{assetsPath}}/img/icons/download-full-reverse-1x.png{{/assetRewrite}}" class="content-header__download_icon" alt="Download icon">
        {{/image}}
        {{^image}}
          <source srcset="{{#assetRewrite}}{{assetsPath}}/img/icons/download-full.svg{{/assetRewrite}} 88w" sizes="88px" type="image/svg+xml" media="(min-width: 45.625em)">
          <source srcset="{{#assetRewrite}}{{assetsPath}}/img/icons/download-full-2x.png{{/assetRewrite}} 88w" sizes="88px" type="image/png" media="(min-width: 45.625em)">
          <source srcset="{{#assetRewrite}}{{assetsPath}}/img/icons/download.svg{{/assetRewrite}} 20w" sizes="20px" type="image/svg+xml">
          <img src="{{#assetRewrite}}{{assetsPath}}/img/icons/download-full-1x.png{{/assetRewrite}}" class="content-header__download_icon" alt="Download icon">
        {{/image}}
      </picture>
    </a>
  {{/download}}

  <div class="content-header__body">
    <h1 class="content-header__title {{#longTitle}}content-header__title--long{{/longTitle}}">{{{title}}}</h1>

    {{#impactStatement}}
      <div class="content-header__impact-statement">{{{impactStatement}}}</div>
    {{/impactStatement}}
  </div>

  {{#authors}}
    <div class="content-header__authors">
      <ol class="content-header__author_list">
        {{#authors.list}}
          <li class="content-header__author_list_item">
            <span class="content-header__author">{{#url}}<a href="{{url}}" data-behaviour="Popup" class="content-header__author_link">{{/url}}{{name}}{{#url}}</a>{{/url}}{{#isCorresponding}}
              <picture>
               <source srcset="{{#assetRewrite}}{{assetsPath}}/img/icons/corresponding-author.svg{{/assetRewrite}}" type="image/svg+xml">
               <img src="{{#assetRewrite}}{{assetsPath}}/img/icons/corresponding-author@1x.png{{/assetRewrite}}"
                    srcset="{{#assetRewrite}}{{assetsPath}}/img/icons/corresponding-author@2x.png{{/assetRewrite}} 20w, {{#assetRewrite}}{{assetsPath}}/img/icons/corresponding-author@1x.png{{/assetRewrite}} 10w"
                    sizes="10px" alt="Is a corresponding author" class="content-header__author_icon">
              </picture>{{/isCorresponding}}</span>
          </li>
        {{/authors.list}}
      </ol>

      {{#institutions}}
        <ol class="content-header__institution_list">
          {{#institutions.list}}
            <li class="content-header__institution_list_item">
              <span class="content-header__institution">{{{name}}}</span>
            </li>
          {{/institutions.list}}
        </ol>
      {{/institutions}}
    </div>
  {{/authors}}

  {{! authorLine used to link to main article author section when narrow }}
  {{#authorLine}}
    <!-- aria-hidden because this is just a short summary for narrow viewports, the full author list should be accessible -->
    <div class="content-header__authors content-header__authors--line" aria-hidden="true">
      {{#url}}
        <a href="{{url}}" class="content-header__author_link">{{{text}}}{{#hasEtAl}}<span class="content-header__author_link_highlight">  et al.</span>{{/hasEtAl}}</a>
      {{/url}}
      {{^url}}
        {{{text}}}
      {{/url}}
    </div>
  {{/authorLine}}

  {{#button}}
    <div class="content-header__cta">
      {{>atoms-button}}
    </div>
  {{/button}}

  {{#selectNav}}
    <div class="content-header__cta">
      {{> molecules-select-nav}}
    </div>
  {{/selectNav}}

  {{#meta}}
    <div class="content-header__meta">
      {{> molecules-meta}}
    </div>
  {{/meta}}

</header>
