<header class="content-header
               content-header-nonarticle
               {{#background}}content-header-nonarticle--background{{/background}}
               {{#backgroundImage}}content-header--background-image{{/backgroundImage}}"
      {{#select}}data-behaviour="ContentHeaderSelectNav"{{/select}}>

  {{#backgroundImage}}
    {{> atoms-content-header-background-style-markup}}
  {{/backgroundImage}}

  {{#hasCurator}}
    <div class="content-header__top">
      <a class="content-header__top_info" href="{{curator.profileLink}}">
        <dl>
          <dt class="content-header__top_label">Curated by</dt>
          <dd class="content-header__top_data">{{curator.name}}</dd>
        </dl>
      </a>
    </div>
  {{/hasCurator}}

  <div class="content-header__inner">
    <div class="content-header__hgroup">
      <h2 class="content-header__title {{titleClass}}">{{{title}}}</h2>
      <div class="content-header__strapline">{{{strapline}}}</div>
    </div>
  </div> <!--  /.content-header__inner -->

  {{#hasCtaOrMeta}}
    <div class="content-header__bottom">
      <div class="content-header__cta">
        <!-- Expect atoms-button-outline-small and the form element to be mutually exclusive. -->
      {{#buttonText}}
        {{>atoms-button-outline-small}}
      {{/buttonText}}
      {{#select}}
        <form method="GET" action="{{route}}">
        {{>atoms-select}}
        {{>atoms-button-outline-extra-small(buttonText: "Go", type="submit")}}
        </form>
      {{/select}}
      </div>
      {{#meta}}
        {{> atoms-meta}}
      {{/meta}}
    </div>
  {{/hasCtaOrMeta}}

  <div class="content-header__bottom_line"></div>
</header>
