<header class="content-header content-header-nonarticle content-header-nonarticle-background-image">

  <style type="text/css">
    @media only all and (-webkit-min-device-pixel-ratio: 2) {
      .content-header-nonarticle-background-image {
        background-image: -webkit-linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url({{images.hires}});
        background-image: -o-linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url({{images.hires}});
        background-image: -moz-linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url({{images.hires}});
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url({{images.hires}});
      }
    }

    @media only all and (min-resolution: 196dpi) {
      .content-header-nonarticle-background-image {
        background-image: -webkit-linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url({{images.hires}});
        background-image: -o-linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url({{images.hires}});
        background-image: -moz-linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url({{images.hires}});
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url({{images.hires}});
      }
    }

    @media only all and (-webkit-max-device-pixel-ratio: 1.99) {
      .content-header-nonarticle-background-image {
        background-image: -webkit-linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url({{images.lores}});
        background-image: -o-linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url({{images.lores}});
        background-image: -moz-linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url({{images.lores}});
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url({{images.lores}});
      }
    }

    @media only all and (max-resolution: 195.99dpi) {
      .content-header-nonarticle-background-image {
        background-image: -webkit-linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url({{images.lores}});
        background-image: -o-linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url({{images.lores}});
        background-image: -moz-linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url({{images.lores}});
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url({{images.lores}});
      }
    }

  </style>

  <div class="content-header__inner">
    <div class="content-header__hgroup">
      <h2 class="content-header__title {{titleClass}}">{{{title}}}</h2>
      <div class="content-header__strapline">{{{strapline}}}</div>
    </div>
  </div> <!--  /.content-header__inner -->
    
  <div class="content-header__bottom">
    {{#buttonText}}
    <div class="content-header__cta">
      {{>atoms-button-outline-small}}
    </div>
    {{/buttonText}}
    {{#meta}}
    <div class="content-header__meta">
      <span>
        <span class="content-header__type">{{meta.type}}</span> <time datetime="{{meta.dateTime}}">{{meta.dateString}}</time>
      </span>
    </div>
    {{/meta}}
  </div>

  <div class="content-header__bottom_line"></div>

</header>
