{{! These are the fonts specified in the the css's @font-face rules. }}

<link rel="preload" href="{{#assetRewrite}}{{assetsPath}}/fonts/NotoSans-Regular-webfont-custom-2-subsetting.woff2{{/assetRewrite}}" as="font" type="font/woff2" crossorigin="anonymous">

<link rel="preload" href="{{#assetRewrite}}{{assetsPath}}/NotoSans-SemiBold-webfont-custom-2-subsetting.woff2{{/assetRewrite}}" as="font" type="font/woff2" crossorigin="anonymous">

<link rel="preload" href="{{#assetRewrite}}{{assetsPath}}/NotoSerif-Regular-webfont-custom-2-subsetting.woff{{/assetRewrite}}" as="font" type="font/woff2" crossorigin="anonymous">

<meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
