<div class="nav-primary">
  <nav>
    <ul class="clearfix">
      <li class="nav-primary__item nav-primary__item--first">
        <a href="#main-menu">
          <picture>
            <source srcset="/assets/img/ic_menu_black_24px.svg" />
            <img src="/assets/img/ic_menu_black_24dp_1x.png" alt="Menu icon" class="nav-primary__menu_icon">
          </picture>
          <span class="visuallyhiddennarrowest">Menu</span>
        </a>
      </li>
      <li class="nav-primary__item"><a href="/">Home</a></li>
      <li class="nav-primary__item"><a href="/magazine">Magazine</a></li>
      <li class="nav-primary__item nav-primary__item--last">
        <a href="/search">
          <picture>
            <source srcset="/assets/img/ic_search_black_24px.svg" />
            <img src="/assets/img/ic_search_black_24dp_1x.png" alt="Search icon">
          </picture>
          <span class="visuallyhidden">Search</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
