
.site-footer {
  background-color: #fff;
}

.main-menu {
  background-color: $color-text-ui-background--reverse;
  color: $color-text-ui-background;
}

.main-menu__title {
  text-transform: uppercase;
  margin: 0;
  padding: 0 0 2px 0;
  padding: 0 0 0.1rem 0;
}

.main-menu__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-menu__list-item {
  font-family: $font-secondary;
  margin: 0;
  padding: 0;
}

.main-menu__list-link {
  color: $color-text-ui-background;
  text-decoration: none;
}

.investor-logos__img {
  max-width: 100%;
}

.footer-navigation__list {
  list-style: none;
  margin: 0;
  padding: 0 0 15px 0;
  padding: 0 0 1rem 0;
  text-align: center;
}

.footer-navigation__list-item {
  font-family: $font-secondary;
  @include font-size(13);
  font-weight: 600;
  margin: 0;
  padding: 0;
}

.footer-navigation__list-link {
  color: $color-text-ui-background--reverse;
  text-transform: uppercase;
  text-decoration: none;
}

.social-links__list {
  margin: 0;
  padding: 0 0 15px 0;
  padding: 0 0 1rem 0;
}

.social-links__list-item {
  margin: 0;
  padding: 0;
}

.site-smallprint {
  small {
    display: block;
    line-height: 1.3;
    text-align: center;
  }
}
