
<section class="email-cta">

  <div class="email-cta__container">

      <header class="email-cta__header">
        <h2 class="email-cta__header_text">Be the first to read new articles from eLife</h2>
      </header>

      <h3 class="email-cta__sub_header">Sign up for alerts</h3>

      {{> molecules-compact-form }}

  </div>

</section>
