<section class="email-cta">

  <div class="email-cta__container">

      <header class="email-cta__header">
        <h2 class="email-cta__header_text">{{{ headerText }}}</h2>
      </header>

      <a href="{{{etocSignUpLink}}}" class="button button--default">{{{ subHeader }}}</a>

      {{#formFieldInfoLink}}
      {{> atoms-form-field-info-link}}
    {{/formFieldInfoLink}}
  </div>

</section>
