{{#emailCta}}
<section class="email-cta">

  <div class="email-cta__container">

      <header class="email-cta__header">
        <h2 class="email-cta__header_text">{{{ headerText }}}</h2> <!-- Be the first to read new articles from eLife -->
      </header>

      <h3 class="email-cta__sub_header">{{{ subHeader }}}</h3> <!-- Sign up for alerts -->
      {{#compactForm}}
        {{> molecules-compact-form }}
      {{/compactForm}}
  </div>

</section>
{{/emailCta}}
