<header class="site-header clearfix">
  <h1 class="site-header__title clearfix"><a href="#" class="site-header__logo_link"><span class="visuallyhidden">eLife</span></a></h1>
  {{> molecules-nav-secondary }}
  {{> molecules-nav-primary }}
</header>
