<header class="site-header clearfix" data-behaviour="SiteHeader" id="siteHeader">
  <h1 class="site-header__title clearfix" role="banner"><a href="{{homePagePath}}" class="site-header__logo_link"><span class="visuallyhidden" >eLife home page</span></a></h1>
  <div class="site-header__navigation" role="navigation" aria-label="Main navigation">

    {{#secondaryLinks}}
      {{> molecules-site-header-nav-bar }}
    {{/secondaryLinks}}

    {{#primaryLinks}}
      {{> molecules-site-header-nav-bar }}
    {{/primaryLinks}}

  </div>
  {{> molecules-search-box}}
</header>
