<header class="site-header clearfix" data-behaviour="SiteHeader" id="siteHeader">
  <div class="site-header__title clearfix" role="banner">
    <div class="site-header__skip_to_content">
      <a href="#maincontent" class="site-header__skip_to_content__link button button--default">Skip to Content</a>
    </div>
    {{#logo}}
      {{> molecules-site-header-logo }}
    {{/logo}}
  </div>
  <div class="site-header__navigation" role="navigation" aria-label="Main navigation">

    {{#secondaryLinks}}
      {{> molecules-site-header-nav-bar }}
    {{/secondaryLinks}}

    {{#primaryLinks}}
      {{> molecules-site-header-nav-bar }}
    {{/primaryLinks}}

  </div>

  {{#searchBox}}
    {{> molecules-search-box}}
  {{/searchBox}}

</header>
