<div class="wrapper wrapper--site-header">
  <header class="site-header clearfix" data-behaviour="SiteHeader" id="siteHeader">
    {{#title}}
      {{> molecules-site-header-title }}
    {{/title}}
    <div class="site-header__navigation" role="navigation" aria-label="Main navigation">
      <div class="site-header__navigation__item">
        {{#primaryLinks}}
          {{> molecules-site-header-nav-bar }}
        {{/primaryLinks}}
      </div>
      {{#secondaryLinks}}
        {{> molecules-site-header-nav-bar }}
      {{/secondaryLinks}}
    </div>
    {{#searchBox}}
      {{> molecules-search-box}}
    {{/searchBox}}
  </header>
</div>
