<div
    id="{{id}}"
    class="asset-viewer-inline asset-viewer-inline--{{variant}} {{#classes}}{{classes}}{{/classes}}"
    data-variant="{{variant}}"
  {{#isSupplement}}
    data-parent-asset-id="{{parentId}}"
    data-supplement-ordinal="{{supplementOrdinal}}"
  {{/isSupplement}}
>

  <div class="asset-viewer-inline__header_panel">
      <div class="asset-viewer-inline__header_text">
        <span class="asset-viewer-inline__header_text__prominent">{{label}}</span>{{#supplementCount}} with {{supplementCount}} supplement{{#hasMultipleSupplements}}s{{/hasMultipleSupplements}} <a href="{{figuresPageFragLink}}" class="asset-viewer-inline__header_link">see all</a>{{/supplementCount}}
      </div>

    {{#downloadAllLink}}
      <div class="asset-viewer-inline__figure_access">
        <a href="{{downloadAllLink}}" class="asset-viewer-inline__download_all_link">
          <span class="visuallyhidden">Download everything associated with this artefact</span>
        </a>
      </div>
    {{/downloadAllLink}}
    </div>

    {{#captionedAsset}}
        {{> molecules-captioned-asset }}
    {{/captionedAsset}}

  {{#doi}}
    {{> atoms-doi}}
  {{/doi}}

  {{#additionalAssets}}
    {{> molecules-additional-assets}}
  {{/additionalAssets}}

</div>
