<div class="teaser teaser--annotation teaser--no-secondary-info">

  {{#document}}
    <div class="teaser__context_label">
      {{{.}}}
    </div>
  {{/document}}

  {{#highlight}}
    <blockquote class="teaser__annotation_highlight">
        {{{.}}}
    </blockquote>
  {{/highlight}}

  {{#content}}
    <div class="teaser__annotation_content">
      {{{.}}}
    </div>
  {{/content}}

  {{#footer}}
    <footer class="teaser__footer">

      {{#meta}}
        {{> molecules-meta}}
      {{/meta}}

    </footer>
  {{/footer}}

</div>
