{{! This media-chapter-listing-item pattern is a compromise between the pattern definition and production code functions
    of this pattern library.

    UI-wise this pattern is a teaser variant and has most of its styles in common with teasers. Rather than duplicate
    them, they are referenced directly in this pattern. Even though that leaking through is A Bad Thing, I think it's
    better than duplicating the styles in 2 different stylesheets when design-wise they are seen as the same thing.

    View-model-wise this is a separate template (and so a separate pattern-lab pattern), to avoid overloading the teaser
    view model with something that might not logically be considered a teaser when without js functionality, as then it
    doesn't carry a link, it's just formatted text. }}

<div class="teaser media-chapter-listing-item"{{#startTime}} data-start-time="{{startTime.forMachine}}" data-chapter-number = {{chapterNumber}} data-behaviour="MediaChapterListingItem"{{/startTime}}>

{{#startTime}}
  <span class="teaser__context_label">{{{forHuman}}}</span>
{{/startTime}}

  <header class="teaser__header">

    <h4 class="teaser__header_text">{{{title}}}</h4>

  </header>

  {{#content}}
    <div class="teaser__body">{{{content}}}</div>
  {{/content}}

  {{#meta}}
    <footer class="teaser__footer">
      {{> molecules-meta}}
    </footer>
  {{/meta}}

</div>
