{{! TODO: update PatternLab to have implementations of this in podcast and labs context}}

<div class="teaser teaser--non-article-content">
    <header class="teaser__header">
      {{#srcLow}}
      <a href="{{link}}" class="teaser__link">
         <img src="{{srcLow}}" srcset="{{srcset}}" class="teaser__header_img" alt="{{altText}}" />
      </a>
      {{/srcLow}}
      <h4 class="teaser__header_text"><a href="{{link}}" class="teaser__link">{{{headerText}}}</a></h4>
      {{#subHeader}}
      <div class="teaser__subheading">{{subHeader}}</div>
      {{/subHeader}}
    </header>
    <div class="teaser__body">
      {{content}}
    </div>

  <footer class="teaser__footer">
    <div class="teaser__footer_text">
      {{#footerText}}{{footerText}}{{/footerText}}
      {{#date}}
        <time datetime="{{date.forMachine}}">{{date.forHuman}}</time>
      {{/date}}
    </div>
    {{#downloadSrc}}
      <a href="{{downloadSrc}}" class="teaser__download"><span class="visuallyhidden">Download</span></a>
    {{/downloadSrc}}
  </footer>

</div>
