
<div class="teaser teaser--podcast-item">
  <!-- .teaser__link removed from the html markup because it will be introduced by JavaScript
        when chapter timimg information is available, as part of a future feature. -->
    <div class="teaser__meta">{{meta}}</div>
    <header class="teaser__header">
      <h4 class="teaser__header_text">{{{headerText}}}</h4>
    </header>
    <div class="teaser__body">
      {{content}}
    </div>
    <div class="teaser__content_extra">{{contentExtra}}</div>
</div>
