<div class="teaser teaser--event{{#isSecondary}} teaser--secondary{{/isSecondary}}">
  <a href="{{{link}}}">{{>atoms-date}}</a>
  <header class="teaser__header">
    <h4 class="teaser__header_text"><a href="{{{link}}}" class="teaser__header_text_link">{{{title}}}</a></h4>
    <div class="teaser__subheading">{{subheading}}</div>
  </header>
</div>
