<div class="teaser teaser--medium">

  {{#image}}
    <a href="{{{link}}}" class="teaser__header_text_link"><img src="{{{defaultPath}}}" srcset="{{{srcset}}}" class="teaser__img" alt="{{alt}}" /></a>
  {{/image}}

    <header class="teaser__header">
      <h4 class="teaser__header_text"><a href="{{{link}}}" class="teaser__header_text_link">{{{title}}}</a></h4>
    </header>

  <footer class="teaser__footer">
    <div class="teaser__category_date">
      <a href="{{{category.path}}}" class="teaser__category_link">{{category.name}}</a>
      {{>atoms-date}}
    </div>
  </footer>

</div>
