@import "../../definitions";
@import "content-header";

// Includes styles common to both research article and magazine article headers.

.content-header-article {

  @include padding(24, "bottom");

  .content-header__title {
    @include font-size(36);
    line-height: 1.33333333333;
  }

  // NOTE: There is a question mark over whether the following tranche of commented out code is any longer a requirement. Delete if not needed.

  // Alternative styles for the title. The class to apply for any particular
  // instance of this pattern depends on the number of characters in the title,
  // and should be set by the server accordingly.

  /*
    .content-header__title--large {
      @include title-size("large", "narrow", true);
      @media only all and (min-width: #{get-rem-from-px($bkpt-content-header--medium-width)}em) {
        @include title-size("large", "medium-width", true);
      }
      @media only all and (min-width: #{get-rem-from-px($bkpt-content-header--wide)}em) {
        @include title-size("large", "wide", true);
      }
      @media only all and (min-width: #{get-rem-from-px($bkpt-content-header--extra-wide)}em) {
        @include title-size("large", "extra-wide", true);
      }
    }

    .content-header__title--medium {
      @include title-size("medium", "narrow", true);
      @media only all and (min-width: #{get-rem-from-px($bkpt-content-header--medium-width)}em) {
        @include title-size("medium", "medium-width", true);
      }
      @media only all and (min-width: #{get-rem-from-px($bkpt-content-header--wide)}em) {
        @include title-size("medium", "wide", true);
      }
      @media only all and (min-width: #{get-rem-from-px($bkpt-content-header--extra-wide)}em) {
        @include title-size("medium", "extra-wide", true);
      }
    }

    .content-header__title--small {
      @include title-size("small", "narrow", true);
      @media only all and (min-width: #{get-rem-from-px($bkpt-content-header--medium-width)}em) {
        @include title-size("small", "medium-width", true);
      }
      @media only all and (min-width: #{get-rem-from-px($bkpt-content-header--wide)}em) {
        @include title-size("small", "wide", true);
      }
      @media only all and (min-width: #{get-rem-from-px($bkpt-content-header--extra-wide)}em) {
        @include title-size("small", "extra-wide", true);
      }
    }

    .content-header__title--extra-small {
      @include title-size("x-small", "narrow", true);
      @media only all and (min-width: #{get-rem-from-px($bkpt-content-header--medium-width)}em) {
        @include title-size("x-small", "medium-width", true);
      }
      @media only all and (min-width: #{get-rem-from-px($bkpt-content-header--wide)}em) {
        @include title-size("x-small", "wide", true);
      }
      @media only all and (min-width: #{get-rem-from-px($bkpt-content-header--extra-wide)}em) {
        @include title-size("x-small", "extra-wide", true);
      }

    }
    */

  & .meta {
    @include margin(24, "top");
    line-height: 2.18181818181818;
  }

  @media only all and (max-width: #{get-rem-from-px($bkpt-content-header--medium-width)}em) {
    .content-header__institution_list {
      @include visuallyhidden();
    }
  }

  // TODO: Review this breakpoint
  @media only all and (min-width: #{get-rem-from-px($bkpt-content-header--medium-width)}em) {

    .content-header__author--last-non-excess:after {
      content: "";
    }

    .content-header__item_toggle {
      color: $color-text-secondary;
      display: inline;
      list-style-type: none;
      padding: 0;
    }

    .content-header__item_toggle--author {
      @include author-typeg();
      font-weight: normal;
    }

    .content-header__item_toggle--institution {
      @include institute-typeg();
      font-weight: normal;
    }

    .content-header__item_toggle:hover {
      cursor: pointer;
    }

    .content-header__institution--last-non-excess:after {
      content: "";
    }

  }

}
