// 'nonarticle' is a rubbish name. Rename if inspiration strikes!
.content-header-nonarticle {

  min-height: #{$content-header-min-height}px;
  min-height: #{get-rem-from-px($content-header-min-height)}rem;
  position: relative;

  .content-header__download_link {
    margin-top: 5px;
    margin-top: #{get-rem-from-px(5)}rem;
    position: absolute;
    right: 0;
  }

  /*
   * Vertically centre title & strapline in a block. There is enough space above
   * and below the text so that within the block various ancillary data can be
   * displayed in such a way that does not change the position of the title and
   * strapline.
   */
  .content-header__inner {
    display: table;
    min-height: #{$content-header-min-height}px;
    min-height: #{get-rem-from-px($content-header-min-height)}rem;
    // Takes account of space required for bottom button & meta info, and
    // top curators etc in some versions.
    // each separation (22) * # separated els (2) + combined height of els (11px + 2rem) +
    // gap between bottom of inner & first bottom element (44px).
    @include padding(131 0);
    padding-bottom: calc((22px * 2) + 11px + 2rem + 44px);
    padding-top: calc((22px * 2) + 11px + 2rem + 44px);
    text-align: center;
    width: 100%;
  }

  .content-header__title {
    margin: 0;
    width: 100%;
  }

  .content-header__strapline {
    @include subtitle-typeg();
  }

  // They may take our <hgroup>, but they'll never take our .hgroup!
  .content-header__hgroup {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
  }

  .content-header__bottom_line {
    border-bottom: 1px solid $color-text-dividers;
  }

  .content-header__bottom {
    bottom: 44px;
    @include label-content-typeg($color-text--reverse);
    position: absolute;
    text-align: center;
    width: 100%;
  }

  .meta {
    color: $color-text--reverse;
    margin-bottom: -22px;
    margin-top: 22px;
  }

  .meta__type {
    color: $color-text--reverse;
  }

  .meta__type:hover,
  .meta__type:active {
    color: $color-primary-dark;
  }

  .content-header__top {
    display: table;
    // Used to remove its height from the centering calculation
    position: absolute;
    text-align: center;
    // Approximates centring for non-flexbox, not great.
    margin-left: 43%;
  }

  // 40px is the size of the avatar background image.
  .content-header__top_info {
    background: url("../img/avatars/pjha1x.png") 0 17px transparent no-repeat;
    background-size: 40px;
    box-sizing: content-box;
    display: table-cell;
    min-height: 40px;
    padding-bottom: 10px;
    padding-top: 22px;
    padding-left: 42px;
    text-align: center;
    text-decoration: none;
  }

  .content-header__top_info:hover *,
  .content-header__top_info:active * {
    color: $color-primary-dark;
  }

  // Reset
  .content-header__top_info dl,
  .content-header__top_info dt,
  .content-header__top_info dd {
    margin-bottom: 0;
  }

  .content-header__top_label {
    @include label-content-typeg($color-text--reverse);
    @include font-size(9);
    @include padding(5, "bottom");
  }

  .content-header__top_data {
    color: $color-text--reverse;
    font-family: $font-secondary;
    @include font-size(14);
    line-height: 1.2;
  }

  @media only screen and (min-resolution: 196dpi) {
    .content-header__top_info {
      background-image: url("../img/avatars/pjha2x.png");
    }
  }

  @media only screen and (-webkit-min-device-pixel-ratio: 2) {
    .content-header__top_info {
      background-image: url("../img/avatars/pjha2x.png");
    }
  }

  @supports (display: flex) {

    .content-header__top {
      display: flex;
      justify-content: center;
      margin-left: 0;
      width: 100%;
    }

    .content-header__top_label {
      text-align: left;
    }

    .content-header__top_info {
      padding-bottom: 0;
    }

  }

}

.content-header-nonarticle--background {

  background-color: $color-primary;
  background-size: cover;

  .content-header__inner {
    color: $color-text--reverse;
  }

  .content-header__bottom_line {
    border: none;
  }

}

// Built to apply to the archive select list navigation, but would apply more generally.
.content-header--js button[type="submit"] {
  @include visuallyhidden();
}
