// 'nonarticle' is a rubbish name. Rename if inspiration strikes!
.content-header-nonarticle {

  min-height: #{$content-header-min-height}px;
  min-height: #{get-rem-from-px($content-header-min-height)}rem;

  .content-header__download_link {
    margin-top: 5px;
    margin-top: #{get-rem-from-px(5)};
    position: absolute;
    right: 0;
  }
  // Need this to allow correct combination of bottom border
  // plus vertical centering.
  .content-header__inner {
    display: table;
    min-height: #{$content-header-min-height}px;
    min-height: #{get-rem-from-px($content-header-min-height)}rem;
    @include padding(40, 0);
    width: 100%;
  }

  @supports (display: flex) {
    .content-header__inner {
      align-items: center;
      display: flex;
    }
  }

  .content-header__title {
    margin: 0;
    width: 100%;
  }

  .content-header__strapline {
    font-family: $font-secondary;
    @include font-size(16);
    font-weight: bold;
    line-height: 1.4;
  }

  // They may take our <hgroup>, but they'll never take our .hgroup!
  .content-header__hgroup {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
  }

  .content-header__bottom_line {
    border-bottom: 1px solid $color-text-dividers;
  }

  .content-header__bottom {
    color: $color-text-ui-background;
    font-size: 11px;
    font-size: #{get-rem-from-px(11)}rem;
    font-weight: 600;
    line-height: 1;
    padding-top: 20px;
    padding-top: #{get-rem-from-px(20)}rem;
    width: 100%;
    // demibold
  }

  @supports (display: flex) {
    .content-header__bottom {
      display: flex;
    }
  }

  .content-header__bottom > * {
    margin: -43px auto 0;
    margin-top: -#{get-rem-from-px(43)}rem;
  }

  .content-header__type {
    text-transform: uppercase;
  }

}

.content-header-nonarticle--background-flat {

  background-color: $color-primary;

  .content-header__inner {
    color: $color-text--reverse;
  }

  .content-header__bottom_line {
    border: none;
  }

}

.content-header-nonarticle-background-image {

  background-color: $color-primary;
  background-size: cover;

  .content-header__inner {
    color: $color-text--reverse;
  }

  .content-header__bottom_line {
    border: none;
  }

}
