// 'nonarticle' is a rubbish name. Rename if inspiration strikes!
.content-header-nonarticle {

  min-height: #{$content-header-min-height}px;
  min-height: #{get-rem-from-px($content-header-min-height)}rem;
  position: relative;

  .content-header__download_link {
    margin-top: 5px;
    margin-top: #{get-rem-from-px(5)};
    position: absolute;
    right: 0;
  }

  /*
   * Vertically centre title & strapline in a block. There is enough space above
   * and below the text so that within the block various ancillary data can be
   * displayed in such a way that does not change the position of the title and
   * strapline.
   */
  .content-header__inner {
    display: table;
    min-height: #{$content-header-min-height}px;
    min-height: #{get-rem-from-px($content-header-min-height)}rem;
    // Takes account of space required for bottom button & meta info, and
    // top curators etc in some versions.
    // each separation (43px) * # separated els (2) + combined height of els (11px + 2rem) +
    // gap between bottom of inner & first bottom element (86px).
    @include padding(131 0);
    padding-bottom: calc((22px * 2) + 11px + 2rem + 44px);
    padding-top: calc((22px * 2) + 11px + 2rem + 44px);
    width: 100%;
  }

  .content-header__title {
    margin: 0;
    width: 100%;
  }

  .content-header__strapline {
    font-family: $font-secondary;
    @include font-size(16);
    font-weight: bold;
    line-height: 1.4;
  }

  // They may take our <hgroup>, but they'll never take our .hgroup!
  .content-header__hgroup {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
  }

  .content-header__bottom_line {
    border-bottom: 1px solid $color-text-dividers;
  }

  .content-header__bottom {
    color: $color-text-ui-background;
    font-size: 11px;
    font-size: #{get-rem-from-px(11)}rem;
    font-weight: 600;
    line-height: 1;
    width: 100%;
    // demibold

    position: absolute;
    bottom: 44px;

  }

  .content-header__ancillary {
    color: $color-text--reverse;
    margin-bottom: -22px;
    margin-top: 22px;
  }

  .content-header__type {
    color: $color-text--reverse;
    text-decoration: none;
    text-transform: uppercase;
  }

  .content-header__type:hover,
  .content-header__type:active {
    color: $color-primary-dark
  }

}

.content-header-nonarticle--background-flat {

  background-color: $color-primary;

  .content-header__inner {
    color: $color-text--reverse;
  }

  .content-header__bottom_line {
    border: none;
  }

}

.content-header-nonarticle-background-image {

  background-color: $color-primary;
  background-size: cover;

  .content-header__inner {
    color: $color-text--reverse;
  }

  .content-header__bottom_line {
    border: none;
  }

}
