@import "../../definitions";

// Includes styles common to all content-headers

.content-header {
  color: $color-text;
  margin: 0 auto;
  max-width: #{$max-site-width}px;
  max-width: get-rem-from-px(#{$max-site-width})px;
  @include padding(20, "left");
  @include padding(20, "right");
  padding-left: #{$content-header-side-padding}vw;
  padding-right: #{$content-header-side-padding}vw;
  position: relative;
  text-align: center;

  @media only all and (min-width: #{get-rem-from-px($bkpt-content-header--extra-wide)}em) {
    @include padding(30, "left");
    @include padding(30, "right");
  }
}

.content-header
.content-header_top {
  text-align: center;
}

.content-header__title_link {
  color: inherit;
  text-decoration: inherit;
}

.content-header__title {
  @include h1-typeg();
  margin-top: 0;
}

.content-header__subject_list {
  @include label-subject-typeg();
  margin: 0;
  @include padding(24 0);
  position: relative;
  z-index: 100;
}

.content-header__subject_list_item {
  @include label-subject-typeg();
  display: inline;
  line-height: 2.18181818181818;
  list-style-type: none;
  padding: 0;

  & .content-header__subject:after {
    content: ", ";
  }
}

.content-header__subject_list_item:last-child {

  & .content-header__subject:after {
    content: "";
  }

}

.content-header__subject_link {
  @include label-subject-typeg();
  text-decoration: none;

  &:hover {
    color: $color-primary-dark;
  }

}

.content-header__download_link {
  float: right;
  @include margin(-18, "top");
  position: relative;
  right: 0;
  z-index: 200;
}

.content-header__author_list {
  margin: 0;
  padding: 0;
}

.content-header__author_list_item {
  display: inline;
  @include author-typeg();
  list-style-type: none;
  padding: 0;
}

.content-header__author:after {
  content: ", ";
}

li.content-header__author_list_item:last-of-type .content-header__author:after {
  content: "";
}

.content-header__author--single {
  @include author-typeg();
}

// FIX: This must only apply when authors are collapsed & so there's a read more.
// Recommend determining by js & swapping a class based on that to give this behaviour.
.content-header-article--js li.content-header__author_list_item:nth-last-of-type(2) .content-header__author:after {
  content: "";
}

.content-header__author--last-non-excess:after {
  content: " et al.";
}

.content-header__author--etal {
  @include author-typeg();
}

.content-header__item_toggle {
  display: none;
}

.content-header__institution_list {
  margin: 0;
  padding: 0;
}

.content-header__institution_list_item {
  display: inline;
  @include institute-typeg();
  list-style-type: none;
  padding: 0;
}

.content-header__institution:after {
  content: ", ";
}

.content-header-article--js li.content-header__institution_list_item:nth-last-of-type(2) .content-header__institution:after {
  content: "";
}

.content-header-divider {
  box-sizing: content-box;
  max-width: #{$max-site-width}px;
  max-width: get-rem-from-px(#{$max-site-width})px;
  margin: -1px auto 0 auto;
  padding-left: #{$content-header-side-padding}vw;
  padding-right: #{$content-header-side-padding}vw;

  &:after {
    border-bottom: 1px solid $color-text-dividers;
    content: "";
    display: block;
    width: 100%;
  }
}
