// Includes styles common to all content-headers

.content-header {
  color: $color-text;
  max-width: 100%;
  position: relative;
  text-align: center;
}

.content-header_top {
  text-align: center;
}

.content-header__title {
  @include h1-typeg();
}

.content-header__subject_link {
  display: block;
  @include label-subject-typeg();
  text-decoration: none;

  &:hover {
    color: $color-primary-dark;
  }

}

.content-header__download_link {
  float: right;
  @include margin(-18, "top");
}

.content-header__author_list {
  margin: 0;
  padding: 0;
}

.content-header__author_list_item {
  display: inline;
  @include author-typeg();
  list-style-type: none;
  padding: 0;
}

.content-header__author:after {
  content: ", ";
}

li.content-header__author_list_item:last-of-type .content-header__author:after {
  content: "";
}

.content-header__author--last-non-excess:after {
  content: " et al.";
}

.content-header__author--etal {
  @include author-typeg();
}

.content-header__item_toggle {
  display: none;
}

.content-header__institution_list {
  margin: 0;
  padding: 0;
}

.content-header__institution_list_item {
  display: inline;
  @include institute-typeg();
  list-style-type: none;
  padding: 0;
}

.content-header__institution:after {
  content: ", ";
}

li.content-header__institution_list_item:last-of-type .content-header__institution:after {
  content: "";
}

@media only all and (max-width: #{get-rem-from-px($bkpt-content-header)}em) {

  .content-header__institution_list {
    @include visuallyhidden();
  }

}

@media only all and (min-width: #{get-rem-from-px($bkpt-content-header)}em) {

  .content-header__institution_list {
    @include margin(23, "top");
  }

  .content-header__author--last-non-excess:after {
    content: "";
  }

  .content-header__item_toggle {
    color: $color-text-secondary;
    display: inline;
    font-weight: normal;
    list-style-type: none;
    padding: 0;
  }

  .content-header__item_toggle--author {
    @include author-typeg();
  }

  .content-header__item_toggle--institution {
    @include institute-typeg();
  }

  .content-header__item_toggle:hover {
    cursor: pointer;
  }

  .content-header__institution--last-non-excess:after {
    content: "";
  }

}

.meta {
  @include label-content-typeg();
}

.meta__type {
  color: $color-text-secondary;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    color: $color-primary-dark;
  }

}

.meta__date {
  text-transform: capitalize;
}

// Alternative styles for the title. The class to apply for any particular
// instance of this pattern depends on the number of characters in the title,
// and should be set by the server accordingly.
// Exact content-length triggeers tbc.
.content-header__title--large {
  @include title-size("large");
}

.content-header__title--medium {
  @include title-size("medium");
}

.content-header__title--small {
  @include title-size("small");
}

.content-header__title--extra-small {
  @include title-size("x-small");
  @include margin(15 0 8);
}

@media only all and (min-width: #{get-rem-from-px($bkpt-content-header)}em) {

  .content-header__title--large {
    @include title-size("large", "wide");
  }

  .content-header__title--medium {
    @include title-size("medium", "wide");
  }

  .content-header__title--small {
    @include title-size("small", "wide");
  }

  .content-header__title--extra-small {
    @include title-size("x-small", "wide");
    @include margin(15 0 8);
  }

  .content-header__author_list {
    @include margin(8, "bottom");
  }

}
