@import "../../definitions";

.about-profiles {

  @include clearfix();

  @supports (grid-gap: 0) {
    display: grid;
    @include blg-spacing("top", "small");
  }

  list-style: none;
  margin: 0 auto;
  padding-left: 0;

  // Gives the effect of medium-to-large due to 24px already on the bottom of the list items
  @include blg-margin-bottom--small-to-medium();

  // Fallback for clients that don't support css grid
  @include clearfix();

  @supports (grid-gap: 0) {
    display: grid;
    @include blg-spacing("top", "small");
  }

  list-style: none;
  margin: 0 auto;
  padding-left: 0;

  .list-heading + & {
    @include blg-spacing("top", "extra-small", "margin");
  }
}

.grid-listing__about {
  @media only all and (min-width: #{get-rem-from-px($bkpt-site--small)}em) {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2.25rem;
    grid-row-gap: #{get-rem-from-px($blg-space-smallish-in-px)}rem;
    justify-content: center;

    // Supporting clients don't need clearfix
    @supports (grid-gap: 0) {
      &:before,
      &:after {
        display: none;
      }
    }
  }

  @media only all and (min-width: #{get-rem-from-px($bkpt-site--wide)}em) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media only all and (min-width: #{get-rem-from-px($bkpt-site--x-wide)}em) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.about-profiles__item {
  .about-profiles--compact & {
    &:after {
      border-bottom: 1px solid $color-text-dividers;
      content: "";
      display: block;
      @include width(48);
      @include blg-spacing("bottom", "smallish", "margin")
    }
  }
}

@media only all and (min-width: #{get-rem-from-px($bkpt-grid-listing--medium-width)}em) {
  .about-profiles--compact {
    @supports (display: flex) {
      margin-left: -1em;
      display: flex;
      flex-wrap: wrap;
    }
  }

  .about-profiles__item {
    .about-profiles--compact & {
      @supports (display: flex) {
        padding-left: 1em;
        width: 50%;
      }
    }
  }
}
