@import "../../definitions";

.section-wrapper {
  @media only all and (min-width: #{get-rem-from-px($bkpt-site--small)}em) {
    @include grid();
  }

  .aside {
    @include padding(24, "top");
    @include padding(24, "bottom");

    @media only all and (min-width: #{get-rem-from-px($bkpt-site--small)}em) {
      grid-column: 1/13;
    }

    @media only all and (min-width: #{get-rem-from-px($bkpt-site--medium)}em) {
      grid-column: 2/12;
    }

    @media only all and (min-width: #{get-rem-from-px($bkpt-site--wide)}em) {
      @include margin(90, "top");
      @include padding(0);
      grid-column: 10/13;
      position: -webkit-sticky;
      position: sticky;
      top: 125px;
    }

    & + div {
      grid-column: 1/13;

      @media only all and (min-width: #{get-rem-from-px($bkpt-site--wide)}em) {
        grid-column: 1/10;
      }
    }
  }

  .content-header-journal {
    grid-column: 1/13;

    @media only all and (min-width: #{get-rem-from-px($bkpt-site--wide)}em) {
      grid-column: 1/10;
    }

    .content-header__one-column {
      .content-header-grid-top {
        @media only all and (min-width: #{get-rem-from-px($bkpt-site--medium)}em) {
          grid-column: 2/12;
        }

        @media only all and (min-width: #{get-rem-from-px($bkpt-site--x-wide)}em) {
          @include margin(0, "left");
          grid-column: 1/13;
        }
      }

      .content-header-grid__main {
        @include margin(0, "left");
        @include padding(0, "right");

        @media only all and (min-width: #{get-rem-from-px($bkpt-site--medium)}em) {
          grid-column: 2/12;
        }

        @media only all and (min-width: #{get-rem-from-px($bkpt-site--x-wide)}em) {
          grid-column: 1/13;
        }
      }
    }
  }
}
