@import "../../definitions";

.asset-viewer-inline {

  /* max-width is a bonus here. Unlikely to be used. Not worried about support. */
  max-width: #{get-rem-from-px(715)}rem;
}

.asset-viewer-inline__header_panel {
  @include padding(12, "bottom");
}

.asset-viewer-inline__header_text {
  align-self: center;
  display: inline-block;
  @include fig-caption-text-typeg(0);
  @include nospace("bottom");
}

.asset-viewer-inline__header_text__prominent {
  @include fig-heading-typeg();
}

.asset-viewer-inline__header_link {
  color: $color-text;
  font-family: $font-secondary;
  text-decoration: none;

  &:hover {
    color: $color-primary;
  }
}

.asset-viewer-inline__figure_access {
  // TODO: add spacing of $blg-space-extra-small-in-px between icons
  float: right;
  @include margin(10, "left");
  text-align: right;
}

.asset-viewer-inline__download_all_link {
  background: url("../img/icons/download.png") 50% 50% no-repeat;
  background: url("../img/icons/download.svg") 50% 50% no-repeat, linear-gradient(transparent, transparent);
  border: 1px solid $color-text-dividers;
  border-radius: 3px;
  display: inline-block;
  @include height(28);
  @include margin(-2, "top");
  @include margin(-2, "bottom");
  @include width(28);

  &:hover {
    background: url("../img/icons/download-hover.png") 50% 50% no-repeat;
    background: url("../img/icons/download-hover.svg") 50% 50% no-repeat, linear-gradient(transparent, transparent);
  }
}

.asset-viewer-inline__figure_access_open {
  background: url("../img/icons/launch.png") 50% 50% no-repeat;
  background: url("../img/icons/launch.svg") 50% 50% no-repeat, linear-gradient(transparent, transparent);
  border: 1px solid $color-text-dividers;
  border-radius: 3px;
  display: inline-block;
  @include height(28);
  @include margin(-2, "top");
  @include margin(-2, "bottom");
  @include width(28);

  &:hover {
    background: url("../img/icons/launch-hover.png") 50% 50% no-repeat;
    background: url("../img/icons/launch-hover.svg") 50% 50% no-repeat, linear-gradient(transparent, transparent);
    cursor: pointer;
  }
}
