@import "../../definitions";

@mixin header_button {
  border: 1px solid $color-text-dividers;
  border-radius: #{$border-radius}px;
  display: inline-block;
  @include height(28);
  @include margin(-2, "top");
  margin-left: -1px;
  @include margin(-2, "bottom");
  @include width(28);
}

.asset-viewer-inline {
  clear: both;
  @include blg-spacing("top", "medium", "margin");
  @include blg-spacing("bottom", "medium", "margin");
}

.asset-viewer-inline__header_panel {
  @include blg-spacing("bottom", "extra-small");
}

.asset-viewer-inline__header_text {
  align-self: center;
  display: inline-block;
  @include fig-caption-text-typeg(0);
  @include nospace("bottom");
}

.asset-viewer-inline__header_text__prominent {
  @include fig-heading-typeg();
}

.asset-viewer-inline--table {

  .asset-viewer-inline__header_panel {
    border-bottom: 1px solid $color-text-dividers;
    @include padding($blg-measure-extra-small-in-px - 1, "bottom");
    @include blg-spacing("bottom", "extra-small", "margin");
  }

}

.asset-viewer-inline__header_link {
  color: $color-text;
  font-family: $font-secondary;
  text-decoration: none;

  &:hover {
    color: $color-primary;
  }
}

.asset-viewer-inline__header_navigation {
  float: left;
  @include margin(10, "right");
}

.asset-viewer-inline__previous {
  @include header_button();
  background: url("../img/icons/chevron-left.png") 50% 50% no-repeat;
  background: url("../img/icons/chevron-left.svg") 50% 50% no-repeat, linear-gradient(transparent, transparent);
  margin-left: -1px;
  opacity: 0.25;
}

.asset-viewer-inline__previous--active {
  opacity: 1;
  &:hover {
    cursor: pointer;
    background: url("../img/icons/chevron-left-hover.png") 50% 50% no-repeat;
    background: url("../img/icons/chevron-left-hover.svg") 50% 50% no-repeat, linear-gradient(transparent, transparent);
  }
}

.asset-viewer-inline__next {
  @include header_button();
  background: url("../img/icons/chevron-right.png") 50% 50% no-repeat;
  background: url("../img/icons/chevron-right.svg") 50% 50% no-repeat, linear-gradient(transparent, transparent);
  @include margin(3, "left");
  opacity: 0.25;
}

.asset-viewer-inline__next--active {
  opacity: 1;
  &:hover {
    cursor: pointer;
    background: url("../img/icons/chevron-right-hover.png") 50% 50% no-repeat;
    background: url("../img/icons/chevron-right-hover.svg") 50% 50% no-repeat, linear-gradient(transparent, transparent);
  }
}

.asset-viewer-inline__figure_access {
  // TODO: add spacing of $blg-space-extra-small-in-px between icons
  float: right;
  @include margin(10, "left");
  text-align: right;
}

.asset-viewer-inline__download_all_link {
  @include header_button();
  border: 1px solid $color-text-dividers;
  background: url("../img/icons/download.png") 50% 50% no-repeat;
  background: url("../img/icons/download.svg") 50% 50% no-repeat, linear-gradient(transparent, transparent);
  &:hover {
    background: url("../img/icons/download-hover.png") 50% 50% no-repeat;
    background: url("../img/icons/download-hover.svg") 50% 50% no-repeat, linear-gradient(transparent, transparent);
    border: 1px solid $color-text-dividers;
  }
}

.asset-viewer-inline__open_link {
  @include header_button();
  border: 1px solid $color-text-dividers;
  background: url("../img/icons/launch.png") 50% 50% no-repeat;
  background: url("../img/icons/launch.svg") 50% 50% no-repeat, linear-gradient(transparent, transparent);
  margin-right: -1px;
  &:hover {
    background: url("../img/icons/launch-hover.png") 50% 50% no-repeat;
    background: url("../img/icons/launch-hover.svg") 50% 50% no-repeat, linear-gradient(transparent, transparent);
    border: 1px solid $color-text-dividers;
  }
}
