@import "../../definitions";

.box {

  h1 {
    @include font-size($font-size-h1-in-px * $box-font-scaling-factor);
  }

  h2 {
    @include font-size($font-size-h2-in-px * $box-font-scaling-factor);
  }

  h3 {
    @include font-size($font-size-h3-in-px * $box-font-scaling-factor);
  }

  h4 {
    @include font-size($font-size-h4-in-px * $box-font-scaling-factor);
  }

  h5 {
    @include font-size($font-size-h5-in-px * $box-font-scaling-factor);
  }

  h6 {
    @include font-size($font-size-h6-in-px * $box-font-scaling-factor);
  }

  p {
    @include font-size($font-size-base-in-px * $box-font-scaling-factor);
  }

  .caption-text__heading {
    @include font-size($font-size-caption-in-px * $box-font-scaling-factor);
  }

  .caption-text__body,
  .caption-text__body > * {
    @include font-size($font-size-caption-in-px * $box-font-scaling-factor);
  }

  .asset-viewer-inline__header_text,
  .asset-viewer-inline__header_text * {
    @include font-size($font-size-caption-in-px * $box-font-scaling-factor);
  }

}
