@import "../../definitions";

.carousel {
  @include constrain-width($max-site-width, "max");
  @include margin($content-header-padding, "top");
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  padding-left: #{$content-header-side-padding}vw;
  padding-right: #{$content-header-side-padding}vw;
  position: relative;

  .list-heading {
    @include margin($content-header-padding, "bottom");
    text-align: center;
  }
}

.carousel__items {
  list-style: none;
  @include nospace();

  @supports (display: flex) {
    @media only all and (min-width: #{get-rem-from-px($bkpt-content-header--medium-width)}em) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
}

.carousel__image-credit {
  @include image-credit();
}

.carousel__image-credit--overlay {
  @include image-credit-overlay();
}

.js {

  .carousel {
    margin-top: 0;
    padding: 0;
    @include height($content-header-image-height--narrow-screen);
    @media only all and (min-width: #{get-rem-from-px($bkpt-content-header--medium-width)}em) {
      @include height($content-header-image-height--medium-width-screen);
    }
    @media only all and (min-width: #{get-rem-from-px($bkpt-content-header--wide)}em) {
      @include height($content-header-image-height--wide-screen);
    }

    .list-heading {
      @include visuallyhidden();
    }
  }

  .carousel__items {
    width: 300vw;
    @include margin(0, "top");
    display: block;
  }

  .carousel-item {
    float: left;
    width: 100vw;
  }

  .carousel-item:nth-child(n+2) {
    @include unhidden();
  }

  .carousel__items {
    height: 100%;
    position: relative;
    transition: all $transition-duration $transition-delay $transition-timing-function;
  }

}

.carousel__control_panel {

  @include constrain-width($max-site-width, "max");
  bottom: 42px;
  height: 12px;
  position: absolute;
  width: 100vw;
}

.carousel__control {
  transition: all $transition-duration $transition-delay $transition-timing-function;
}

.carousel__control:hover {
  transform: scale(1.5);
}

.carousel__control_switches {
  list-style: none;
  @include nospace();

  @supports (display: flex) {
    display: flex;
  }

  justify-content: space-between;
  margin: 0 auto;

  /* 6px IE fudge factor */
  width: #{12 * 6 + 6}px;
}

.carousel__control {

  top: -((28px - 14px) / 2);

  &--traverse {
    background-color: transparent;
    border-width: 0;
    border-radius: 50%;
    min-height: 28px;
    min-width: 28px;
    height: 28px;
    width: 28px;
  }

  &--previous {
    position: absolute;
    left: 14px * 2;
    &:before {
      @include chevron("left", white, 14px);
    }
  }

  &--next {
    position: absolute;
    right: 14px * 2;
    &:before {
      @include chevron("right", white, 14px);
    }
  }

  &--switch-item {
    float: left;
    @include padding(5, "left");
    @include padding(5, "right");
    height: 12px;
  }

  &--switch {
    background-color: rgba(255, 255, 255, 0.4);
    border: none;
    border-radius: 50%;
    font-size: 1px; // iOS Safari width fix
    height: 12px;
    padding-left: 6px;
    padding-right: 6px;
    width: 12px;
    vertical-align: top;

    &.active {
      background-color: rgba(255, 255, 255, 0.8);
    }

  }

}
