@import "../../definitions";
@import "../../grid";

.content-header-simple {
  @include blg-pad-vertical-small-to-medium();
  padding-left: 6%;
  padding-right: 6%;
  text-align: center;
}

.content-header-simple__title {
  @include h2-typeg();
  color: $color-text;
  @include font-size-and-vertical-height(20);
  @include nospace();
}

.content-header-simple__strapline {
  color: $color-text;
  @include body-typeg();
  @include nospace();
}
