@import "../../definitions";

.content-header-with-subtitle {
  @include margin(22, "top");
  padding-left: 6%;
  padding-right: 6%;
  text-align: center;
}

.content-header-with-subtitle__title {
  color: $color-text;
  @include font-size-and-vertical-height(42, 52);
  @include nospace();
}

.content-header-with-subtitle__subtitle {
  @include body-typeg();
  @include nospace();
  @include margin(22, "top");
  color: $color-text;
  width: 100%;

  @media only screen and (min-width: #{get-rem-from-px($bkpt-site--medium)}em) {
    margin: 22px auto 0;
  }
}

.no-aditonal-padding .grid-listing {
  @include padding(0);
}
