@import "../../definitions";
@import "content-header";

.content-header-nonarticle {

  @include height($content-header-height--narrow-screen);
  position: relative;

  &.content-header-nonarticle--background {
    border-width: 0;

    & + .content-header-divider {
      display: none;
    }

  }

  .content-header__download_link {
    @include margin(5, "top");
    position: absolute;
    right: 0;
  }

  /*
   * Vertically centre title & strapline in a block. There is enough space above
   * and below the text so that within the block various ancillary data can be
   * displayed in such a way that does not change the position of the title and
   * strapline.
   */
  .content-header__inner {
    display: table;
    min-height: #{$content-header-height--narrow-screen}px;
    min-height: #{get-rem-from-px($content-header-height--narrow-screen)}rem;
    // TODO: Now height is set explicitly, consider whether padding-bottom is still necessary
    @include padding(55 0 75);
    text-align: center;
    width: 100%;

    @media only all and (min-width: #{get-rem-from-px($bkpt-content-header--medium-width)}em) {
      @include padding(82, "top");
    }

    @media only all and (min-width: #{get-rem-from-px($bkpt-content-header--extra-wide)}em) {
      @include padding(100, "top");
    }
  }

  .content-header__title {
    margin: 0;
    padding-bottom: 0;
    width: 100%;

    @media only all and (min-width: #{get-rem-from-px($bkpt-content-header--medium-width)}em) {
      @include padding(5, "bottom");
    }

    @media only all and (min-width: #{get-rem-from-px($bkpt-content-header--extra-wide)}em) {
      @include padding(7, "bottom");
    }
  }

  // Alternative styles for the title. The class to apply for any particular
  // instance of this pattern depends on the number of characters in the title,
  // and should be set by the server accordingly.
  .content-header__title--large {
    @include title-size("large", "narrow");
    @media only all and (min-width: #{get-rem-from-px($bkpt-content-header--medium-width)}em) {
      @include title-size("large", "medium-width");
    }
    @media only all and (min-width: #{get-rem-from-px($bkpt-content-header--wide)}em) {
      @include title-size("large", "wide");
    }
    @media only all and (min-width: #{get-rem-from-px($bkpt-content-header--extra-wide)}em) {
      @include title-size("large", "extra-wide");
    }
  }

  .content-header__title--medium {
    @include title-size("medium", "narrow");
    @media only all and (min-width: #{get-rem-from-px($bkpt-content-header--medium-width)}em) {
      @include title-size("medium", "medium-width");
    }
    @media only all and (min-width: #{get-rem-from-px($bkpt-content-header--wide)}em) {
      @include title-size("medium", "wide");
    }
    @media only all and (min-width: #{get-rem-from-px($bkpt-content-header--extra-wide)}em) {
      @include title-size("medium", "extra-wide");
    }
  }

  .content-header__title--small {
    @include title-size("small", "narrow");
    @media only all and (min-width: #{get-rem-from-px($bkpt-content-header--medium-width)}em) {
      @include title-size("small", "medium-width");
    }
    @media only all and (min-width: #{get-rem-from-px($bkpt-content-header--wide)}em) {
      @include title-size("small", "wide");
    }
    @media only all and (min-width: #{get-rem-from-px($bkpt-content-header--extra-wide)}em) {
      @include title-size("small", "extra-wide");
    }
  }

  .content-header__title--extra-small {
    @include title-size("x-small", "narrow");
    @media only all and (min-width: #{get-rem-from-px($bkpt-content-header--medium-width)}em) {
      @include title-size("x-small", "medium-width");
    }
    @media only all and (min-width: #{get-rem-from-px($bkpt-content-header--wide)}em) {
      @include title-size("x-small", "wide");
    }
    @media only all and (min-width: #{get-rem-from-px($bkpt-content-header--extra-wide)}em) {
      @include title-size("x-small", "extra-wide");
    }
    @include margin(15 0 8);
  }

  .content-header__strapline {
    @include subtitle-typeg();
    @include visuallyhidden();

    @media only all and (min-width: #{get-rem-from-px($bkpt-content-header--medium-width)}em) {
      @include unhidden();
    }
  }

  // They may take our <hgroup>, but they'll never take our .hgroup!
  .content-header__hgroup {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
  }

  .content-header__bottom_line {
    border-bottom: 1px solid $color-text-dividers;
  }

  .content-header__bottom {
    bottom: 44px;
    @include label-content-typeg($color-text--reverse);
    margin-left: -#{$content-header-side-padding}vw;
    position: absolute;
    text-align: center;
    width: 100%;

    @media only all and (min-width: #{get-rem-from-px($bkpt-content-header--extra-wide)}em) {
      @include margin($content-header-side-padding--extra-wide * -1, "left");
      //margin-left: -#{$content-header-side-padding}vw;
    }
  }

  .content-header__cta {
    @include margin(-10, "bottom");
  }

  .meta {
    color: $color-text--reverse;
    margin-bottom: -31px;
    margin-top: 22px;
  }

  a.meta__type:hover,
  a.meta__type:active {
    color: $color-primary-dark;
  }

  .content-header__top {
    display: table;
    // TODO: Consider if this is still necessary:
    // Used to remove its height from the centering calculation
    position: absolute;
    text-align: center;
    // Approximates centring for non-flexbox, not great.
    margin-left: 43%;
  }

  // 40px is the size of the avatar background image.
  .content-header__top_info {
    background: url("../img/fixtures/pjha1x.png") 0 17px transparent no-repeat;
    background-size: 40px;
    box-sizing: content-box;
    display: table-cell;
    min-height: 40px;
    padding-bottom: 10px;
    padding-top: 22px;
    padding-left: 42px;
    text-align: center;
    text-decoration: none;
  }

  .content-header__top_info:hover *,
  .content-header__top_info:active * {
    color: $color-primary-dark;
  }

  // Reset
  .content-header__top_info dl,
  .content-header__top_info dt,
  .content-header__top_info dd {
    margin-bottom: 0;
  }

  .content-header__top_label {
    @include label-content-typeg($color-text--reverse);
    @include font-size(9);
    @include padding(5, "bottom");
  }

  .content-header__top_data {
    color: $color-text--reverse;
    font-family: $font-secondary;
    @include font-size(14);
    line-height: 1.2;
  }

  @media only screen and (min-resolution: 196dpi) {
    .content-header__top_info {
      background-image: url("../img/fixtures/pjha2x.png");
    }
  }

  @media only screen and (-webkit-min-device-pixel-ratio: 2) {
    .content-header__top_info {
      background-image: url("../img/fixtures/pjha2x.png");
    }
  }

  @supports (display: flex) {

    .content-header__top {
      display: flex;
      justify-content: center;
      margin-left: -#{$content-header-side-padding}vw;
      width: 100%;

      @media only all and (min-width: #{get-rem-from-px($bkpt-content-header--extra-wide)}em) {
        margin-left: -#{$content-header-side-padding--extra-wide}px;
      }
    }

    .content-header__top_label {
      text-align: left;
    }

    .content-header__top_info {
      padding-bottom: 0;
    }

  }

  @media only all and (min-width: #{get-rem-from-px($bkpt-content-header--medium-width)}em) {
    @include height($content-header-height--medium-width-screen);
  }

  @media only all and (min-width: #{get-rem-from-px($bkpt-content-header--wide)}em) {
    @include height($content-header-height--wide-screen);
  }

  @media only all and (min-width: #{get-rem-from-px($bkpt-content-header--extra-wide)}em) {
    @include height($content-header-height--extra-wide-screen);
  }
}

.content-header-nonarticle--background {

  background-color: $color-primary;
  background-size: cover;

  .content-header__inner {
    color: $color-text--reverse;
  }

  .meta__type {
    color: $color-text--reverse;
  }

  .date {
    color: $color-text--reverse;
  }

  .content-header__bottom_line {
    border: none;
  }

}
