@import "../../definitions";

.content-header-simple {
  border-bottom: 1px solid $color-text-dividers;
  @include blg-spacing("top", "medium");
  @include padding($blg-space-medium-in-px - 1, "bottom");
  padding-left: 6%;
  padding-right: 6%;
  text-align: center;
}

.content-header-simple__title {
  @include h2-typeg();
  color: $color-text;
  @include font-size(20);
  line-height: 1.2; /* 24px with font-size 20px */
  @include nospace();
}

.content-header-simple__strapline {
  color: $color-text;
  @include body-typeg();
  @include nospace();
}
