.content-header {
  @include padding(14, "top");
  padding-left: 6%;
  padding-right: 6%;
  text-align: center;
  width: 100%;
}

.content-header:after {
  border-bottom: 1px solid $color-text-dividers;
  content: "";
  display: block;
  @include padding(12, "top");
}

.content-header__title {
  font-family: $font-secondary;
  line-height: 1.3;
}

// Alternative styles for the title. The class to apply for any particular
// instance of this pattern depends on the number of characters in the title,
// and should be set by the server accordingly.
// Exact content-length triggeers tbc.
.content-header__title--large {
  @include font-size(60);
}

.content-header__title--medium {
  @include font-size(42);
}

.content-header__title--small {
  @include font-size(30);
}

.content-header__title--extra-small {
  @include font-size(24);
  @include margin(15 0 8);
}

.content-header__subject {
  color: $color-primary;
  font-family: $font-secondary;
  @include font-size(11);
  font-weight: bold;
  line-height: 1;
  text-transform: uppercase;
}

.content-header__download_link {
  float: right;
  @include margin(-7, "top");
}

.content-header__author_list {
  @include margin(0 0 23);
  padding: 0;
}

.content-header__author_list_item {
  display:inline;
  font-family: $font-secondary;
  @include font-size(16);
  font-weight: bold;
  line-height: 1.4;
  list-style-type: none;
  padding: 0;
}

.content-header__author:after {
  content: ', ';
}

.content-header__institution_list {
  margin: 0;
  padding: 0;
}

.content-header__institution_list_item {
  display:inline;
  font-family: $font-secondary;
  @include font-size(12);
  font-weight: bold;
  line-height: 1.3;
  list-style-type: none;
  padding: 0;
}

.content-header__institution:after {
  content: ', ';
}

.content-header__ancillary {
  color: #888;
  @include font-size(11);
  font-weight: bold;
  line-height: 1;
  text-transform: uppercase;
}

.content-header__date {
  text-transform: capitalize;
}

@media only all and (max-width: #{get-rem-from-px(560)}em) {
  .content-header__institution_list {
    @include visuallyhidden();
  }
}

@media only all and (min-width: #{get-rem-from-px(560)}em) {
  .content-header__title--large {
    @include font-size(72);
  }

  .content-header__title--medium {
    @include font-size(54);
  }

  .content-header__title--small {
    @include font-size(44);
  }

  .content-header__title--extra-small {
    @include font-size(36);
    @include margin(15 0 8);
  }

  .content-header__author_list {
    @include margin(8, "bottom");
  }

  .content-header__institution_list {
    @include margin(30, "bottom");
  }
}
