// Contains research article-specific overrides.

.content-header-article-research {

  .content-header__ancillary {
    @include margin(30, "top");
  }

}

.content-header-article-research--readmore {
  border-top: 1px solid $color-text-dividers;

  .content-header__ancillary:after {
    border-bottom-width: 0;
    padding-top: 0;
  }

}
