@import "../../definitions";

// Contains research article-specific overrides.

.content-header-article-research {

  .meta {
    @include margin(30, "top");
  }

}

.content-header-article-research--readmore {
  border-top: 1px solid $color-text-dividers;

  .meta:after {
    border-bottom-width: 0;
    padding-top: 0;
  }

  .content-header__author:after {
    content: "";
  }

}
