@import "../../definitions";

.content-header-simple {
  @include blg-pad-vertical-small-to-medium();
  padding-left: 6%;
  padding-right: 6%;
  text-align: center;
}

.content-header-simple__title {
  @include h2-typeg();
  color: $color-text;
  @include font-size-and-vertical-height(20);
  @include nospace();
}

.content-header-simple__strapline {
  color: $color-text;
  @include body-typeg();
  @include nospace();
}

.clean {
  .site-header {
    max-height: unset;
  }

  .site-header__logo_link_image {
    @include margin(60, "bottom");
  }

  .site-header__logo_link {
    width: 200px;
    height: 75px;
  }

  main {
    border-top: 0;
  }

  .content-header-simple {
    @include padding(0, "left");
    text-align: left;
  }

  .form-item__title {
    @include padding(36, "bottom");

  }

  .form-item__sub_title {
    @include padding(36, "top");
  }

  .content_alerts_subscribe {
    @include margin(24, "top");
  }
}
