// Contains styles unique to research article header & variants.
.content-header-article-magazine {

  .content-header__title {
    @include margin(13, "bottom");
    @include margin(28, "top");
    padding-bottom: 0;
  }
  
  .content-header__strapline {
    color: $color-text-secondary;
    font-family: $font-primary;
    @include font-size(14);
    line-height: 1.43;
    @include margin(32, "bottom");
  }

  .content-header__ancillary {
    @include margin(10, "top");
  }

  @media only all and (min-width: #{get-rem-from-px($bkpt-content-header)}em) {
    
    .content-header__title {
      @include margin(65, "top");
    }
    
    .content-header__strapline {
      @include font-size(16);
    }
  }

}

.content-header-article-magazine-background-flat {
  background-color: $color-primary;
  color: $color-text--reverse;
  @include padding(12, "bottom");

  .content-header__ancillary {
    color: $color-text--reverse;
  }

  .content-header__ancillary:after {
    border-bottom-width: 0;
    padding-top: 0;
  }

  .content-header__article_type_link {
    color: $color-text--reverse;
  }

  .content-header__subject_link {
    color: $color-text--reverse;
  }

  .content-header__strapline {
    color: $color-text--reverse;
  }

}
