// Content Header Grid Articles
.content-header-grid {

  @media only all and (min-width: #{get-rem-from-px($bkpt-site--wide)}em) {
    border-bottom: 1px solid $color-text-dividers;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: #{$site-spacing}px;
    max-width: #{$max-site-width}px;
    padding: 0;
  }
}

.content-header-grid-top {
  @include margin(24, "top");
  @include margin(24, "bottom");

  .content-header__subject_list {
    @include margin(0, "bottom");
    text-align: left;
  }

  @media only all and (min-width: #{get-rem-from-px($bkpt-site--wide)}em) {
    grid-column: 1/13;
  }
}

.content-header-grid__main {
  @include margin($site-spacing-medium, "bottom");

  .content-header__footer {
    @media only all and (min-width: #{get-rem-from-px($bkpt-site--small)}em) {
      display: flex;
    }
  }

  .content-header__meta {
    display: inline-block;

  }

  .meta {
    display: inline-block;

    @media only all and (min-width: #{get-rem-from-px($bkpt-site--small)}em) {
      &:after {
        content: "\00a0\2219\00a0";
        font-weight: bold;
      }
    }
  }

  .content-header__icons {
    display: inline-block;

    li {
      display: inline-block;
    }
  }

  .date {
    @include font-size-and-vertical-height(14,0);
    display: block;

    @media only all and (min-width: #{get-rem-from-px($bkpt-site--small)}em) {
      display: initial;
    }

  }

  .doi {
    @include font-size-and-vertical-height(14,24);
    display: block;
    height: 30px;
    margin-right: 6px;

    @media only all and (min-width: #{get-rem-from-px($bkpt-site--small)}em) {
      display: initial;
    }
  }

  @media only all and (min-width: #{get-rem-from-px($bkpt-site--small)}em) {
    @include margin($site-spacing-large, "bottom");
    border-bottom: none;
    grid-column: 1/10;
    width: 100%;
  }
}

.content-header-grid__side {
  @include margin($site-spacing, "bottom");
  border-bottom: 1px solid $color-text-dividers;
  display: grid;

  .content-header-grid__side-popup-block {
    display: grid;

    @media only all and (min-width: #{get-rem-from-px($bkpt-site--wide)}em) {
      display: initial;
      justify-self: end;
      max-width: 132px;
      width: 100%;
    }

  }

  @media only all and (min-width: #{get-rem-from-px($bkpt-site--wide)}em) {
    @include margin(0, "bottom");
    border-bottom: none;
    grid-column: 10/13;
  }
}

.content-header-grid__side-popup-block__inner-block {
  grid-row: 1;
  justify-self: end;

  @media only all and (min-width: #{get-rem-from-px($bkpt-site--wide)}em) {
    justify-self: unset;
    grid-row: 2;
  }
}

// Breadcrumbs

.breadcrumbs {
  margin: 0;
  padding: 0;

  li {
    @include font-size-and-vertical-height(14, 24);
    display: inline;
    font-family: $font-secondary;
    padding: 0;
    margin: 0;
    list-style: none;
    text-transform: capitalize;

    &:after {
      content: " | ";
    }

    &:last-child:after {
      content: "";
    }

    a {
      color: $color-text;
    }
  }

}

.content-header-grid__side-popup-block__list {
  @include padding(0);
  @include margin(24, "bottom");
  @include padding(24, "bottom");
  grid-row: 1;
  justify-self: start;

  li {
    @include margin(6, "bottom");
    list-style: none;
    font-family: $font-secondary;

    &:last-child {
      @include margin(24, "bottom");
    }

    a {
      font-weight: bold;
      color: $color-text;
    }
  }

  @media only all and (min-width: #{get-rem-from-px($bkpt-site--wide)}em) {
    justify-self: unset;
    grid-row: 1;
    border-bottom: 1px solid #e0e0e0;
  }
}

.content-header-grid__side-popup-block__link {
  @include font-size-and-vertical-height(14,24);
  @include padding(30, "left");
}

.content-header__share-listing {
  @media only all and (min-width: #{get-rem-from-px($bkpt-site--small)}em) {
    display: none;
  }
}

.download {
  background: url("../../assets/img/icons/download.svg") no-repeat 0 0;
}

.cite {
  background: url("../../assets/img/icons/cite.svg") no-repeat 0 0;
}

.comment {
  background: url("../../assets/img/icons/commenting.svg") no-repeat 0 0;
}

.share {
  background: url("../../assets/img/icons/share.svg") no-repeat 0 0;
}

.facebook {
  background: url("../../assets/img/icons/facebook.svg") no-repeat 0 0;
  text-indent: -5000px;
}

.twitter {
  background: url("../../assets/img/icons/twitter.svg") no-repeat 0 0;
  text-indent: -5000px;
}

.linkedin {
  background: url("../../assets/img/icons/linkedin.svg") no-repeat 0 0;
  text-indent: -5000px;
}

.reddit {
  background: url("../../assets/img/icons/reddit.svg") no-repeat 0 0;
  text-indent: -5000px;
}

.teaser {
  border: none;
}

.contextual-data {
  border-bottom: none;
}
