@import "../../definitions";
@import "content-header-article";

// Contains styles unique to research article header & variants.

.content-header-article-magazine {

  &.content-header-article-magazine--background {

    @include article-with-background;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom-width: 0;

    .date {
      color: $color-text--reverse;
    }

    & + .content-header-divider {
      display: none;
    }

  }
  .content-header__title {
    @include margin(24, "bottom");
    padding-bottom: 0;
  }

  .content-header__strapline {
    color: $color-text-secondary;
    @include impact-statement-typeg();
    @include margin(32, "bottom");
  }

  .meta {
    @include margin(10, "top");
  }

  // TODO: Review this breakpoint
  @media only all and (min-width: #{get-rem-from-px($bkpt-content-header--medium-width)}em) {

    .content-header__strapline {
      @include impact-statement-typeg("wide");
    }
  }

}

