@import "../../definitions";

.content-aside {
  @media only screen and (min-width: #{get-rem-from-px($bkpt-site--medium)}em) {
    display: grid;
    grid-template-columns: repeat(12, 1fr);

    .content-aside__first-column {
      grid-column: 2/7;
    }

    .content-aside__second-column {
      grid-column: 9/12;
    }
  }

  @media only screen and (min-width: #{get-rem-from-px($bkpt-site--wide)}em) {
    display: block;
  }

  .button-collection {
    &.button-collection--inline {
      @include margin(12, "top");

      .button-collection__item {
        @include margin(12, "top");
      }
    }
  }

  .contextual-data__list {
    border: none;
    display: none;

    @media only screen and (min-width: #{get-rem-from-px($bkpt-site--medium)}em) {
      display: flex;
    }

    .contextual-data__item {
      @include padding(0);

      &:before {
        content: ", ";
      }

      &:first-child {
        &:before {
          content: "";
        }
      }
    }
  }

  .content-aside__second-column {
    @include padding(24, "bottom");

    @media only all and (min-width: #{get-rem-from-px($bkpt-site--wide)}em) {
      border-bottom: 1px solid $color-text-dividers;
    }
  }

  .js & .content-aside__second-column {
    display: grid;

    @media only all and (min-width: #{get-rem-from-px($bkpt-site--medium)}em) {
      display: block;
    }

    & dt:first-of-type {
      @include truncate-with-ellipsis();
      @media only all and (min-width: #{get-rem-from-px($bkpt-site--medium)}em) {
        white-space: unset;
      }
    }

    & .definition-list dt,
    & .definition-list dd {
      &:nth-of-type(n+2) {
        display: none;
      }

      @media only all and (min-width: #{get-rem-from-px($bkpt-site--medium)}em) {
        &:nth-of-type(-n+3) {
          display: block;
        }
        &:nth-of-type(n+5) {
          display: none;
        }
      }
      @media only all and (min-width: #{get-rem-from-px($bkpt-site--wide)}em) {
        &:nth-of-type(n+2) {
          display: block;
        }
      }
    }

    .toggle {
      @include font-size-and-vertical-height(12, 24);
      @include padding(0 17 0 10);
      align-self: start;
      color: $color-text;
      font-family: $font-secondary;
      font-weight: bold;
      grid-row: 1;
      justify-self: end;
      position: relative;

      &:before {
        content: "History";
        @media only all and (min-width: #{get-rem-from-px($bkpt-site--medium)}em) {
          content: "Show history";
        }
      }

      &:after {
        @include arrow("down", 5);
        @include height(5);
        @include width(5);
        display: block;
        position: absolute;
        right: 0;
        top: 9px;
        transform-origin: 50% 50%;
      }

      @media only all and (min-width: #{get-rem-from-px($bkpt-site--medium)}em) {
        @include padding(0 17 0 0);
        display: inline-block;
        grid-row: 2;
        justify-self: start;

        &:after {
          top: 9px;
        }
      }

      @media only all and (min-width: #{get-rem-from-px($bkpt-site--wide)}em) {
        display: none;
      }
    }

    &.toggle--expanded .definition-list dt,
    &.toggle--expanded .definition-list dd {
      &:nth-of-type(n+2) {
        display: block;
      }
    }

    &.toggle--expanded {
      .toggle {
        align-self: end;

        &:before {
          content: "Hide";
          @media only all and (min-width: #{get-rem-from-px($bkpt-site--medium)}em) {
            content: "Hide history";
          }
        }

        &:after {
          @include arrow("up", 5);
        }

        @media only all and (min-width: #{get-rem-from-px($bkpt-site--medium)}em) {
          @include padding(24, "top");

          &:after {
            top: 33px;
          }
        }
      }
    }
  }

  .definition-list {
    @include margin(0);
    grid-row: 1;
    overflow: hidden;

    @media only screen and (min-width: #{get-rem-from-px($bkpt-site--medium)}em) {
      @include margin(24, "top");
    }
  }

  .status-wrapper {
    @include padding(24, "top");

    .status-title {
      @include padding(0, "top");
      color: $color-primary;
      line-height: 22px;
    }

    .status-description {
      @include font-size-and-vertical-height(14, 20);
      @include margin(12, "bottom");
      font-family: $font-secondary;
    }

    .status-link {
      @include font-size-and-vertical-height(14, 22);
      color: $color-primary;
      font-family: $font-secondary;
      font-weight: 700;
    }
  }
}
