@import "../../definitions";

.decision-letter-header__main_text,
.decision-letter-header__main_text * {
  @include small-typeg();
}

.decision-letter-header__main_text a {
  color: $color-primary;
  text-decoration: none;
}

.decision-letter-header__main_text a:hover,
.decision-letter-header__main_text a:active {
  color: $color-primary-dark;
}
