@import "../../definitions";

.decision-letter-header__main_text {
  @include margin(24, "bottom");
}

.decision-letter-header__main_text * {
  font-style: italic;
  margin-bottom: 0;
}

.decision-letter-header__main_text  p {
  padding-bottom: 24px;
}

.decision-letter-header__main_text a {
  @include discreet-link();
}
