@import "../../definitions";

.email-cta {

  border-top: 1px solid $color-text-dividers;
  @include blg-spacing("top", "medium");
  @include blg-spacing("bottom", "large");
  text-align: center;
}

.email-cta__container {
  box-sizing: content-box;
  padding: 0 6%;
  margin: 0 auto;
  max-width: 27.5rem;
}

.email-cta__header_text {
  @include h2-typeg();
  color: $color-text;
  @include font-size-and-vertical-height(20);
  @include nospace();
}

.email-cta__sub_header {
  color: $color-text;
  @include body-typeg();
  @include nospace();
  @include blg-spacing("bottom", "small");
}
