@import "../../definitions";

.email-cta {
  border-top: 1px solid $color-text-dividers;
  @include padding(40 0);
  text-align: center;
}

.email-cta__container {
  padding: 0 6%;
}

.email-cta__header_text {
  @include h2-typeg();
  color: $color-text;
  margin: 0;
  @include padding(0 0 7 0);
}

.email-cta__sub_header {
  color: $color-text;
  @include body-typeg();
  margin: 0;
}
