@import "../../definitions";

.email-cta {

  border-top: 1px solid $color-text-dividers;
  @include blg-spacing("top", "medium");
  @include blg-spacing("bottom", "large");
  text-align: center;
}

.email-cta__container {
  padding: 0 6%;
}

.email-cta__header_text {
  @include content-header-simple-typeg();
  @include content-header-simple-spacing();
}

.email-cta__sub_header {
  color: $color-text;
  @include body-typeg();
  @include nospace();
  @include blg-spacing("bottom", "small");
}
