@import "../../definitions";

.filter-panel__title {
  color: $color-text;
  display: block;
  font-family: $font-secondary;
  @include font-size(14);
  font-weight: bold;
  line-height: 1.3;
  @include margin(0 0 15 0);
  padding: 0;
}
