@import "../../definitions";

.filter-panel__title {
  color: $color-text;
  display: block;
  font-family: $font-secondary;
  @include font-size(14);
  font-weight: bold;
  line-height: 1.7142857143; /* 24px with 14px font size */
  @include blg-spacing("top", "extra-small");
  @include blg-spacing("bottom", "extra-small");
}
