@import "../../definitions";

.grid-listing {
  list-style: none;
  margin: 0 auto;
  padding-left: 0;
}

// Has different presentation from .grid-listing--archive-nav-link in single column view
.grid-listing--block-link {

  .grid-listing-item {
    border: 1px solid $color-text-dividers;
    border-bottom-width: 0;
    @include margin(2, "bottom");
  }

  .grid-listing-item:last-child {
    border-bottom-width: 1px;
    margin-bottom: 0;
  }
}

.grid-listing--archive-nav-link {

  @include width($min-width-block-link);

  //  @supports (display: flex) {
  //  width: auto;
  //}

  .grid-listing-item {
    display: table-row;
    margin: 0 auto;
    // TODO: consider renaming as now used out of original context
    max-width: #{$max-width-block-link}px;
    max-width: #{$max-width-block-link-in-rem}rem;

    //@supports (display: flex) {
    //  display: block;
    //  margin: 0 auto;
    //}
  }

}

@media only all and (min-width: #{get-rem-from-px($bkpt-block-link)}em) {

  .grid-listing {
    //display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    @include width($min-width-block-link * 2 + 20);

    //@supports (display: flex) {
    //  width: auto;
    //}

  }

  .grid-listing-item {
    flex: 1 0 #{$min-width-block-link-in-rem}rem;
    float: left;
    @include margin(0 20 20 0);
    // TODO: consider renaming this variable if kept in this context
    max-width: #{$max-width-block-link}px;
    max-width: #{$max-width-block-link-in-rem}rem;

    &:nth-child(2n) {
      margin-right: 0;
    }

    &:last-of-type {
      margin-right: 0;
    }
  }

  .grid-listing--block-link {

    // Needs 2 levels of specificity to apply the margin in this MQ, as it overrides rule specified
    // with 2 (justified) levels of specificity outside of the MQ.
    .grid-listing-item {

      border: none;
      @include margin(20, "bottom");
    }

  }

  .grid-listing--archive-nav-link {

    .grid-listing-item {

      @include margin(20, "right");
      // TODO: consider renaming as now used out of original context
      max-width: #{$max-width-block-link}px;
      max-width: #{$max-width-block-link-in-rem}rem;

      &:nth-child(2n) {
        margin-right: 0;
      }

      // It's a 2 column view
      &:nth-child(2n+1) {
        clear: left;
      }

    }

  }

}

@media only all and (min-width: #{get-rem-from-px($bkpt-block-link-listing--medium-width)}em) {

  .grid-listing {

    @include width($min-width-block-link * 3 + 40);

    //@supports (display: flex) {
    //  width: auto;
    //
    //}

    .grid-listing-item {
      max-width: 28vw;

      &:nth-child(2n) {
        @include margin(20, "right");
      }

      &:nth-child(3n) {
        margin-right: 0;
      }

    }

  }

  .grid-listing--archive-nav-link {

    .grid-listing-item {

      &:nth-child(2n+1) {
        clear: none;
      }

      &:nth-child(3n+1) {
        clear: none;
      }

      &:nth-child(4n) {
        clear: left;
      }

    }

  }

}

// TODO: Solve clearing issue at this width and greater.

@media only all and (min-width: #{get-rem-from-px($bkpt-block-link-listing--wide-screen)}em) {

  .grid-listing {
      //max-width: #{$max-site-width-in-rem}rem;
    @include width($min-width-block-link * 4 + 60);

    .grid-listing-item {
      max-width: 262px; // TODO: Where does this number come from?
      width: #{$min-width-block-link}px;

      &:nth-child(3n) {
        @include margin(20, "right");
        clear: none;
      }

      &:nth-child(4n) {
        margin-right: 0;
      }

    }

  }

  .grid-listing--archive-nav-link {

    .grid-listing-item {

      &:nth-child(2n+1) {
        clear: none;
      }

      &:nth-child(5n) {
        clear: left;
      }

    }
  }

}

@media only all and (min-width: #{$viewport-width-when-site-hits-max-width-in-rem}em) {

  .grid-listing {

    @include width($max-site-width);

    .grid-listing-item {
      @include width($med-width-block-link);

      // Needed for specificity reasons. FML.
      &:nth-child(1n) {
        @include margin(20, "right");
      }

      &:nth-child(4n) {
        margin-right: 0;
      }
    }

  }
  // TODO: Is this really needed?
  .grid-listing--archive-nav-link {

    .grid-listing-item:nth-child(3n+1) {
      clear: none;
    }

  }

}
