@import "../../definitions";

.grid-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
  @include nospace();
  width: 100%;
}

.grid-list__item .block-link {
  @media only all and (min-width: $bkpt-block-link) {
    flex: 1 0 33vw;
    // TODO: Fine tune this fallback width
    width: 33vw
  }
  @include height(180);
  //float: left;
}
