@import "../../definitions";
//
.grid-listing {
  list-style: none;
  margin: 0 auto;
  padding-left: 0;
}

.grid-listing-item--block-link {
  border: 1px solid $color-text-dividers;
  border-bottom-width: 0;
  @include margin(0 0 2);
  @include constrain-width($max-width-block-link, "max");
  width: 100%;

  &:last-child {
    border-bottom-width: 1px;
    margin-bottom: 0;
  }

  // 2 col
  @media only all and (min-width: #{get-rem-from-px($bkpt-site--medium)}em) {
    border: none;
    float: left;
    @include width($min-width-grid-listing-item);
    @include margin(0 20 20 0);
    width: calc((100% - 20px) / 2);

    &:nth-child(2n) {
      margin-right: 0;
    }

  }

  // 3 col
  @media only all and (min-width: #{get-rem-from-px($bkpt-site--wide)}em) {

    @include margin(0 20 20 0);
    width: calc((100% - 40px) / 3);

    &:nth-child(2n) {
      @include margin(20, "right")
    }

    &:nth-child(3n) {
      margin-right: 0;
    }

  }

  // 4 col
  @media only all and (min-width: #{get-rem-from-px($bkpt-site--x-wide)}em) {

    @include margin(0 20 20 0);
    width: calc((100% - 60px) / 4);

    &:nth-child(3n) {
      @include margin(20, "right")
    }

    &:nth-child(4n) {
      margin-right: 0;
    }

  }

}
