@import "../../definitions";

.highlight {
  @include constrain-width($max-site-width, "max");
  @include padding($content-header-padding-medium 0);
  border-bottom: 1px solid $color-text-dividers;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  position: relative;

  @media only screen and (min-width: #{get-rem-from-px($bkpt-site--medium)}em) {
    @include padding(48, "bottom");
  }

  @media only screen and (min-width: #{get-rem-from-px($bkpt-site--x-wide)}em) {
    @include padding(48, "top");
  }

  .list-heading {
    display: none;

    @media only all and (min-width: #{get-rem-from-px($bkpt-site--medium)}em) {
      @include margin(24, "bottom");
      display: block;
    }

    @media only all and (min-width: #{get-rem-from-px($bkpt-site--x-wide)}em) {
      @include margin(36, "bottom");
    }
  }
}

.highlight__items {
  list-style: none;
  @include nospace();

  &.highlight__items__count--two {
    @media only all and (min-width: #{get-rem-from-px($bkpt-site--x-wide)}em) {
      column-count: 2;
    }
  }

  &.highlight__items__count--three {
    @media only all and (min-width: #{get-rem-from-px($bkpt-site--x-wide)}em) {
      column-count: 3;
    }
  }

  @media only all and (min-width: #{get-rem-from-px($bkpt-site--x-wide)}em) {
    column-gap: 3rem;
  }
}
