@import "../../definitions";

/* .listing-list is a list of items. It is the major content within a listing column. A listing column may contain one
 *    or more listing lists. Every listing-list in each listing column has a bottom margin expect the last one.
 */
.listing-list {
  @include nospace("left");
  list-style-type: none;
  padding-bottom: 0;
  @include margin($listing-list-spacing, "bottom");
}

.listing-column-main ol.listing-list:last-of-type {
  @include nospace("bottom");
}

.listing-column-secondary ol.listing-list:last-of-type {
  @include nospace("bottom");
}

.listing-list__item {
  line-height: 1;
}

.listing-list--read-more {

  .content-header-divider {
    border: none;
  }

  .content-header-article-research--readmore {
    border: none;
  }
}

.listing-list--read-more {
  text-align: center;
}

div.listing-list__content {
  @include margin($listing-list-spacing, "top");
  @include margin($listing-list-spacing, "bottom");
  @include padding($content-header-side-padding--extra-wide, "left");
  @include padding($content-header-side-padding--extra-wide, "right");
  display: none;
  @media only all and (min-width: #{get-rem-from-px($bkpt-grid-listing--narrow-screen)}em) {
    display: block;
  }

  > * {
    margin-left: 0;
    margin-right: 0;
  }
}

// Only on items that come after other items (to show line between but not before or after)
.listing-list__item:not(:first-child) .listing-list__divider {
  box-sizing: content-box;
  @include constrain-width(140, "max");
  margin: -1px auto 0 auto;
  padding: 5vh 0;

  &:after {
    border-bottom: 1px solid $color-text-dividers;
    content: "";
    display: block;
    width: 100%;
  }
}

.listing-list-heading {
  text-align: center;
}

// Sets up the column layout at medium width for the secondary content lists.
@media only all and (min-width: 550px) and (max-width: 799px) {

  .listing-column-secondary .listing-list {
    column-count: 2;
    column-gap: #{get-rem-from-px(26)}rem;
  }

  .listing-column-secondary .listing-list__item {
    break-inside: avoid;
  }

  .listing-column-secondary .see-more-link {
    column-span: all;
  }

}

.listing-list--highlights {
  @include margin(0 -20);

  .listing-list__item {
    border: 1px solid #ccc;
    @include margin(0 20);
    @include padding(2);

    .teaser--highlights {
      border-top: none;
      @include padding(10);
      white-space: normal;
    }
  }
}

.js {

  .listing-list--highlights {
    transition: transform 0.2s;
    white-space: nowrap;

    .listing-list__item {
      display: inline-block;
      list-style-type: none;
      @include margin(0 20 10);
      vertical-align: top;
      width: calc(100% - 40px);

      @media (min-width: #{get-rem-from-px(640)}rem) {
        width: calc(50% - 40px);
      }

      @media (min-width: #{get-rem-from-px(980)}rem) {
        width: calc(33.333% - 40px);
      }
    }
  }
}
