
.site-footer {
  border-top: 1px solid $color-text-dividers;
  @include padding(24, "top");
  @include padding(16, "bottom");
}

.footer-navigation {
  @include padding(0 0 30 0);
}

.footer-navigation__list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.footer-navigation__list_item {
  font-family: $font-secondary;
  @include font-size(12);
  margin: 0;
  @include padding(0 0 10 0);
}

.footer-navigation__list_link {
  color: $color-text;
  text-transform: uppercase;
  text-decoration: none;

  &:hover {
    color: $color-primary;
  }
}

.site-smallprint__copyright_link {
  color: $color-text;
  text-decoration: none;

  &:hover {
    color: $color-primary;
  }
}

@media only screen and (min-width: #{get-rem-from-px(540)}em) {
  .footer-navigation {
    display: flex;
    flex-wrap: wrap;
  }

  .footer-navigation__list {
    flex: 1 50%;
    text-align: left;
  }

  .footer-navigation__list:first-child {
    padding-right: 0.5rem;
  }
}

.site-smallprint {
  padding: 0 6%;
  text-align: center;

  small {
    display: block;
    line-height: 1.3;
  }

  address {
    font-family: $font-primary;
    @include font-size(12);
    font-style: normal;
    line-height: 1.35;
    @include padding(15, "bottom");
  }
}

@media only screen and (min-width: #{get-rem-from-px(540)}em) {
  .site-footer__container {
    display: table;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    max-width: #{get-rem-from-px($max-site-width)}rem;
    padding: 0 6%;

    .grid-cell:nth-child(1) {
      float: left;
      flex: 1 50%;
      width: 50%;
    }

    .grid-cell:nth-child(2) {
      float: right;
      flex: 1 50%;
      width: 50%;
    }

    .grid-cell:nth-child(3) {
      clear: both;
      flex: 1 100%;
      padding-top: 1rem;
      width: 100%;
    }
  }

  .site-smallprint {
    padding: 0;
    text-align: left;
  }

  .site-smallprint__copyright {
    text-align: center;
  }
}

@media only screen and (min-width: #{get-rem-from-px($max-site-width)}em) {
  .site-footer__container {
    @include padding(0 15);
  }
}
