@import "../../definitions";

.site-header {
  border-bottom: 1px solid $color-text-dividers;
  max-height: 96px;
  min-width: #{get-rem-from-px(275)}rem;
  position: relative;
  z-index: 20;

  .search-box {
    background-color: #fff;
    display: none;

    &.search-box--js {
      display: block;
      position: absolute;
      top: -20px;
      transition: transform 150ms;
      width: 100%;
      z-index: 5;
    }
  }

}

.search-box__output {
  background-color: #fff;
  z-index: 10;
}

.search-box__search_option {
  position: relative;
  z-index: 5;
}

.site-header__title {
  float: left;
  margin: 0;
  position: relative;
  z-index: 21;
}

.site-header__logo_link {
  background-image: url("../img/patterns/organisms/elife-logo-full-1x.png");
}

.site-header__logo_link {
  background: url("../img/patterns/organisms/elife-logo-symbol-1x.png") 0 0 no-repeat;
  background: url("../img/patterns/organisms/elife-logo-symbol.svg") 0 0 no-repeat, linear-gradient(transparent, transparent);
  background-origin: content-box;
  background-size: contain;
  display: block;
  height: 27px;
  @include margin(6 10);
  width: 27px;
}

.site-header__navigation {
  background-color: #fff;
  position: relative;
  z-index: 20;
}

@media only all and (min-width: #{get-rem-from-px(550)}em) {

  .site-header__title {
    border-right: 1px solid $color-text-dividers;
    float: left;
    margin-right: 10px;
    @include margin(10, "right");
    @include padding(29 30);
    position: relative;
    @include width(155);
  }

  // Stops the top border of .nav-primary from bleeding into .site-header__title.
  .site-header__title:after {
    background-color: #fff;
    content: "";
    display: block;
    height: 95px;
    left: 0;
    position: absolute;
    top: 0;
    width: 154px;
  }

  .site-header__logo_link {
    background: url("../img/patterns/organisms/elife-logo-full-1x.png") 0 0 no-repeat;
    background: url("../img/patterns/organisms/elife-logo-full.svg") 0 0 no-repeat, linear-gradient(#fff, #fff);
    background-color: #fff;
    background-origin: content-box;
    background-size: contain;
    display: block;
    height: 38px;
    margin: 0;
    position: relative;
    width: 92px;
    z-index: 10;
  }
}

.overlay--semi-white {
  display: none;
  background-color: rgba(255, 255, 255, 0.5);
  height: 100vh;
  position: absolute;
  width: 100%;
  z-index: 4;
}
