
$max-width: 1114;

.site-footer {
  @include padding(15, "top");
}

.footer-navigation__list {
  list-style: none;
  margin: 0;
  @include padding(0 0 15 0);
  text-align: center;
}

.footer-navigation__list-item {
  font-family: $font-secondary;
  @include font-size(13);
  font-weight: 600;
  margin: 0;
  @include padding(4 0);
}

.footer-navigation__list-link {
  color: $color-text-ui-background--reverse;
  text-transform: uppercase;
  text-decoration: none;
}

@media only screen and (min-width: #{(340/16)}em) {
  .footer-navigation__list {
    display: flex;
    flex-wrap: wrap;
  }
  .footer-navigation__list-item {
    flex: 1 50%;
  }
}
@media only screen and (min-width: #{(540/16)}em) {
  .footer-navigation__list {
    text-align: left;
  }
}

.site-smallprint {
  text-align: center;

  small {
    display: block;
    line-height: 1.3;
  }
}

@media only screen and (min-width: #{(540/16)}em) {
  .site-footer__container {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    max-width: #{($max-width/16)}rem;
    padding: 0 6%;

    .grid-cell:nth-child(1) {
      flex: 1 50%;
    }

    .grid-cell:nth-child(2) {
      flex: 1 50%;
    }

    .grid-cell:nth-child(3) {
      flex: 1 100%;
      padding-top: 1rem;
    }
  }

  .site-smallprint {
    text-align: left;
  }

  .site-smallprint__copyright {
    text-align: center;
  }
}

@media only screen and (min-width: #{($max-width/16)}em) {
  .site-footer__container {
    @include padding(0 15);
  }
}
