@import "../../definitions";

.statistic-collection {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.statistic-collection__item {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
