@import "../definitions";

// see page msa.mustache

/* .listing-column-container contains a .listing-column-main and, where there's secondary content listed,
 *    a .listing-column-secondary, too. It always has bottom spacing of 32px to ensure that the longer of its two
 *    listing columns has that separation between its bottom, and the following UI component.
 *
 * .listing-list is a list of items. It is the major content within a listing column. A listing column may contain one
 *    or more listing lists. Every listing-list in each listing column has a bottom margin expect the last one.
 * NOTE: styles for .listing-list and .listing-list-item now live in listing.scss
 *
 * .listing-column-main contains the primary content lists. On a linearised layout it is the is the top-most content listing
 *    area. On a wider layout it is the main column containing listing content occupying at least the left and central
 *    areas.
 *
 * .listing-column-secondary contains related content. On a linearised layout it falls beneath .listing-column-main;
 *    on a wider layout it occupies 2 adjacent columns below the single column .listing-column-main, and at the widest
 *    layout, it sits to the right hand side of .listing-column-main.
 *
 *  The 15px top margin on the listing-columns is needed to introduce the correct space between the list heading and
 *    the horizontal lines above and below it (only applies when the list heading is at the head of the column).
 */

.listing-column-container {
  @include margin($listing-list-spacing, "bottom");
}

.listing-column-container:after {
  content: "";
  clear: both;
  display: block;
  float: none;
}

.listing-column-main {
  @include margin(32, "bottom");
  @include margin(15, "top");
}

@media only all and (min-width: 800px) {

  .listing-column-main {
    @include nospace("bottom");
    //border-right: 1px solid $color-text-dividers;
  }

  .listing-column-secondary {
    @include margin(15, "top");
  }

}
