<div class="login-control" {{#isLoggedIn}}data-profile-home-link="{{profileHomeLink}}"
     data-profile-manage-link="{{profileManageLink}}" data-logout-uri="{{logoutUri}}"{{/isLoggedIn}}>

  {{#isLoggedIn}}
    <a href="{{profileHomeLink}}" class="login-control__non_js_control_link">{{displayName}}</a>
  {{/isLoggedIn}}

  {{^isLoggedIn}}
    {{#button}}
      {{> atoms-button}}
    {{/button}}
  {{/isLoggedIn}}

</div>
