<div class="main-menu" id="mainMenu" data-behaviour="MainMenu" tabindex="0">
  <nav class="main-menu__container wrapper" role="navigation">
    {{#title}}
      {{> molecules-site-header-title }}
    {{/title}}
    {{#listHeading}}
      {{> atoms-list-heading}}
    {{/listHeading}}
    {{#links}}
      <ul class="main-menu__list">
        {{#items}}
        <li class="main-menu__list_item {{#hasLine}}lineSeparator{{/hasLine}} {{#listChange}}main-menu__list_change{{/listChange}}">
          <a href="{{url}}" class="main-menu__list_link">{{name}}</a>
        </li>
        {{/items}}
      </ul>
    {{/links}}
    {{> atoms-to-top-link}}
  </nav>
</div>
