<div class="main-menu" id="mainMenu" data-behaviour="MainMenu">
  <nav class="main-menu__container" role="navigation">
      <ul class="main-menu__list" aria-labelledby="{{titleId}}">
        {{#mainMenuLinks}}
        <li class="main-menu__list_item">
          <a href="{{url}}" class="main-menu__list_link">{{name}}</a>
        </li>
        {{/mainMenuLinks}}
      </ul>
  </nav>
  <a href="#siteHeader" class="main_menu__quit">Back to top</a>
</div>
