 <div class="nav-primary">
  <nav>
    <ul class="clearfix">
      {{#navprimarylinks}}
        <li class="nav-primary__item{{#variant?}} nav-primary__item--{{variant?}}{{/variant?}}">
        <a href="{{path}}">
          {{#imgs?}}
            <picture>
              <source srcset="{{svg}}" type="image/svg+xml" />
              <img srcset="{{hires.path}} {{hires.width}},
                           {{lores.path}} {{lores.width}}"
                   src="{{lores.path}}"
                   {{#classes?}}class="{{classes?}}"{{/classes?}}
                   alt="{{alt}}"/>
            </picture>
          {{/imgs?}}
          {{#textClasses?}}<span class="{{textClasses?}}">{{text}}</span>{{/textClasses?}}
          {{^textClasses?}}<span>{{text}}</span>{{/textClasses?}}
        </a>
      </li>
      {{/navprimarylinks}}
    </ul>
  </nav>
</div>
