  <nav class="nav-primary">
    <ul class="nav-primary__list clearfix">
      {{#navPrimaryLinks}}
        <li class="nav-primary__item{{#variant}} nav-primary__item--{{variant}}{{/variant}}">
        <a href="{{path}}" {{#rel}}rel="{{rel}}"{{/rel}}>
          {{#imgs}}
            {{> atoms-picture-svg-with-fallback}}
          {{/imgs}}
          {{#textClasses}}<span class="{{textClasses}}">{{text}}</span>{{/textClasses}}
          {{^textClasses}}{{text}}{{/textClasses}}
        </a>
      </li>
      {{/navPrimaryLinks}}
    </ul>
  </nav>
