 <nav class="nav-secondary">
  <ul class="nav-secondary__list clearfix">
   {{#navSecondaryLinks}}
     {{#isButtonLike}}
       <li class="nav-secondary__item nav-secondary__item--button {{#variant}} nav-secondary__item--{{variant}}{{/variant}}">
         {{> atoms-button }}
     {{/isButtonLike}}
     {{^isButtonLike}}
       <li class="nav-secondary__item{{#variant}} nav-secondary__item--{{variant}}{{/variant}}">
        <a href="{{path}}">
          {{#img}}
            {{> atoms-picture-svg-with-fallback}}
          {{/img}}
          {{#textClasses}}<span class="{{textClasses}}">{{{text}}}</span>{{/textClasses}}
          {{^textClasses}}{{{text}}}{{/textClasses}}
        </a>
      {{/isButtonLike}}
      </li>
   {{/navSecondaryLinks}}
  </ul>
  </nav>
