<div class="pager" {{#targetId}}data-behaviour="Pager" data-targetId="{{targetId}}"{{/targetId}}>

{{#previousPage}}
  {{> atoms-button }}
{{/previousPage}}

{{#nextPage}}
  {{> atoms-button }}
{{/nextPage}}

</div>
