<div class="pager">

    <div class="pager__button pager__button--previous">
        {{#previousPage}}
            {{> atoms-button }}
        {{/previousPage}}
    </div>

    <div class="pager__button pager__button--next">
        {{#nextPage}}
            {{> atoms-button }}
        {{/nextPage}}
    </div>

</div>
