
<div class="profile-login-control" {{#isLoggedIn}}data-link-fields="{{linkFields}}"{{/isLoggedIn}} data-profile-homelink="{{profileHomeLink}}" data-display-name="{{displayName}}" data-behaviour="ProfileLoginControl">

  {{#isLoggedIn}}
    <a href="{{profileHomeLink}}" class="profile-login-control__non_js_control_link">{{{displayName}}}</a>
  {{/isLoggedIn}}

  {{^isLoggedIn}}
    {{#button}}
      {{> atoms-button}}
    {{/button}}
  {{/isLoggedIn}}

</div>
