
<div class="profile-login-control" {{#isLoggedIn}}data-link-field-roots="{{linkFieldRoots}}" {{{linkFieldData}}} data-profile-home-uri="{{profileHomeUri}}" data-display-name="{{displayName}}"{{/isLoggedIn}} data-behaviour="ProfileLoginControl">

  {{#isLoggedIn}}
    <a href="{{profileHomeLink}}" class="profile-login-control__non_js_control_link">{{{displayName}}}</a>
  {{/isLoggedIn}}

  {{^isLoggedIn}}
    {{#button}}
      {{> atoms-button}}
    {{/button}}
  {{/isLoggedIn}}

</div>
