<form method="GET" action="{{route}}" data-behaviour="SelectNav">
  {{#select}}
    {{>atoms-select}}
  {{/select}}
  {{#button.text}}
    {{#button}}
      {{>atoms-button}}
    {{/button}}
  {{/button.text}}
</form>
