<nav class="tab-link__nav" data-behaviour="TabLink">
  <ul class="tab-link__list">
    {{#items}}
      <li class="tab-link__item">
        <a href="{{url}}" class="tab-link{{selectedClass}}">{{{name}}}</a>
      </li>
    {{/items}}
  </ul>
</nav>