<div class="view-selector{{#secondaryTabUrl}} view-selector--has-secondary-tab{{/secondaryTabUrl}}{{#isTabSelector}} button--switch-selector{{/isTabSelector}}" data-behaviour="ViewSelector"{{#sideBySideUrl}} data-side-by-side-link="{{sideBySideUrl}}"{{/sideBySideUrl}}>
  <ul class="view-selector__list">
    <li class="view-selector__list-item view-selector__list-item--main{{^secondaryTabIsActive}} view-selector__list-item--active{{/secondaryTabIsActive}}">
      <a href="{{mainTabUrl }}" class="view-selector__link view-selector__link--main-tabs{{#isTabSelector}} main-selector{{/isTabSelector}}"><span>{{mainViewSelector}}</span></a>
    </li>
    {{#secondaryTabUrl}}
      <li class="view-selector__list-item view-selector__list-item--secondary{{#secondaryTabIsActive}} view-selector__list-item--active{{/secondaryTabIsActive}}">
        <a href="{{secondaryTabUrl}}" class="view-selector__link view-selector__link--secondary-tabs{{#isTabSelector}} secondary-selector{{/isTabSelector}}"><span>{{secondaryViewSelector}}</span></a>
      </li>
    {{/secondaryTabUrl}}

    {{#otherLinks}}
      <li class="view-selector__list-item">
        <a href="{{url}}" class="view-selector__link"><span>{{{name}}}</span></a>
      </li>
    {{/otherLinks}}

    <li class="view-selector__list-item view-selector__divider"></li>

    {{#jumpLinks}}
      {{#links}}
        <li class="view-selector__jump_link_item view-selector__list-item">
          <a href="{{url}}" class="view-selector__jump_link">{{{name}}}</a>
        </li>
      {{/links}}
    {{/jumpLinks}}

  </ul>
</div>
