<div class="view-selector" data-behaviour="ViewSelector"{{#sideBySideUrl}} data-side-by-side-link="{{sideBySideUrl}}"{{/sideBySideUrl}}>
  <ul class="view-selector__list">
    <li class="view-selector__list-item view-selector__list-item--article{{^figureIsActive}} view-selector__list-item--active{{/figureIsActive}}">
      <a href="{{articleUrl}}" class="view-selector__link view-selector__link--article"><span>Article</span></a>
    </li>
    {{#figureUrl}}
      <li class="view-selector__list-item view-selector__list-item--figures{{#figureIsActive}} view-selector__list-item--active{{/figureIsActive}}">
        <a href="{{figureUrl}}" class="view-selector__link view-selector__link--figures"><span>Figures</span></a>
      </li>
    {{/figureUrl}}
    {{#sideBySideUrl}}
      <li class="view-selector__list-item view-selector__list-item--side-by-side hidden">
        <a href="#" class="view-selector__link view-selector__link--side-by-side"><span>Side by side view</span></a>
      </li>
    {{/sideBySideUrl}}

    {{#jumpLinks}}
      <li class="view-selector__list-item view-selector__list-item--jump">
        <span class="view-selector__jump_links_header">Jump to</span>
        <ul class="view-selector__jump_links">
          {{#links}}
            <li class="view-selector__jump_link_item">
              <a href="{{url}}" class="view-selector__jump_link">{{name}}</a>
            </li>
          {{/links}}
        </ul>
      </li>
    {{/jumpLinks}}

  </ul>
</div>
