
<div class="view-selector">
  <ul class="view-selector__list">
    <li class="view-selector__list-item view-selector__list-item--article">
      <a href="#" class="view-selector__link view-selector__link--article">Article</a>
    </li>
    <li class="view-selector__list-item view-selector__list-item--figures">
      <a href="#" class="view-selector__link view-selector__link--figures">Figures</a>
    </li>
    <li class="view-selector__list-item view-selector__list-item--sidebyside">
      <a href="#" class="view-selector__link view-selector__link--sidebyside">Side by side</a>
    </li>
    <li class="view-selector__list-item view-selector__list-item--jump">

      <span class="view-selector__jump_links_header">Jump to</span>

      <ul class="view-selector__jump_links" data-behaviour="drop-down">
        {{#jumplinks}}
          <li class="view-selector__jump_link_item">
            <a href="{{url}}" class="view-selector__jump_link">{{name}}</a>
          </li>
        {{/jumplinks}}
      </ul>

    </li>
  </ul>
</div>
