
<p>
  <a href="#" class="button button--default">link button</a>
</p>

<p>
  <button type="button" name="button" class="button button--default">actual button</button>
</p>

<p>
  <a href="#" class="button button--inactive">button</a>
</p>

<p>
  <a href="#" class="button button--full">Load more collections</a>
</p>

<p>
  <a href="#" class="button button--small">button</a>
</p>

<p>
  <a href="#" class="button button--extra-small">button</a>
</p>

<p>
  <a href="#" class="button button--outline">button</a>
</p>

<p>
  <button type="button" name="button" class="button button--outline">actual button</button>
</p>

<p>
  <a href="#" class="button button--outline-inactive">button</a>
</p>
