@import "../../definitions";

.altmetric-container {
  @include padding(30, "top");
  display: flex;
  gap: 10px;
  justify-content: space-between;
}
// required specificity to override a selector from normalize overrides
div.altmetric-embed.altmetric-embed.altmetric-embed.altmetric-embed.altmetric-embed.altmetric-embed.altmetric-embed div.altmetric-normal-legend p.altmetric-see-more-details a {
  border-bottom: none;
  color: $color-primary;
  font-family: $font-secondary;

  @include font-size-and-vertical-height(14, 24);
}

.altmetric-embed {
  @include padding(30, "top");
  @include margin(30, "bottom");
}

.altmetric-see-more-details {
  @include margin(16, "top");
}

div.altmetric-container.altmetric-container.altmetric-container.altmetric-container.altmetric-container.altmetric-container.altmetric-container p.altmetric-text--small a.altmetric-link--small {
  border-bottom: none;
  color: $color-text;
  font-family: $font-secondary;
  font-weight: bold;

  @include font-size-and-vertical-height(14, 24);
}
