@import "../../definitions";

.author-details__section {
  @include padding(24, "bottom");
}

.author-details__secondary-name {
  @include nospace("top");
  margin: 0;
}

.author-details__affiliations {
  @include body-para();
  @include nospace("left");
  list-style: none;
}

.author-details__affiliation {
  @include body-para();
  @include nospace("bottom");
}

.author-details__heading {
  @include body-typeg();
  font-weight: bold;
  display: inline;
  padding: 0;
}

.author-details__heading:after {
  content: ":"
}

.author-details__list {
  @include nospace("bottom");
  @include nospace("left");
  list-style-type: none;
}

.author-details__text {
  @include body-para();
  @include nospace("bottom");
}

a.author-details__link {
  color: $color-primary;
  text-decoration: none;

  &:active,
  &:hover {
    color: $color-primary-dark;
  }
}

.author-details__linked-image--orcid {
  margin-bottom: -3px;
  @include height($font-size-base-in-px);
}
