@import "../../definitions";

.author-details__section {
  @include padding(24, "bottom");

  .popup__content & {
    @include padding(18, "bottom");
  }

  .popup__content & {
    @include padding(18, "bottom");

    &:last-child {
      padding-bottom: 0;
    }
  }

}

.author-details__secondary-name {
  @include nospace("top");
  margin: 0;
}

.author-details__affiliations {
  @include body-para();
  @include nospace("left");
  list-style: none;
}

.author-details__affiliation {
  @include body-para();
  @include nospace("bottom");
}

.author-details__heading {
  @include body-typeg();
  font-weight: bold;
  display: inline;
  padding: 0;

  .popup__content & {
    @include popup-ancillary-text();
  }

}

.author-details__heading:after {
  content: ":";
}

.author-details__list {
  display: inline;
  @include nospace("bottom");
  @include nospace("left");
  list-style-type: none;

  & > li {
    display: inline;
  }
}

.author-details__text {
  @include body-para();
  @include nospace("bottom");

  .popup__content & {
    @include popup-ancillary-text();
  }

}

a.author-details__link {
  color: $color-primary;
  text-decoration: none;

  &:active,
  &:hover {
    color: $color-primary-dark;
  }
}

.author-details__linked-image--orcid {
  margin-bottom: -3px;
  @include height($font-size-base-in-px);
}

.author-details__name {

  .popup__content & {
    @include nospace();
    @include popup_title_text();
  }

}
