@import "../../definitions";

@mixin height-constrained() {

  .block-link__link {
    @include height(80);
  }

  .block-link__picture {
    display: none;
  }

}

@mixin width-constrained() {

  .block-link {
    background-color: $color-primary;
    margin-bottom: 0;

    // Block links are only ever found as a descendant of a grid-listing.
    @include constrain-width($max-width-grid-listing-item, "max");
    @include width($min-width-grid-listing-item);

    @supports (display: flex) {
      width: auto;
    }

  }

  .block-link__link {
    color: $color-text--reverse;
    margin: 0 auto;
    @include constrain-width($max-width-grid-listing-item, "max");
    padding-bottom: 33.86977887%;
    padding-top: 23.86977887%;

    &:hover {
      color: $color-text;
    }

    @supports (display: flex) {
      padding-bottom: 30.86977887%;
      padding-top: 26.86977887%;
    }
  }

  .block-link { // Specificity
    .block-link__picture {
      display: inline-block;
    }
  }

}

.block-link {
  position: relative;
}

.block-link__link {
  color: $color-text;
  display: block;
  flex-direction: column;
  font-family: $font-secondary;
  font-weight: 700;
  justify-content: center;
  @include padding(27 20 0 20);
  text-align: center;
  text-decoration: none;

  &:hover {
    color: $color-primary;
  }

  @supports (display: flex) {
    display: flex;
    padding-top: 0;
  }

}

// NOTE for next 2 rules: preferring use of variant over nesting, to keep specificity low.
// .block-link--grid-listing is used on the main subject listing page
.block-link--grid-listing {
  @include height-constrained();
}

// other .block-link useage is within .archive-nav-link
.block-link:not(.block-link--grid-listing) {
  @include width-constrained();
}

@media only all and (min-width: #{$bkpt-block-link}px) {

  @include width-constrained();

  @media only all and (min-width: #{$viewport-width-when-site-hits-max-width-in-rem}em) {

    .block-link {
      @include width($med-width-grid-listing-item);
    }

    .block-link__link {
      @include width($med-width-grid-listing-item);
    }

  }

}

.block-link--image {
  background-color: transparent;
}

.block-link__picture {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    .block-link:hover & {
      background-image: linear-gradient(to top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
    }
  }
}

.block-link__image {
  z-index: -2;
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  min-width: 100%;
  max-width: none;
  transform: translate(-50%, -50%);
  &:after {
    // Hide broken images
    content: "";
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
