@import "../../definitions";

.block-link {
  background-color: $color-primary;
  color: $color-text--reverse;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: $font-secondary;
  font-weight: 700;
  @include margin(2, "bottom");
  @include padding(0 20);
  @include height(80);
  text-align: center;
  text-decoration: none;

  @media only all and (min-width: #{$bkpt-block-link}px) {
    column-count: 2;
    column-gap: #{get-rem-from-px(26)}rem;
    max-width: 33vw;
  }
}

// TODO: DO NOT MERGE!!! Imlpement this in JavaScript.
.block-link:hover {
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0.498039), rgba(255, 255, 255, 0.498039)), url("http://unsplash.it/1900/800?water") !important;
  color: black;
}
