@import "../../definitions";

.block-link {
  background-color: $color-primary;
  color: $color-text--reverse;
  display: flex;
  flex-direction: column;
  font-family: $font-secondary;
  font-weight: 700;
  @include height(80);
  justify-content: center;
  @include margin(2, "bottom");
  @include padding(0 20);
  text-align: center;
  text-decoration: none;

  @media only all and (min-width: #{$bkpt-block-link}px) {
    $max-width-block-link: 400;
    // 0.5773955774 is aspect ratio of the block link in wider view.
    $max-height-block-link: $max-width-block-link * 0.5773955774;

    height: calc(100% * 0.5773955774);
    max-width: 400px;
    min-height: 80px;
    min-height: #{get-rem-from-px(80)}rem;
    width: 30vw;
  }
}

// TODO: DO NOT MERGE!!! Imlpement this in JavaScript.
.block-link:hover {
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0.498039), rgba(255, 255, 255, 0.498039)), url("http://unsplash.it/1900/800?water") !important;
  color: black;
}
