@import "../../definitions";

.breadcrumbs {
  margin: 0;
  padding: 0;

  li {
    @include font-size-and-vertical-height(14, 24);
    display: inline;
    font-family: $font-secondary;
    list-style: none;
    margin: 0;
    padding: 0;

    &:after {
      content: " | ";
    }

    &:last-child:after {
      content: "";
    }

    a {
      color: $color-text;

      &:hover {
        color: $color-primary;
      }
    }
  }

}
