/*
 * button class is intentionally generic. Semantics should still be used in the HTML to markup a link as a link and a button as a button, etc, but this class will make sure the styling persists regardless.
 */
.button {
  border: none;
  border-radius: 4px;
  color: $color-text--reverse;
  display: inline-block;
  font-family: $font-secondary;
  @include font-size(14);
  font-weight: 500;
  line-height: 1;
  @include padding(20 50);
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    background-color: $color-primary-dark;
  }
}

.button--default {
  background-color: $color-primary;
}

.button--inactive {
  background-color: $color-primary;
  opacity: 0.5;

  &:hover {
    background-color: $color-primary;
  }
}

.button--full {
  background-color: $color-primary;
  display: block;
  width: 100%;
}

.button--small {
  background-color: $color-primary;
  @include font-size(11);
  @include padding(10 28);
}

.button--extra-small {
  background-color: $color-primary;
  @include font-size(11);
  @include padding(5 10);
}

.button--outline {
  background-color: $color-text--reverse;
  border: 2px solid $color-text;
  color: $color-text;

  &:hover {
    border: 2px solid $color-primary-dark;
    color: $color-text--reverse;
  }
}

.button--outline-inactive {
  background-color: $color-text--reverse;
  border: 2px solid $color-text;
  color: $color-text;
  opacity: 0.5;

  &:hover {
    background-color: $color-text--reverse;
  }
}
