@import "../../definitions";

/*
 * button class is intentionally generic. Semantics should still be used in the HTML to markup a link as a link and a button as a button, etc, but this class will make sure the styling persists regardless.
 */
.button {
  border: none;
  border-radius: 4px;
  color: $color-text--reverse;
  display: inline-block;
  font-family: $font-secondary;
  @include font-size(14);
  font-weight: 500;
  line-height: 1;
  @include padding(17 40 16);
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

// Convenience mixin, only used in this file.
@mixin button-confirm-colors {
  @include colors($color-success);

  &:hover {
    @include colors($color-success-dark);
  }
}

.button--confirm {
  @include button-confirm-colors();
}

.button--default {
  @include colors($color-primary);
  @include padding(15 36 14);

  &:hover {
    @include colors($color-primary-dark);
  }

  .button--confirm {
    @include button-confirm-colors();
  }

}

.button--outline {
  @include colors(transparent, $color-text--reverse);
  @include padding(15 36 14);

  &:hover {
    @include colors($color-primary-dark);
  }
}

.button--full {
  display: block;
  width: 100%;
}

.button--small {
  @include font-size(11);
  line-height: 2.1818181818; /* 24px at 11px font size */
  @include padding(3 12);
}

.button--extra-small {
  border-radius: 3px;
  @include font-size(11);
  line-height: 2.1818181818; /* 24px with 11px font size */
  @include padding(0 6);
  @include height(24);
}

.button--inactive {
  @include colors(#81c4e8);
  cursor: not-allowed;

  &:hover {
    @include colors(lighten($color-primary, 40%));
  }
}

.button--outline-inactive {
  @include colors($color-text--reverse, #909090, #909090);
  border-width: 2px;
  cursor: not-allowed;
}
