@import "../../definitions";

/*
 * button class is intentionally generic. Semantics should still be used in the HTML to markup a link as a link and a button as a button, etc, but this class will make sure the styling persists regardless.
 */

@mixin button--extra-small() {
  border-radius: 3px;
  @include font-size-and-vertical-height($font-size-extra-small-in-px, $blg-measure-small-in-px);
  @include padding(0 6);
  @include height($blg-measure-small-in-px);
}

.button {
  border: none;
  border-radius: 4px;
  color: $color-text--reverse;
  display: inline-block;
  font-family: $font-secondary;
  @include font-size-and-vertical-height($font-size-small-in-px, $font-size-small-in-px);
  font-weight: 500;
  @include padding(17 40 16);
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.button--default {
  @include colors();
  @include padding(15 36 14);

  &:hover {
    @include colors($color-primary-dark);
  }
}

.button--outline {
  @include colors(transparent, $color-text--reverse);
  @include padding(15 36 14);

  &:hover {
    @include colors($color-primary-dark);
  }
}

.button--full {
  display: block;
  width: 100%;
}

.button--small {
  @include font-size-and-vertical-height($font-size-extra-small-in-px);
  @include padding(3 12);
}

.button--extra-small {

  @include button--extra-small();
}

.button--login {
  @include button--extra-small();
  // All quantities are 1px smaller to allow for the 1px border
  background: $color-success url("../img/icons/orcid.png") 3px 3px no-repeat;
  background: $color-success url("../img/icons/orcid.svg") 3px 3px no-repeat;
  @include colors($color-success);

  &:hover {
    @include colors($color-success-dark);
  }

  @include padding(23, "left");
}

.button--inactive {
  @include colors(#81c4e8);
  cursor: not-allowed;

  &:hover {
    @include colors(lighten($color-primary, 40%));
  }
}

.button--outline-inactive {
  @include colors($color-text--reverse, #909090, #909090);
  border-width: 2px;

  cursor: not-allowed;
}

.button--speech-bubble {
  @include colors($color-primary);
  display: block;
  font-family: $font-primary;
  // line-height deliberately set smaller than font size because the default content is expected to be a double-quote
  // character, which sits high on the line. When the content is not the default, ensure to apply the
  // class: button--speech-bubble-populated
  @include font-size-and-vertical-height(48, 36);
  @include height(36);
  padding: 0;
  @include blg-spacing("top", "extra-small");
  position: relative;
  @include width($button-speech-bubble-width-in-px);

  &:after {
    @include arrow("right", 20, $color-primary);
    left: 8px;
    position: absolute;
    top: 8px;
    z-index: -1;

    &:hover {
      border-left-color: $color-primary-dark;
    }

  }

  &:hover {
    background-color: $color-primary-dark;
    border-color: $color-primary-dark;

    &:after {
      border-left-color: $color-primary-dark;
    }
  }

  &.button--speech-bubble-populated {
    font-family: $font-secondary;
    @include font-size-and-vertical-height(14, 36);
    padding-top: 0;
  }

}
