@import "../../definitions";

.caption-text__heading {
  @include fig-caption-heading-typeg();
  @include nospace();
}

// May contain arbitrary html. Might need to refine if too blunt an instrument.
.caption-text__body,
.caption-text__body * {
  @include fig-caption-text-typeg(0);
  font-weight: normal;
}

.caption-text__body * {
  @include body-spacing();
}

.caption-text__body > :last-child {
  @include nospace("bottom");
}

.caption-text__body__collapsed_part {
  display: inline;
  margin: 0;
}

.caption-text__toggle {
  background-color: transparent;
  border: 0;
  color: $color-primary;
  margin: 0;

  &:hover {
    cursor: pointer;
  }
}

