@import "../../definitions";

.date {
  @include label-content-typeg(inherit);
  text-transform: capitalize;
}

.date--expanded {
  background-color: $color-primary;
  border-radius: 3px;
  @include label-content-typeg();
  color: $color-text-ui-background;
  display: block;
  display: flex;
  flex-direction: column;
  float: right;
  height: 70px;
  justify-content: space-around;
  @include margin($teaser-spacing-left, "left");
  text-align: center;
  width: 70px;

  .date__prominent {
    @include font-size(36);
    line-height: 1;
    text-align: center;
    @include padding(10, "top");
  }

  .date__normal {
    margin-top: 0;
    @include margin(5, "bottom");
  }

}
