@import "../../definitions";

.doi {
  @include label-content-typeg($color-text-secondary);

  // Extra specificity needed to override: .article-section a
  a.doi__link {
    border-bottom: none;
    color: $color-text-secondary;
    text-decoration: none;
    text-transform: none;

    &:hover {
      color: $color-primary;
    }
  }

  &--article-section {
    color: $color-text;
    display: block;
    @include font-size(14);
    @include margin(24, "bottom");

    a.doi__link {
      color: $color-text;
    }

  }

  &--asset {
    @include label-content-typeg($color-text);
    display: block;
    font-weight: normal;

    a.doi__link {
      @include fig-caption-text-typeg(0);
      color: $color-text;
      display: block;
    }
  }

}
