
.doi {
  color: $color-text-secondary;
  font-family: $font-secondary;
  @include font-size(11);
  font-weight: 700;
  line-height: 1;
}

.doi__link {
  color: $color-text-secondary;
  text-decoration: none;

  &:hover {
    color: $color-primary;
  }
}
