@import "../../definitions";

.form-item {
  @include blg-spacing("bottom", "small", "margin");

  & > :last-child {
    margin-bottom: 0 // Margins don't collapse on <select>s
  }
}

.form-item__label {
  display: block;
  @include typeg-form-label();
  @include margin(6, "bottom");
}

.form-item__message {
  display: block;
  @include typeg-form-message();
  @include margin(6, "bottom");

  .form-item--valid & {
    color: $color-success;
  }

  .form-item--error & {
    color: $color-attention;
  }

  .form-item--info & {
    color: $color-information;
  }
}
