@import "../../definitions";

.info-bar {
  background-color: $color-information;
  color: $color-text--reverse;
  font-family: $font-secondary;
  @include font-size(14);
  font-weight: 600;
  @include padding(14 8);
  text-align: center;

  a {
    color: inherit;
    text-decoration: underline;
  }
}

.info-bar__text {
  background-position: 0 50%;
  background-repeat: no-repeat;
  display: inline-block;
  @include padding(2 0 0 28);
  @include font-size-and-vertical-height(14, 18.2);

  .info-bar--warning & {
    // Reset padding to that for the base info bar as no left hand side icon in this variant
    @include padding(0, "left");
  }

}

.info-bar--info {

  .info-bar__text {
    background-image: url("../img/icons/info.png");
    background-image: url("../img/icons/info.svg"), linear-gradient(transparent, transparent);
  }
}

.info-bar--multiple-versions {
  background-color: $color-information;

  .info-bar__text {
    background-image: url("../img/icons/multiple-versions-article.png");
    background-image: url("../img/icons/multiple-versions-article.svg"), linear-gradient(transparent, transparent);
    background-size: 17px;
  }
}

.info-bar--success {
  background-color: $color-success;

  .info-bar__text {
    background-image: url("../img/icons/confirmed.png");
    background-image: url("../img/icons/confirmed.svg"), linear-gradient(transparent, transparent);
  }
}

.info-bar--attention {
  background-color: $color-attention;

  .info-bar__text {
    background-image: url("../img/icons/attention.png");
    background-image: url("../img/icons/attention.svg"), linear-gradient(transparent, transparent);
  }
}

.info-bar--correction {
  background-color: $color-attention;

  .info-bar__text {
    background-image: url("../img/icons/corrected-article.png");
    background-image: url("../img/icons/corrected-article.svg"), linear-gradient(transparent, transparent);
    background-size: 17px;
  }
}

.info-bar--dismissible {

  .info-bar__container {
    margin: 0 auto;
    width: 100%;
    max-width: 1114px;
  }

  .info-bar__text {

    @include font-size-and-vertical-height(14, 22.4);

    @media only all and (max-width: 700px) {
      @include padding(2 0 0);
      width: 85%;
    }
  }

  .dismiss-button {
    background: url("../img/icons/clear.svg") 0 0 no-repeat;
    border: 0;
    border-radius: 2px;
    display: inline-block;
    float: right;
    height: 24px;
    text-indent: -10000px;
    width: 24px;

    &:hover {
      background-color: rgba(0,0,0,0.15);
    }
  }

}

.info-bar--warning {
  background-color: $color-warning;
}
