
.info-bar {
  font-family: $font-secondary;
  @include font-size(14);
  font-weight: 600;
  @include padding(14 8);
  text-align: center;
}

.info-bar__text {
  display: inline-block;
  @include padding(3 0 0 28);
  line-height: 1.3;
}

.info-bar--info {
  background-color: $color-information;
  color: $color-text--reverse;
}

.info-bar__text--info {
  background: url("../img/icons/info.png");
  background: url("../img/icons/info.svg"), linear-gradient(transparent, transparent);
  background-position: 0 50%;
  background-repeat: no-repeat;
}

.info-bar--success {
  background-color: $color-success;
  color: $color-text--reverse;
}

.info-bar__text--success {
  background: url("../img/icons/confirmed.png");
  background: url("../img/icons/confirmed.svg"), linear-gradient(transparent, transparent);
  background-position: 0 50%;
  background-repeat: no-repeat;
}

.info-bar--attention {
  background-color: $color-attention;
  color: $color-text--reverse;
}

.info-bar__text--attention {
  background: url("../img/icons/attention.png");
  background: url("../img/icons/attention.svg"), linear-gradient(transparent, transparent);
  background-position: 0 50%;
  background-repeat: no-repeat;
}
