@import "../../definitions";

.list-heading {
  @include section-title-typeg();
  @include nospace();
  letter-spacing: 0.5px;
  line-height: 1.7142857143; // 24px with a 14px font size
  margin-bottom: 0;
  text-transform: uppercase;
}

.main-menu .list-heading {
  @include padding(24 0);
  text-align: center;
}

.section-listing-wrapper .list-heading {
  @include padding(24 0);
  text-align: center;
}
