@import "../../definitions";

.message-bar {
  background-color: $color-text-ui-code;
  border: 1px solid $color-text-dividers;
  border-radius: #{$border-radius}px;
  @include font-size-and-vertical-height(14);
  @include padding($blg-space-extra-small-in-px);
  @include padding($blg-space-extra-small-in-px - 1, "top");
  @include padding($blg-space-extra-small-in-px - 1, "bottom");
  @include margin($blg-space-small-in-px, "bottom");
}
