.modal-container {
  background-color: rgba(255,255,255,0.5);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  visibility: hidden;
}

.modal-content {
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.22);
  border-radius: 3px;
  display: grid;
  margin: 24px;
  padding: 36px 24px;

  h6 {
    @include font-size-and-vertical-height($font-size-h6-in-px);
    grid-column: 1/3;
    grid-row: 1;
    justify-self: start;
    padding-top: 0;
  }

  .social-media-sharers {
    @media only all and (max-width: #{get-rem-from-px($bkpt-site--small - 1)}em) {
      display: flex;
      grid-column: 1/3;
      grid-row: 4;
      justify-self: center;
    }
  }

  .reference {
    .doi {
      display: flex;
      margin-top: 12px;
      margin-bottom: 36px;
    }
  }
}

.modal-content__show {
  opacity: 1;
  visibility: visible;
}

.modal-content__button {
  grid-column: 2/3;
  grid-row: 1;
  justify-self: end;
  line-height: 1.5;
  margin-right: 6px;
  text-decoration: none;
}

.modal-nojs {
  visibility: hidden;
}

.modal-content__clipboard {
  @include margin(24, "bottom");
  @include padding(12);
  border: 1px solid $color-text-dividers;
  font-family: $font-secondary;
  grid-column: 1/3;
  grid-row: 2;
  justify-self: initial;
}

.social-media-sharers {
  display: flex;
}

.modal-content__clipboard-button {
  @include margin(36, "bottom");
  grid-column: 1/3;
  grid-row: 3;
}

.button-container {
  display: block;
  grid-row: 3;
}
