.modal-container {
  background-color: rgba(255,255,255,0.5);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  visibility: hidden;
}

.modal-content {
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.22);
  display: grid;
  margin: 0;
  padding: 36px 24px;

  @media only all and (min-width: #{get-rem-from-px($bkpt-site--small)}em) {
    margin: 24px;
    padding: 36px;
  }

  @media only all and (min-width: #{get-rem-from-px($bkpt-site--medium + 48)}em) {
    margin: 24px auto;
    max-width: 730px;
  }

  h6 {
    @include font-size-and-vertical-height($font-size-h6-in-px);
    grid-column: 1/3;
    grid-row: 1;
    justify-self: start;
    padding-top: 0;
  }

  .social-media-sharers {
    @media only all and (max-width: #{get-rem-from-px($bkpt-site--small - 1)}em) {
      display: flex;
      grid-column: 1/3;
      grid-row: 4;
      justify-self: center;
    }
  }

  .reference {
    font-family: $font-secondary;

    .doi {
      @include margin(12, "top");
      @include margin(36, "bottom");
      display: flex;
    }
  }

  .button-collection {
    display: unset;
    flex-direction: column;
    grid-column: 1/3;

    .button-collection__item {
      float: none;

      &:last-child {
        margin-right: 0;
      }
    }

    .button {
      @include margin(12, "bottom");
      width: 100%;
    }

    @media only all and (min-width: #{get-rem-from-px($bkpt-site--medium)}em) {
      grid-column: 1/3;

      .button-collection__item {
        float: left;
      }

      .button {
        @include margin(12, "bottom");
        line-height: 1.5;
        padding: 15px 24px 14px;
        text-decoration: none;
        width: auto;
      }
    }
  }
}

.modal-content__show {
  opacity: 1;
  visibility: visible;
}

.modal-content__close-button {
  @include padding(0 25 0 0);
  background: url(../img/icons/close.svg) right 4px no-repeat;
  color: $color-text;
  font-family: $font-secondary;
  font-weight: bold;
  grid-column: 2/3;
  grid-row: 1;
  justify-self: end;
}

.modal-nojs {
  visibility: hidden;
}

.modal-content__clipboard {
  @include margin(24, "bottom");
  @include padding(12);
  border: 1px solid $color-text-dividers;
  font-family: $font-secondary;
  grid-column: 1/3;
  grid-row: 2;
  justify-self: initial;
  word-break: break-word;

  &.reference {
    @include margin(0, "bottom");
    border: none;
    padding: 0;
  }
}

.social-media-sharers {
  display: flex;
}
