@import "../../definitions";

.peer-review-process {
  display: flex;
  font-family: $font-secondary;
  width: 100%;
  max-width: 735px;

  .peer-review-process__bar {
    border: 6px solid black;
    border-radius: 6px;
    margin-right: 24px;
  }

  .peer-review-process__bar-vor {
    border: 6px solid $color-status-variable-g;
  }

  .peer-review-process__content {
    p:last-of-type {
      margin-bottom: 12px;
    }
  }

  .peer-review-process__link {
    @include font-size-and-vertical-height(14, 20);

    color: $color-status-variable-l;
    font-weight: 600;
  }
}
