@import "../../definitions";

.reference__title {
  @include listing-side-art-title-typeg();
  display: block;
  @include font-size(16);
  line-height: 1.5;
  @include nospace();
  text-decoration: none;
}

a.reference__title:hover {
  color: $color-primary;
}

.reference__authors_list {
  display: inline;
  list-style: none;
  @include nospace();
}

.reference__author {
  @include listing-side-author-typeg();
  @include font-size(14);
  line-height: 1.714285714; /* 24px with 14px font size */
  display: inline;
  margin: 0;
  padding: 0;
}

.reference__author:after {
  content: ", ";
}

.reference__author:last-of-type:after {
  content: "";
}

.reference__authors_link {
  color: inherit;
  font-family: $font-secondary;
  text-decoration: none;

}

a.reference__authors_link:hover {
  color: $color-primary;
}

.reference__authors_list_suffix {
  @include listing-side-author-typeg();
}

.reference__origin {
  @include small-typeg();
  @include font-size(14);
  line-height: 1.7142857143;
  padding-bottom: 0;

  & a {
    @include discreet-link();
  }
}

.reference__abstracts {
  margin-bottom: 0;
  padding-left: 0;
}

.reference__abstract {
  display: inline;
  @include small-typeg();
  @include font-size(14);
  line-height: 1.7142857143;
}

.reference__abstract_link {

  color: $color-primary;
  text-decoration: none;

  &:hover {
    color: $color-primary-dark;
  }
}

.reference__abstract:after {
  content: "\00a0|";
}

.reference__abstract:last-child:after {
  content: "";
}
