
.reference__title {
  color: $color-text;
  display: block;
  font-family: $font-primary;
  @include font-size(18);
  font-weight: 600;
  @include padding(5, "bottom");
  text-decoration: none;

  &:hover {
    color: $color-primary;
  }
}

.reference__authors_list {
  list-style: none;
  margin: 0;
  @include padding(0 0 5 0);
}

.reference__authors_list_item {
  display: inline;
  margin: 0;
  padding: 0;
}

.reference__authors_link {
  color: $color-text;
  font-family: $font-secondary;
  font-weight: 600;
  text-decoration: none;

  &:hover {
    color: $color-primary;
  }
}

.reference__origin {
  font-family: $font-primary;
  @include font-size(14);
  font-weight: 500;
  @include padding(5, "bottom");
}

.reference__abstracts_link {
  color: $color-primary;
  font-family: $font-primary;
  @include font-size(14);
  text-decoration: none;

  &:hover {
    color: $color-primary-dark;
  }
}
