
.reference__title {
  @include listing-side-art-title-typeg();
  color: $color-text;
  display: block;
  @include padding(3, "bottom");
  text-decoration: none;
}

a.reference__title:hover {
  color: $color-primary;
}

.reference__authors_list {
  list-style: none;
  margin: 0;
  @include padding(0 0 3 0);
}

.reference__author {
  @include listing-side-author-typeg();
  display: inline;
  margin: 0;
  padding: 0;
}

.reference__authors_link {
  color: $color-text;
  font-family: $font-secondary;
  text-decoration: none;

}

a.reference__authors_link:hover {
  color: $color-primary;
}

.reference__origin {
  @include listing-detail();
  padding-bottom: 0;
}

.reference__secondaryLink {
  color: inherit;
  @include listing-detail();
  @include padding(5, "bottom");
  text-decoration: none;

  &:hover {
    color: $color-primary;
  }
}

.reference__abstracts {
  margin-bottom: 0;
  padding-left: 0;
}

.reference__abstract {
  display: inline;
  @include listing-detail();
}

.reference__abstract_link {

  color: $color-primary;
  text-decoration: none;

  &:hover {
    color: $color-primary-dark;
  }
}

.reference__abstract:after {
  content: "\00a0|";
}

.reference__abstract:last-child:after {
  content: "";
}
