@import "../../definitions";

.section-listing-link {
  color: $color-primary;
  @include font-size($font-size-base-in-px);
  line-height: 2;
}

.section-listing-link:hover,
.section-listing-link:active {
  color: $color-primary-light;
}
