@import "../../definitions";

.see-more-link {
  display: block;
  color: $color-primary;
  @include see-more-link-typeg();
  text-decoration: none;
}

.see-more-link:hover {
  color: $color-primary-dark;
}
