@import "../../definitions";

// Derived via http://sharingbuttons.io/ with the options:
//  Icons:
//    - email
//    - facebook
//    - twitter
//    - reddit
//  Icon size: small
//  Round: off
//  Fill: solid

.social-media-sharers {
  @include blg-spacing("bottom", "small");
  flex-grow: 0;
  flex-basis: 24px;
}

.social-media-sharer,
.social-media-sharer__icon {
  display: inline-block;
}

.social-media-sharer {

  background-color: $color-text;
  border-radius: #{$border-radius}px;
  color: $color-text--reverse;
  margin: 0 8px;
  height: 24px;
  padding: 2px 0;
  text-decoration: none;
  transition: 25ms ease-out;
  width: 24px;

  .content-header--image & {
    background-color: transparent;
    border: 1px solid $color-text--reverse;
    padding: 1px 0;
  }

  .content-header:not(.content-header--image) & {

    &:hover,
    &:active {
      background-color: $color-primary;
    }

  }

}

.social-media-sharer__icon svg {
  width: 16px;
  height: 16px;
  margin-right: 7px;
  vertical-align: top;
}

.social-media-sharer__icon_wrapper--small svg {
  margin: 0;
  vertical-align: middle;
}

.social-media-sharer__icon--solid {
  fill: #fff;
  stroke: none;
}
