@import "../../definitions";

// Derived via http://sharingbuttons.io/ with the options:
//  Icons:
//    - email
//    - facebook
//    - twitter
//    - reddit
//  Icon size: small
//  Round: off
//  Fill: solid

.social-media-sharers {
  @include margin(0);
  @include padding(0);
  display: flex;
  justify-content: center;
  margin-bottom: 24px;

  li {
    list-style: none;
    margin-right: 6px;

    &:last-child {
      margin-right: 0;
    }
  }

  @media only all and (max-width: #{get-rem-from-px($bkpt-site--small - 1)}em) {
    display: none;
  }
}

.social-media-sharer,
.social-media-sharer__icon {
  display: inline-block;
}

.social-media-sharer {

  background-color: $color-text;
  border-radius: #{$border-radius}px;
  color: $color-text--reverse;
  margin: 0 8px;
  height: 24px;
  padding: 2px 0;
  text-decoration: none;
  transition: 25ms ease-out;
  width: 24px;

  .content-header--image & {
    background-color: transparent;
    border: 1px solid $color-text--reverse;
    padding: 1px 0;
  }

  .content-header:not(.content-header--image) & {

    &:hover,
    &:active {
      background-color: $color-primary;
    }

  }

}

.social-media-sharer__icon svg {
  width: 16px;
  height: 16px;
  margin-right: 7px;
  vertical-align: top;
}

.social-media-sharer__icon_wrapper--small svg {
  margin: 0;
  vertical-align: middle;
}

.social-media-sharer__icon--solid {
  fill: #fff;
  stroke: none;
}

.email {
  background: url("../img/icons/email-default.svg") no-repeat 0 0;
  text-indent: -5000px;

  @media only all and (min-width: #{get-rem-from-px($bkpt-site--small)}em) {
    li & {
      display: none;
    }
  }
}

.facebook {
  background: url("../img/icons/facebook.svg") no-repeat 0 0;
  text-indent: -5000px;
}

.twitter {
  background: url("../img/icons/twitter.svg") no-repeat 0 0;
  text-indent: -5000px;
}

.linkedin {
  background: url("../img/icons/linkedin.svg") no-repeat 0 0;
  text-indent: -5000px;
}

.reddit {
  background: url("../img/icons/reddit.svg") no-repeat 0 0;
  text-indent: -5000px;
}
