@import "../../definitions";

// Derived via http://sharingbuttons.io/ with the options:
//  Icons:
//    - email
//    - facebook
//    - twitter
//    - reddit
//  Icon size: small
//  Round: off
//  Fill: solid

.social-media-sharers {
  @include blg-spacing("top", "small", "margin");
  flex-grow: 0;
  flex-basis: 2em;
}

.social-media-sharer,
.social-media-sharer__icon {
  display: inline-block;
}

.social-media-sharer {

  background-color: $color-text;
  border-radius: 5px;
  color: $color-text--reverse;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  margin: 0 0.5em;
  max-height: 2em;
  padding: 0.4em 0.75em;
  text-decoration: none;
  transition: 25ms ease-out;

  .content-header--image & {
    border: 1px solid $color-text--reverse;
  }

  .content-header:not(.content-header--image) & {

    &:hover,
    &:active {
      background-color: $color-primary;
    }

  }

}

.social-media-sharer__icon svg {
  width: 1em;
  height: 1em;
  margin-right: 0.4em;
  vertical-align: top;
}

.social-media-sharer__icon_wrapper--small svg {
  margin: 0;
  vertical-align: middle;
}

.social-media-sharer__icon--solid {
  fill: #fff;
  stroke: none;
}
