@import "../../definitions";

.text-field,
.text-field[type="text"],
.text-field[type="email"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.text-field {
  border: 1px solid $color-text-dividers;
  border-radius: #{$border-radius}px;
  color: $color-text;
  display: block;
  font-family: $font-secondary;
  @include font-size($font-size-base-in-px);
  @include padding(12);
  @include margin(6, "bottom");
  width: 100%;

  &:focus {
    border: 1px solid $color-text-placeholder;
    outline: 0;
  }
}

.text-field--textarea {
  resize: vertical;
}

.text-field--valid {
  border: 1px solid $color-success;
}

.text-field--error {
  border: 1px solid $color-attention;
}
