@import "../../definitions";

.trigger {
  background-color: white;
  @include font-size-and-vertical-height($font-size-base-in-px, $blg-measure-medium-in-px);
  height: #{$blg-measure-medium-in-px}px;
  margin: 10px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 48px;
}

.trigger--prev {
  left: 0;
}

.trigger--next {
  right: 0;
}
