<section class="investor-logos">
  <div class="investor-logos__img-container">
    <img src="http://www.fillmurray.com/300/200" alt="" class="investor-logos__img" />
  </div>
  <div class="investor-logos__img-container">
    <img src="http://www.fillmurray.com/300/200" alt="" class="investor-logos__img" />
  </div>
  <div class="investor-logos__img-container">
    <img src="http://www.fillmurray.com/300/200" alt="" class="investor-logos__img" />
  </div>
</section>
