@import "../../definitions";

// Initially only used by speech-bubble--small.
// If using more widely, might have to extract to mixin and parametise some parts.
.animated-ellipsis {
  position: relative;

  &::before {
    animation: ellipsis steps(4,end) 1000ms infinite;
    box-sizing: content-box;
    content: "\2026";
    display: block;
    left: 0;
    overflow: hidden;
    @include padding(4, "left");
    position: absolute;
    top: 0;
    white-space: nowrap;
    width: 0;
  }

  @keyframes ellipsis {

    from {
      width: 0;
    }

    to {
      width: 75%;
    }

  }
}
