<div class="form-item{{#state}} form-item--{{state}}{{/state}}">

  {{#label}}
    <label for="{{id}}"
           class="form-item__label{{#isVisuallyHidden}} visuallyhidden{{/isVisuallyHidden}}">
      {{labelText}}
    </label>
  {{/label}}
  <div class="checkboxes{{#state}} checkboxes--{{state}}{{/state}}"
    {{#id}} id="{{id}}"{{/id}}
    {{#autofocus}} autofocus{{/autofocus}}
    {{#required}} required="required"{{/required}}
    {{#disabled}} disabled="disabled"{{/disabled}}
    {{#messageGroup}} aria-describedby="{{id}}"{{#errorText}} aria-invalid="true"{{/errorText}}{{/messageGroup}}
  >

    <ul class="checkboxes__list">
      {{#checkboxes}}
        <li class="checkboxes__list_item">
          <label class="checkboxes__item_label">
            <input type="checkbox" id="{{id}}"{{#name}} name="{{name}}"{{/name}} value="{{value}}"{{#checked}} checked{{/checked}} />
            {{displayValue}}
          </label>
        </li>
      {{/checkboxes}}
    <ul>
  </div>

  {{#messageGroup}}
    <div id="{{id}}">

      {{#infoText}}
        <div class="form-item__message form-item__message--info">{{{.}}}</div>
      {{/infoText}}

      {{#errorText}}
        <div class="form-item__message form-item__message--invalid">{{{.}}}</div>
      {{/errorText}}

    </div>
  {{/messageGroup}}
</div>
