{{#label}}
  <label for="{{id}}"
         {{#isVisuallyHidden}}class="visuallyhidden"{{/isVisuallyHidden}}>
    {{labelText}}
  </label>
{{/label}}
<select{{#id}} name="{{id}}" id="{{id}}"{{/id}}>
  {{#options}}
    <option value="{{value}}" {{#selected}}selected{{/selected}}>{{displayValue}}</option>
  {{/options}}
</select>
