{{#label}}
  <label for="{{id}}"
         class="form-label{{#isVisuallyHidden}} visuallyhidden{{/isVisuallyHidden}}">
    {{labelText}}
  </label>
{{/label}}
<select class="select {{classNames}}"
  {{#id}} id="{{id}}"{{/id}}
  {{#name}} name="{{name}}"{{/name}}
  {{#autofocus}} autofocus{{/autofocus}}
  {{#required}} required="required"{{/required}}
  {{#disabled}} disabled="disabled"{{/disabled}}
>
  {{#options}}
    <option value="{{value}}" {{#selected}}selected{{/selected}}>{{displayValue}}</option>
  {{/options}}
</select>
