<div class="form-item{{#variant}} form-item--{{variant}}{{/variant}}">

  {{#label}}
    <label
        for="{{id}}"
        class="form-item__label{{#isVisuallyHidden}} visuallyhidden{{/isVisuallyHidden}}">
      {{labelText}}
    </label>
  {{/label}}
  <textarea
      type="{{inputType}}"
      class="text-field text-field--textarea{{#variant}} text-field--{{variant}}{{/variant}}"
    {{#id}} id="{{id}}"{{/id}}
      name="{{name}}"
    {{#autofocus}} autofocus{{/autofocus}}
    {{#cols}} cols="{{cols}}"{{/cols}}
    {{#rows}} rows="{{rows}}"{{/rows}}
    {{#disabled}} disabled="disabled"{{/disabled}}
    {{#required}} required="required"{{/required}}
    {{#form}} form="{{form}}"{{/form}}
    {{#placeholder}} placeholder="{{placeholder}}"{{/placeholder}}
    {{#userInputInvalid}} aria-invalid="true"{{/userInputInvalid}}
    {{#message}} aria-describedby="{{messageId}}"{{/message}}
  >{{#value}}{{value}}{{/value}}</textarea>

  {{#message}}
    <div class="form-item__message" id="{{messageId}}">{{{.}}}</div>
  {{/message}}

</div>
