{{#text}}
    <p>
        {{> atoms-text-field }}
    </p>
{{/text}}
{{#focus}}
    <p>
        {{> atoms-text-field }}
    </p>
{{/focus}}
{{#valid}}
    <p>
        {{> atoms-text-field }}
    </p>
{{/valid}}
{{#error}}
    <p>
        {{> atoms-text-field }}
    </p>
{{/error}}
