{{#label}}
    <label for="{{id}}" class="form-label{{#isVisuallyHidden}} visuallyhidden{{/isVisuallyHidden}}">{{labelText}}</label>
{{/label}}
<input type="{{inputType}}" {{#id}}id="{{id}}"{{/id}} {{#name}}name="{{name}}"{{/name}} {{#value}}value="{{value}}"{{/value}} class="text-field text-field--text {{classNames}}">
