{{#label}}
    <label
            for="{{id}}"
            class="form-label{{#isVisuallyHidden}} visuallyhidden{{/isVisuallyHidden}}">
        {{labelText}}
    </label>
{{/label}}
    <input
        type="{{inputType}}"
        class="text-field text-field--text {{classNames}}"
        {{#id}} id="{{id}}"{{/id}}
        {{#name}} name="{{name}}"{{/name}}
        {{#value}} value="{{value}}"{{/value}}
        {{#required}} required="required"{{/required}}
        {{#disabled}} disabled="disabled"{{/disabled}}
        {{#placeholder}} placeholder="{{placeholder}}"{{/placeholder}}
    />
