<div class="error">

    <picture>
        <source srcset="{{#asset}}{{assetsPath}}/img/errors/4xx.svg{{/asset}}" type="image/svg+xml">
        <img srcset="{{#asset}}{{assetsPath}}/img/errors/4xx-2x.png{{/asset}} 266w" src="{{#asset}}{{assetsPath}}/img/errors/4xx.png{{/asset}}" sizes="133px"
             alt="" class="error__icon">
    </picture>

    <h1 class="error__title">Say what?</h1>

    <p>Your browser sent us something unexpected.<br>We’ve logged the problem and will look into it.</p>

    {{#button}}
        {{> atoms-button }}
    {{/button}}

</div>
