<div class="error">

    <picture>
        <source srcset="{{assetsPath}}/img/errors/404.svg" type="image/svg+xml">
        <img srcset="{{assetsPath}}/img/errors/404-2x.png 266w" src="{{assetsPath}}/img/errors/404.png" sizes="133px"
             alt="" class="error__icon">
    </picture>

    <h1 class="error__title">Oops!</h1>

    <p>The page you were looking for is not found.</p>

    {{#button}}
        {{> atoms-button }}
    {{/button}}

</div>
