<div class="error-wrapper">

  <div class="error">

    <picture>
        <source srcset="{{#assetRewrite}}{{assetsPath}}/img/icons/ORCID-padlock.svg{{/assetRewrite}}" type="image/svg+xml">
        <img srcset="{{#assetRewrite}}{{assetsPath}}/img/icons/ORCID-padlock-2x.png{{/assetRewrite}} 314w" src="{{#assetRewrite}}{{assetsPath}}/img/icons/ORICD-padlock.png{{/assetRewrite}}" sizes="157px"
             alt="" class="error__icon">
    </picture>

    <h1 class="error__title">{{{ errorTitle }}}</h1>

    <p>{{{ summary }}}</p>
    <div class="error__orcid-container">
      <div class="error__orcid">
        <h3>{{{ stepOneTitle }}}</h3>
        <div class="error__orcid-left">
          {{{ stepOne }}}
        </div>
        <div class="error__orcid-right">
          <img src="{{#assetRewrite}}{{assetsPath}}/img/errors/step1.jpg{{/assetRewrite}}" alt="Step 1" />
        </div>
      </div>

      <div class="error__orcid">
        <h3>{{{ stepTwoTitle }}}</h3>
        <div class="error__orcid-left">
          {{{ stepTwo }}}
        </div>
        <div class="error__orcid-right">
          <img src="{{#assetRewrite}}{{assetsPath}}/img/errors/step2.jpg{{/assetRewrite}}" alt="Step 2" />
        </div>
      </div>

      <div class="error__orcid">
        <h3>{{{ stepThreeTitle }}}</h3>
        <div class="error__orcid-left">
          {{{ stepThree }}}
        </div>
        <div class="error__orcid-right">
          <img src="{{#assetRewrite}}{{assetsPath}}/img/errors/step3.jpg{{/assetRewrite}}" alt="Step 3" />
        </div>
      </div>
    </div>

    {{#button}}
        {{> atoms-button }}
    {{/button}}

  </div>

</div>
