<div class="error">

    <picture>
        <source srcset="{{#asset}}{{assetsPath}}/img/errors/503.svg{{/asset}}" type="image/svg+xml">
        <img srcset="{{#asset}}{{assetsPath}}/img/errors/503-2x.png{{/asset}} 266w" src="{{#asset}}{{assetsPath}}/img/errors/503.png{{/asset}}" sizes="133px"
             alt="" class="error__icon">
    </picture>

    <h1 class="error__title">Back soon</h1>

    <p>We’re carrying out planned maintenance on this page.</p>

    {{#button}}
        {{> atoms-button }}
    {{/button}}

</div>
