<div class="error">

    <picture>
        <source srcset="{{assetsPath}}/img/errors/503.svg" type="image/svg+xml">
        <img srcset="{{assetsPath}}/img/errors/503-2x.png 266w" src="{{assetsPath}}/img/errors/503.png" sizes="133px"
             alt="" class="error__icon">
    </picture>

    <h1 class="error__title">Back soon</h1>

    <p>We’re carrying out planned maintenance on this page.</p>

    {{#button}}
        {{> atoms-button }}
    {{/button}}

</div>
