<div class="error">

    <picture>
        <source srcset="{{assetsPath}}/img/errors/5xx.svg" type="image/svg+xml">
        <img srcset="{{assetsPath}}/img/errors/5xx-2x.png 266w" src="{{assetsPath}}/img/errors/5xx.png" sizes="133px"
             alt="" class="error__icon">
    </picture>

    <h1 class="error__title">Kabooooooom!</h1>

    <p>Something has gone seriously wrong.<br>We’ve logged the problem and will look into it.</p>

</div>
